<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202203微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年03月就业大队微博爬虫数据</h2><ol><li><p><label>发布日期:3月2日</label><p><label>发布时间:17:35</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LhSUyi3co?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

投稿杭州市公安局上城区分局，招聘警务辅助人员，要求男性170名，女性10名。

招聘链接：O上城区公安招聘警务辅助人员200名！3月7日报名</label><p><label>阅读量:6500</label><p><label>转发:9</label><p><label>评论:2</label><p><label>点赞:34</label><p>评论内容:<br/>善慧喜乐：凭什么？这不明显的歧视吗？不是法律规定不能性别歧视吗？<br/></p></li><li><p><label>发布日期:3月2日</label><p><label>发布时间:23:44</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LhVk83HVU?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿上海徐汇区某社区，招聘社区工作人员，要求男性。

招聘来源：朋友圈</label><p><label>阅读量:5067</label><p><label>转发:4</label><p><label>评论:3</label><p><label>点赞:40</label><p>评论内容:<br/>_禁止悲观_：高中以上<br/>超话社区：你好，你感兴趣的“粉丝投稿”已开通了超话社区～ 超话社区是微博旗下兴趣互动社区，快来与志同道合的小伙伴们一起交流互动吧！ 戳我进入>> 粉丝投稿超话<br/>云吞馄饨面：高中、清闲、养老满满都是槽点。这会儿养老不适合女的了<br/></p></li><li><p><label>发布日期:3月2日</label><p><label>发布时间:23:46</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LhVkSpYue?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿中建八局装饰公司，招聘财务岗，要求男性。
@中建八局 @上海女性shwomen @浦东人社

来源；朋友圈</label><p><label>阅读量:5875</label><p><label>转发:5</label><p><label>点赞:39</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月2日</label><p><label>发布时间:23:50</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LhVmGbajw?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
湖南省长沙市国防科技大学，招聘技术员，要求男生。

投稿人：我想他要求的特质踏实勤奋和学习能力强女生远胜，毕竟我在的机械专业班级第一也是女生噢</label><p><label>阅读量:5135</label><p><label>转发:7</label><p><label>点赞:37</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月3日</label><p><label>发布时间:13:34</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Li0KVgZ5t?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
投稿福建省教师招考政策，这个是教育厅、人社厅和编办等联合发文的通知，说明教师法增加性别比例平衡（主要优先男性）的规定可能通过了，接下去全国的教师招考都会有此政策。由于教师待遇逐步看齐当地公务员待遇，今后女生想进入教师队伍竞争更加激烈了。

招聘链接:O省教育厅等四部门印发《关于进一步做好全省中...

投稿人：虽然国家出台妇女权益保障法，出台各种保障女性就业通知，但目前看来都没有出现像教师招考这样的具体措施，只是空喊口号。女生缺席的、男生占据所有岗位的行业从来不需要平衡男女比例，到了女生这里就变成需要平衡了。希望全体女性一定要向上走，不要为了感动老公/为了教育孩子放弃向上的机会。</label><p><label>阅读量:1.1万</label><p><label>转发:21</label><p><label>评论:5</label><p><label>点赞:81</label><p>评论内容:<br/>天生的心盲症患者：男权真的很怕女人崛起,一点点势头都要扼杀在土里，可是很多女人还没有男人敏感。<br/>猫猫狗狗都没有：湖南早就有了<br/>想要的话不论去哪里都可以：转发微博<br/>星星banyun：要平衡比例就每个行业都平衡比例啊<br/></p></li><li><p><label>发布日期:3月3日</label><p><label>发布时间:21:52</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Li4162mpg?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
投稿人：“这是这个机关来我们学校招考的通知，感觉话说得那么委婉，还是想尽办法也要招男的。”

投稿陕西师范大学，招考中央部委驻琼某机关公务员，要求男性为主，某些岗位男女不限
投稿链接：O网页链接</label><p><label>阅读量:2.6万</label><p><label>转发:35</label><p><label>评论:1</label><p><label>点赞:46</label><p>评论内容:<br/>超话社区：你好，你感兴趣的“粉丝投稿”已开通了超话社区～ 超话社区是微博旗下兴趣互动社区，快来与志同道合的小伙伴们一起交流互动吧！ 戳我进入>> 粉丝投稿超话<br/></p></li><li><p><label>发布日期:3月3日</label><p><label>发布时间:21:53</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Li41w5R5U?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
投稿广东省青少年社会教育协会，招聘政务专员（派驻政府部门），仅限男性。

投稿来源：图片</label><p><label>阅读量:9595</label><p><label>转发:25</label><p><label>点赞:31</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月5日</label><p><label>发布时间:14:08</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LijPXwdzw?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报南京创蓝科技有限公司，招聘售前方案支持，要求男性。 @南京妇联

招聘链接:O南京创蓝科技有限公司2022年春季招聘</label><p><label>阅读量:3740</label><p><label>转发:1</label><p><label>点赞:14</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月5日</label><p><label>发布时间:21:38</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LimMpcUwq?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿龙门县公安局，招聘警务辅助人员，限男性。 @平安惠州 @惠州人社

招聘链接:O网页链接

投稿人：虽然已经出成绩了，但是职业限男本身就是不合理的，是职业歧视</label><p><label>阅读量:3913</label><p><label>转发:4</label><p><label>评论:1</label><p><label>点赞:18</label><p>评论内容:<br/>雪宜浅醉方知夏：可不就是闯门入室把人家宠物狗狗雪球活活打死然后一则轻飘飘道歉 受害者被动“谅解”的那个惠州吗？人都不尊重，怎么可能尊重女性？不意外。<br/></p></li><li><p><label>发布日期:3月5日</label><p><label>发布时间:21:39</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LimMMkbwO?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿惠州市公安局仲恺高新技术产业开发区分局，招聘警务辅助人员，限男性。 @平安惠州 @惠州人社

招聘链接:O网页链接</label><p><label>阅读量:3990</label><p><label>转发:4</label><p><label>点赞:10</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月5日</label><p><label>发布时间:21:40</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LimNbFrWs?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿深圳妇联&深圳市福田现代社工事务所，招聘福田妇联岗位社工，明码标价男性优先。 @深圳妇联 @福田妇联

招聘链接:O【福田招聘】综合包干月薪最高16k！去信访局...

投稿人：我没看错吧？这是妇联招人吧？这是妇联招人吧？妇联要求男性优先哈</label><p><label>阅读量:2582</label><p><label>转发:无</label><p><label>评论:11</label><p><label>点赞:44</label><p>评论内容:<br/>幸子藤井树：这是妇联啊？？？这是妇联啊？？？这是关爱弱势群体的社工啊？？？<br/>重开的李白：我觉得可以从另外一个方面去维护女性权益。想要招男性，而碍于这些问题，反而不公布性别要求，导致女性求职者的简历石沉大海，无疑把女性求职者的成本给无形增大了。从用人单位角度考虑，有些单位男女比例失衡，确实需要男性来调节。或许我们可以要求的是招聘单位提供合理的在招聘中要求性别门槛理由？<br/>熹光执戈：经典重现<br/>湘水舷歌：这还妇联，丢人丢到家了<br/>由趣uutri：？妇联父联吧<br/>社畜一号：应该叫夫联<br/>我们的征途是星辰大海_Hit：参加过福田某街道妇联临聘招聘，公开询问有没有孩子，什么时候怀孕等与工作无关话题。不公开面试成绩，我打12345投诉，最后给的结果是我面试58不及格，真的搞笑，也是真的失望。我以为深圳是中国文明的第一梯队，其实中国文明不分梯队<br/></p></li><li><p><label>发布日期:3月5日</label><p><label>发布时间:21:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LimQS5wsh?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报蚌埠市审计局，招聘审计岗位，要求适合男性报考。@蚌埠人社 @蚌埠市妇联

招聘链接:O2022年度公务员招录！蚌埠职位表来了！</label><p><label>阅读量:4833</label><p><label>转发:5</label><p><label>点赞:24</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月6日</label><p><label>发布时间:21:32</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiwaEyhgO?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:打破性别偏见
@N视频
#无惧偏见的14岁醒狮少女#【这支火上热搜的00后少女舞狮队战胜偏见，把“不吉利”变成“胜利”】三年前，这群舞狮女孩，在醒狮表演即将开始前被叫下来。“他们觉得女孩子舞狮不吉利、影响风水。”这三年，她们没有放弃，一步一个脚印，走上各大赛场，甚至勇夺大赛金牌。为此，她们付出的努力和汗水无法想象，“力量不够就练举板凳”“即使畏高哭着也要练习爬高杆”，只为证明“男生做得到的，我们女生也可以！”在三八妇女节临近之际，一起来听听她们的声音。#00后女子醒狮队打破偏见太飒了##Z一代正青春# LN视频的微博视频</label><p><label>阅读量:9898</label><p><label>转发:28</label><p><label>点赞:38</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月7日</label><p><label>发布时间:17:54</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiEaJrcER?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#妇女节 放假# 不是女神，也不是女王。我们是劳动妇女，祝各位姊妹妇女节快乐！！
@煎茶媛er
姐妹们，三八妇女节快乐呀！

警惕花言巧语，致敬独立妇女

图源：@比狗勾更可爱</label><p><label>阅读量:4980</label><p><label>转发:9</label><p><label>评论:1</label><p><label>点赞:22</label><p>评论内容:<br/>优雅豹：支持。祝女性朋友们妇女节快乐！<br/></p></li><li><p><label>发布日期:3月7日</label><p><label>发布时间:19:03</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiECDBUHj?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿唐山市公安局招聘辅警10名，仅限男性。 @唐山公安网络发言人 @燕赵都市报冀东版官微

招聘链接: O唐山市公安局西山道治安分局招聘警务辅助人员...</label><p><label>阅读量:4215</label><p><label>转发:5</label><p><label>评论:1</label><p><label>点赞:17</label><p>评论内容:<br/>想要的话不论去哪里都可以：转发微博<br/></p></li><li><p><label>发布日期:3月7日</label><p><label>发布时间:20:29</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiFblmd1T?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#新闻速递# 招录中发现怀孕的女考生？最高法给出这样的答复

"目前，最高人民法院在编干警中，女干警占比约44%；女法官在全体法官中占比约41%；从局级领导班子配备情况来看，39个局级领导班子（含6个直属单位）中有28个配备了女干部，女干部占班子成员总数的26%，目前26名班子正职中有8名女同志，接近三分之一，提前完成《规划》设定的比例目标。值得一提的是，最高人民法院机关最年轻的两位正局长均为女性。"

O招录中发现怀孕的女考生？最高法给出这样的答复</label><p><label>阅读量:3974</label><p><label>转发:1</label><p><label>评论:1</label><p><label>点赞:24</label><p>评论内容:<br/>就业性别歧视煎茶队：不知道深圳 @福田发布 面向全国的选调生招考，是不是还是大面积的仅限男性<br/></p></li><li><p><label>发布日期:3月8日</label><p><label>发布时间:11:26</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiL3HtMcI?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:妇女节快乐！//@煎茶媛er:警惕花言巧语，致敬独立妇女
@中国妇女报
【今天是＂三八＂国际劳动妇女节，什么女王节女神节不要来＂碰瓷”】#她力量值得被看见# #今天不必称呼女神女王#今天，我们纪念三八国际妇女节，一是为了纪念、致敬先辈；二是告诉当下的自己做个欣然的劳动者：我劳动，我奋斗，我自豪；我是妇女，我追梦，我自信！
1909年3月8日，美国芝加哥万名女工走上街头举行示威游行，她们要求缩短工时，要求增加工资，要求获得选举权，并喊出了象征经济保障和生活质量的“面包加玫瑰”的口号。这是人类历史上女性第一次举行游行示威，为了纪念这一活动，第二届国际社会主义妇联大会作出决定：自1911年起，每年的3月8日为“国际劳动妇女节”。
新中国成立当年，1949年12月，中央人民政府政务院通令全国，将“国际劳动妇女节”确定为中国妇女的法定节日。伴随“三八”妇女节的法定化，在社会主义建设和改革开放新时期，“妇女能顶半边天”的理念成为激励中国妇女自尊、自信、自立、自强的精神坐标，书写了一幅幅气壮山河的时代画卷。
所以，它就是3月8日“国际妇女节”，不是什么女神节，也不叫什么女王节。
尊重她、维护她，就要积极推进保障她的合法权益：拒绝就业歧视；停止家暴；零容忍拐卖妇女儿童；鼓励支持女性进入更多科学科技领域；勿在传媒中使用含有性别歧视的用词用语；勿在口头禅里“问候”别人的女性亲属；拒绝重男轻女；禁止出生性别选择……
节日点亮征程，这个节日得来不易，请勿娱乐，也勿消费！让妇女节保持初心，就是对妇女最好的问候与致敬。节日是纪念，也是对目标与精神的弘扬。所有初心当在这一天和它前后的每一天里被铭记与践行。
如何让妇女过得不逼仄不沉重，不被生活的重负和性别歧视束缚，而是能够全面发展且舒心自由，这是妇女节里应有的思索与求解。人要学会自己长大，生命的抒写需要自身努力，同时，也需要时代和社会赋予其更多人生出彩的机会。而这些，“买买买”和“女王”“女神”的泛滥吹捧显然都无法给予求解和实现。
新时代，祝愿每一个努力奔跑的她，心中有梦，眼中有光，脚踏实地，仰望星空！</label><p><label>阅读量:5837</label><p><label>转发:10</label><p><label>点赞:8</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月8日</label><p><label>发布时间:16:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiN5sAqOa?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#30岁对单身女性到底意味着什么# #30岁+单身女性的独白# 祝大家成为想成为的人，活出独属自己的精彩人生
@在人间_Living
【#30岁对单身女性到底意味着什么#】本期凤凰网 @在人间_Living 拍摄采访了3位30岁+的高知城市单身女性。

她们有的希望今年能完成结婚任务，有的则称“一个人过太舒服了”；她们或多或少在职场和生活中遭遇过挑战，买房还贷、考研上岸、应对父母的催婚……最重要的是，她们当下都找到了从容的生活节奏，在工作、爱好与休闲之间，建立起平静运转的个人生活。

作为对答，她们坦诚地展现30岁以后相异的人生图景，在不同的价值光谱中各自光彩熠熠。

时值国际妇女节，「在人间」编辑部也祝不同的妳节日快乐。#30岁+单身女性的独白# #洞见计划# °在人间｜30岁+单身女性的独白</label><p><label>阅读量:3758</label><p><label>转发:2</label><p><label>点赞:6</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月8日</label><p><label>发布时间:17:06</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiNhK5EiU?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:【看看妇女节大家都在关心什么】入寺礼仪│女性在生理期，真的不能入寺礼佛吗？

在家的女信徒，在生理期间不敢进入寺院礼拜，甚至不敢到佛前上香、诵经、打坐、念佛，其实在佛教里根本没有这种说法，它是一种迷信的民间禁忌，是不可信，不如理如法的。

佛教认为，女性生理期只要有发心、心怀诚敬，完全可以到寺院拜佛，在寺院里注意卫生即可，并没有什么所谓禁忌。

佛教的沙弥尼、比丘尼以及近住优婆夷都是生活于寺院、每天与经像法物为伴的女性修行人，从未由于生理期间发生所谓冲克的问题而带来灾难。

民间所谓的禁忌，【是一种低级的鬼神信仰】。鬼神怕见血污，所以容易见血发瞋。鬼神嗜血食，见血起贪，可是生理的经血不是鲜血，因此而有被侮辱和作弄的反应，所以生理期的女性进入神鬼的宗祠、庙宇、殿堂，可能引起不良的后果，而进入正规的佛教寺院是没有问题的。

原文链接：O入寺礼仪│女性在生理期，真的不能入寺礼佛吗？</label><p><label>阅读量:4182</label><p><label>转发:1</label><p><label>评论:1</label><p><label>点赞:25</label><p>评论内容:<br/>6547465-a：请我去都不去<br/></p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:08:51</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiTt4bcry?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿# 妇女节投稿合集
p1：南京大学女生宿舍楼下
p2：投稿人班上同学们自创
p3：北京大学医学部宿舍楼下的海报</label><p><label>阅读量:7592</label><p><label>转发:5</label><p><label>评论:2</label><p><label>点赞:47</label><p>评论内容:<br/>想要的话不论去哪里都可以：转发微博<br/>超话社区：你好，你感兴趣的“粉丝投稿”已开通了超话社区～ 超话社区是微博旗下兴趣互动社区，快来与志同道合的小伙伴们一起交流互动吧！ 戳我进入>> 粉丝投稿超话<br/></p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:09:52</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiTS2kwLk?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
投稿禧佑源航空科技集团有限公司，招聘财务部长、核算会计、税务专员、管理会计，要求男性。@平安太原

来源：群消息</label><p><label>阅读量:6133</label><p><label>转发:4</label><p><label>点赞:18</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:10:11</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiTZP598a?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
三八妇女节是纪念女性主义的前辈们，是独属于妇女的节日，我们不希望女神节女王节来碰瓷妇女节，更不希望男性来碰瓷。</label><p><label>阅读量:8054</label><p><label>转发:5</label><p><label>评论:3</label><p><label>点赞:87</label><p>评论内容:<br/>LINLEE-super：确实，搞得3.8男人才要下厨似的<br/>-一起去野餐嘛：恶心<br/></p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:14:19</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiVCimd6O?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报山西省朔州市第二中学，招聘德育老师，要求仅限男性。 @山西人社

招聘链接:O朔州市第二中学校招聘启事</label><p><label>阅读量:3090</label><p><label>评论:3</label><p><label>点赞:6</label><p>评论内容:<br/>不要试图叫醒装睡的他们：是违法的，19年发的文件里严令禁止，连询问妇女婚育情况都是不行的，何况这个学校里面男班主任是绝大多数，领导就没有女性，就这还优化教师结构，图中没截高中部的，也是只要男性。。。。<br/>不要试图叫醒装睡的他们：@山西人社<br/></p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:18:53</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiXpCvEnT?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:转发微博
@严艺家
8分钟长视频，说透女性成长发展道路上的5大心理陷阱，送给有缘人的妇女节礼物。
5大心理陷阱——
1，被过度强化的爱
2，情绪羞辱
3，被建构的消费主义审美
4，将生理功能挂钩社会功能
5，无处不在的二元对立 L严艺家的微博视频</label><p><label>阅读量:9792</label><p><label>转发:11</label><p><label>评论:5</label><p><label>点赞:10</label><p>评论内容:<br/>优雅豹：有个女博主将白瘦幼审美归罪于男性并痛骂男人无能才喜欢白瘦幼，实在错的离谱。审美几乎可以说全由资本来引导。广告，影视都是审美的风向标。如果姐妹们一个个在健身房练得红光满面，化妆品、减肥药他们卖给谁去？还有女性就业歧视问题。资本能决定很多事情，为了更大利益，资本也能引导歪曲很多事情。<br/></p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:20:34</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiY4yrfHs?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿广州秀游信息科技有限公司，招聘翻译，偏好男生。 @广州市妇联

招聘来源：群聊</label><p><label>阅读量:4359</label><p><label>转发:2</label><p><label>点赞:18</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:20:37</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LiY5K3b8y?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报南通市教育局直属学校，招聘小学语文、数学、信息技术老师，要求男女分岗。 @江苏省妇联

招聘链接:O南通市教育局</label><p><label>阅读量:5888</label><p><label>转发:2</label><p><label>评论:2</label><p><label>点赞:27</label><p>评论内容:<br/>永远的小少年：如果没看错的话男女是分开写的，专业、人数一样，那么你是想要平权还是特权？<br/>南造东珍：当地人表示这两小学一般般<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:08:45</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj2RmfAfQ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿重庆建工集团股份有限公司埠外工程事业部，招聘法务专员，要求男性。@重庆人社 @重庆市妇联

招聘来源：群消息</label><p><label>阅读量:6154</label><p><label>转发:4</label><p><label>点赞:30</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:08:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj2SSfNFZ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿中国北方工业有限公司，招聘税务/财务/金融专业学生，条件：薪资20-22万、两年会有65万的房补、解决北京户口，限男性。 @北京人社 @北京女性

招聘来源：群消息

投稿人：金融财税就工作性质而言并没有不适合女性的地方。只有男性配得上这种高薪&解决京户的优质国企吗？</label><p><label>阅读量:1.1万</label><p><label>转发:7</label><p><label>评论:5</label><p><label>点赞:54</label><p>评论内容:<br/>清高的体面商品：国企都这样<br/>PlatinumPark：<br/>今天也喜欢甜甜：坚定了我离开北京的信念我回内蒙都没这么被歧视<br/>献与爱弔割的网络红绳：<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:11:58</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj47CsFRO?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报广州光孝寺，招聘采购员，要求男性。 @广州人社局 @广州妇联

招聘链接:O中国寺庙2022年招聘：月薪15000，事业编制，...</label><p><label>阅读量:4982</label><p><label>转发:2</label><p><label>评论:2</label><p><label>点赞:18</label><p>评论内容:<br/>LINLEE-super：可能是女人不配吧。给香油钱的时候女人才让进是吧<br/>南造东珍：佛祖都不普渡众生了？<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:12:46</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj4qRshYJ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿江西机关事务管理局局属保育院，招聘幼教，限男性。@江西省直机关保育院 @江西省妇联

投稿来源：图片</label><p><label>阅读量:1.2万</label><p><label>转发:12</label><p><label>评论:6</label><p><label>点赞:107</label><p>评论内容:<br/>女儿国籍华裔：一群几把的寄生物怎么能干幼教呢<br/>我打人可疼可疼了：哈，不要女警察的时候说是为了让女人做适合女人更轻松的工作。事实上只有男人不愿意做的同时满足工资低脏累危险地位低又容易被罚款的环卫工九成是女人做的。<br/>KOSTYA有把枪：太可怕了 男的猥亵幼童的概率多高不用我说吧？<br/>打工的起重机：男幼教？<br/>爱吃麻辣烫的m1：猜测新教师法基本已经通过，以后全国各地估计都这样，目前南方大都分开招了。<br/>雪宜浅醉方知夏：江西，不稀奇。<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:19:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj77lvx2E?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报陕西省考古研究院，招聘田野专技岗，要求仅限男性。 @陕西省人社局

招聘链接:O网页链接

投稿人：“屡教不改 每年招聘都性别歧视。”</label><p><label>阅读量:6230</label><p><label>转发:7</label><p><label>评论:2</label><p><label>点赞:44</label><p>评论内容:<br/>睡觉才是正紧事哦：@人民日报 就业歧视哦<br/>单人相声表演艺术家：@陕西省人社局 咋，网络管理用吊管理？<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:22:50</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj8o9ujD7?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿# #粉丝投稿#

你好，我想投稿。今年江西教师招公告省直幼儿园好几个岗位只招男性，包括上饶等地方设立男女分岗。这种情况不是一天两天了，例如去年上饶小学岗位同样的试卷，女性要考146才能入进复试，男性只要105.5。这就是赤裸裸的不公平！！！这种选拔性考试如此偏向男性，特别是像教师这种职业。@江西省妇联</label><p><label>阅读量:50.1万</label><p><label>转发:1613</label><p><label>评论:222</label><p><label>点赞:11045</label><p>评论内容:<br/>KYOBUNSEI：？要死啊幼儿园招男教师？？？<br/>煎茶媛er：实行两性分岗不同分数线，对男性降分录取不可取，是对社会公平和进步的巨大破坏<br/>hagiwara_riku：我担心孩子们<br/>小孤单永远第一：这种招聘不违法吗？而且教育行业男教师真的不可，大部分性侵加害者都是男教师，更何况这还是低分录取的男教师，完全是在给恋童癖指路<br/>十万个胡图图： 要达到同一个层次 女性一般需要付出更多努力 这就是女生为什么向上兼容<br/>随着乡音哼着唱：仙子发言：不要靠诋毁♂性提高女性地位“尊重他人” ¡评论配图<br/>迷亭绅士：我和我妈说了，我妈总是说要有两个性别的老师才能健康成长<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:22:51</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj8oGgceA?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿# #粉丝投稿#

投稿国防科技大学，招聘讲师、助理研究员，要求几乎全为男性。@国防科技大学

招聘链接: O直接当军官！国防科技大学等你来</label><p><label>阅读量:2249</label><p><label>转发:1</label><p><label>评论:1</label><p><label>点赞:8</label><p>评论内容:<br/>做一颗滚石啊：上一个号怎么没的忘了？<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:22:54</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj8pS8DxV?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿招聘134名辅警只要3名女性，男性学历高中及以上就可以，女性却要求大专及以上。@保定发布

招聘链接： O清苑分局招聘辅警134名！高中学历可报！</label><p><label>阅读量:4329</label><p><label>转发:2</label><p><label>评论:1</label><p><label>点赞:17</label><p>评论内容:<br/>一只长角的狐狸：降分录取男警察，看看现在警察队伍什么风评，公信力都没了<br/></p></li><li><p><label>发布日期:3月10日</label><p><label>发布时间:22:59</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lj8rIziEF?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿昆山市律师协会，招聘劳务派遣人员，要求男性。@昆山发布

招聘来源：图片</label><p><label>阅读量:7278</label><p><label>转发:2</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月11日</label><p><label>发布时间:08:34</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjcdjeOYi?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报石岩街道，招聘精防社工，要求男士优先考虑。 @深圳微博发布厅

招聘链接:O【招聘】石岩社工“职”等你来</label><p><label>阅读量:7707</label><p><label>转发:3</label><p><label>评论:5</label><p><label>点赞:19</label><p>评论内容:<br/>奇形怪状的yuki：男人不让别人变成精神病就算好的了<br/></p></li><li><p><label>发布日期:3月11日</label><p><label>发布时间:14:29</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjexoteaA?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报珠海市横琴凯悦酒店，招聘员工餐厅厨师，要求优先男性。@珠海人社@珠海发布

招聘链接:O网页链接</label><p><label>阅读量:1.4万</label><p><label>转发:10</label><p><label>评论:2</label><p><label>点赞:29</label><p>评论内容:<br/>就业性别歧视煎茶队：#举报进展# 大队志愿者收到珠海政府男性工作人员的电话回复，首先他先推脱我们提供的招聘链接打不开网页（但志愿者又又又再次打开网页了），然后针对招聘中提到“男士优先”，他认为“这不是什么大的问题，给别人扣性别歧视这么大的帽子(类似这个意思）”<br/>就业性别歧视煎茶队：#举报进展# 已举报，感谢我们的志愿者@Rebelgirl姊妹 辛苦了 ¡查看图片<br/></p></li><li><p><label>发布日期:3月11日</label><p><label>发布时间:14:32</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Ljeyoh0BD?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报赣州市经济技术开发区，招聘合同工审计岗文稿写作岗，要求男性。

招聘链接:O80名！赣州经济技术开发区2022年面向社会公开...</label><p><label>阅读量:7017</label><p><label>转发:4</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月14日</label><p><label>发布时间:15:19</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjH95EQ4J?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:转发微博
@煎茶媛er
资讯 |【智联招聘《2022中国女性职场现状调查报告》：榜样力量提升女性信心，职场人相信性别平等会向好发展】

（报告正文共四部分，以下为第四部分）

四、榜样力量提升女性信心，职场人相信性别平等会向好发展

65.7%的女性认为社会更推崇独立女性，占比高于男性
智联招聘数据显示，65.7%的女性认为当今社会更推崇独立女性，占比排名第一，其次是事业家庭兼顾的女性，占比48.9%，选择这两项的女性受访者占比均高于男性。而男性选择“更推崇贤良淑德女性”的占比达到28.9%，明显高于女性的12.7%。可见，虽然独立女性受到推崇是共识，但受到传统观念影响，相比女性，男性依然会对女性的“贤淑”品德更关注。

6成以上职场女性有容貌焦虑，82.2%认为容貌影响事业发展
数据显示，分别有32.2%和29.3%的女性“希望比别人更好看”、“时常对容貌感到自卑”，容貌焦虑的职场女性总占比达61.5%。而有容貌焦虑的男性总占比仅为36.4%。分别有82.2%、77.3%的职场女性和职场男性认为容貌会影响女性事业发展，可见，容貌影响职场发展仍然是职场人较为普遍的共识，而女性遭受“更高要求”。

各领域爆发的“她力量”增强职场女性信心，董明珠、谷爱凌成独立女性偶像
2021年以来，中国首位女航天员进入太空、中国女足亚洲杯夺冠鼓舞了大量女性。根据智联招聘的调查显示，69.2%的职场女性认为这些事件体现了“她力量”在各领域爆发，占比高于男性的52.2%。同时，64.4%的女性认为“女性竞技能力不比男性弱”，高于男性的57%；此外，分别有40.4%、28.1%的男性认为“女性社会地位在提升”、“优秀女性能够代表大国形象”，占比均略高于女性，可见越来越多的男性意识到女性力量对社会的影响。

2022年，72.4%的职场人认为董明珠是独立女性的代表人物，其中，女性占比73.4%，男性占比71%。而在2021年，董明珠同样位居职场男女心目中的独立女性No.1。在北京冬奥会上获得两金一银的“青蛙公主”谷爱凌，成为32.7%的职场女性、26.3%职场男性心目中的独立女性偶像，排名仅次于董明珠。

近6成女性将性别平等视为两性在全方位的同等话语权，超8成女性愿意完善自我
数据显示，58.1%的女性认为，性别平等是“两性在政治、经济、文化、社会各个层面的拥有同等话语权”，高于“不管男女都应该拥有独立人格”（50.8%）、“不单纯因生理性别做价值判定”（46.8%）。可见，女性更追求各个层面上的平等话语权，希望在更广泛的范围内实现公平。

与此同时，大部分女性正在为追求男女平等做出实际努力，有83.2%的女性 “加强各方面学习，完善自我”，高于男性的75.5%。80.3%的女性选择“增强技能，提高职场竞争力”，高于男性的63.9%。值得一提的是，有11.7%的男性通过“曝光职场不公”来为推动性别平等做出努力，这一占比高于女性的4.1%。

近7成女性相信职场性别平等将更好
本次调研中，分别有37.5%和28.9%的女性相信职场性别平等“一定”或“也许”会更好，总占比达66.4%，低于男性的74.8%。可见，大多数职场人相信职场性别平等正在向好发展，男性比女性更加乐观。

女性职场现状、职场性别平等持续受到社会关注，通过本次调研可以看出，女性正在通过自身努力实现职场上更大的发展，不断追求自我价值实现的同时，很多女性希望能够实现事业和家庭兼顾。同时，女性期待企业与社会共同分担女性的生育压力，获得更公平的对待，职场人对于性别平等的发展保持乐观的态度。

3月8日妇女节到来之际，恰逢全国“两会”召开。在此期间，“改善产假、陪产假及育儿假规定”、“由国家财政承担延长产假的成本”、建议提升三胎家庭个税起征点”、“大力发展普惠性托育服务，缓解生育女性职业发展矛盾”等提案建议备受瞩目。随着职场性别平等在公众心目中重要性的提升，女性权益有望得到更好维护，男女平等进程也将由此推进。

来源：《职场女性平均月薪达8545元，5%涨幅略高于男性》，公众号“智联研究院”，2022年3月8日发布。O职场女性平均月薪达8545元，5%涨幅略高于男性</label><p><label>阅读量:3915</label><p><label>转发:1</label><p><label>点赞:4</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月14日</label><p><label>发布时间:19:32</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjINLasYu?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报中国传媒大学，招考艺术类本科学生，要求男女不同分数线、降分录取男性。 @中国传媒大学 @中国传媒大学本科招生办 @北京女性

招聘链接:O网页链接

投稿人：中国传媒大学做为一个传媒类艺考的清北，是多少艺考生女孩的梦想院校，但是这样一个地方居然用性别分割我们的梦想。</label><p><label>阅读量:2.2万</label><p><label>转发:30</label><p><label>评论:19</label><p><label>点赞:86</label><p>评论内容:<br/>li_eissohard：之前就看到中传的美术专业有性别歧视，传媒也这样，真的是<br/>星风绝不逊：举报会解决吗？还是不了了之呢？<br/>微黏小唐：为什么？为什么？为什么？<br/>破防蝻：女人的地位已经很高了，还想来分男人的🍰 吗<br/>女性之光电暖宝：好离谱啊，传媒是属于什么特殊行业要给男性降分录取呀？北大清华都是男女统分一条线<br/>moonholiday：@moonholiday：大部分这种文科院校都存在这种性别区别录取 美其名曰为了维持性别平衡 但没听说哪个理工院校为了维持性别比 低分录取女生<br/></p></li><li><p><label>发布日期:3月14日</label><p><label>发布时间:19:48</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjIUraDwp?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报重庆铁路运输法院，招考法官助理三名，要求仅限男性。 @重庆发布 @重庆市妇联

招聘链接:O网页链接

投稿人：法官助理有什么特别的工作内容只有男性才能做吗？</label><p><label>阅读量:4811</label><p><label>转发:1</label><p><label>评论:3</label><p><label>点赞:34</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月15日</label><p><label>发布时间:19:32</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjSesoRw5?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:这张图真的很精彩
@-沢川-
#看见女性劳动者#</label><p><label>阅读量:1万</label><p><label>转发:35</label><p><label>点赞:28</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月15日</label><p><label>发布时间:21:47</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjT7g0cPY?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿武汉市洪山市政建设工程有限公司，招聘工程专业类即将毕业的大学生，要求男生为主。@武汉人社 @武汉市妇联

招聘来源：班级群</label><p><label>阅读量:4554</label><p><label>转发:3</label><p><label>评论:1</label><p><label>点赞:19</label><p>评论内容:<br/>超话社区：你好，你感兴趣的“粉丝投稿”已开通了超话社区～ 超话社区是微博旗下兴趣互动社区，快来与志同道合的小伙伴们一起交流互动吧！ 戳我进入>> 粉丝投稿超话<br/></p></li><li><p><label>发布日期:3月16日</label><p><label>发布时间:11:43</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjYABBr2M?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报陕西警官职业学院，招聘专职辅导员，要求男性。 @西安人社 @西安妇联

招聘链接：O网页链接</label><p><label>阅读量:5066</label><p><label>转发:5</label><p><label>评论:2</label><p><label>点赞:15</label><p>评论内容:<br/>泡泡减肥版：哈哈 我们这边招聘写“适合男性” 玩文字游戏呢<br/></p></li><li><p><label>发布日期:3月16日</label><p><label>发布时间:11:48</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LjYCx1xbu?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿南部空军，招聘工程师、机务、翻译、讲师等岗位，要求男性。

招聘链接：O大学毕业直接当军官，南部战区空军等你来！（...</label><p><label>阅读量:2554</label><p><label>转发:1</label><p><label>评论:2</label><p><label>点赞:7</label><p>评论内容:<br/>红星照我去盗墓：这博主是啥比吧<br/></p></li><li><p><label>发布日期:3月16日</label><p><label>发布时间:18:35</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lk1hRiCJr?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿中国化学工程集团，招聘实习生，男生优先。

招聘来源：群聊</label><p><label>阅读量:4228</label><p><label>转发:4</label><p><label>评论:1</label><p><label>点赞:34</label><p>评论内容:<br/>女性之光电暖宝：党委办公室招文科硕博居然优先男生？男女平等都没理解还研究什么共产主义啊<br/></p></li><li><p><label>发布日期:3月17日</label><p><label>发布时间:22:15</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lkc9spd0e?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#
【投稿】您好，我想投稿一个夹带私货的gzh“高考语文资讯”。 一共刷到三次，今天恍然发现都是同一皮下发布的性别歧视内容。前情O同为女人bot 第二次刷到，所谓“支教媛”，如下图，经举报和姐妹留言，这篇文章现已不存在。 我取关以后，今天又看到其他gzh转载了他高考性别歧视内容，文章🔗O女生一定要慎选的6个本科专业，大学四年很难...</label><p><label>阅读量:5020</label><p><label>转发:3</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月17日</label><p><label>发布时间:22:17</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkcakqmAD?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报广州市荔湾区政府，招聘戒毒（康复）禁毒社工1名，要求男士优先。 @广州人社局机关团支部 @广州市妇联

招聘链接:O招人啦！站前街招聘社区戒毒（康复）禁毒社工</label><p><label>阅读量:4772</label><p><label>转发:1</label><p><label>评论:1</label><p><label>点赞:18</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月18日</label><p><label>发布时间:20:59</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lkl5jsC30?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报成都第四人民医院，招聘心里测评师，要求男性优先。

招聘链接:O网页链接

投稿人：招聘公告里没写男性优先，但年级群里面发的招聘要求男性优先。</label><p><label>阅读量:1.9万</label><p><label>转发:17</label><p><label>评论:5</label><p><label>点赞:82</label><p>评论内容:<br/>就业性别歧视煎茶队：#举报进展# 大队志愿者@猫猫狗狗都没有 接到电话回复：本院的招聘是以官网为主，至于有人在搬运招聘启事中携带私心，添加了“男性优先”的条件，与本院无关，本院欢迎符合条件的学生来报名！！！不限男女！！！<br/>就业性别歧视煎茶队：#举报进展# 已举报，感谢我们的志愿者@猫猫狗狗都没有 辛苦了 ¡查看图片<br/>初冬微暖：男性基本盘去心理测评。。已经开始窒息了<br/>魏公村最咸的鱼：这是去心理测评啊 还是去给人添堵啊，还是去利用职务之便行无耻之事啊<br/></p></li><li><p><label>发布日期:3月18日</label><p><label>发布时间:21:02</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lkl6caV7z?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿自贡招聘辅警区男女区别对待。</label><p><label>阅读量:3444</label><p><label>转发:2</label><p><label>评论:2</label><p><label>点赞:16</label><p>评论内容:<br/>猪猪猫云养僧：真无语<br/></p></li><li><p><label>发布日期:3月20日</label><p><label>发布时间:21:50</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkEgUCy0e?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#举报进展# 已举报，感谢我们的志愿者@Rebelgirl姊妹 辛苦了 ¡查看图片
@就业性别歧视煎茶队
#消歧投稿#

举报珠海市横琴凯悦酒店，招聘员工餐厅厨师，要求优先男性。@珠海人社@珠海发布

招聘链接:O网页链接</label><p><label>阅读量:4640</label><p><label>转发:2</label><p><label>点赞:16</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月20日</label><p><label>发布时间:21:52</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkEhxhXhE?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#举报进展# 已举报，感谢我们的志愿者@猫猫狗狗都没有 辛苦了 ¡查看图片
@就业性别歧视煎茶队
#消歧投稿#

举报成都第四人民医院，招聘心里测评师，要求男性优先。

招聘链接:O网页链接

投稿人：招聘公告里没写男性优先，但年级群里面发的招聘要求男性优先。</label><p><label>阅读量:4677</label><p><label>转发:2</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月21日</label><p><label>发布时间:08:38</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkIvKqmBt?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报荆门市公安局交警支队，招聘文职辅警，要求仅限男性。@湖北荆门交警 @平安荆门 @荆门发布 @湖北省妇联

招聘链接:O荆门交警招聘文职辅警5人</label><p><label>阅读量:5804</label><p><label>转发:6</label><p><label>评论:1</label><p><label>点赞:30</label><p>评论内容:<br/>善慧喜乐：为了出去好打人？<br/></p></li><li><p><label>发布日期:3月22日</label><p><label>发布时间:17:22</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkVn26pp8?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#举报进展# 大队志愿者@猫猫狗狗都没有 接到电话回复：本院的招聘是以官网为主，至于有人在搬运招聘启事中携带私心，添加了“男性优先”的条件，与本院无关，本院欢迎符合条件的学生来报名！！！不限男女！！！
@就业性别歧视煎茶队
#消歧投稿#

举报成都第四人民医院，招聘心里测评师，要求男性优先。

招聘链接:O网页链接

投稿人：招聘公告里没写男性优先，但年级群里面发的招聘要求男性优先。</label><p><label>阅读量:7098</label><p><label>转发:8</label><p><label>点赞:30</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月22日</label><p><label>发布时间:19:48</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkWklu8Ba?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报上海市锦天城律师事务所，招聘资本市场团队实习生，要求仅限男性。@巾帼园

招聘链接:O【律所】锦天城（上海）招聘实习生（200元/天）</label><p><label>阅读量:2239</label><p><label>转发:1</label><p><label>点赞:4</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月22日</label><p><label>发布时间:20:32</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LkWCm6RKq?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报云浮红海集团，招聘办公室文员（编外人员），要求男士优先。

招聘链接: O网页链接</label><p><label>阅读量:6214</label><p><label>转发:5</label><p><label>评论:1</label><p><label>点赞:22</label><p>评论内容:<br/>6547465-a：转发微博<br/></p></li><li><p><label>发布日期:3月23日</label><p><label>发布时间:16:31</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Ll4sE3iUh?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#举报进展# 大队志愿者收到珠海政府男性工作人员的电话回复，首先他先推脱我们提供的招聘链接打不开网页（但志愿者又又又再次打开网页了），然后针对招聘中提到“男士优先”，他认为“这不是什么大的问题，给别人扣性别歧视这么大的帽子(类似这个意思）”
@就业性别歧视煎茶队
#消歧投稿#

举报珠海市横琴凯悦酒店，招聘员工餐厅厨师，要求优先男性。@珠海人社@珠海发布

招聘链接:O网页链接</label><p><label>阅读量:5301</label><p><label>转发:4</label><p><label>评论:3</label><p><label>点赞:31</label><p>评论内容:<br/>桃山仙栗：呕了<br/>zz他人命运：。。。上次举报的那个是省公安厅给我打电话回复的，态度可好了<br/>猫猫狗狗都没有：划重点：男的，觉得“男士优先”没什么，是你在扣帽子<br/></p></li><li><p><label>发布日期:3月23日</label><p><label>发布时间:16:33</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Ll4tu5UnG?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:转发微博
@中国妇女报
【“皮肤白招人喜欢！”男子向90后女孩说这些话被法院认定性骚扰】#男子向女孩说这些话被法院认定性骚扰#近日，江西上饶。因对90后女孩言语不当，一70后男子被法院认定为性骚扰。事发当天1时22分 ，男子林某锋向女孩黄某发短信 “门开了，不怕我进来哈哈”。4时许，林某锋到黄某休息房间惊醒黄某，还称“老师皮肤这么白，挺招人喜欢。”黄某诉至法院，称林某锋进入其房间，还有抓手、强迫亲吻行为。一审认为其提供证据不能证明被性骚扰，驳回黄某诉讼请求，黄某不服上诉。二审认为，林某锋是否实施肢体性骚扰，无其他直接证据证明，难以在法律上认定。但林某锋的语言可以认定已构成性骚扰，一审判决虽查明事实清楚，但对事实定性不当。法院判决，林某锋向黄某支付精神损害赔偿金5000元。 L时间视频的微博视频</label><p><label>阅读量:1.4万</label><p><label>转发:16</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月23日</label><p><label>发布时间:17:21</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Ll4MVDU5Y?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报福州地铁集团有限公司，招聘电客车驾驶员，要求男性。 @福州市人社局

招聘链接：O网页链接

投稿人：女性可以驾驶电客车</label><p><label>阅读量:5797</label><p><label>转发:8</label><p><label>评论:1</label><p><label>点赞:17</label><p>评论内容:<br/>青年杜某：有的单位招录就会这样写，虽然不说限制男女吧，但会备注写条件艰苦，走街串巷，像这个就写需要搬运重型机械。我司重视男女平等，男性不到十年都会Linux运维服务器了，两位一位妇女同志快退休了基本遇到复杂问题就是摇(男)人解决，另一位不到三十岁前几天把男同事的peU盘不小心格式化了。<br/></p></li><li><p><label>发布日期:3月24日</label><p><label>发布时间:18:17</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LleAaFG1N?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿凤凰卫视北京记者站，招聘摄影师，摄影师要求本科学历，男生，身体健康，遵守纪律，责任心强，拥有较强的沟通协作能力和摄影技能。具有2-5年实际工作经验，同等条件下优先聘用。 @北京人社 @北京女性

招聘链接: O网页链接</label><p><label>阅读量:6301</label><p><label>转发:6</label><p><label>点赞:22</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月24日</label><p><label>发布时间:18:57</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LleQyukny?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿荆门市公安局东宝分局，招聘辅警，要求仅限男性，@荆门人社局 @荆门妇联

投稿链接：O网页链接</label><p><label>阅读量:4719</label><p><label>转发:2</label><p><label>评论:3</label><p><label>点赞:22</label><p>评论内容:<br/>要做新时代的朝阳：170就行，还要35名…男的找工作好容易<br/>超话社区：你好，你感兴趣的“粉丝投稿”已开通了超话社区～ 超话社区是微博旗下兴趣互动社区，快来与志同道合的小伙伴们一起交流互动吧！ 戳我进入>> 粉丝投稿超话<br/></p></li><li><p><label>发布日期:3月26日</label><p><label>发布时间:11:53</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LluVm4NJO?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#粉丝投稿#

投稿：龙岩市新罗区中小学幼儿园jiaoshi招聘，大量设置仅限男性岗位

招聘链接：O网页链接</label><p><label>阅读量:2198</label><p><label>转发:1</label><p><label>点赞:1</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月26日</label><p><label>发布时间:21:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LlyKhBWAw?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:辱女品牌绝不和解！</label><p><label>阅读量:5419</label><p><label>转发:17</label><p><label>点赞:35</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月26日</label><p><label>发布时间:22:16</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Llz0wD2MN?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#举报回复#【珠海商事服务局：已督促整改完毕，撤回存在性别歧视的招聘】
前情：O就业性别歧视煎茶队
珠海市横琴凯悦酒店，员工餐厅厨师，优先男性。

近日，大队志愿者 收到珠海12345热线的短信回复：
【横琴粤澳深度合作区民生热线】尊敬的市民您好，您向市12345反映的问题，处理结果如下：商事服务局：尊敬的市民：您好！接此建议后，我局立即组织核查，并于2022年3月23日电话联系该酒店人事负责人何女士核实情况，经初步核实，该酒店发布的一则员工餐厅厨师岗招聘广告中显示“男士优先”等相关表述，根据《《中华人民共和国劳动法》第十二条、《中华人民共和国就业促进法》第三条及《就业服务与就业管理规定》第十六条第一款之规定，我局工作人员已即时督促该酒店整改完毕，该酒店已于2022年3月23日撤回该则招聘信息 ，我局工作人员已于同日将处理结果反馈至投诉人，投诉人已表示知悉。感谢您对合作区的关心与支持！
——————————
大队想说：希望该局的工作人员也能和短信描述的一样，知法懂法不要再说出“男士优先没什么大不了的”、“是你在扣帽子”之类的话了</label><p><label>阅读量:5631</label><p><label>转发:2</label><p><label>评论:2</label><p><label>点赞:49</label><p>评论内容:<br/>定西草籽：博主了不起！<br/>开门你快递到了：转发<br/></p></li><li><p><label>发布日期:3月28日</label><p><label>发布时间:09:02</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LlMEVmSJJ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报国防科技大学，招聘讲师、助理研究员，要求男性。

链接：O网页链接</label><p><label>阅读量:7498</label><p><label>转发:12</label><p><label>评论:2</label><p><label>点赞:41</label><p>评论内容:<br/>橘子糖日落：图不清晰<br/></p></li><li><p><label>发布日期:3月29日</label><p><label>发布时间:09:17</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LlWbFCfke?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#大s具俊晔已办理结婚登记#直接写媒体大哥可能是性别刻板印象，改编人家原文是不是就是歧视了？

大S工作室：各位媒体朋友们在现场久候辛苦了

某媒体：各位媒体摄影大哥们都辛苦了#各行各业中的女性劳动者#</label><p><label>阅读量:6235</label><p><label>转发:2</label><p><label>点赞:39</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月29日</label><p><label>发布时间:21:12</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lm0RO0YIX?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:二月内，大队共收到了6起举报回复，其中3起表示将更改其岗位与性别相关的内容，有2起表示其是根据实际设立男女分岗，并无不妥，还有1起则认为高强度工作不适合女性。
O网页链接</label><p><label>阅读量:22.9万</label><p><label>转发:125</label><p><label>评论:22</label><p><label>点赞:603</label><p>评论内容:<br/>追斯嘉丽的人：有一半都成功了，真是太棒了！我们一起继续努力。<br/>乔yiersan：看到有所改正很开心，但是某些回复强词夺理到让人无语，都2022年了……………<br/>冯继有：看到长沙市开福区2022年教师招聘公告，已不再分性别设岗。口不服，行为还是有改变。煎茶有效<br/>煎茶媛er：//@追斯嘉丽的人:有一半都成功了，真是太棒了！我们一起继续努力。<br/>twenty-two22：如果它只是表面上改了实际面试时还把女性淘汰怎么判断呢…<br/>嘿O人O哈：辛苦了<br/>TwinkleTwinkleeverywhere：好棒<br/></p></li><li><p><label>发布日期:3月30日</label><p><label>发布时间:20:38</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lma4puaZw?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#消歧投稿#

举报北京丰台新闻出版社，招聘档案整理岗位，要求仅限男生。 @北京人社 @北京女性

招聘链接：O网页链接</label><p><label>阅读量:2480</label><p><label>转发:2</label><p><label>评论:1</label><p><label>点赞:4</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:3月31日</label><p><label>发布时间:17:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LmiohyOR1?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:#国际跨性别现身日# 海外2021年12月 | 非人：一些广告和政客眼中的女性

海外之声 2021.12.01【日本】根据性别认知障碍特例法规定，有未成年子女的情况下，禁止进行性别变更。针对该项规定是否违反了宪法第13条等规定的尊重个人决定的争论，最高法院作出了“规定合宪”的判断。但是，在五名法官中，有一名法官提出反对意见，认为规定是“违宪”。申诉人的代理人们评价说：“虽然决定本身是错误的判断，但是违宪的意见是划时代的，看到了一线光明。”申诉人是兵库县的一名公司职员，现年54岁。出生时的性别是男性，但从小就为此感到痛苦，现在以女性装扮工作生活。Ta曾与一名女性结婚，而后离婚，两人有一名10岁的女儿。2019年进行了性别变更手术，向神户家庭案件法院尼崎支部申请了性别变更的审判，但被驳回……

O网页链接</label><p><label>阅读量:3685</label><p><label>转发:1</label><p><label>评论:1</label><p><label>点赞:19</label><p>评论内容:<br/>小蒙桑海：跨性别就是倒退 凭什么让男人来决定女人是什么？凭什么一个男人觉得自己是女人全社会就要纵容他？<br/></p></li></ol></body></html>