<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202101微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年01月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:1月4日</label><p><label>发布时间:17:41</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JBDvWcoD1?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:欧洲</label><p><label>内容:欧洲央行行长，拉加德女士宣布，将支持女性担任欧洲央行职位，增加女性员工数量。她提出了新的招聘和升职方案，将向女性提供更多机会。方案执行到2026年，直到这位欧洲央行的第一位女行长期满卸任。“我们将使性别平等真正成为社会规范。”她说。

这一方案定义了招聘中，全体员工中，以及一些薪资等级中女性的最低比例。比如，今后欧洲央行的招聘及升职必须有50%的女性；高级管理岗位女性比例将由现在的30.8%上升至2026年的40%，所有管理岗位由30.3%上升至36%，专家领导岗位由33.3%上升至42%，所有专家中的女性比例由41.9%上升至47%。

▲ 性别平等不仅是一句口号，而是真正的社会规范</label><p><label>来源:法兰克福汇报</label><p><label>翻译:小庄</label><p><label>阅读量:3.1万</label><p><label>转发:15</label><p><label>点赞:88</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:1月12日</label><p><label>发布时间:22:53</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JCSYHohYY?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:梵蒂冈</label><p><label>内容:教皇刚刚通过了一项天主教的新法律，正式允许作为普通教徒的女性在弥撒期间承担一些职务，但教皇强调：这项律法并没有允许她们成为牧师。

这一法律将正式准许女性成为祭台服务者和礼拜诵读者。虽然这一做法在发展中国家的天主教堂中早已是一种惯例，但这是教皇首次以法律的形式正式承认这一做法；今后各地的主教们将不再有权由于性别原因而阻止女性参与这两项宗教服务。

在一封公开信中教皇说，他在深刻思考过宗教教义后，做出了这一决定，并且许多主教认为，这一改变代表着天主教会“顺应时势”的努力。

这项法律同时强调，经过教会指派的，有正规编制的神职人员中，仍然严格不允许女性担任职务。自2016年以来，教皇虽然成立了委员会，首次探讨女性担任执事的可能性，作为牧师的助手参与一些传教活动；但在天主教会，关于女性能否担任牧师的任何讨论都是禁忌。

事实上，在一些国家的天主教会中，女性宗教工作人员甚至超过了男性数量。但由于她们不被允许担任神职，她们不能在梵蒂冈的宗教会议中投票。许多宗教活动家认为天主教会应该考虑女性任职，特别是在欧洲和北美，天主教神职人员极度缺乏的情况已经持续了几十年。

现任教皇已经算天主教历史上的先锋人物，他任命了六名女性参与管理梵蒂冈的财政。在此之前，梵蒂冈的经济部门也全部为男性。

▲ 连“牧师助理”类正式职位都严禁女性参与，甚至不惜冒人员不足、信徒流失的风险；仅允许女性作为普通教徒做最底层的工作，就开始用“顺应时势”自夸了</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:5.8万</label><p><label>转发:9</label><p><label>评论:4</label><p><label>点赞:103</label><p>评论内容:<br/>无落汤包：这么多女性去信奉一个天然歧视女性的宗教，就很迷<br/>秣陵渡口：现任教皇已经改进很多了，但是天主教会和时代的脱节不是一点半点<br/>天主的子女：牧师是可以结婚的，神父是终身守贞的，完全不一样<br/></p></li><li><p><label>发布日期:1月13日</label><p><label>发布时间:20:26</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JD1rcxLBG?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:丹麦</label><p><label>内容:丹麦刚刚推出了一个面向4-8岁儿童的动画片，片中主角“大吊先生”是一个可以用自己的超大性器官救人，画画，举旗，甚至偷冰淇淋的男人。

这个动画系列已经引发了大量讨论。反对者认为，在我们所处的厌女时代里，不应当将“控制不住器官”这种形象合理化，并用来教导儿童。性别研究专家，Groes教授认为，如此露骨的阳器崇拜只能使性别平权进程后退许多年。他说，“这是对男权社会霸凌的一种常规化和无害化，给男性做坏事提供了借口。这个动画片既不可笑也不无害。难以置信他们现在要用这个来教育我们的儿童。”

Hojsted，一位临床心理医生，则认为反对者过度解读了。“大吊先生使用儿童的语言，和儿童的想法相近——而事实是，儿童确实认为性器官很可笑。”她说，“这个主角经常很没逻辑，到处闯祸，就像孩子一样。但重要的是，他每次都会改正错误。他听从女性的劝告，对自己做的事情负责。”

但同时Hojsted医生也承认，如果仅仅为了表现多样性，动画设计者应该考虑“有个大吊”以外的更丰富的多样性。

动画制作方辩称，他们也可以做一个关于女性器官的动画片。但反对者并不买账。“所以你们为什么没有选择yin道作为主角呢，”卫报专栏记者Bennett讥讽说，“因为历史上和现实里的yin道政治、yin道攻击，实在是太难找了啊。如果你们真的能画出来一个系列，保证没人骂你们。”

▲ 与其挖空心思试探公众底线，不如多用女性设计师画女性主角，更能在厌女时代里推动性别平权进程</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:5万</label><p><label>转发:11</label><p><label>评论:14</label><p><label>点赞:111</label><p>评论内容:<br/>无娜蒂娅Nadiya：这不是性骚扰未成年人？<br/>你以为你家奶茶很好喝吗：sos<br/>Hoffnungsschimmer19：丹麦已经算女权做的不错的国家了都尚且如此，就不要指望某大国了<br/>gdzgh：如果要在画漫画时做到生殖器官平等，那就用女性的凶，因为它和吊一样是突起来的，这样才能主动做点什么事情，才可以用作漫画题材。凹进去的东西只能画成嘴巴，除了整天说话，其他事情都做不了。<br/>可可Eigengrau：？？？这次国外的月亮碎了 这太tm奇怪了<br/>路人阿学：🍕<br/>尺覌：？？？有毛病吧这<br/></p></li><li><p><label>发布日期:1月14日</label><p><label>发布时间:16:31</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JD9kmmkJy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:巴西</label><p><label>内容:在男性把持的巨浪冲浪界，巴西冲浪运动员Gabeira创造了一项不分性别的世界记录，挑战了这一领域的严重性别刻板印象。

“一听到声音，我就知道这一定是一个我从没见过的巨大的浪，”Gabeira说，是成吨的海水从空中落下的声音。仅仅在视频中看着她划开七层楼高的巨大水墙，也能令人毛骨悚然。这是去年2月，她在葡萄牙挑战22.4米高巨浪时的心情。这是冲浪界有史以来挑战成功的最大巨浪——不分男女。

在任何项目里看到女性战胜所有男性取得冠军都是了不起的——比如在超长马拉松或者耐力游泳比赛中。但在巨浪冲浪界，这尤其令人振奋——这项运动是全世界最大男子主义，最睾酮崇拜的运动之一。

Gabeira的历史性挑战成功，在巨浪冲浪界却只引起了小小的波澜。“后来就没有后来了，”33岁的Gabeira笑着说。直到几个月以后，她的成绩才逐渐出现在报道中——而且主要是主流媒体在转载，而不是巨浪冲浪界媒体——一个由小部分人紧密把持的圈内媒体，在报道中往往给予男性严重不成比例的关注。

许多冲浪女运动员都认为这是个非凡的成绩。“无论如何，我们在慢慢推动平权。”42岁的Kennelly说。这是一小群关系紧密的世界顶尖女运动员，正在为她们应得的业界认可而战斗——性别薪酬差异，受限的比赛机会，媒体的物化；为了能将她们热爱的运动作为职业，她们不得不面对这些困难。

Kennelly估算，男性巨浪冲浪选手获得的赞助几乎达到女性的两倍。而当公司愿意赞助女选手时，“他们希望看到的是比基尼，而不是她们在挑战极限。想得到赞助，你必须首先长得像个模特，然后你才需要会冲浪。”Kennelly作为专业冲浪界第一位出柜的女性，在2008年由于出柜而失去了绝大部分赞助。

如今，仅有三位女冲浪选手可以有足够赞助收入，支持自己全职冲浪。女运动员们希望能得到更多赞助，更好的设备，也希望那些“仅限男性”的比赛能够放开性别限制。她们希望有更多女性为体育用品公司和体育媒体工作——在现阶段，这些公司和媒体几乎完全被男性把持。

Valenti,另一位职业女冲浪选手，认为赞助女性运动员能为公司带来更大利润。“男性的资源已经充裕了这么多年，他们的表现不会再有突破了。但女性的潜力还很大。一旦有了资源，世界将会惊讶于女性成绩的突破。”她说。

（照片来自Armando Franca/AP，Gabeira在巨浪中冲浪）

▲ 一项极限运动的世界记录，因为来自女性而被刻意淡化，是有悖体育精神的</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:4.2万</label><p><label>转发:30</label><p><label>评论:4</label><p><label>点赞:107</label><p>评论内容:<br/>无薛定谔的hh：这浪，看起来就吓人极了想起了自己被滑雪支配的恐惧<br/>喂你是兔子吗：好酷！<br/>杰瑞鼠Jerrie：22.4米的浪？？？！！！？？？！！！太牛了<br/></p></li><li><p><label>发布日期:1月16日</label><p><label>发布时间:18:48</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JDt4UmVMk?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:在Rajini Chandy上传她美丽的写真照到Facebook之前，她从未想过这些照片会这么火，还引来这么多争议。

照片中的Rajini Chandy是一名69岁的演员（曾经的她只是一名家庭主妇），她或穿着鲜艳优雅的纱丽，或穿着连体服、长裙、破洞装，或牛仔短裙。有一些照片中的她，还戴着从自家院子里采摘的白色鲜花做的花环。

Chandy住在位于印度南部的喀拉拉邦。这些照片受到了当地媒体“惊艳漂亮”的赞扬，也受到了很多激烈的反对。在这个保守的邦里，大多数女人穿的是低调的纱丽或传统的长裙。

Chandy告诉BBC记者，这些照片的灵感来源于一位29岁的摄影师——Athira Joy，她的作品以打破传统出名。

Joy说，这位演员吸引自己的点在于，她和自己的母亲完全不一样。她说，“印度女性困于婚姻和家庭的牢笼。很多女性在她们60岁的时候就放弃了自己的人生。她们成为了孙辈的祖母。”

她认为她65岁的母亲是“一个典型的印度女性。她遭受着60岁女性都要面对的健康问题。”“但Rajini不同。她把自己照顾得很好，她健康、漂亮、时尚。她虽然已经69岁了，但在我心里，她和我一样，才29岁。”

在传统的喀拉拉邦社会里，Chandy向来很突出。她在孟买陪伴工作的丈夫十多年后，于1995年回到喀拉拉邦。当她穿着牛仔裤或者凉鞋时，人们总是对她侧目。她穿了无袖衬衫，还被人责骂。

在过去的几年里，她因她“不传统的选择”受人关注。2016年，在她65岁的年纪，她选择作为一名演员出道，出演了马拉雅拉姆语喜剧《奶奶的权杖》。自此，她还参与了两部电影的演出，和《老大哥（第二季）》（玛拉雅拉姆版）的录制。

Chandy说，她拍这些照片的目的，就是鼓励老人们去享受生活。“大多数年轻夫妻用他们的青春来抚养孩子。他们把自己的梦想搁置在后面，后来又觉得自己已经太老了，不能再追求梦想了。他们担心社会对他们的评价。而我认为，只要你没影响别人，你想做什么就做什么。”

“我已经满足了我的家庭，尽到了社会要求我的义务。我现在只是在做能让我开心的事而已。我最近在学打鼓呢，我没有想打得很完美，只是打得好玩而已。”

这些照片，也是为了好玩。

“在十二月，Athira问我愿不愿意拍照，介不介意穿西方的服饰。我说当然不介意，我年轻时总是穿着它们，我还有一张穿着泳衣的照片呢。”Chandy说。

她觉得Athira的提议很有意思——在她出国旅游期间，她一直很羡慕衣着开放的年长女性。“但我告诉她，我要征得我丈夫的同意后才能做这件事。于是她征求了我丈夫的意见。我的丈夫说，这是她的人生，如果她想做，我就没有意见。”

Chandy坦言，她见到摄影师从当地商店租来的衣服时惊呆了。“我已经好久没穿得这么性感了。不过我一穿上它们，就不觉得有什么不自在。”

这20张照片是在Chandy家拍摄的。

在上周发布照片于Facebook和Instagram、当地媒体报道之后，鲜花、谩骂蜂拥而至。

她得到了成千上万的好评——有人说“你证明了年龄只是一个数字”；有人评价她“超赞”、“惊艳”、“性感”和“美丽”；有人称赞她的“自信”；还有粉丝找到了她的电话号码，给她打电话、发Whatsapp的信息，告诉她“阿姨，你看起来实在是太棒了”。

但是，不久，攻击就开始了，并且一直持续着。“有人骂我是荡妇。有人问，’你还没死吗？’还有人说，‘你这个年纪就应该坐在家里看《圣经》、做祷告，而不是出来秀自己的肉体。’ 还有人说，我就是旧车刷新漆，依然是老旧的。”

这些恶意攻击主要集中在两张照片上——一张照片中，她穿着破洞牛仔服，双腿分开地坐着，还露出了一点乳沟。另一张，她穿着牛仔短裙。

“这张更糟糕，因为我露腿了。”她说，“不过我的腿很漂亮，所以我没什么好困扰的，”她笑着说。

过了一会儿，她承认，这些无情攻击和负面评价还是影响了她。更糟的是，大多数谩骂来自女性。

“当年轻男性在一个老女人身上看到了性感，他们会觉得困扰，他们可不想把这样的性感当成欲望的对象。但令我惊讶的是，大多数负面评价来自女性，”她说。“我觉得这可能出于嫉妒。那些四五十岁就没有好好照顾自己的女性，不能忍受一个比她们老还在炫耀外表的女人。”

Namita Bhandare是新闻网站Article 14的编辑，她说：“嫉妒是有可能的。但我们也别忘了，不是所有的女性都是女权主义者。我们的母亲、祖母，都是确确实实的父权制度维护者呢。”

她认为，全球的普遍情况是，当女人变老，她们面临性别歧视和年龄歧视的双重打击。但在印度，和西方不同，“我们不会忽视年长的女性”。

“某种程度上，我认为年龄的增长有利于印度女性。年长的女性，我们的奶奶们、外婆们，在家庭中享有稳定的地位。但是，我们尊敬她们，是因为她们符合那一种固有印象。她们穿得很低调，如果是寡妇她们会穿白色，她们也不性感。”

“现在如果有一个奶奶，露着乳沟，开着大腿，她就颠覆了这种固有形象，她越线了，那么她就成为了众矢之的。”

Chandy说，她没有想到这些照片会变得这么火，也没想过自己会被别人辱骂。“我是一个直言不讳的人，所以可能有很多人不喜欢我。但是我告诉他们，与其在我这里浪费时间，不如去给你的国家做贡献，给世界、给地球做贡献。”

△ 无论年龄，无论性别，都要勇敢地活出自己，享受生命。</label><p><label>来源:BBC News</label><p><label>翻译:陈妙妙</label><p><label>阅读量:4.2万</label><p><label>转发:16</label><p><label>评论:8</label><p><label>点赞:148</label><p>评论内容:<br/>无Cincy画儿：想起厕所英雄那部宝莱坞电影，“有时候女性进步的最大阻挠者，反而是你们女人。”<br/>吴允书权正禄：好有活力的奶奶<br/>65ookies：也太酷了<br/></p></li><li><p><label>发布日期:1月20日</label><p><label>发布时间:19:39</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JE57Gn3Q6?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:悉尼的女性海滩由于不允许未接受性别重置手术的跨性别女性进入，而受到了网友谴责。

当网友质疑游泳池涉嫌歧视时，管理人员引用了1995年的一份法律，说明自己并未违法。

当事件在脸书发酵两天后，已有超过3000条留言，其中支持和反对的人数各半。目前原帖已经被撤回。

有关女性泳池是否应当允许跨性别女性进入的讨论由来已久。2019年，英国一家游泳馆在经过了激烈讨论后，最终正式允许跨性别女性入场。

在澳大利亚的反歧视法律中，对跨性别的定义基于自我认同。但在法律中还同时存在对“被承认”的跨性别人士的更严格定义，只包含接受了性别重置手术的人士。这种模糊定义受到了澳大利亚人权组织的批评。

游泳馆管理人员刚刚发布了新的回应，称已修改相关政策，欢迎法律定义下的跨性别女性入场游泳。但目前还不确定游泳馆所指的“法律定义”到底是那一种定义。

▲ 从制度上消除歧视，要依靠清晰可执行的法律条款</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:5.4万</label><p><label>转发:3</label><p><label>评论:23</label><p><label>点赞:189</label><p>评论内容:<br/>无赞赞的送钟机：希望是生理意义上的跨，不然直接变成猥琐男逛菜市场，众所周知女性权益在各项权益中排最末<br/>海参薇：有个跨性别女同学还没做手术，学校不让住女生宿舍，超级痛苦…<br/>Beatrice的贝儿：不觉得安全。女性在身量气力上天然比较小，设置这种空间的目的本来就是出于自我保护。现在随意扩大觉得很不安。女性权利也是很脆弱的。<br/>木Mu_zjs：我会害怕<br/>山禾落：？？？未接受性别重置手术，那外表不就是完全男的吗？怎么确保他不会伤害其它女性？<br/>Fate_dqc：心理跨还是生理跨这是个问题<br/>人生处处景：不应该由跨性别的人进入<br/></p></li><li><p><label>发布日期:1月21日</label><p><label>发布时间:22:02</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JEfuhjagn?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德语中的性别歧视严重，比如当指代群体中的所有性别时，默认使用男性的复数形式；许多名词甚至根本没有专指女性群体的对应词语。为了增强德语的包容性，许多机构开始使用新的中性复合词，在传统的男性复数形式后面附加词缀，用来包含所有性别。

但近几年来德语的性别平权化努力受到了围剿。总有保守男性以各种网上公开信或报纸大版面的方式，宣扬这种改变是“对女权暴民的妥协”，“不符合神圣的德语规范”，“违宪”，“不美观”，“洗脑”。他们认为这些词缀多此一举（“你们就没有更重要的事可做吗？”），还嘲笑女性对于默认使用的男性名词过分敏感。

去年底，德国法律部长，社会党的Lambrecht女士起草了一份破产法律草案，递交执政党评审。这份草案的特殊之处在于，它故意仅使用了女性复数名词，用来指代所有性别。

这份草案激怒了执政的保守党基民盟。内政部长Seehofer先生甚至称这种使用单一性别代词的法律“违宪”，因为法律不能仅适用于特定性别人群。极右民粹政党AfD也表示强烈不满。在德国政党中，基民盟和AfD的女性议员比例都垫底。

另外德国语言协会以及许多语言专家也纷纷发文批评。在法兰克福汇报等各大媒体上，都出现了各种男性的批判文章。

同为社会党的Mast女士则表示了支持。她说，是时候改改德国法律用语中的性别歧视了。专栏记者Stokowski女士讽刺：看到这些男性的反应，真的是女性对性别专有名词很敏感吗？

包容性语言的重要性已经被强调过无数次。研究表明，当人们使用仅指代男性的词语时，他们更倾向于默认这个被指代的群体真的只包含男性。

▲ 既然名词的性别不重要，为什么用女性名词包含男性群体，会激怒这么多男性</label><p><label>来源:明镜，每日新闻</label><p><label>翻译:小庄</label><p><label>阅读量:3.9万</label><p><label>转发:54</label><p><label>评论:22</label><p><label>点赞:404</label><p>评论内容:<br/>无冬眠旳喵：女人在历史上犯下的最大的错，或者是最大的失误，就是给了儿子们（即男人们）发言权。<br/>梨树下的梨猫：中文不也是吗。最近“兄弟们”经常在游戏中看到。当有人这么说的时候所有人都默认这里面同时包含男性女性，而当有人说“姐妹们”的时候所有人又默认这个词仅指女性<br/>希望Kwok：很多种语言都是这的，中文也有，现在社会进步了，得改<br/>睡不醒的小橘子：都一样的，跟谁姓不重要。那就跟妈姓吧。那可不行<br/>不开心就喝九珍QAQ：西语也是<br/>许多钡呀：西语也是，好多重要名词直接规定是阳性，<br/>冰棒没化：这个问题我真的一直在思考 本身就是学语言的 也对这方面更敏感 为什么他们能代指所有人 而她们只能指女性呢<br/></p></li><li><p><label>发布日期:1月25日</label><p><label>发布时间:16:56</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JEPc02xbi?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国政府将在近期通过一项新政，要求30家股指公司的董事会中，如果超过3名董事会成员，必须有一名为女性。

在此之前，德国股指公司董事会成员中的女性比例低于13%，在西方国家中垫底；而2019年末，德国股指公司中才终于迎来了历史上的第一位女性CEO，并且她在仅上任6个月后就卸任。

前几年，德国政府对董事会女性比例一直未有强制措施，仅要求公司自行设定目标；但去年政府表示，公司设置的目标过低，董事会女性比例多年不见增长。

执政党中的女性议员是此项法律的最大推动者，默克尔也曾发声支持。执政党在经过几个月的辩论后，终于通过了这项提案。

在德国政府宣布即将通过这一法律后，各大股指公司就开始宣布任命女性董事会成员。30个股指公司确认的女性董事会成员比例在今年内预计达到近17%，是10年内女性比例的最大增长。

相关报道：
2020年股指公司董事会女性比例 O就业性别歧视监察大队
2019年股指公司董事会女性比例 O就业性别歧视监察大队
2019年股指公司第一位女性CEO O就业性别歧视监察大队

▲ 争取话语权，是改善女性权益的最佳途径</label><p><label>来源:明镜</label><p><label>翻译:小庄</label><p><label>阅读量:5.1万</label><p><label>转发:34</label><p><label>评论:7</label><p><label>点赞:124</label><p>评论内容:<br/>无不吃鱼的猫_太腥：外国的月亮。<br/>初一伊：外国的月亮有点亮了<br/>无音有阎罗：要有权<br/>鲤电迟：大！圆！<br/>梅栖博古：赏月<br/>罔女有容：真圆<br/>叫我王大人2020：到底为什么职场或者当权者没有女性的身影呢？<br/></p></li><li><p><label>发布日期:1月26日</label><p><label>发布时间:16:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JEYm3c9pB?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:“为什么粉色只能给女孩？”《有爱，不有爱》——这部用来打破性别偏见的动画片自1月13日起在六家电视台播出。虽然该片受众目标为四到六岁的孩童，但强烈推荐所有人都能观看。

“女孩子不能成为飞行员”，“男孩子不能跳传统的舞蹈”。这是其中两条《有爱，不有爱》抨击的性别偏见（共十六条），该迷你动画片正在多家电视台的儿童栏目中播出。每集片长1分半左右，《有爱，不有爱》用动物拟人的方式，展现了日常生活中不经意传达出性别偏见的荒谬现象。

“和传统制度下的推广方式不同，我们想做一部寓教于乐的动画片。我们并没有列举所有在日常生活中渗透给孩子们的性别偏见行为。”制片人Sandrine Arnault说。

此举的灵感来源于Make.org平台组织的一场主题为如何打击性别暴力的公民商讨会。随后，媒体与信息教育中心Clemi参与其中，数家媒体同步上线：其中有法国电视一台（TF1）、法国电视台（France Télévisions）、Gulli少儿频道、Piwi+少儿频道、迪士尼频道、 迪士尼少儿频道和小尼克少儿频道；还有儿童教育软件Bayam。

为幼儿园孩子们打造的《有爱，不有爱》面向的群体其实更广泛。“这是一款可以用到初中一年级的教育工具。”Sandrine Arnault说。该动画资源现可于Clemi网站上下载。

△ 打破性别偏见，从孩子开始</label><p><label>来源:franceinfo</label><p><label>翻译:陈妙妙</label><p><label>阅读量:4.1万</label><p><label>转发:26</label><p><label>评论:3</label><p><label>点赞:104</label><p>评论内容:<br/>无x星星不说话：粉色不是女孩子专属的颜色，蓝色也不是男孩子专属的颜色，它们只是颜色而已，谁都有权喜欢。<br/>皈依丿202005：转发微博<br/></p></li><li><p><label>发布日期:1月28日</label><p><label>发布时间:21:21</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JFjdaDnDx?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:她是历史上第一位美国大学橄榄球联赛的女裁判，也是全美橄榄球联赛NFL的第一位女裁判。现在，Sarah Thomas刚刚被提名为超级碗的第一位女裁判。她的口号是：“我行”。

“女人也能执裁橄榄球？”自从24年前Sarah入行以来，她就不断遇到这个问题。1996年，她因为好奇，陪着哥哥去开橄榄球裁判的会议，被在场的老白男们盯了好久。她在一个采访中回忆。之后她很多次想要放弃，直到一通来自猎头的电话，改变了她的职业生涯。2007年，她第一次执裁大学顶级联赛。2015年，她第一次执裁NFL。

她的NFL执裁生涯第一天就遇到了小困难：所有的裁判服大小都不适合她。她的马尾辫也必须收进帽子里。直到这个赛季，她才终于敢把头发露在外面了。

“我对自己几乎没有刻板印象。”她说，“我和一群兄弟一起长大，小时候在男子篮球队打球。我不允许自己的性别成为借口。如果他们对我有意见，那是他们需要解决的问题，不是我的。”

现在她47岁。2月7号，她将作为历史第一位女裁判，执裁超级碗。

由于Sarah的执裁，NFL也改变了他们传统的性别化用语。直到2017年，NFL的主线裁还叫做“Head Linesman”。现在NFL的主线裁已经更名为“Down Judge”。

在Sarah的示范作用下，执裁橄榄球联赛的女性也越来越多。2019年，另一位女性裁判Howell说，她认识至少十二位执裁大学橄榄球联赛的女裁判。

▲ 如果他们对女性从事任何行业有意见，都是他们要解决的问题，不是我们的</label><p><label>来源:明镜</label><p><label>翻译:小庄</label><p><label>阅读量:3.1万</label><p><label>转发:10</label><p><label>评论:2</label><p><label>点赞:65</label><p>评论内容:<br/>无Jennnnay：<br/>听__风_：好厉害<br/></p></li></ol></body></html>