<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202102微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年02月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:2月1日</label><p><label>发布时间:22:30</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JFVmX5x6N?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国法院正在进行一场具有代表性的听证会，目的是分析家暴案件在英格兰和威尔士法院中的受理方式。

听证会涉及四件上诉案件，内容包括婚内性侵，强迫控制，以及监护权。

这四个案件都是过去18个月内女方由于不服一审判决而提起的上诉。其中两件案件的一审男法官是Tolson。起诉方律师之一Hames说，他的委托人控告男方性侵，对她实施强迫性控制，在她怀孕期间殴打她，以及非法拘禁儿童。但Tolson仅以“没有事实支持这么多项指控”而判决女方败诉。

律师指出，Tolson故意忽略了男方承认自己曾多次使用暴力。尽管有明确的警方证据证明男方说谎，Tolson仍然认为男方的陈述属实。Tolson还强调，因为两人曾有过“双方同意的性关系”，所以不存在“性侵”。

“Tolson将‘她曾经同意过’，等同于‘她从此永远地同意了’，”律师说，“我还以为这种过时的观念早就被法庭抛弃了。”

另一位受害者的律师Weston也说，Tolson判决她的委托人败诉，因为她不符合“完美受害者”的条件，没有在受到性侵后马上报警。

Tolson对家暴案件的处理在去年已经受到过同行的指责。他在一个案件中判决女方受害者败诉，理由是“她没有做出身体反抗，所以不可能被性侵。”这件案件经女方继续上诉，由女法官Russell在二审中翻案。

这次听证会的目的并不仅局限在重新判决这四起案件。听证会后将发布新的针对家庭暴力的判断准则。

▲ 不仅法律需要与时俱进，法律的执行也需要与时俱进</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:3.9万</label><p><label>转发:12</label><p><label>评论:2</label><p><label>点赞:52</label><p>评论内容:<br/>梨树下的梨猫：拳头硬了。这样的法官就应该也感受感受婚内强奸<br/></p></li><li><p><label>发布日期:2月2日</label><p><label>发布时间:15:47</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K04HT3Hjx?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:一项很有影响力的研究报告表明：性别刻板印象不仅是造成英国年轻人精神疾病的原因之一，还是进食障碍、男性自杀和针对女性的性别暴力的根本原因。

性别刻板印象还严重限制了青少年的职业选择，并造成了性别薪酬差异。

报告警告，性别刻板印象存在于家庭、教育以及商业界——尤其是玩具，书籍和时尚。报告呼吁政府采取行动，挑战商业界单一的性别标签，比如儿童玩具和儿童服装按照性别的分类，以及儿童书籍和电视节目中对女性角色的矮化。

发布报告的机构负责人Smethers说，“性别刻板印象在我们的社会中无处不在，造成了长远的有害影响。这就是这份报告的结论。”

“从幼儿园就开始的‘男孩必须像个男孩’这类说教，到职业规划时‘某类职业只适合男性或女性’的观念，这些刻板印象会毒害孩子们的一生。”Smethers说，“我们必须停止把女孩‘公主化’，把男孩‘有毒化’。”

这份报告耗时18个月，项目负责是一位教育学教授和一位工党议员，汇集了多方的支持，包括公司，公益机构和政府机构。

在家庭中，大部分家长能够意识到性别刻板印象的问题存在，但仍有75%的家长承认从婴儿时期起就区别对待男孩和女孩。当提起未来职业是建筑行业时，有超85%的家长默认了男孩的形象；而当未来职业是护士或其他看护工作时，有近75%的家长默认了女孩的形象。

英国教育联盟秘书长Courtney说，“英国实现性别平等的步伐太慢。不论是差异化教育问题还是性别薪酬差距，根源都是社会中的性别刻板印象。我们必须支持教师们挑战这些观念。”

挑战商业界的性别刻板印象，在法国已经有先例。去年，法国出台法律禁止玩具制造和销售商使用性别化的营销手段打击女孩参与工程或计算机类游戏。

▲ 必须停止把女孩“公主化”，把男孩“有毒化”</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:4.6万</label><p><label>转发:27</label><p><label>评论:11</label><p><label>点赞:120</label><p>评论内容:<br/>一梦江湖是一款我的问题：蹲一个报告的链接或者卫报原报导的链接<br/>快乐冲浪de暴躁TV观众：在哪能查阅到这份报告~或者是权威的翻译版呢。。好需要这个当论据<br/>脸盲路痴的狗子：你这个号限流也太严重了，我不自己搜索主页，自然都刷不到<br/>Whisky_Skull：然而，在等国还要推行阳刚哦<br/>高莫静：步伐再慢也比倒退好<br/></p></li><li><p><label>发布日期:2月4日</label><p><label>发布时间:21:28</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K0pMZ9CxI?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:根据美国疾控中心（CDC）收集的疫苗接种数据，两种针对新冠病毒的mRNA疫苗都对女性有较大不良反应。女性出现过敏反应的概率是男性的近7倍，而严重过敏反应概率是男性的9倍。

专注女性健康的科学期刊JOGNN发表社论，指出在涉及疫苗引起的不良反应时，女性的不良反应更常见，也更严重。但目前发表的所有新冠疫苗的临床数据分析中，都没有对疫苗有效性和不良反应单独以性别分类。另外在各国发布的新冠感染和疫苗接种数据中也缺少性别分类，掩盖了可能的问题。

柳叶刀的一篇论文研究了30篇新冠医药数据，包含11种潜在治疗方法和药物。其中仅有一篇论文将数据根据性别做了分类。没有论文分析性别导致的差异。另外有范围更广的研究表明，在超过2000个与新冠治疗相关的临床试验中，仅有17%的试验在招聘志愿者时有明确性别比例要求。

医药的研发中一直忽略女性的存在。各医药公司将白人男性作为“正常的目标人群”，而将女性视为“小一号的男性”。直到1993年，美国食药管理局(FDA)一直禁止处于育龄的女性参与药物测试。事实上，由于医药界多年将女性生理作为“例外”处理，而且雄性的试验数据浮动性更小，研发中经常使用更多雄性动物和男性。

目前FDA虽然要求医药公司在临床阶段必须有足够女性参与，但并不明确要求临床试验结果按照性别分类展示。

医药界对女性的忽视已经导致了多次重大事故。比如心脏病药物地高辛，由于在临床试验中有很高有效性和安全性而在90年代被广泛使用，直到2002年的一项研究将病人按性别分类后，发现地高辛在降低男性病人的死亡率同时，升高了女性病人的死亡率。

2001年，美国政府的调查报告表明，由于出现严重不良反应而被FDA叫停的10种药物中，8种都对女性有更高风险。

▲ 医药研发中的性别歧视</label><p><label>来源:CDC，JOGNN，柳叶刀，FDA，卫报</label><p><label>翻译:小庄</label><p><label>阅读量:11.6万</label><p><label>转发:179</label><p><label>评论:15</label><p><label>点赞:462</label><p>评论内容:<br/>Sora-F：因忽略女性被试造成女受害者远高于男性的例子还有：抗疫防护服、汽车安全气囊。<br/>在冷冽谷中翻滚：然后男人说他们为疫苗的开发奉献更多。<br/>老府就是府先生嗷：国内的也是这样的疫苗吗<br/>MakeHerVoiceHEARD：我现在好像已经开始对这个厌女爱蝻的世界ptsd了<br/>额呃呃呃头都大了：🤮<br/>小神仙牌快乐水：女性就这样被隐形了，记得还有钢琴键的设计，是适合男性手指的宽度。<br/></p></li><li><p><label>发布日期:2月5日</label><p><label>发布时间:21:28</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K0zdr3iWO?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:女性将成为拜登司法团队的主导力量

身为纽约大学法学院同僚与教授的Lisa Monaco将担任副总检察长一职，“她是一名资深的检察官与公务人员”，拜登的过渡团队这样评价。“作为副总检察长，能与司法部的各位职业女性与男性再一次共事，是我无上的荣誉”，Monaco在推特里写到。

Vanita Gupta将担任副检察长，作为一名印裔美籍的民权律师，以及民权与人权领导者会议的CEO，Gupta将成为首位担任此职位的非白人女性。

Kristen Clarke将担任民权部门的首席检察官助理。作为一位民权律师，Clarke还是律师委员会的主席与常务理事。在担任联邦检察官之后，打击警察不当行为、犯罪和人口买卖成为了这位牙买加移民女儿的职业生涯开端。怀揣着对人人平等的热烈倡导，Clarke带头发起了数次争取LGBTQ+权利、性别平等、种族平等以及生育权利的司法运动。</label><p><label>来源:CGTN</label><p><label>翻译:Xiao</label><p><label>阅读量:2.7万</label><p><label>转发:4</label><p><label>点赞:39</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2月9日</label><p><label>发布时间:18:24</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K19IWxl18?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:肌痛性脑脊髓炎（简写ME)是新冠痊愈者面临的最常见后遗症之一。有数据显示，在感染后罹患不同程度ME的人数超过50%。女性患ME的概率是男性的四倍，致死率约为男性的三倍。

ME是一种经常出现在病毒性感染后的疾病，症状复杂，包括长期低烧，乏力，呼吸困难，各种神经性疼痛等等，持续时间可能为病毒感染后几个月到几年，也可能成为永久疾病，导致残疾。

女性的免疫系统通常对病毒的反应能力更强。学界观点认为，这是女性在病毒感染中致死率低于男性的原因之一，但也是女性在感染后更容易出现免疫系统紊乱的原因：免疫系统会在病毒被消灭后持续攻击自身细胞，造成包括ME在内的症状。

在美国的ME患者约有上百万人，但其中仅有约10%被确诊。即使在被确诊人群中，也有超过三分之二的患者用了一年以上才获确诊，更有约30%的患者用了五年以上。全美国的ME医学专家仅有15人。

造成ME被误诊的原因，是因为医学界对这种疾病几乎一无所知，也毫无兴趣。至2014年，美国卫生研究院（NIH）的ME年度拨款仅有区区五百万美元，甚至不及对花粉过敏的研究经费。

2015年，哥伦比亚大学专门研究SARS的实验室获得了NIH的上亿美元研究经费，而当他们发现SARS等病毒感染可能导致免疫失调，并申请了仅一百万美元的专项研究经费时，却两次遭到NIH拒绝。

直到今天，NIH还把ME称为“慢性疲劳综合征（简写CFS）”，而这一名称是对ME的污名化。有研究显示，当使用CFS来描述病症时，医学院的学生更倾向于忽略病症，或将病症归类于心理问题。

在1955年以前，ME的官方分类属于“歇斯底里症”的一种。被认为是女性特有的心理症状。直到1990年代，社会对ME的理解还停留在“贵妇病”：一种仅影响中上阶级白人女性的“无病呻吟”。事实上，这种病在拉美和非裔女性群体中更常见，也并非无病呻吟。

2007年对ME的一项调查显示，ME造成了每年约2亿美元的社会损失，包括医疗成本和生产力损失。患者的身体机能受影响程度超过了II型糖尿病，充血性心力衰竭，多发性硬化症，以及肾衰晚期。

现在，由于美国的新冠痊愈者基数庞大，已经出现越来越多的ME患者。他们希望这一次能引起政府和医学界的重视，真正开始研究ME的病理，确诊方法和有效药物。

相关翻译：

疫苗开发中的性别歧视：O就业性别歧视监察大队

更多医药研发中的性别歧视（橙雨伞翻译）：O橙雨伞微博

▲ 女性患病人数更多的严重疾病，就是“无病呻吟”</label><p><label>来源:NIH,华盛顿邮报等</label><p><label>翻译:小庄</label><p><label>阅读量:5.7万</label><p><label>转发:50</label><p><label>评论:1</label><p><label>点赞:61</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2月15日</label><p><label>发布时间:21:56</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K25FVtCQO?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:科学期刊最近发表了一篇量化报告，指出在新冠期间女性科学家受到的影响远大于男性同行。作为母亲的科学家在研究时间上的损失，相比作为父亲的同行高三分之一。她们在育儿和家务上的时间增长却高于男性同行。

去年三月，密歇根大学的一位放射肿瘤学教授Jagsi撰写了一篇社论文章，预测女性科学家在新冠期间受到的影响将远大于男性。但由于各大期刊编辑都怀疑这一预测，他们拒绝发表她的文章。

人类学家Nelson也表示，她去年的研究时间缩短了一半，因为她必须照顾居家学习的两个孩子。“我们在职业中不得不面对更多的障碍，”她说，“是时候重新审视资金发放流程和终身教职的流程了。”

这种影响并非无法消除。加拿大健康研究院在一项资金的审核过程中，发现女性申请者的申请数量较以往减少了近20%。

“当我们看到数字的时候，我们意识到了流程中的问题。”研究所女主任，Tannenbaum教授说。他们马上在下一次资金审核中延长了申请期限并减化了流程。这次，女性申请者的数量恢复到了新冠前的正常水平。

但Tannenbaum教授仍然很担心资金发放过程中积累的性别不平等。“研究者拿到第一笔资金后，就可以进行更多研究，发表更多文章，并且因此获得更多的后续资金。这是一个滚雪球效应。”她说。

女环境学家Fulweiler说，更多基金发放机构应当给申请者机会，说明自己的研究在新冠期间受到了何种影响。而大学和研究所应该保证给予员工日托服务。

▲ 母职惩罚是严重性别歧视的结果</label><p><label>来源:科学</label><p><label>翻译:小庄</label><p><label>阅读量:3.8万</label><p><label>转发:24</label><p><label>评论:3</label><p><label>点赞:142</label><p>评论内容:<br/>白雪落枫xylophone1009：对于最后一个建议，新冠期间日托服务也停了呀…唉，还是家务分配不平等，爹在家也不带孩子。<br/>陈陈十九：全世界普遍存在的问题，国内哪有这种意识，唉<br/>MPwb13：怎么做能有利于女性，很明显，孕育责任平摊。<br/></p></li><li><p><label>发布日期:2月18日</label><p><label>发布时间:20:57</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K2xzjouP2?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:印度女性虽然可以受雇于印度军方，但只能是“临时工”。

2007年以前，女性与印度军方的雇佣合同有5年期限，到期后有再签5年的可能。之后女性的雇佣合同延长到了10年，到期后可以续签4年。但直到2019年，女性仍然无法满足军方“服役20年以上获得养老金”的服役期限。另外女性也没有获取较高军阶的机会。

2010年，一群印度女军官把印度军方告上法庭。经过近10年的起诉，2019年法院终于判决女军官们胜诉，迫使印度军方为女性提供永久岗位和养老金。

但军方的处理方式令人匪夷所思。他们将为服役14年以上的女性提供永久岗位和养老金。但服役在10-14年的女性则被解雇，也不能获得养老金。

一位已服役11年的女兵Sinha说，“我在极端艰苦的地区一边工作，一边对付不支持我的丈夫和家庭。但这一切都是为了什么？”她说。Sinha被解雇的理由是“体能不适合”。虽然她在被解雇前的几个月，还是“适合”的。

这些女军官们指责军方数据不透明。虽然军方给出的数据是，615名女军官中有422人获得了永久岗位，但这与女军官们的实际经验不符。Rao在服役13年后被解雇。她说，仅在她的服役年限中被解雇的女军官就有68人。

女军官参与和男军官同样的培训，必须通过与男军官同样的标准。但绝大部分男军官都会获得终身职位和晋升机会，而女军官则会被淘汰。“当1992年印度军队第一次招收女军官时，宣传的形象是‘女战士’。”一名退伍军人说。“但实际上军队内部不能容忍女性的存在。所以这些女军官每前进一步都要不断证明自己。”

Rao曾和她的新生婴儿住在沙漠帐篷里，也曾在孕晚期参与阵地的转移。而Sinha在怀孕时被要求通过体能测试，在生育后仅休了一个星期产假就因为害怕被辞退而恢复上岗。Sinha说，“男性总拿我们的产假作为歧视的借口。但讽刺的是，这些男性才会因为参加进修课程而缺席两年。”

男性军官在获得军队的终身职位后，可以进修高级职业课程获得学历。而女性不仅得不到终身职位，还因此失去学习和获取学历的机会，使她们在退役后更难找到工作。

Rao和Sinha都认为印度军方在故意刁难女军官，以阻止女性入伍。目前印度陆军中仅有4%的女性，而且女性被禁止出现在战斗岗位上。“和我们同届的优秀女性都被排挤走了。”Sinha说，“她们中有国际级射击运动员，骑行健将，登山专家，她们曾因为自己的贡献而获奖。男人们就这么害怕我们抢了他们的岗位吗？”

▲ 男性费尽心机把女性排挤出一些职业，还以此为借口声称“女性不适合”</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:3.7万</label><p><label>转发:12</label><p><label>评论:1</label><p><label>点赞:69</label><p>评论内容:<br/>善慧喜乐：中国有更好的数据吗？<br/></p></li><li><p><label>发布日期:2月23日</label><p><label>发布时间:15:29</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K3gyHvlIV?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:政府希望将乱伦性同意年龄定为18岁，且一切乱伦性行为都将被推定为不同意。

为回应社会党的一项法律提案，司法部部长Éric Dupond-Morett表示，政府有意将乱伦性同意年龄设为18岁。他解释道：“对于乱伦案件，我们希望将年龄门槛定为18岁。比如，60岁的成年人不可以主张，与14岁的小女孩发生性行为，而小女孩是‘同意的’。这不可能。”

实际上，指控父母或其他家庭成员实施性侵害的未成年人将无需向法院证明他的不同意。

“也就是法院以往向被害人询问，其是否反抗、是否叫喊、是否说'不'、是否试着逃跑。但，就算是一名17岁的未成年人受到了其父亲的侵犯，也不太会有打斗或者身体冲突”， Collectif pour l’enfance（为了儿童）协会主席、律师Pascal Cussigh补充道。

根据文件，“乱伦性行为将被推定为不同意”这一条款将于今年四月开始应用。

近月，法国政治泰斗杜哈梅尔被指控长期性侵未成年继子，引起轩然大波。

法国和中国一样，没有明文规定性同意年龄。但从法律条文推导而来，性同意年龄为15岁。新闻仅针对乱伦案件。

△明确表达同意，才是真的同意</label><p><label>来源:Franceinfo</label><p><label>翻译:陈妙妙</label><p><label>阅读量:2.6万</label><p><label>转发:12</label><p><label>评论:2</label><p><label>点赞:79</label><p><label>:三点关机：Only when you say yes can yes be yes
沉栀丶：yes means yes
</label></li><li><p><label>发布日期:2月26日</label><p><label>发布时间:00:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K3D57rn7v?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:多米尼加</label><p><label>内容:当阿根廷成为拉丁美洲第一个堕胎完全合法化的国家时，多米尼加却将继续执行完全禁止堕胎的法律。这条法律已经存在了超过130年。

多米尼加是拉丁美洲四个堕胎完全非法的国家之一（另外三个国家是洪都拉斯，尼加拉瓜和萨尔瓦多）。

多米尼加每年都有许多女性死于私自堕胎或流产。这一数字占死于生产的女性人数的8%。如果被发现，非法堕胎的女性面临最高2年的刑期，而负责手术的医生则面临最高20年刑期。

去年8月，众院主席Pacheco提交的新刑法草案中，保留了堕胎完全非法的条款。由于受到社会多方反对，他随后改称，法律将考虑三种特殊情况：当母亲有生命危险，当胎儿是性侵或乱伦的结果，或当胎儿无法存活。

但女权组织说，在堕胎被定义为刑事犯罪的大前提下，所谓“特殊情况”也只是一纸空谈。

即使完全非法，多米尼加健康部门也曾在一些案例中应用“特殊情况”。比如2012年，一位16岁的白血病患者由于怀孕2个月而被医生拒绝进行癌症治疗。但政府特批的堕胎手术被患者家属拒绝，女孩死于流产引起的心脏骤停。

负责案件的律师Soto说，这起典型案件透露出“特殊情况”在完全非法化的大前提下，根本难以应用。患者和家属并未被全面告知她们的可选项，因为整个社会禁止讨论有关堕胎的任何话题；而贫穷家庭即使在“特殊情况”下，也得不到资金支持实施手术。

同一年，另一位31岁的孕妇在怀孕16个星期时由于流产需要刮宫治疗，但没有任何一家诊所愿意实施这类在其他国家非常普遍的治疗手术。地下诊所虽然可以实施手术，但费用平均在500美元，大约是一个贫困农民的两个月收入。这名孕妇去的最后一家医院建议她回家休息。她在第二天由于死胎引发的感染而去世。

▲ 女性才是自己身体的所有者</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:17.6万</label><p><label>转发:50</label><p><label>评论:5</label><p><label>点赞:123</label><p><label>:小城大白：有趣的是这个国家曾经被西班牙，法国和美国统治过，建制也是美国式制度，欧美后裔在该国占不少比例。
Colinxuan_：真恶心
小隐森林：那可以直接带环或者结扎吗
红泥小火炉与茶：对女性管束的越严格，女性地位越低的国家往往越不咋滴，也没什么未来可言。
</label></li></ol></body></html>