<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202103微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年03月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:3月1日</label><p><label>发布时间:16:16</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K4br1Ed4k?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:学术界的女性是弱势群体，是不争的事实。在新冠以前，美国全职教授中仅有三分之一是女性，而加拿大和欧洲的比例更低。女性获得研究资金和论文引用的机会更低，获得升职机会以及终身教职的比例也更低。

这种情况在理工科中更为严重：数学物理和计算机科学中的女性论文数仅占15%。研究表明，造成这种性别不平等的原因之一是母职惩罚：女科学家需要承担不成比例的大部分育儿责任。

新冠使这种不平等更加明显。数据显示，新冠期间受影响的主要是已进入职业中期的女科学家。由于学校和婴儿托管服务的关闭，这些女性不得不承担绝大部分的附加照护工作和家务。

这一结论来自2020年5月至7月间，对全球近3万名学者的问卷调查，调查内容涉及新冠前后的作息差别，家庭人员构成，配偶工作性质，等等。

数据显示，作为母亲的女科学家的研究时间缩短，相对作为父亲的男性同行严重33%，育儿时长增加却超过男性同行三分之一，家务时间的增加超过四分之一。同时，当男性同行用于睡眠和娱乐的时间在新冠期间有所增加时，女科学家的时间却减少了。

当家庭中没有小孩，或小孩大于16岁时，男女科学家的研究时间都几乎不受影响，也没有性别间的区别。

同时论文还指出，使用问卷调查的方式很可能低估了新冠对研究时间的影响，因为会有许多不堪重负的科学家并没有时间回复问卷。另外，虽然有大学已经根据新冠调整了终身教职的评估期限，但论文担心这种不分性别的调整反而会加大男女科学家之间的性别不平等。

▲ 当性别是造成不平等的主要因素时，无差别的政策调整只会加大性别不平等</label><p><label>来源:美国国家经济研究所NBER</label><p><label>翻译:小庄</label><p><label>阅读量:4.1万</label><p><label>转发:30</label><p><label>评论:3</label><p><label>点赞:124</label><p>评论内容:<br/>晦月1：在需要牺牲生活空间的时候，女人总是最优先被牺牲的<br/>睌fcvbjjn：女性必须拒绝婚育！<br/></p></li><li><p><label>发布日期:3月3日</label><p><label>发布时间:17:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K4uFMlLjh?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国首相鲍里斯·约翰逊近期任命的新内阁成员受到了批评。目前英国内阁23名全职成员中，女性仅为5名，比例不到四分之一，而其中1名女性成员还是无薪职位。

布莱尔首相时期，女性内阁成员曾达到36%。卡梅伦时期，这一数字是30%。

“疫情暴露了一个由男性主导的政府内阁的种种问题。”女性权益组织Fawcett Society的负责人Willow说，“针对疫情的政策不成比例地冲击了女性，包含工作，家庭以及财务方面。不论在政府，内阁还是应急小组中，女性的比例都太小了。”

同时，约翰逊的现任内阁中，少数族裔的比例也仅有17%。

于此相比，苏格兰的女性部长占58%，威尔士占56%，北爱尔兰占50%。在英国以外，西班牙的女性部长比例为66%，名列全球首位。而英国排名仅为49位，甚至在韩国之后。

▲ 由男性主导的政府的种种问题，由于疫情而暴露了出来</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:2.7万</label><p><label>转发:8</label><p><label>评论:5</label><p><label>点赞:65</label><p>评论内容:<br/>脱口秀专业爱好者：哈哈哈最后一句灵魂<br/>蓝色的星空：中国在第一百多位，亚洲中国之后就是日本🇯🇵<br/>后巷的猫__：中国排哪儿呢<br/></p></li><li><p><label>发布日期:3月5日</label><p><label>发布时间:19:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K4OxfqHBy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:推特上的一名男性提出了一个问题：“为什么技术行业的男性远远多于女性？”一位女程序员Ashley的回答获得了高赞。她说：“让我来告诉你为什么：

“8岁：计算机夏令营的指导员告诉我妈不要让我参加，因为我会让营地的男孩子分神。

“12岁：计算机辅助制图课程，我的搭档是个男孩，他什么也不干。但我喜欢在计算机上工作，所以我交付了我俩的所有作业。结果他得了99分，我只得了90分。老师对我的搭档说，‘我知道你帮她了。我的课上从没有女生能拿高分’。

“14岁：编程课老师问我是不是因为看错了课程表，走错了教室。

“18岁：应聘编程兼职。我比所有男申请者都多了一轮面试，要求我实际上机操作。

“19-20岁：计算机科学专业，没人愿意和我一组，辅导教师拒绝辅导我。老师不得不同意让我独立完成所有大作业。在一份兼职中，男同事们逼着我去脱衣舞俱乐部。

“21岁：连续工作26个小时后，申请回家睡两小时。被告知，他们还不如招个男生，因为男生体力更好。所以我又继续工作了8小时。

“22岁：面试时被问及是否单身，回答后被面试官约会。我拒绝了。后来工作没给我。

“23-36岁：多次被告知，做技术工作的女性不该打扮成我这样（比如穿高领毛衣和牛仔裤），因为这样会令男同事分心。被同事性骚扰。在讲话时不断被打断。参加技术会议做报告时被要求保持微笑。被视为‘为实现公司多样性而优先雇用的花瓶’。工作经验更丰富教育程度更高却拿更少工资。技术能力永远被质疑。

“如果你不是个白人男性，这个领域就非常不友好。”

▲ 男性就是这样把女性排挤出技术行业</label><p><label>来源:推特</label><p><label>翻译:小庄</label><p><label>阅读量:9.5万</label><p><label>转发:227</label><p><label>评论:36</label><p><label>点赞:1177</label><p>评论内容:<br/>一只健康的橘：很多职业都是这样从入学到就业就限制女性的进入<br/>BMW兔：有钱的有发展的行业壁垒越是森严，既得利益集团越是强大，挑性别挑肤色挑阶级挑关系，就是为了维护既得利益集团的利益。<br/>存满存钱罐：女孩子选择一份职业，应该热爱它、认为它有价值，至少应该认同它，而不是因为其他人告诉你这份职业适合女孩子。没有什么职业天生的就适合女孩子或不适合女孩子<br/>众所周知缪时霖是帅气的男孩子：技术这方面歧视女性特别的严重！甚至我专业课老师都承认这一点<br/>勤快小王2014018：女孩子一样拥有无限可能！<br/>希望不要丧啦：我朋友是bi工程师，之前跟我说过大家都不把重要的活给她，直到实在忙不过来了<br/></p></li><li><p><label>发布日期:3月9日</label><p><label>发布时间:18:09</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K5pAIemEB?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国的投资机构正在促使各大公司增加董事会的种族和性别多样性。

这家投资机构用指示色表示公司董事会的多样性程度。比如，当公司董事会女性少于30%时，投资机构会用红色标识，提醒投资者。

这家投资机构还将关注董事会的少数族裔比例。拒绝公开信息的公司将被黄色警告。目前在英国100家指数公司中，四分之三的公司不公开董事会的少数族裔比例。

同时被监督的是在疫情期间曾获政府或投资者资金支持的公司，以及政府持股的公司。他们在本财政年度如果出现分红，也将被警告标识。

▲ 标识多样性指标，给投资者更多选择</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:1.7万</label><p><label>转发:2</label><p><label>评论:1</label><p><label>点赞:33</label><p><label>:宴云溪：做实事了
</label></li><li><p><label>发布日期:3月11日</label><p><label>发布时间:17:05</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K5I1PFqX4?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:“在性别平等程度高的国家，有更多女性自主选择非理工科：这证明女性天生不喜欢理工科”——真的是这样吗？

2018年2月，一篇心理学论文在对比了全球近70个国家的世界经济论坛性别平等指数（GGGI）和青少年教育数据后得出结论：在性别平等程度高的北欧等国，女生在理工科上的成绩和态度与男生的差距，反而大于性别平等程度低的国家。

两名论文作者，英国利兹贝克特大学的Stoet和美国密苏里大学的Geary由此推断：当生存和竞争压力减小时，女性天生的倾向为非理工学科。他们把这种现象命名为“理工科中的性别平等悖论”。

论文发表后得到了各种保守主义者的推崇。一些以往发表诸如“阳刚男性危机”，“黑命攸关是谣言”，“有毒的女性气质”等等话题的自媒体大量转发论文结论。“理工科中女性的缺失，恰恰证明了平权运动的胜利。”他们说。这一说法因此得到了广泛流传，经常被用来反对自然科学和技术行业中促进性别平等的政策。

于此同时，论文也引发了学界的各种质疑。科学家们纷纷表示，用论文提供的公开数据源，没有人能够重现论文的结果。哈佛大学研究员Richardson说，“他们故意筛选了数据，还使用了可疑的计算方式，用来捏造事实。”

2019年，在其他科学家的强烈要求下，论文原作者追加发表了超过1100字的勘误，甚至不得不大幅改变结论的修辞。第二版论文发表后，Richardson和她的团队也发文回应，指出了前后两版论文中的严重问题。

比如，在对大学理工科男女学生的毕业比例进行计算时，论文作者在第一版论文中故意误导读者，让读者认为他们使用的是理工科男女毕业人数比例。但在哈佛、麻省理工等大学科学家的反复质疑下，在第二版中，作者终于承认他们实际使用的是一种自创的计算比例的方式。

Richardson在她的回应中用实际数据证明，这种自创计算方式的唯一作用，是扭曲原始数据，使经过加工后的数据恰好与GGGI呈现出相关性。事实上，当Richardson使用了其他直接代表理工科性别平等的指数时，相关性完全消失了。

另外在论文中，高中男女学生的成绩也与GGGI没有相关性。比如，各国女生在自然科学的得分与本国男生相比有高有低，比例相当，且并无规律。但论文作者在这里也将成绩指标换算成了一种非常规的“个人倾向性”指标。

例如，当男生在“阅读能力”，“自然科学”和“数学”三项的平均成绩全部落后于女生时，论文作者将男生落后女生最少的一门学科标记为男生的“优势倾向学科”，并由此得到了“男生的优势倾向学科为自然科学或数学的比例，远远大于女生”，以及与GGGI有相关性的结论。

而显而易见的结论原本应该是：“男女生在自然科学成绩上没有显著差异，但男生的阅读能力明显低于女生。”建议作者把论文结论改成：虽然理工科适合所有人，但是男性不适合任何涉及阅读的工作。

▲ 有女科学家，才有学术界的话语权</label><p><label>来源:心理科学期刊</label><p><label>翻译:小庄</label><p><label>阅读量:4.2万</label><p><label>转发:40</label><p><label>评论:5</label><p><label>点赞:178</label><p><label>:正版霜晚：哪个女生没在高中的时候被说过学不过男生呢 即使那个女生考过第一
昕雨星愿szd：女生干啥啥行，脑子好使，基因就是比某些矮短小的强多了
2024-2043：各国男权真是五十步和百步的区别啊
soviet1991求猫头鹰健康：强行挽尊真的好么？
</label></li><li><p><label>发布日期:3月16日</label><p><label>发布时间:17:11</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K6tcx4cBt?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:#经典案例回顾# 2012年ANI CHOPOURIAN诉西部天主教医院案

案件背景：

Ani Chopourian是西部天主教医疗机构旗下的Mercy全科医院的一名心脏外科医生助理。2012年，45岁的Ani赢得了当时全美个人赔偿金额最大的职场性骚扰案（赔偿金额见文末）。

Ani于2006至2008年在西部天主教Mercy医院心脏外科部门工作期间频繁受到本科室的男外科医生、男护工和其他男工作人员（清洁工和维修工）的性骚扰。另有目击者证实该院心脏外科部门的性骚扰现象较为普遍，主管不作为，纵容医护人员对同事实施性骚扰。

在Ani工作期间，她以书面的形式向医院投诉共18次，内容主要涉及病患安全、职场性骚扰，以及工作时间和餐食不符合医院管理条例等。她的最近一次投诉是在2008年7月31日的那一天，一个星期后她被医院以“旷工”为由从心脏外科部门辞退。此后Ani仍在该院的妇科肿瘤部门工作，直到几个月后Mercy医院吊销了她在本医院的行医特权，并故意影响她在其他医院的行医特权。Ani毕业于UCLA和耶鲁大学，在本案开庭审理前已经失业两年半。（来源：ABC）

关于1964美国民权法案第VII章（与本案相关部分）：

1964美国民权法案第VII章对雇佣关系作出具体规范。雇主不得因种族、肤色、信仰、性别或国籍原因而歧视雇员，造成不利于雇员的后果，包括恶意减少收入、限制工作条件和雇佣特权以及无正当理由解聘。雇主不得以种族、肤色、信仰、性别或国籍为由对雇员进行分类、限制或隔离，使雇员失去雇佣机会或造成不利于雇员的其他影响。雇主不得因雇员依民权法案第VII章的内容起诉雇主或协助司法调查而歧视雇员。（来源：eeoc.gov）

案件审理结果：

本案于2009年交予加利福尼亚东部地方法院法官Kimberly Mueller，于2012年4月判决。

A.陪审团审理：

2012年2月24日，陪审团休庭讨论原告根据人权法第七章的指控——1.对原告有敌意的工作环境，和2.由于性骚扰指控而针对原告的报复行动；以及原告的其他指控——3.违反公共政策的辞退，4.由于投诉病患存在人身安全隐患而针对原告的报复性辞退，5.故意影响原告经济优势造成的经济损失，6.对原告进行诽谤（defamation），以及7.未对原告提供休息时间和餐食。法庭要求陪审团考虑不同指控可能造成的赔偿金额的差别，“如果原告的多项指控都造成了同一种损失，她在每种损失下可以获得一次赔偿。”

2012年2月28日，陪审团要求原告提供在第2-5项的情形下所造成的实际经济损失的证明，尤其向原告询问是否愿意接受赔偿金总额按比例分配，或者平均分配。在讨论后，法庭作出回复：原告经济损失赔偿可以基于被告报复而造成的合同终止，或被告对原告的新雇佣关系的故意影响。

“如果你基于第2项指控，要求针对合同终止做出经济损失补偿，相同数额的补偿也将适用于第3和第4项指控；如果你基于第2项指控，要求针对新雇佣关系的故意影响做出经济损失补偿，相同数额的补偿也将适用于第5项指控。基于这种理解，（陪审团）应当为每项指控建议经济补偿数额，法庭将随后做出调整，确保原告在每种损失下只获得一次补偿。”

2012年4月29日，陪审团做出了如下判决：

指控1：对原告有敌意的工作环境（人权法案VII章）：非经济损失：1000万美元。惩罚性赔偿：3125万美元。

指控2：报复（人权法案VII章）：由于合同终止造成的过去的收入损失：54.936万美元。由于合同终止造成的未来的收入损失：318.1128万美元。由于故意影响/否认医生专业特权造成的过去的收入损失：54.936万美元。由于故意影响/否认医生专业特权造成的未来的收入损失：318.1128万美元。非经济损失：500万美元。惩罚性赔偿：625万美元。

指控3：违反公共政策的辞退：过去的收入损失：54.936万美元。未来的收入损失：318.1128万美元。非经济损失：800万美元。惩罚性赔偿：3125万美元。

指控4：由于原告投诉病患有人身安全隐患而针对原告的报复性辞退：过去的收入损失：54.936万美元。未来的收入损失：318.1128万美元。非经济损失：200万美元。惩罚性赔偿：3125万美元。

指控5：故意影响造成的经济损失:过去的收入损失：54.936万美元。未来的收入损失：318.1128万美元。非经济损失：800万美元。惩罚性赔偿：625万美元。

指控6：诽谤：损失：600万美元。惩罚性赔偿：1875万美元。

指控7：休息时间和餐食：368个工作日未能提供不间断的用餐时间。200个工作日未能提供休息时间。

B.关于判决书的讨论

双方都认可了判决内容，并提供了争议解决方案。

双方同意，指控1和2的判决中的损失总额应当合并，且上限为30万美元。双方同意原告应从第3-5项指控中获得一次性经济损失赔偿的金额为373.0488万美元偿（包含54.936万美元过去收入损失以及318.1128万美元未来收入损失）。双方同意原告在第7项指控中获得32716.8美元的补偿，以及17280美元惩罚性赔偿（30个工作日薪酬）。双方未能对第3-5项指控中的共2400万美元非经济损失赔偿达成一致，也未能对3-5项指控中的共8750万美元惩罚性赔偿达成一致。被告认为，这两项金额应分别为800万美元和3125万美元。

C.分析

在判决确认中，法庭遵守两个原则：惩罚与判决相符，但原告每种损失只能获得一次赔偿。

基于以下原因，法庭未完全采纳任何一方的争议解决方案。

原告认为陪审团对第3-6项每一项指控分别做出了判断，法庭应遵守陪审团的判断。被告认为，第3项指控包含了第四项指控，而第5项指控包含了第6项指控。

法庭认为，第3项和第4项指控源于同一个原因，即原告被解雇。虽然损失来源于不同指控，但原告只能获得一次赔偿。第3和第4项指控共800万美元。

法庭认为，被告捆绑第5和第6项指控的原因没有说服力。第6项诽谤指控中，原告理应由于职业声誉受损以及产生精神压力（包括羞耻，精神痛苦，以及屈辱）而获得相应赔偿。陪审团的判决基于被告关于原告的虚假负面通报，造成虚假信息在其他员工中间传播，被上交行医特权委员会，以及被传播给原告的其他雇主。而在第5项指控中，被告散播的关于原告的虚假信息（包括声称原告被辞退的原因为非法获取病患医疗信息）仅提供给了招聘和职业服务中心（RAS）。因此第5项和第6项指控可以视为两项单独的损失，两项指控的重合性并不明显。原告可以分别获得陪审团建议的赔偿金额，共1400万美元。

被告认为，考虑到所有指控的重复性，惩罚性赔偿应为一次性赔偿。惩罚性赔偿的出发点并不是赔偿原告，而是惩罚被告，使被告和其他人今后不再犯同样的错误。法庭认为，由于第3和第4项涉及解聘的指控都来源于被告对公共政策的违反，可以合并这两项的惩罚性赔偿金额，总额为3125万美元。但根据前面解释的原因，第5和第6项指控没有重合，原告将分别获得625万美元和1875万美元的惩罚性赔偿。

最终判决：原告获得：

民权法案第VII章（第1-2项指控）：30万美元
经济损失（第3-5项指控）：373.0488万美元
非经济损失（第3-6项指控）：2200万美元
惩罚性补偿（第3-6项指控）：5625万美元
餐食和休息时间的工资补偿（第7项指控）：32716.8美元
30日工资补偿（第7项指控）：17280美元

总计8233万美元。

△让纵容性骚扰的公司付出代价</label><p><label>来源:govinfo.gov</label><p><label>翻译:小庄，小安的好姬友</label><p><label>阅读量:2.7万</label><p><label>转发:4</label><p><label>评论:5</label><p><label>点赞:15</label><p><label>:红cha玛奇朵_三分糖：赏🌕🌕🌕
今年要继续减肥呢：月亮真圆
托泥酱：能告赢教会的还真的不多
</label></li><li><p><label>发布日期:3月19日</label><p><label>发布时间:20:38</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K6WQ6mp59?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:卫报编辑Jenny Stevens曾深受厌食症困扰。在她的自述中，Jenny详细描述了她在英国试图获得医疗帮助但困难重重的经历。

在一次由于厌食引起的昏迷后，Jenny去看了全科医生。这时距离她开始出现交替厌食和暴食症状还有很长时间。尽管她的体征和行为已经完全超出了神经性厌食症的确诊标准，她的医生甚至没往厌食症的方向做检查。

在持续观察她的身体状况不断恶化了两年以后，她的全科医生终于将她转给了当地负责精神疾病的一个医疗团队。而她又花了6个月时间才挂上号。

此后每隔几个月时间，她会接受一些心理测试，而医生的记录不外乎“病人今天穿了鞋和外套，和天气相符”，“病人有阶段性的流眼泪”，等等。他们的诊断包括躁郁症，边缘人格障碍，精神分裂症，暴食症等等，没有一个是准确的。最后她终于在一个医生那里得到了神经性厌食症的诊断，但确诊后又等了8个月才得到门诊治疗的机会。

此时由于搬家，Jenny被转到这家医院的另一个分院继续治疗。但是由于英国医疗服务NHS的转院流程问题，她不得不重新排队，重新获得确诊。在这期间，她必须对不同的男医生重复自己的病情，争取获得诊断。她感觉“更像面试工作，而不是获取医疗帮助”，她说，“我必须表现得足够疯，足够瘦。”

她被安排了一个男社区医疗协调员Paul。这个男人对她说，“你的身材真好”。她想换个协调员，但申请被拒绝了。她被分配给一个心理学男医生，这个男医生对她说，“我认识你们这种女人，你们什么都想要。你想要好工作，又想要身材苗条。但是你没法什么都拥有。”

最后他在病历上写的结论是：病人不需要被转到精神疾病专科医院接受治疗，因为医院的服务是“给病情更严重的病人保留的”。此时Jenny已经有自杀倾向。

而Jenny只拿到了一个精神疾病热线电话。当她打过去的时候，电话里只有一个自动回复，反复说他们人手不够，无法应答。

Jenny开始感到自杀倾向时，她天天给她的协调员Paul打电话寻求帮助，但Paul从来不接听。当最后他终于接听时，听到Jenny说自己由于自杀倾向而不敢出门，Paul回答他不想听这个然后挂断了电话。Jenny开始摔厨房里的餐具，直到邻居叫了警察。三个星期后，她的房东终止了她的租房合同。

就在这时，Jenny因为记错了和男医生约定的时间而阴差阳错遇到了一位女心理医生。这位值班女医生立刻触发了“病患护理质量警报”，投诉NHS系统性失职，让Jenny立刻停止工作，并且安排了和Jenny的每周见面，直到她能获得医院的门诊资源。

这个过程又持续了9个月，Jenny才终于来到了精神疾病专科医院的厌食症部门。她的第一次门诊得到了极高优先级：她获得医院门诊机会前的等待时间太长了，以至于护士一开始以为她病历上的日期是个打印错误。

在这间专科医院，Jenny被指派的女心理医生在她进门以前已经对她的病情有过详细的了解。在这里，Jenny才终于得到了专业治疗。

厌食症和暴食症在医学研究中一直带有“女性特有”的标签，对于神经性厌食症的群体医学研究也非常少见。一些欧洲国家的调查表明，神经性厌食症在全体女性中的发病率约为每十万人每年7-8例，是男性发病率的8倍。

由于文化等原因，年轻女性是厌食症高危群体。芬兰曾对社区15-19岁女性做过调查，发现需要医疗介入的神经性厌食症发病率高达每年千分之三，广谱厌食症在这个人群中的发病率高达每年千分之五至十二。

于此相对，神经性厌食症的死亡率惊人，是所有精神疾病中死亡率最高的一类，达到每年每千名患者中有高于5例死亡，其中20%死于自杀。瑞典的长期跟踪调查表明，厌食症的针对性治疗可以将死亡率降低3倍以上。

在英国，能够对厌食症采取针对性治疗的医疗机构奇缺。虽然它们的介入非常有效，成本也比传统治疗方式低，但仍然仅有30%的公立医疗保险包含这些专科医院。

▲ 因为性别标签而造成的女性为主的疾病，又因为性别标签而被忽视</label><p><label>来源:卫报，NIH</label><p><label>翻译:小庄</label><p><label>阅读量:3.6万</label><p><label>转发:16</label><p><label>评论:3</label><p><label>点赞:51</label><p><label>:ysx想要珍惜生命：唉 看得我好气 幸亏还有个明白的女医生
打拳击爱好者：看哭了
吃年糕的校尉：看来国外环境也不好，得全世界共同努力啊！
</label></li><li><p><label>发布日期:3月24日</label><p><label>发布时间:02:47</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K7AXRhLFd?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:在澳大利亚一名前议员助理Higgins爆料她在办公室被男同事性侵后，一名政府内部男工作人员决定曝光男议员助理们在议会大厦性骚扰、嫖娼、录制和传播色情视频的行为。

这名吹哨人曾经是议会工作人员，在工作群中经常收到大量男同事们传播的视频和照片。这些视频和照片拍摄于议会办公区，内容涉及男助理在祈祷室的嫖娼视频，在女议员办公桌上的自慰视频等等。

在他将视频和照片泄露给媒体时，本届澳大利亚政府正因对政界性骚扰和性别歧视无所作为而受到公众批评。澳大利亚总理Morrison的几次应对都缺乏诚意，包括指责受害者，以及拒绝公开回应抗议者。

截止今天，有一名男高级议员助理由于此次事件被解雇。

▲ 男助理也可以物化女老板，性别权力关系超越了职位权力关系</label><p><label>来源:BBC</label><p><label>翻译:小庄</label><p><label>阅读量:6万</label><p><label>转发:26</label><p><label>评论:3</label><p><label>点赞:126</label><p><label>:藏狐眼眯：他们会想尽一切办法把女性驱逐出权力的圈子
人如其名的阿若：早就'祝福过莫里森司马了
大儒果然多：那个被解雇的估计是替罪羊，真正位高权重的动不了
</label></li><li><p><label>发布日期:3月26日</label><p><label>发布时间:19:21</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K80kxwnzD?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:美国自由软件基金会（FSF）创始人之一，前主席Richard Stallman，2019年由于在性侵、性别暴力、儿童性交易问题上的不当言论，以及二十年职业生涯中的性别歧视行为而被FSF从管理层除名。但几天前，Stallman发表声明，他应邀回归FSF管理层，“我这次不会再辞职了。”

Stallman曾为MIT教授，并在1985年成立了FSF，旨在推广不受资本垄断的软件。2019年9月，MIT学生和教师组织了抗议活动，反对MIT对爱泼斯坦的捐款。作为回应，Stallman向MIT计算机系群发邮件，公开支持在爱泼斯坦儿童性交易案件中涉嫌性侵未成年的MIT教授Marvin Minsky。

Stallman在邮件中写道，人工智能先驱Minsky被指控“性侵害”是不公平的，夸大了Minsky与爱泼斯坦手下一名未成年女性的性行为。Stallman认为不存在“侵害”，因为Minsky在性行为中并未使用强制暴力手段。Stallman进一步假设，最可能的情况是，这名未成年女性“将自己完全自愿地送给了Minsky。”

Stallman对儿童性交易的公开支持态度由来已久。2018年，他就曾维护无政府主义者Cody Wilson购买儿童性服务的行为，“儿童对成年人有性吸引力，是正常的，”Stallman说。

而Stallman的公开厌女言论和黄色笑话更是历史悠久。在几乎所有他主持的技术会议中，Stallman都会在台上重复他首创的“破处”笑话：笑话中将不会使用他参与开发的代码文本编辑器的女性比喻为“处女”，呼吁男性指导女性使用技术（“破处”），并在台上故意将全场目光引到在场的某位女性身上。

Stallman在MIT的办公室地板上有一个床垫，他多年来一直以此对本科女生做出性暗示。他还拒绝承认有女性参与开源软件开发，但随即被指出，FSF一个主要项目的第一负责人是女性，而Stallman仅被列为“共同开发者”。他还曾称唐氏综合征病人为宠物，认为这些人不配活着。

2019年，在他公开表示支持Minsky后，FSF社区终于对FSF和MIT施加压力，最终迫使Stallman从FSF管理层和MIT辞职。但现在他高调宣称永久回归FSF管理层，也获得了FSF社区近两千名男性的理解和支持。参与投票的FSF管理层成员，Kat Walsh女士说，“我强烈反对FSF重新聘请Stallman的决定。”她在投票后选择辞职以表示抗议。

其他开源社区也对FSF社区表达了不满。这些社区发表了公开信，要求FSF替换整个管理层。在10年以前，FSF是唯一代表免费软件的社区。但在今天，开源软件已成为主流，FSF的管理层正由于脱离现实的决策方式而逐渐失去它的影响力。

▲ 计算机行业的厌女文化严重</label><p><label>来源:计算机软件各开源社区</label><p><label>翻译:小庄</label><p><label>阅读量:2.6万</label><p><label>转发:12</label><p><label>评论:1</label><p><label>点赞:34</label><p><label>:蓝色的星空：
</label></li><li><p><label>发布日期:3月31日</label><p><label>发布时间:18:35</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/K8Lakds7B?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国“少女号”帆船是一艘18米长的竞赛船。1989年，她作为第一艘由全女性船员操控的帆船参加了环球帆船赛，在近6个月的航行中取得了同类型帆船第二名的成绩，并赢得了6段赛程中的两段冠军。少女号的这一壮举完全改变了人们对女性参与航海的偏见。在少女号之后，几乎每次环球帆船赛事中都有全女性队伍参与。

Whitbread环球帆船赛是帆船运动中的顶级赛事。这项赛事始于1973年，每四年举办一次，每次比赛都环球一圈，历时约半年，有几百万观众观看比赛。由于赛程超长且不乏危险赛段，这项赛事对运动员的心理，体力，航行和导航技术都是巨大挑战。在1989年以前，人们一直认为女性不可能胜任这项赛事中的船长或导航员工作，女性队伍不可能独立完赛。

在1985年的环球帆船赛中，230名参赛运动员里仅有4名女性，其中包括Tracy Edwards，而她参赛的身份是：船上的厨子。即使如此，Tracy的加入还遭到了船长的反对。

“我做的饭很难吃，”Tracy说，“但我是个非常优秀的导航员。我意识到没人会雇我导航，除非我自己组队。”

1986年，Tracy决定组建自己的全女性队伍。这时，后知后觉的Tracy才感受到了社会强烈的厌女情绪和性别歧视。“在此之前，从来没人告诉我我不行，因为我总待在适合我的地方——厨房里。”Tracy接受采访时，翻着白眼说，“是强烈的敌意让我开始思考：‘发生了什么？？’”

此时的航海界流传着关于女性的笑话：女性不是用来航行的，是入港后的奖品。Tracy的全女性队伍虽然得到了英国媒体的报道，但人们只愿意猎奇，却不愿意提供任何支持。

1987年，由于筹集不到赞助，Tracy抵押了自己的房产，堪堪买下了当时几乎老成一堆废铜烂铁的少女号。在少女号被放下水时，她几乎沉没，女孩子们拼命抢救才将船开入了船坞。

没有赞助，少女号的重建只能靠Tracy招募的十几名女性帆船运动员自己。一群年轻女孩手拿大锤和电锯在船坞中工作的情景，在当时的英国闻所未闻。在6个月的时间里，她们拆掉了旧船，重新设计并完全重建了新船。“所以我们对少女号了如指掌：每一寸电缆，每一个软管。”Tracy说。后来的事实证明，当她们在海上遇到了紧急情况时，正因为她们对帆船的了解，才化险为夷。

他们说，你们得不到帆船。她们就自己建了一艘。他们又说，你们得不到赛事赞助。她们就去找约旦国王要到了钱。他们说，你们根本到不了乌拉圭（环球帆船赛的第一站），结果她们以第三名驶入了港口，Tracy兼任船长和导航员。

“但我们越成功，对我们的无视或攻击就越严重。”Tracy说，“在故意无视和攻击以外，几乎没有其他反应。”

在乌拉圭，男运动员们一致认为少女号会就地解散。因为当年赛事的第二程将在南海航行近一万两千公里，时间超过一个月。南海天气不稳定，航线上的气温低至零下30度，还有9天时间帆船会完全失去卫星导航信号。1989年，另一艘参赛帆船上的两名选手落水，仅几分钟时间就造成了其中一人死亡。

但出乎所有人的预料，少女号从乌拉圭出发，克服了重重困难，以领先第二名整整24小时的成绩率先驶入了澳大利亚珀斯港口，获得了英国参赛帆船十二年以来的第一个分段冠军。

即便如此，人们对少女号获得冠军的认知还停留在，“她们只是运气好。”媒体采访女运动员的问题不外乎，“你男朋友怎么想”，“你们女孩子住一起有没有扯头花”，等等，却不像采访男运动员一样，问及复杂的导航和技术问题。这时，Tracy开始认同自己是一个女权主义者。“在乌拉圭的采访里，我还在竭力否认自己是女权主义者。”Tracy说，“但到了澳大利亚，我开始说，对我就是（女权主义者），因为我认同性别平等。”

此后的第三程中，少女号结结实实地证明了自己的实力。这是赛事中最短但技术要求最高的一程，各队的成绩差别几乎只在分秒之间。水手号全程都紧咬前方的法国帆船，直到夜幕降临，她们在一片漆黑中驶入了奥克兰港口，在深夜1点受到了超过一万四千现场观众的欢呼。这时她们才发现，少女号成功反超，又获得了冠军。

随后的赛程中，少女号由于人员伤病，船舱进水，以及对天气的判断失误，失去了领先优势，最后获得了赛事的亚军。

当年的冠军，法国自由精神号的船员回忆，当他们率先驶入南安普敦港时，港口有成千上万的观众，但他们几乎不怎么在意自由精神号。“他们都在等少女号，没人在乎我们。”他在采访中笑道。

而后面不远处的少女号船员们正因落败而情绪低落时，她们发现有一艘渔船悄悄跟在了后面。然后又是一艘。很快变成了无数大小船只跟随着少女号欢呼，迎接她们回家的盛况。

Tracy成为了当年的“游艇先生”（很遗憾英语yachtsman指代所有），并获得了大英帝国勋章。此后Tracy一直致力于推广帆船运动，甚至在2005年由于组织赛事出现赞助人爽约而倾家荡产。直到今天，Tracy还在为儿童权益工作。她回购了已经报废的少女号，再次重建后于2019年开始了新的环球航行，为女童教育筹款。

▲ 来自他们的攻击越猛烈，说明她们越成功</label><p><label>来源:themaidenfactor.org, smh.com.au</label><p><label>翻译:小庄</label><p><label>阅读量:1.9万</label><p><label>转发:20</label><p><label>评论:3</label><p><label>点赞:61</label><p><label>:就业性别歧视监察大队：test
就业性别歧视监察大队：乘风破浪的人生👏
Annie-Gabrielle：Women are born strong
</label></li></ol></body></html>