<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202104微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年04月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:4月9日</label><p><label>发布时间:16:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ka75ShuWx?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:伦敦国王学院最近的一项问卷调查表明，英国人对本国性别不平等的现状严重无视，无视程度与中国相当，在西方国家垫底。

就在不久前，英国由于有男警察绑架和杀害女性，以及政府此后的处理，引发了大规模的抗议。在此背景下，这份问卷却表明，英国人十分不了解女性面对的风险。仅有23%的英国人认为性别平等是重要议题。

这种态度在欧洲国家中绝无仅有。在调查的28个国家中，英国和匈牙利对性别不平等的态度在西方国家中垫底，与日本、中国等国处于同等水平。

考虑到英国人在同一份问卷调查中对种族不平等和阶级不平等所表现出的明显高于欧洲平均的敏感度，英国人对性别不平等的无视显得尤其刺眼。

这种现象可以归因于一种文化偏见：过于强调保护弱势群体的立法作用，从而认为他们实际经历的痛苦不值一提。比如当同性婚姻变为合法后，曾有记者如此报道：“对于弱势群体来说，最难的一件事就是承认自己已经不弱势了。”对这名记者来说，“社会发展趋势是好的”就足够了，而同性恋出柜带来的巨大风险，包括被社会排挤，暴力，以及高自杀率，都不及“好的发展趋势”更重要。

这种“社会发展趋势”论，是女性经常要面对的一种说法。作为里程碑的反性别歧视立法在英国已经达成，包括平等薪酬以及产假政策。甚至有很多人认为，多样化目标已经造成了反向歧视。但现在这些进步正在变成一种自负。

一年的新冠疫情将更多女性甩出了劳动力市场，令她们承担不成比例的无偿劳动，整个国家正在陷入后疫情时期的性别不平等危机，而人们却对此漠不关心。

我们应该正视我们所谓的进步的脆弱性：一旦压力增加，性别不平等就被暴露了出来。比如在体育界，疫情中首先禁止了女运动员的赛事和训练，造成女运动员的收入断崖式下跌。

另一个造成这种无视态度的原因，在于英国人对于本国相对于其他国家的进步程度非常自负。在2014年，联合国工作组曾批评英国的“老男孩俱乐部性文化”兴盛，发言人认为在英国“对女人和女孩的性化和物化更加明显”。

英国人不但没有反省，反而感觉受到了侮辱，甚至有部长质问，“为什么联合国不去看看女人不能开车，也没有产假的国家？”

这份问卷调查中，西班牙、法国、比利时、瑞典等国不仅在性别平等程度上排名靠前，而且仍保持了对性别不平等的超高敏感度。另一些国家，比如土耳其、印度和韩国，虽然性别平等排名靠后，但民众对性别不平等的敏感度却很高。

其他对性别不平等的敏感度垫底的国家包括：沙特阿拉伯，新加坡，俄罗斯，和马来西亚。

▲ 有些同学由于成绩好而自负，有些同学成绩不好也很自负</label><p><label>来源:卫报，伦敦国王学院</label><p><label>翻译:小庄</label><p><label>阅读量:7.9万</label><p><label>转发:100</label><p><label>评论:21</label><p><label>点赞:395</label><p>评论内容:<br/>凉-风铃：看男同流行度基本可以看出女性地位了<br/>月下分行似度云：真的要像韩国女权学下<br/>黑黑芝士喵：唉，女权的崩溃只在一瞬间<br/>咻咻咻咻hugh：牛掰。<br/>丨耆童丨：能让带JB跨子去女监服刑继而强奸女犯人的国家能是什么好东西<br/>喜东东昸：哪里都一样<br/>雪球十六：请问能发一下完整榜单吗？谢谢！@就业性别歧视监察大队<br/></p></li><li><p><label>发布日期:4月12日</label><p><label>发布时间:14:34</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KayIkiais?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:最近澳大利亚政界的性侵丑闻，用权力掩盖事实，以及视频曝光的内部老男孩俱乐部性文化，引起了大规模抗议。O就业性别歧视监察大队

在政界，男性和女性有完全不同的双重标准。当男性从政者即使被控有违法行为也仍然明目张胆时，女性从政者却不得不面对严苛的道德规训。她们由于惧怕任何私人经历被男性竞争者拿来当作武器，而经常选择放弃从政，或任何公众职业。

众所周知，大学校园往往是厌女文化和行为最严重的地方。也是在这里，男性首次接触政界，尝到权力的甜头，而女性被完全排除在外。比如Purcell，目前就值于议会，曾在大学期间被暴露隐私照片，精神受到严重打击。但现在她决定作为参政者，公开讨论自己的经历。

她说，更多新一代的澳大利亚女性正在试图冲破这一文化禁锢。她们活跃参与政治，勇敢讨论自己的亲身经历，传播“女人私生活不可耻，恶意暴露女人隐私和人身攻击才可耻”的观念。

▲ 男性惯用私德攻击女性，将女性排斥在特定职业之外</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:6.7万</label><p><label>转发:28</label><p><label>评论:3</label><p><label>点赞:78</label><p>评论内容:<br/>水泽容丽：奇了怪了，海外的华人女性就不是同胞，就没人关注吗<br/></p></li><li><p><label>发布日期:4月13日</label><p><label>发布时间:19:59</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KaKgCE7Ku?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:土耳其</label><p><label>内容:本月6日，在土耳其首都安卡拉，土耳其总统埃尔多安与欧盟的两位领导人进行了会谈，但会场内却并未给欧盟委员会主席冯德莱恩准备椅子。

根据会场公开的视频显示，冯德莱恩难以置信的摊了摊手，坐到了一旁的沙发上。而她对面的沙发上坐着的则是职级低一等级的土耳其外长，这样的安排并不符合外交礼仪。

土耳其在3月才刚宣布退出防止暴力侵害妇女的《伊斯坦布尔公约》，这个时间点上，不给女性领导人安排椅子的做法引起广泛批评，被认为是女性歧视。

会谈结束后，冯德莱恩并没有直接提起这一事件，但她表示对土耳其妇女权利方面的问题有担忧。

🔺无处不在的区别对待。

（来源：雅虎日本；翻译：小安） 2日本·东京</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:6.4万</label><p><label>转发:19</label><p><label>评论:29</label><p><label>点赞:168</label><p>评论内容:<br/>一只好吃的五仁月饼：可别去什么浪漫的土耳其啦<br/>太阳花与白水晶2：我寻思这不是外交事故？这都能扯到打拳？<br/>ysx想要珍惜生命：wtf……<br/>在冷冽谷中翻滚：狗国土耳其。<br/>黑黑芝士喵：过分<br/>荣耀积分：你怎么在日本东京啊<br/></p></li><li><p><label>发布日期:4月14日</label><p><label>发布时间:15:22</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KaRSQ4QiD?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:有智库指出，澳大利亚执政保守党想达到50%的女性议员占比，可能还需要几十年。

前不久，澳大利亚保守党内部对于是否应当实行女性议员最低比例，发生了分歧。虽然保守党曾许诺2025年达到议员性别平衡，但事实上目前保守党仅有25%的女性议员。在过去长达5年中，保守党的女性议员比例仅增加了3%。

作为对比，左翼工党早在1994年就开始实施35%的女性议员最低比例。至2002年，工党已经有48%的议员为女性。

▲ 女性从政困难重重</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:4.2万</label><p><label>转发:2</label><p><label>评论:6</label><p><label>点赞:45</label><p>评论内容:<br/>在冷冽谷中翻滚：从来就没人觉得男领导比例太高，即使他们除了吹嘘，一无是处。<br/></p></li><li><p><label>发布日期:4月16日</label><p><label>发布时间:15:30</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KbaN4EnYP?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:一家智库的调查表明，澳大利亚各种减税政策带来的财政优势，超过三分之二用来补贴了男性。尤其在养老金一项，政府减税预算中有72%补贴了男性，是女性的2.5倍。

另外，通过投资而避税的“负扣税”机制也有70%补贴了男性。在金融资产增值税减免一项，男性获得了61%的优惠。

这项报告指出，男性负担了约65%的个人所得税，但获得了70%的优惠。“即使把收入因素考虑在内，他们获得的减税优惠也不成比例地高。对女性来说则正相反：他们负担35%的所得税，但只获得了30%的优惠。”

报告认为，尤其在养老金的减税政策上，养老金较少的群体反而被惩罚，是非常不合理的。

报告发现，四项主要减税政策实际是穷人在补贴富人：41%的优惠补贴了个人资产最高的10%。在股息收入已缴税金返款一项，83%的优惠补贴了家庭资产最高的20%。

而这一高收入人群对政治的影响巨大。当2019年工党试图改变减税政策时，保守党Morrison当选。

但这些减税政策造成了更严重的收入和性别不平等。减税的巨额成本本可用于增加公共的儿童托管，危机应对，以及缓解老年贫困。

▲ 收入不平等的最大受害者也是女性群体</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:5.2万</label><p><label>转发:19</label><p><label>评论:7</label><p><label>点赞:98</label><p>评论内容:<br/>倔强废孔：大队可以发一下来源吗，想看看具体的，写论文可以用到，谢谢大队<br/>比邻星上的幻想：从男权世界做到平等对待，思想层面得是有多大的跨越，且不说男性如何，自家的母亲身为女性依然重男轻女。任重而道远啊……<br/>禾野翎：在中国，靠家庭这种形式吸女性血的事情还少吗<br/>哼哼哼啊啊啊啊啊啊啊啊啊啊啊：据一家智库调查，美国的传染病防治水平世界第一。。。。<br/>红泥小火炉煮茶：男权世界爱男给男人更多优惠补贴是基本款。<br/></p></li><li><p><label>发布日期:4月20日</label><p><label>发布时间:15:09</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KbMmzumjB?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:巴基斯坦</label><p><label>内容:当巴基斯坦的男性性侵女性案件不断上升时，巴基斯坦总理Khan却公开声称，这是由于“女性穿着太暴露”。他建议女性增加对身体的遮挡，以减少诱惑。“社会中的性侵案件正在快速上升，”他在电视采访中说，“深闺制度的核心，就是减少（对男性的）诱惑。并不是每一个（男）人都有足够的精神力防止（自己性侵女性）。”

“深闺制度”既指穿衣方式，也指性别隔离。

采访播出后，几百人参与了网上署名和线下抗议的方式表达不满。

巴基斯坦是世界上性别歧视最严重的地区之一。性侵受害者常常被视为“家族的耻辱”而遭到暴力和排挤，而性侵加害者却逍遥法外。

去年，一位法国籍的单身女性在车辆故障停在路边等待救援时，在2个孩子面前被多名男性打破车窗，拖拽出汽车并多次殴打和性侵。但警方调查员Sheikh却对媒体声称，女性天黑后本来就不该在没有男性的陪同下独自出行，而受害者本应选择更安全的道路，“她误以为巴基斯坦社会和法国一样安全”，Sheikh说。

这起案件也引发了全国范围的抗议活动。

▲ 自己龌龊，却赖别人引诱</label><p><label>来源:卫报</label><p><label>翻译:小庄</label><p><label>阅读量:5.2万</label><p><label>转发:28</label><p><label>评论:38</label><p><label>点赞:418</label><p>评论内容:<br/>做一条咸鱼儿：为巴基斯坦的男人捐献一把剪刀<br/>寄永盛之春予你：既然男性没有精神力抵抗诱惑，那就骟了一劳永逸吧<br/>哼哼哼啊啊啊啊啊啊啊啊啊啊啊：女拳怎么这时候不说run去外国了😅😅<br/>虋鬰爨鼅蘵蘧龖：所以他们才是拿境外势力脏钱的虫且，意图瓦解新中国成立以来的妇女解放成就！<br/>土真好吃啊：政府默认只能管的住弱小的女人，他们管不了男的<br/>枋莳：图片评论 ¡评论配图<br/>战神白起：建议你直接去巴基斯坦举旗呼吁，看会不会被穆*林打屎<br/></p></li><li><p><label>发布日期:4月22日</label><p><label>发布时间:16:23</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Kc5Hya0Jq?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国比勒费尔德大学最新增设了“性别相关医学”课程。德国的第一位性别相关医学教授Prigione说，自从新冠疫情以来，男性重症比率远远高于女性，性别医学问题终于引起了公众重视。“我终于不用再解释性别相关医学的重要性了。”她说。

现年43岁的Prigione教授在米兰大学学习医学，之后在加州大学做博士后，然后来到了德国最大的教学医院，柏林夏里特医院工作。2014年，她由于在夏里特医院的防止工作场合性骚扰项目而获得表彰。今年，她成为了比勒费尔德大学的性别相关医学教授。

她指出，在绝大多数德国医学大学中，性别相关医学并非必选项目。但实际上在几乎所有医学分支中，性别的影响都非常大。除了心脏病发作的症状有极大不同以外，其他性别医学差别也存在于：疼痛研究，帕金森和阿兹海默症，肠易激综合征，肿瘤，哮喘，传染病学，等等。虽然性别影响在医学中非常普遍，但很少有人专门研究。

在她曾工作的柏林夏里特医院，性别相关医学已经成为医科生的必修课程。学院整理了大量性别相关医学的文献，这个数据库也将服务其他开设性别相关医学课程的大学。

Prigione教授还提出，医学生学习性别相关课程，意义不止于了解不同的人体构造。最重要的是让学生接受以人为本的观念，在行医中也能注意到社会结构给医学带来的影响。比如她提到，虽然公众认知中，男性在新冠疫情中的死亡率远高于女性；但很少有人知道，在美国，黑人女性的死亡率是白人男性的三倍。

▲ 当男性群体受到影响时，性别相关医学研究的重要性才终于被承认</label><p><label>来源:明镜</label><p><label>翻译:小庄</label><p><label>阅读量:7万</label><p><label>转发:84</label><p><label>评论:32</label><p><label>点赞:555</label><p>评论内容:<br/>啊啊啊啊啥啥啥：不是蠢就是坏，我更倾向于你是坏。。。黑人女和白人男，他怎么不写黑人男和白人男的对比呢？就tm挑性别对立。你是真的坏透了<br/>沉思与Revolution：女性同胞们趁性别医学这个方向火起来，赶紧往里冲啊<br/>渡长夜：男人死的多的时候，医学上的性别差异问题才会被注意到？呵呵<br/>初一伊：好棒(=^^=)<br/>乌无籽_：蒂蒂<br/>蓝田五彩石：“当男性群体受到影响时，性别相关医学研究的重要性才终于被承认”，这个结论很贴切。所以女性应该趁着这波机会，冲进去研究对女性有利的性别差异问题——只有女性会以女本位去研究生物、医学。//@沉思与Revolution:女性同胞们趁性别医学这个方向火起来，赶紧往里冲啊<br/>谨慎的猫男爵：黑人女性比白人男性死亡率高三倍是因为医疗资源的不公正对待吧，和性别相关医学有屁关系，就是夹带私货<br/></p></li><li><p><label>发布日期:4月27日</label><p><label>发布时间:01:11</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KcKRHcifx?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:科普文：自由主义女权，激进女权，社会主义女权，本质主义，后结构主义……这么多女权分支，在对权力的定义上都有什么区别？马克思，波伏娃，福柯，阿伦特……近现代哲学家们都怎么说？

（来源：斯坦福大学；翻译：小庄） °女权主义中的“权”是什么含义？</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:6.4万</label><p><label>转发:76</label><p><label>评论:15</label><p><label>点赞:126</label><p>评论内容:<br/>宫贺新喜：美国不配说女权，先把女性婚后随夫姓改了再来说<br/>肆意放荡的阿蒙：女权在我这就是女性的人权，出生权，平等权，就业权等等<br/>普通用户汤阿菲：🐴㊗️<br/>长安睡醒啦：你这个监察大队是正经大队吗？你的背景图怎么没有一个男的啊？歧视男性是吧？气抖冷男性什么时候能站起来<br/></p></li><li><p><label>发布日期:4月28日</label><p><label>发布时间:15:20</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KcZR7m1EH?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国将成立旨在保证性别平等的“联邦平等基金会”。但基金会由于缺乏独立性，缺少政府拨款，以及在管理层设立了50%的男性最低比例，而遭到了多方质疑。

联邦平等基金会的主要职责包括：发现不平等的领域并提供解决方案；连接和支持平权组织和个人；与公众讨论平等问题。

基金会委员会成员完全由议员和政府相关部门组成，决定权完全掌握在政府手中，而民间NGO组织仅有辅助作用。这种做法不利于基金会的独立性，会使基金会成为服务于执政党的喉舌。

虽然德国联邦议会中的女性议员比例仅有约三分之一，但积极参与性别平等议题的议员当中，以女性为大多数。据此，基金会提出：为保证性别平等，将在基金会的委员会中设立“最低50%的男性比例”。

德国法官联盟表示，仅当用于改善制度性歧视时，设置群体最低比例才是合法的。而男性在这一案例中并没有受到制度性歧视，设定男性最低比例不合法。专家提出，与其费心安排男性比例，不如多多关注跨性别群体。

最后，批评者认为基金会的资金来源是德国政府中负责家庭、老年人、女性、青少年的部门，而这个部门目前获得的政府拨款已经非常紧张。

▲ 不关心基金会的议题，却要占50%的管理席位：这个群体只要权利不要义务</label><p><label>来源:柏林日报</label><p><label>翻译:小庄</label><p><label>阅读量:2.8万</label><p><label>转发:3</label><p><label>评论:1</label><p><label>点赞:44</label><p>评论内容:<br/>太阳花与白水晶2：开始漏尾巴了是吧😅<br/></p></li><li><p><label>发布日期:4月30日</label><p><label>发布时间:15:30</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KdiMdvfuG?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:俄勒冈州立大学和Insead管理学院最近的一项联合研究成果量化了职场性别歧视对美国公司造成的损失。

以一家典型的财富500强企业为例：这家公司每年招聘约8000名员工，如果其中1%受到了性别歧视的影响，招收了并非最优秀的员工，会造成这家公司的生产力损失每年高达280万美元。如果有4%的招聘受到性别歧视影响，这家公司的损失将达到近2千万美元。

论文指出，虽然研究重点是性别歧视，但种族或其他形式的歧视也可能造成损失。“招聘工作面对的是复杂的人性，所以往往不够全面，”作者说，“但面试官的金规铁律，就是让自己尽量客观。”

论文： Jay H. Hardy et al.: "Bias in Context: Small Biases in Hiring Evaluations Have Big Consequences", Journal of Management</label><p><label>来源:明镜</label><p><label>翻译:小庄</label><p><label>阅读量:3.5万</label><p><label>转发:12</label><p><label>评论:2</label><p><label>点赞:39</label><p>评论内容:<br/>无</p></li></ol></body></html>