<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202105微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年05月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:5月6日</label><p><label>发布时间:22:34</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Keg6UhE6j?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:ITF（国际网球联合会）在世界范围内实施了一项有关体育运动中媒体和社交媒体发布内容相关的性别平等研究调查。

报告显示，根据市场以及媒体种类不同，对男女选手的关注点有明显的差异，用网络检索关键词也同样证明了这个结论。

男子网球相关的话题和报道多是关注胜负、竞争、历史、精英选手之间的对决，或是称赞曾取得的成绩，焦点大多集中在比赛本身。而对于女子网球的关注，则多是柔韧性、年龄、健康、家庭等比赛之外的事情。

该研究抽选在2019年到2020年间英文媒体报道以及法国和西班牙的新闻报道中排名前100的选手，进行男女对比。得出以下结论：
1.女子网球相关的报道中提及年龄的可能性高出男子网球报道中两倍
2.男子网球相关报道中提及“战斗”相关的词汇可能性高出女子网球报道中两倍
3.男子网球相关报道中提及选手优秀实力和体力的可能性占70%
4.男子网球相关报道中使用“史上最高”“史上最强”等词汇比女子网球报道中多出50%
5.男子网球相关报道中使用“史上首次”“历史记录”等词汇比女子网球报道多出40%
6.女子网球相关报道中提及健康、治疗等词汇的可能性高出男子网球报道两倍
7.女性选手被提及家庭的可能性高出男性选手30%
8.女性网球相关报道中提及“职业”的可能性高出男子网球报道50%

🔺把女子竞赛中的关注点还给比赛本身。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:3.6万</label><p><label>转发:10</label><p><label>评论:2</label><p><label>点赞:38</label><p><label>:为什么要有虫子这种东西：路还很长啊
</label></li><li><p><label>发布日期:5月10日</label><p><label>发布时间:23:22</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KeS8I5tJg?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:10日，日本政府在首相官邸召开了讨论皇位继承方式的专家会议，听取了4名宪法专家的意见。

国士馆大学特聘教授百地章提到了天皇和皇后的长女爱子公主，他站在反对女性·女系天皇的立场，称《皇室典范》要求男性继承皇位，让爱子公主继承皇位的观点是无视日本宪法和《皇室典范》。

其他3人都表示支持女系天皇，东京大学的宍戸常寿教授指出：“不论男系女系，只要是日本国宪法实施时的昭和天皇的子孙，就能保证皇位继承的稳定性。”原最高法院法官冈部喜代子称：“女系天皇并没有违反宪法。”京都大学名誉教授大石真表示：“考虑到现在皇族人数在减少，将皇位继承扩大到女系皇族是合理的”。
（女系是指母亲一方为皇室血脉的人拥有皇位继承权）

🔺该给落后于时代的想法撕下“传统”这个遮羞布了。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:3.6万</label><p><label>转发:15</label><p><label>评论:14</label><p><label>点赞:123</label><p><label>:插旗高手就是俺：日本历史上也有女天皇啊
白雪落枫xylophone1009：虽然支持爱子有继位权，但是这种封建吉祥物的位置也太憋屈了，希望她不要当天皇，而是能拥有自己的美好人生。
柳永i：传统是块砖，而女天皇的历史，并没有被他们搬来
生活在女性的时代：没有实权的女天皇不要也罢，向默克尔看齐。
恋与友好邻居：最好废除帝制，都什么年代了
红泥小火炉与茶：她争继承权更有意义，可以获得再自己放弃，不能不争。//@白雪落枫xylophone1009:虽然支持爱子有继位权，但是这种封建吉祥物的位置也太憋屈了，希望她不要当天皇，而是能拥有自己的美好人生。
</label></li><li><p><label>发布日期:5月11日</label><p><label>发布时间:20:42</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Kf0wesAKV?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:为了强化性犯罪搜查体制，更贴近受害者提供帮助，2021年香川县任命了99名警察担任“性犯罪制定搜查员”。其中女性警察82人，男性警察17人。

为了县内所有警察署都能配备一名以上的“性犯罪指定搜查员”，今年比去年增加了10名“性犯罪指定搜查员”。

为防止新冠疫情感染扩大，今年没有举行任命仪式，但向媒体公开了给受害者提供帮助的演习。

🔺避免不专业的应对给受害者造成二次伤害，让专人负责性犯罪问题的应对很有必要。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:5.4万</label><p><label>转发:68</label><p><label>评论:16</label><p><label>点赞:292</label><p><label>:乔与四点月光：赏月
一一-199904：真圆，我们这边还只要男警察呢
y卿鸾u：女人的事情，女人自己能解决，所以能多点女警察 女医生嘛
白雀er：🌕
Annabeliii：羡慕
余兮之呀：学学人家好的一面啊！！！！现在什么工作都限男，我国的法律就真摆着看的！没有尊严的法律没有存在的必要
多次拒绝天海佑希：女人的事情女人解决，没毛病。
</label></li><li><p><label>发布日期:5月18日</label><p><label>发布时间:16:43</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Kg2WA0eif?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:瑞士</label><p><label>内容:自今年4月起，瑞士军队终于开始提供女士内衣：在此之前，女军人只能穿军队统一提供的男士内衣。据瑞士媒体报道，以前的军队服装整体上不考虑女性需求。而上一次军队服装设计还是在八十年代。

同时，瑞士女议员Binder-Keller提出，军队必须做出更多改善，才能有效吸引女性入职。“所有装备都是以男性为中心设计的，”她说。而瑞士军队缺少性别包容性。

目前瑞士军队仅有1%女性。至2030年，军队将达到10%女性。

▲ 即使在女性占多数的行业，都缺少适合女性的服装（比如防护服），更何况女性仅占少数的行业。</label><p><label>来源:明镜</label><p><label>翻译:小庄</label><p><label>阅读量:4.2万</label><p><label>转发:15</label><p><label>评论:6</label><p><label>点赞:175</label><p><label>:踩在浪花尖尖上：真的要鼓励女孩子们搞事业，争取更多话语权，这些权利永远都不可能靠男人争取到
gsjdioe：V
用户受够了被教化：太棒了
brooklynlele：女议员真不错世界需要更多女政客
奥布莱耶：呃，国内女性参军服装是有哪些？
</label></li><li><p><label>发布日期:5月21日</label><p><label>发布时间:15:52</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KguTlaMbf?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:国际奥委会</label><p><label>内容:国际奥委会提出了对性别平衡的赛事报道的建议。

体育是提倡性别平等和赋权女性的最有力的平台之一。而体育赛事报道对于社会性别刻板印象的形成通常有极大影响。国际奥委会认为，在为期两周的奥运会期间，是女性体育为数不多的获得世界关注的机会之一。但在奥运会之外，对女性体育仍然缺乏报道。

实现性别平等的重要一步就是避免性别刻板印象。性别偏见既有可能是有意的，也有可能是无意的。奥委会的建议旨在提升对性别偏见的认知程度，最终改变行为。

在2012年伦敦奥运会期间，对女子沙滩排球的报道集中在比基尼和女运动员的体型上。2018年韩国冬季奥运会期间，一家媒体的男主持人Patrick Connor形容17岁的美国滑雪金牌得主Chloe Kim为“火辣的小屁股”，并声称“我等不及她的18岁生日了”。而实际上，来自加州的Kim是冬季奥运会有史以来最年轻的女子雪地项目金牌得主。Fox新闻报道奥运会女子项目，讨论的内容也是：女运动员是不是应当多化妆。

奥委会的建议：在报道前，希望编辑们更多注意有性别偏见的声调、风格、用语和形象。男子和女子项目应得到相同的报道长度：包括对赛事的报道，运动员采访，运动员介绍，体育评论等。同时，性别平等也体现在图像的使用上：避免使用物化和性化的图像，包括有衣物撕裂的图像（在现场直播中出现这种情况应立即移开镜头），在摄像中避免由脚向上的角度，或任何体现性感而不是运动感的角度。

国际奥委会还发现，在集体项目中，很多媒体会过度集中跟拍队伍中长相好或身材好的队员。媒体也过多关注运动员的发型、美甲、妆容或个人护理用具。奥委会建议媒体关注体育本身。

另外国际奥委会特别强调：镜头不要总是瞄着屁股！尤其在体操，沙滩排球和花样滑冰等项目上。

还有一种隐蔽的性别刻板印象：奥委会建议媒体在描写女运动员时，更多关注需要体力、爆发力或速度的项目（比如拳击，柔道，美式橄榄），而不仅仅关注体现优美，流动性和优雅的项目（比如跳水，艺术体操，马术）。

在语言选择上，避免将女运动员形容为男性，或暗示男性特质更优越。比如：“她赢得了比赛，因为她游起来像个男人”，可以改为：“她赢得了比赛，因为她游起来十分果断”。

奥委会还建议在混合项目上不要使用男性人称代词代表整个队伍，也不要用男性人称代词泛指运动员，而是用中性人称代词。

在成人项目上尽量不要使用“女孩/男孩”的称呼。除非也使用“先生们”作为敬语，否则不要单独称呼女运动员为“女士们”。当使用“男性”称呼一个性别时，使用“女士”称呼另一性别不合理。正确的对应称呼是“女性”。

避免使用有性别倾向的英语词汇，比如“sportsman,cameraman,anchorman,chairman”等等，而是用中性名称“sportsperson,camera operator,anchor,chair”。

当评价运动员表现时，避免评价长相。不要使用性化形容词，例如“性感，像个女孩，像个男人”，等等。

采访女运动员时，不要总问及她的家庭/丈夫/恋人/孩子。因为记者几乎从来不会问男运动员他们的妻子/恋人是否会为他们感到骄傲。奥委会给出的案例包括：“橄榄球队芝加哥熊边锋的老婆在里约奥运会中获得铜牌”，“Bjorgen在索契奥运会后生了个孩子”（而实际上，Bjorgen是冬季奥运会历史上获得奖牌数最多的运动员，在五届奥运会中共获得了15枚奖牌）。

当谈及女运动员的成功时，不要总归功于她的男教练或男性随行成员。一个男运动员的成功鲜少被归功于他的教练。让女运动员为自己说话，而不是找她的男教练或男随行人员代言。在采访时请直接向运动员提问。

▲ 体育赛事报道对社会性别刻板印象的形成有极大影响</label><p><label>来源:国际奥委会</label><p><label>翻译:小庄</label><p><label>阅读量:4.2万</label><p><label>转发:23</label><p><label>评论:3</label><p><label>点赞:68</label><p><label>:还有1460天：性别刻板印象真是中西方都存在，不知道我国什么时候强调这种“政治正确”
粉丝7189：@新华网 @共青团中央
蓝色的星空：支持@额呃呃呃头都大了
</label></li><li><p><label>发布日期:5月30日</label><p><label>发布时间:23:25</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KhUHI5wO3?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:法国劳动部通过向企业投递虚假简历，启动了一项来评估招聘中的性别歧视的调查。其结果令人惊讶。在一般情况下，基于简历的歧视在男性和女性之间并不严重：在所有假设的女性求职者中，三分之一得到回复，一半没有得到回应，17%被拒绝。这与男性的回复率大致相同。

但在这数字背后，依然存在着巨大的差距，尤其是在技能要求方面。调查表明，当女性申请要求不高的职位，如厨师、订单拣选员或售货员时，她们被招聘人员回电的可能性比男性低6%。

相反，当女性更具备职场竞争力时，应聘就变得更加容易，以至于男性受到了较大的损失。与此前观察到的情况相反，调查表明，女性求职者更经常被选中担任高素质的工作，尤其是管理岗位。这表明了企业正热衷于增加女性管理人员的数量，特别是在IT等男性主导的行业中。可见在这一方面有了明显的进步。

此外，提供个人信息（如是否结婚，是否有孩子）并没有减少女性被招聘人员回复的机会。然而，根据调查，这不能排除在家庭情况的歧视不会在面试期间产生。

就工资而言，调查指出，变化不大：法国女性的工资平均比法国男性低17%。报告凸显的另一个持续的不平等现象是，妇女进入劳动力市场的机会较少。她们的就职率为82%，而男性的就职率几乎为92%，差距为10个百分点。而且她们更经常从事非自愿的兼职工作。此外，近几个月来的疫情让妇女更频繁地停止工作以照料孩子和家庭。事实上，随着这场疫情，这些差距变得更加明显了。

△ 法国的就业性别歧视：有进步，但还能更好</label><p><label>来源:Franceinfo-Le décryptage éco</label><p><label>翻译:陈妙妙</label><p><label>阅读量:5.8万</label><p><label>转发:18</label><p><label>评论:8</label><p><label>点赞:211</label><p><label>:你余呀：月亮真圆
插旗高手就是俺：82%的就职率快超过中国了吧
争取每天12点前睡觉：马克留学国家
见崎侑：赏月
Ciga_Cliiignonette：法国街上巡逻的宪兵队基本每次都会看到女性成员
红泥小火炉与茶：妙国还停留在连政府部门招聘都限男或者男性优先的阶段。
</label></li></ol></body></html>