<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202106微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年06月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:6月9日</label><p><label>发布时间:23:09</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KjqS5jPqR?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>内容:转发 无内容</label><p><label>阅读量:4.8万</label><p><label>转发:6</label><p><label>点赞:16</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月10日</label><p><label>发布时间:00:19</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/KjrkA4KyM?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:在一项打击工作场所暴力和骚扰的具有里程碑意义的条约（2019年《暴力和骚扰公约》和2019年《暴力和骚扰建议书》）获得通过的两年后，法国向其在国家层面的转变迈出了重要的一步。

6月2日，法国的部长理事会批准了《国际劳工组织暴力和骚扰公约》，该公约现在将提交议会审议。

行动援助（Action-Aid Peuples Solidaires）、关爱法国（CARE France）以及法国总工会(CGT) 和人权观察组织（Human Rights Watch）等非政府组织工会不懈地争取法国批准这项条约，该条约设定了预防和应对工作中的暴力和骚扰的全球标准。

Action-Aid、CARE France 和 CGT 于6月2日发布了对法国法律缺陷以及政府应采取的纠正措施的详细分析。

人权观察与这些组织一道，呼吁法国政府在批准的同时进行重大改革。

其中包括惩罚那些没有针对遭受家庭暴力的妇女的保护计划或在评估职业风险时没有解决性骚扰的雇主。其次，政府应禁止公司以家暴有关的原因解雇女工，并效仿新西兰，为家庭暴力幸存者提供 10 天带薪休假以寻求庇护和获得支持。

第三，政府应培训人事顾问、管理人员和人力资源人员，以支持面临性别暴力的女工。第四，法国应要求法国公司根据其 2017 年的商业尽职调查法（关于母公司和订货公司的警惕义务）预防和解决其供应链中的基于性别的暴力和骚扰问题。

议会应该对基于性别的暴力采取强硬立场。除批准此条约，参议院应在《加速经济和职业平等》法案中包括对家庭暴力幸存者的工作场所保护，并解决在《加强工作中的健康预防》法案中的预防和培训问题。

随着法国准备于 6 月 30 日主办的一场关于性别平等的全球会议，参议院必须以身作则，除了批准该条约外，还必须进行国家改革。

图片：3月8日法国巴黎的国际妇女权利日
来源：Human Rights Watch 人权观察 2021.6.4
翻译：Iris</label><p><label>来源:Human Rights Watch 人权观察 2021.6.4</label><p><label>翻译:Iris</label><p><label>阅读量:6.3万</label><p><label>转发:4</label><p><label>评论:2</label><p><label>点赞:56</label><p>评论内容:<br/>申田由甲2018：革命老区<br/>洛克王国78328：法国？以投降闻名的那个？<br/></p></li></ol></body></html>