<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202107微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年07月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:7月1日</label><p><label>发布时间:18:09</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KmKjb6hIR?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:6月29日，法国国民议会通过了“单身女性和女同性恋情侣也可以接受生殖辅助医疗（包括体外受精等）”的法案。

过去的生殖辅助医疗仅限于异性情侣之间，单身女性及女同性恋情侣想要生育，只能花费许多费用，到比利时或西班牙等国家接受生殖辅助医疗服务。

法案通过以后，43岁以下的女性都可以接受人工授精或体外受精等医疗服务，医疗费用也将由法国医疗服务来承担。

🔺开放单身女性、女同性恋情侣生育，即尊重了女性生育的权利，也能缓解少子化的问题。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:6.7万</label><p><label>转发:9</label><p><label>评论:5</label><p><label>点赞:42</label><p>评论内容:<br/>煎茶小分队：新闻里提了日本现在的状况，由第三人提供精子进行体外受精的医疗服务仅限于法律上有婚姻关系的夫妻，且丈夫患有无精症。<br/>看夜月亮：承认女性为生育的主体，保证女性的生育自主权才是一个正常，健康发展的国家<br/>你得不到的硕士姐：顶<br/>东北刘亦菲w：@X_lilah 我要跟你生一个<br/></p></li><li><p><label>发布日期:7月2日</label><p><label>发布时间:19:26</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KmUfe7MLa?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:据世界卫生组（WHO）与本月1日发布的报告书称，世界上仍有许多国家将月经视作禁忌。

因此，未能在月经期间使用恰当的卫生用品，引起感染症等健康问题在女性中占比很高。埃塞俄比亚、萨摩亚群岛、老挝的约每5名女性中就有1名存在由月经期的不恰当处置，而引起的健康问题。尼日尔和布基纳法索(非洲国家)的约每7名女性中有1名存在月经所导致的健康问题。

尼日尔的过半数女性回答称在月经期间没有可以更换衣物、清洗的私人空间。尼日利亚、布基纳法索、老挝、科特迪瓦、埃塞俄比亚5个国家中，女性中至少5个人中就有1个人回答说没有私人空间。

在埃塞俄比亚，虽然有三分之二的人回答说有换洗衣服的私人空间，但是回答私人空间是干净且安全的仅占38~40%。

孟加拉国半数以上的女性，尼泊尔三分之二以上的女性，在月经期间无法参加日常活动。在乍得共和国和中非共和国，每3名女性中就有1人因月经而错失了各种机会。

也有因为当地的风俗导致女性不能参加社会活动的情况。尼泊尔贫困地区的半数女性回答说，月经期间会在别的地方吃饭。每7人中有1人回答说在月经期期间会被住在留在泥屋和牛棚里。

尼泊尔在2005年禁止了让月经期间的女性在远离村落小屋里的风俗。但是根据报告书调查称，偏远地区和贫困地区至今仍保留着这种风俗习惯。

排斥月经期间女性的风俗不仅限于贫困地区。尼泊尔的富裕地区的女性也有30%回答月经期间要在别的地方吃饭，调查对象几乎全部都回答在月经期间要远离宗教活动。

也有因为没有安全清洁的空间等原因，月经期间女性不能外出的国家。在过去的一年里，因为月经而向学校请假的女性在布基纳法索占15%，科特迪瓦占20%，尼日利亚占23%。

▲ 月经不该成为女性的负担和限制，社会应当保障女性在月经期间所需的生理用品，以及安全洁净的换洗衣物的私人空间。以宗教或习俗的理由排斥经期女性，更是愚昧至极。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:6.7万</label><p><label>转发:8</label><p><label>点赞:29</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月5日</label><p><label>发布时间:22:04</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KnnyQeMjE?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:智利</label><p><label>内容:今年5月，智利选出了由155人组成的公民大会，该公民大会将负责起草该国的新宪法，这将会是世界上第一个由男女人数相等的人起草的宪法。智利的妇女权利活动人士表示，该国的新宪法将促进本国妇女的进步，并可能为政治上的性别平等设立一个新的全球标准。

女权主义政党社会融合党的创始成员安东尼娅·奥雷拉娜说，“就像女性赢得投票权的时候一样，这是一个改变游戏规则的时刻。”

尽管智利现行宪法有性别平等或不歧视的内容，但它并没有确保妇女在婚姻中享有平等权利，并且规定了对“即将出生的生命”的保护——这一条款阻碍了妇女在智利合法地安全堕胎。

奥雷拉娜说，在10多年前经历了一次秘密堕胎后，她对为妇女争取权利的决心更加坚定了。她当年由于失血过多，被送往医院，最后在医生威胁要报警之前流产了。当时智利拥有世界上最严格的堕胎法，任何情况下的堕胎都是被禁止的。11年过去了，争取堕胎权进展缓慢，只有在极少数情况下，堕胎才会被允许。

奥雷拉娜正在为一部包括多种生殖和性别权利的宪法而努力，她说:“我们需要一部不仅仅只有男性视角下健康权利的宪法。”

世界政策分析中心的法律分析师阿莱塔·斯普拉格说，智利的新议会在性别平等方面有“很大的潜力”:新宪法将是全球范围内#Me Too运动和拉丁美洲女权主义运动浪潮之后诞生的首部宪法。 “此时此刻，人们越来越认识到保障性别平等的各种权利的必要性” 比如女性要求身体自主和免受暴力伤害已经越来越普遍。

▲男女人数相等只是“改变游戏规则”的第一步，还需要让女性视角进入社会制度制定的方方面面，这需要全社会的人共同努力。</label><p><label>来源:英国卫报</label><p><label>翻译:Karen</label><p><label>阅读量:2.3万</label><p><label>转发:12</label><p><label>评论:6</label><p><label>点赞:44</label><p>评论内容:<br/>summeeeeeer_air：赏月<br/>Clover3L：(悄悄，155人怎么相等，还有1个双性人吗<br/>健康樹葉子：慕了<br/>Chloe9555：wow<br/></p></li><li><p><label>发布日期:7月6日</label><p><label>发布时间:20:56</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KnwxBhI9I?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:在科学史上，女性的身影不应该被掩盖

科学文献中极少出现女性研究人员的身影，尤其来自边缘背景的女性，关于她们的文献记录更是寥寥无几。但新一代的历史学家正在改变这种叙事方式。

上个月，NASA将其位于华盛顿的总部大楼命名为玛丽·w·杰克逊(Mary W. Jackson)。杰克逊是NASA首位黑人女性工程师，也是一位专门研究飞机周围空气流动的航空学专家。不过令人唏嘘的是，杰克逊的贡献得到认可却是在她去世十多年后的2005年。事实上，如果不是玛格特·李·谢特利(Margot Lee shetley) 2016年的著作《隐藏人物》(Hidden Figures)以及同年上映的电影，她的成就可能不会有这样的曝光率。这两部作品都讲述了包括杰克逊在内的一群黑人女性数学家的故事，当时她在弗吉尼亚州汉普顿的兰利研究中心工作。

以杰克逊的名字命名华盛顿特区的一座政府大楼是件引人注目的事，但这只是解决科学和工程史研究中更广泛问题的一小步。我们非常清楚，科学历史文献——包括《自然》在内的许多档案——远远未能承认女性研究人员的成就，特别是那些来自边缘社区的女性。他们的工作长期以来一直被掩盖，有时甚至被从记录中抹去，而现在需要采取行动纠正这个错误。

就像在大多数社会领域一样，是男性——尤其是来自高收入国家的白人男性和机构的男性——主导了科学史学界和科学史期刊的学术研究。新冠肺炎疫情加剧了对女性历史学家的排斥。科学史杂志《伊希斯》(Isis)的女性作者手稿数量大幅下降。在2020年1月和2月，女性和男性作者提交的论文数量相同，但自那一年3月以来，男性作者的数量超过女性作者三倍，这可能是因为在封锁开始后，女性要承担更多照顾家庭的责任。

然而，新一代的科学历史学家正在出现，他们的行动可能会带来打破常规的影响。《自然》杂志采访了几位研究人员，其中有男性也有女性。他们致力于使科学史更加多样化、更具包容性和全球性。

研究人员重申，在科学和工程史上，有不计其数的文献是围绕着“伟大的英雄科学家”的叙事展开的。“伟大的英雄科学家”指的是一个经常凭借特殊的洞察力或个人天赋，靠自己取得突破的人。如果记录显示有合作者，这些人也更有可能是男性，大家对这种状况习以为常。科学充斥着种族主义和性别歧视。纵观历史当全世界的妇女被剥夺了受教育的机会，被禁止进行实验室和野外工作，被禁止进入学术界、出版物和学术团体之时，科学都一直在继续发展。在这个发展的过程中，妇女，特别是有色人种妇女的贡献往往会被掩盖，甚至被故意抹杀。

伦敦大学学院驻开罗的历史学家赫巴·阿布德·埃尔·加瓦德讲述了19世纪80年代一位女挖掘工与埃及古物学家、优生学家弗林德斯·皮特里一起工作的故事。但不幸的是，我们永远不会知道她是谁，因为记录上只有她父亲的名字——穆罕默德·哈桑。在当时，她必须提供自己父亲的名字才能得到一份工作。加瓦德解释说，皮特里从来没有费心去问他的女同事的真实姓名。

▲也许历史并非我们现在看到的这样，女性的贡献和才能事实上远远超出我们的想象。</label><p><label>来源:自然</label><p><label>翻译:Karen</label><p><label>阅读量:1.2万</label><p><label>转发:12</label><p><label>评论:1</label><p><label>点赞:40</label><p>评论内容:<br/>你知道我不知道你知道不知道：之前读到过关于“妇好”，就是殷墟妇好墓的那个妇好的东西。妇好极有可能是一个部落的首领，南征北战的女将士，而我们的历史书里她却只是谁的老婆……<br/></p></li><li><p><label>发布日期:7月7日</label><p><label>发布时间:21:17</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KnG6rkS73?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:为什么女性的专业头衔总是不被重视？
正因为人们对专业知识和经验的认可存在差异，专业头衔的认定才如此重要。
“我实在是受够了人们不在公共论坛介绍我的头衔，我是一名医生和博士，也是一名副教授。我很努力地获得了这些头衔，我不允许它们被忽略。不能因为我是一名少数族裔的女性，我就只配被称呼姓名！‘’Nisreen Alwan，一位南安普顿大学的公共健康课教授在推文里说道。
Alwan解释道：“我对于人们在对话、邮件或社交媒体上直接称呼我的姓氏没意见，但是在公共场合或者平台以这样的方式介绍女性专家，容易加强惯有的社会性刻板印象，从而导致在科学和社会领域更多的性别与种族方面的偏见。”
在不同领域里面，许多女性取得的头衔都会被他人忽略或轻视，甚至她们的诉求会遭到谴责。这对于年轻的女性和非白人女性来说更让人担忧。</label><p><label>来源:BBC</label><p><label>翻译:XIAO</label><p><label>阅读量:1.2万</label><p><label>转发:2</label><p><label>点赞:35</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月8日</label><p><label>发布时间:20:18</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KnP970ZCN?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:西班牙</label><p><label>内容:西班牙将未经同意的性行为认定为性侵，为性暴力相关的法律法规添上强有力的一笔

西班牙政府在周二通过的一项法规定义: 所有未经同意的性行为均属性侵。作为全面法治改革的一部分，这将加大对性骚扰的处罚力度，并要求为受害者提供更全面的支持系统。

五年前发生的一起被称为“wolf-pack”的案件里，五名男子在 Pamplona奔牛节上轮奸了一名18岁的女孩，此案激发了广大民众的愤慨，关于改革性暴力法律的呼声也源源不断。

该草案有望在年底通过国会决议。建立在“没有同意就是性侵”基础上，这条法律将带领西班牙站立到与其他11个欧洲国家的统一战线上，其中包括使用类似法律定义的瑞典、葡萄牙和英国。

“这一新法规所做的就是将受害者置于公众反应的中心，沉默和被动不再代表同意。”政府发言人Maria Jesus Montero在新闻发布会上说道。

现有的法律规定，犯罪者必须使用了人身暴力或袭击式恐吓才会被定性为性侵。而这项法规通过之后，目前被视作行为不端的跟踪和街头骚扰，也将成为犯罪。为抑制此类犯罪，轮奸将被视作加重处罚因素，最高可判处15年徒刑。

同时，这一举措也呼吁创立24小时性侵害救助热线，以及为未成年受害者成立专门的儿童之家。

西班牙一直以来都努力冲在性政治的前线，并与占主导地位的男权至上的态度进行着抗衡。西班牙在2007年实现了同性恋婚姻合法化，2004年也通过了具有先驱意义的与性别暴力相关的法律。就在上周，内阁还通过了一项草案，拟允许14岁以上公民在不需要通过药物和激素治疗的情况下，改变自己的性别。</label><p><label>来源:路透社</label><p><label>翻译:XIAO</label><p><label>阅读量:1.2万</label><p><label>转发:10</label><p><label>点赞:40</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月9日</label><p><label>发布时间:20:29</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KnYE5jSp7?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:波兰</label><p><label>内容:为LGBT的平权运动，数千人汇聚波兰首都举行游行运动

周六，为了终止对性少数人士的歧视行为，数千人的游行运动在波兰首都华沙举行，这也是为了回应近年来波兰恐同浪潮的高涨。

性少数权利已经成为了着重提高社会包容度的自由派和着重维持天主教固有传统的宗教保守派之间的重要冲突议题。

在彩虹旗（性少数群体的标志）的海洋里，游行者聚集在华沙中心的国会外，在游行前还有一名DJ在播放舞曲作开场。

“平权游行是性少数群体的庆典，同时也是那些为之捍卫权利者的庆典。”来自一位22岁的餐饮工作者如是说。

“恐同已经成为了波兰非常严重的问题，很多人都没办法解决它，甚至有人因此自杀。波兰性少数群体们所处的悲剧境地，就是我为什么要站在这里的原因，我支持她们！”

同时，匈牙利政府出台了相关法律，禁止向18岁以下的儿童展示和呼吁同性恋相关话题。

“现在情况变得越来越难，虽然一直以来都有越来越汹涌的反抗。”马尔塔说，一名37岁的商业经纪人，主要处理中欧和东欧的性少数的相关事宜。

🔺当被问到她想对那些反对游行的人说什么，她说“我们从未惧怕！”</label><p><label>来源:CNN  </label><p><label>翻译:小容 </label><p><label>阅读量:1.2万</label><p><label>转发:7</label><p><label>点赞:27</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月12日</label><p><label>发布时间:07:21</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KolLIt1yo?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:社交网络巨头承诺将处理针对女性的网络暴力

社交网络的四大巨头已做出全面改革其审核系统的承诺，意在处理平台上的针对女性的暴行。

在万维网基金会（WWWF）的带领下，脸书、谷歌、推特和抖音已签署了承诺书，来应对他们在网络性别暴力方面长期存在的弱点。

这一公告源自在巴黎举行的、由联合国妇女组织召集的性别平等论坛，许多前州长和世界各地的领导者都对签署了公开信表示支持，比如Michelle Bachelet 和 Graça Machel，还有Annie Lennox, Ashley Judd, Gemma Chan 以及 Maisie Williams，他们呼吁这些公司能够全方位地实现承诺。

经济学人智库2021的研究表明，全球超过1/3的女性经历过网络暴力，现如今快要蔓延到1/2年轻女性中去。这四家科技公司承诺将在他们的平台上重点关注两方面：女性无法掌控谁可以回复、评论、参与到她们发表的言论；对于标记网络暴力，缺少清晰的、可靠的上报系统。

对于被称作“监管”的第一层面，这些公司许诺会提供更多的细微的设置让用户监管他们的安全，例如允许他们在不完全屏蔽某个人的情况下，屏蔽他/她的回复，或是限制一些特别的言论被分享出来。

他们同时许诺使用更多简易的、方便的语言来使用户更好地获得安全工具，并主动减少女性用户在网上可见到暴言暴行。

据报道，这些公司还应许会给予用户们追踪和管理她们的报告的能力，同时，用户也能够标记可能会改变的文本和语言，比如一篇特定的内容是如何被释义的。

如果用户想报告暴力现象，更多的指导也将会被提供，来确保问题的解决，而不会因为用户不小心勾选了错误的方框而被系统拒绝。

（🔺反对暴力，我们的确很需要平台的力量去约束，但也远远不仅限于此）</label><p><label>来源:卫报</label><p><label>翻译:XIAO</label><p><label>阅读量:4826</label><p><label>转发:6</label><p><label>评论:1</label><p><label>点赞:31</label><p>评论内容:<br/>一杯无LC：四大巨头承诺监管性别暴力，夹去阴间勇争蛆王带头鉴拳<br/></p></li><li><p><label>发布日期:7月13日</label><p><label>发布时间:20:15</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KoAgo9bRS?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:西班牙</label><p><label>内容:西班牙内阁通过跨性别权利法案草案

西班牙内阁日前通过了一项关于LGBTQ权利的草案，旨在允许16岁以上的跨性别人群自由改变自己的性别和姓名，而无需医生或见证人参与其中，这一草案接下来将寻求议会批准。

提案中的各项内容经过漫长的议会讨论后可能会有所改变，但只要草案的核心内容获得批准，那么西班牙将会加入全球少数可以自主决定性别国家的行列，在这些国家，人们可以自主改变性别，无需医生出具的性别焦虑症诊断书，也不会要求申请者遵从传统男性或女性的外貌进行改变。

如果这一法案获得通过，申请者官方档案的变更速度也会大大提升：从最初申请改变姓名或性别到最终官方文件变更最多只需要四个月时间。变更的申请在六个月内可以撤销，在六个月后如果需要撤销则要出庭受理。

法律提案从一开始提出就极具争议性，一些跨性别权利活动人士和女权主义者认为，这一法律将会模糊生理性别的概念。在左翼执政联盟内部，对待提案也有不同的看法。最初，执政党工人社会党人和历史女权主义家一起反对性别自决，而联盟内的极左翼联合起来我们能党大力推动自由、不受限制的选择性别的权利。

西班牙平等部部长伊莱娜·蒙特罗（Irene Montero）表示，内阁中对于法案的讨论“漫长而艰难”，但是她补充道，这一法案将在保障LGBT群体权益方面迈出 “重要一步”。

西班牙首相佩德罗·桑切斯（Pedro Sánchez）表示，法律草案会让西班牙位于LGBT权利的“世界领先地位”。他说，“我们认为每一个人，都享有成为自己想成为的那个人的权利”。

根据草案，所有16岁以上的国民只需简单重申两遍自己的诉求即可改变性别和姓名。14岁至16岁的青少年如获得父母许可也可进行变更。12至14岁的孩子申请变更则需要开庭审理。12岁以下的孩子只能申请改变姓名而不能改变性别。

▲ 西班牙有望在保障LGBT群体权利方面更进一步。</label><p><label>来源:美联社</label><p><label>翻译:乌头拌饭</label><p><label>阅读量:4.4万</label><p><label>转发:15</label><p><label>评论:10</label><p><label>点赞:100</label><p>评论内容:<br/>女孩子们都很甜：你变性手术完该是男的女的没人有意见，你他么不变性随意改性别这么一说人人都能进男女厕所？不给了变态可乘之机<br/>幽恬1001：我的心理认知是西班牙总统，我能自由成为西班牙总统吗？<br/>就业性别歧视监察大队：海外之声栏目转这里了<br/>睡前不能玩手机：性别自决都行，那年龄自决（工作时跨60岁直接退休）、人种自决、物种自决、国籍自决、户籍自决（心理认知自己是某地人，重申两遍直接得到当地户口）、犯罪自决（犯人心理认知自己没犯罪，重申两遍就是没有违法的文明公民）应该也都行吧，每个人都有享受自己想成为的那个人的权利<br/></p></li><li><p><label>发布日期:7月14日</label><p><label>发布时间:13:05</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KoGSsB6YJ?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:匈牙利</label><p><label>内容:专访VAS ALEXA ZSÓFIA：这就是为儿童开发机器人手臂的女性机械工程师的样子

在人们的印象中，工程师都是穿着工作服，指甲脏脏的男人，如果在工程师中出现女性，那她一定是男性的约会对象，因为美丽与聪明不可兼得。诸如此类的想法很容易对女性的职业生涯产生影响，但对VAS ALEXA ZSÓFIA是个例外：她是塞切尼·伊什特万大学的一名学生，也是一名机械工程师，她在高中时期就发明了一种机械手臂，来帮助肢体缺陷的儿童。她和她的同伴一直在研究如何能让更多的女孩参与进科学研究。为什么要让更多的女性参与科学研究呢？
现年22岁的机械工程专业学生Alexa发明了可以3D 打印的、轻便的、多彩的机械手臂以帮助肢体缺陷的儿童。她的创新能力和低成本的机械臂发明，使她在罗兰大学创新竞赛中获得了奖项，并获得了社会影响奖。除了是学生，她还在奥迪工具厂的机器人仿真部门担任职务。同时，作为“科学界女性协会”的学生大使，她鼓励求知的女性敢于选择自己的职业：如果她们愿意，可以自由地成为程序员、物理学家、宇航员、工程师。

问：虽然您的家人支持您做一名工程师，但是您是否曾受到社会性别角色期望的影响？您不觉得作为一个女人，科学或工程不是您的领域吗？

答：不，我从不关心社会的性别角色期望。在家庭中，如果我想做什么，我的家人总是支持我。我从小就被教育，一个人擅长的领域与性别无关。如果按照女性“规则”，我已经到了生育年龄，但我的母亲总是告诉我，如果我不想要孩子，就不必生育。生育不是必须的，不是每个人都会是一个好妈妈。所以我觉得我没有必要在意社会对女性的期望。

问：您在TEDxLiberty Bridge Women演讲中谈到了机械工程领域有很多女性辍学。您觉得为什么应该让更多女性参与机械设计？

答：卡罗琳·克里亚多·佩雷斯( Caroline Criado Perez ) 在她的《隐形女性》( Invisible Women)一书中，利用数据来描述世界是如何为男性量身定制的。这是一本非常好的书，起初我不相信里面的内容，但是我很惊讶地发现，里面的内容都是真的：例如，很多汽车都是为男性设计的。我很喜欢开车，但以我的身高，我没有机会拥有一辆大型汽车。甚至女性死于驾驶的可能性比男性高 17%，因为女性要坐得更近才能够到踏板和方向盘，如果发生碰撞，收到的冲击也更大。另一方面，是因为男女性的骨密度不同。从2022年起，欧盟将强制要求在驾驶员座椅上使用符合人体测量学的女性碰撞测试假人。但是到目前为止他们做了什么？他们只是把女性的人体模型放在的副驾驶上，他们觉得副驾驶才是女性的位置（译者注：匈牙利语中的副驾驶座这个单词字面意思是“妈妈的座位”）。

问：您提到了，人们称呼副驾驶座是“母亲的座位”，而不是“前面的座位”。

答：是的。还有很多为男性定制的例子。为什么没有男性避孕药？为什么超市的货架那么高？为什么成人的口罩、手套对大部分女性来说都很大？这些都对女性的生活造成了影响。

问：您能分享一下您对20年后的自己的设想吗？

答：20年后我就42岁了，42是一个非常酷的数字。我想去维也纳攻读硕士学位，然后去瑞士攻读博士学位——我计划在我 30 岁之前完成它。我希望用我们的低成本机器人从瑞士打入国际市场。希望到那时能够将我们的初创公司发展成为一家运作良好的公司。

▲我们追求的不是成为“稀奇”的职业者，而是让这些职业对女性不再“稀奇”。</label><p><label>来源:divany.hu</label><p><label>翻译:小奥</label><p><label>阅读量:8.2万</label><p><label>转发:58</label><p><label>评论:4</label><p><label>点赞:140</label><p>评论内容:<br/>葡萄籽紫葡萄皮：对 我们设计车的时候 做医疗器械 很多都是为男性设计的 标准也是男性身高体重<br/>佛系艺术家：//@葡萄籽紫葡萄皮:对 我们设计车的时候 做医疗器械 很多都是为男性设计的 标准也是男性身高体重<br/></p></li><li><p><label>发布日期:7月15日</label><p><label>发布时间:18:23</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KoSo44ucg?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:新西兰</label><p><label>内容:女性在世界新闻中的曝光率比以往任何时候都高--但她们仍然远远没有实现与男性的平等。

根据刚刚发布的第六次全球媒体监测项目（GMMP），在纸媒、电视、广播、互联网新闻和推特上，女性占新闻记者的40%，占新闻来源的25%。

这是女性作为新闻工作者的一个记录，但仍远未达到性别平等。该报告预计还需要67年才能消除新闻领域的性别差距。

令人欣慰的是，新西兰奥特亚罗亚地区在性别平衡方面的表现比全球平均水平要好。女性记者和主持人的比例创下纪录（68%），并有33%作为消息来源出现在报道中。

然而，在新西兰和世界各地，妇女仍然更多地报道新闻，而不是出现在新闻中。

在其他积极的发现中，女性在2020年的学术专家和活动家来源中占了大约一半。新西兰的大部分经济新闻都是由妇女报道的，重点是就业，包括妇女的个人经历。

但是在新西兰，女性在体育新闻中的隐身继续影响着媒体的性别平等。研究发现只有17%的体育来源是女性。在Newshub晚上6点的公告中，体育部分没有一个女性主持人、记者或消息来源。该频道公布的板球夏季赛程完全忽略了女子比赛。

TVNZ和Sky有近一半的报道者是女性，但只有不到15%的报道是关于女性的。如果将主持人从样本中删除，天空电视台的女性记者比例下降到3.4%。关注女性体育报道的记者们也注意到了男性署名的普遍性和男性体育在报道层级中的主导地位。

自1995年以来，GMMP研究中发现的缓慢进展是难以解释的，尤其因为联合国已经认识到媒体代表中持续的性别不平等导致了妇女和女孩的社会、经济和政治边缘化。

▲公众和观众的压力促使电影电视行业工作者的性别和种族多样性方面做出了显著的改善。新闻媒体的领导者需要做出类似的努力，让新闻媒体代表更多的群体。</label><p><label>来源:The Conversation</label><p><label>翻译:利虎</label><p><label>阅读量:1.2万</label><p><label>转发:3</label><p><label>点赞:23</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月16日</label><p><label>发布时间:22:51</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kp3z9myfV?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:布里斯托开展帮助穆斯林妇女学习游泳的项目

一位苏丹裔前游泳冠军正在布里斯托开展一个学习项目，鼓励更多的少数民族妇女下水游泳。

瓦法-苏里曼正在与 “Open Minds Active "合作，教更多的穆斯林妇女游泳，并打破可能阻碍她们参与其中的屏障。她说，当她来到布里斯托时，戴头巾的穆斯林妇女没有多少地方可以游泳。

参加这个项目的妇女说，她们平常很难知晓在哪里可以游泳，许多人说她们做梦也想不到会去游泳，更不用说在户外的湖泊或河流中游泳。她们目前一直在人工冲浪场地与教练学习。

阻止她们参加这项运动的重重障碍包括了寻找符合她们文化的设施，更衣室和淋浴设施通常是开放式的，游泳池也向公众开放。英格兰游泳协会提到其它的挑战包括：穆斯林女性需要戴头巾和穿覆盖全身的泳衣，以及市面上缺乏仅供女性的课程。

这个项目的最后的高潮将会是在该市The Wave举行的一场冲浪活动。

苏利曼女士说。"我一生都在我的国家游泳，但当我来到布里斯托时，我不知道该去哪里。戴着头巾的穆斯林妇女可以去的地方不多，这很难。"

在过去的三个月里，她一直与Open Minds Active合作开展这个项目。

当她在The Wave冲浪时，苏利曼女士补充道："这是我第一次尝试冲浪，这太令人兴奋了。我一生都在游泳，但不是在波浪中......只是在河里游来游去。现在我正在尝试所有不同的湖泊、游泳池，并且尝试时仍然可以戴着头巾，真是令人惊喜"。

▲文化、着装、宗教都不是限制女性参与社会活动的理由。只要有正当的设施和场合，女性应该不受束缚。</label><p><label>来源:BBC</label><p><label>翻译:利虎</label><p><label>阅读量:1.2万</label><p><label>转发:2</label><p><label>评论:1</label><p><label>点赞:17</label><p>评论内容:<br/>区区包：布基尼<br/></p></li><li><p><label>发布日期:7月19日</label><p><label>发布时间:12:26</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KprLaaUlQ?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:匈牙利</label><p><label>内容:女性程序员的工作现状

在上世纪80年代，从事程序员工作的女性比现在要多。数据科学家Orsolya Vásárhelyi在TEDxLiberty Bridge Women的演讲中说："当年程序员中的女性有35%，现在是20%左右，尽管没有确切的数据，但是在匈牙利，这个比例最多是15%。Orsolya和她的同事通过来自约700万名软件开发人员的数据研究了女性在IT行业中发展受限的原因。实际上，世界上第一位程序员是一位女性，在两次世界大战之间，在这个领域工作的也大多是女性。本次访问主要讨论为什么现在女性的比例反而变小了？女性再次更多地参与到技术创新中要多么重要？

华威大学的博士后研究员奥索利亚·瓦萨里伊（Orsolya Vásárhelyi）是数据科学家、研究员、教师、斯坦福大学女性数据科学会议的匈牙利大使，并拥有中欧大学的博士学位。她的主要工作是通过分析巨大的数据，分析解决社会问题。她说，她一直对用数字描述复杂过程的能力很感兴趣。这就像作为一个调查记者：你有了一个假设，然后测试它，如果它不对，你就进行下一个假设。

问：就在过去的几周里，有几个这样的新闻报道：许多人在社交媒体上分享了谷歌的翻译如何以陈旧的方式使用人称代词，比如“他很聪明，她很漂亮”，Telex报道中提到Facebook的招聘广告系统歧视女性。这肯定不是有一个厌恶女人的书呆子坐在远程电脑前，故意打出这样的代码的，你能稍微解释一下为什么会发生这种情况吗？

答：是的，出现这种情况更多的是因为人们是自我的，只考虑和自己一样的东西，以自我为中心，很难对离我们很远的事情产生同情。例如，我很难告诉你作为一个亚洲人是什么感受，因为我不是一个亚洲人。如果没有亚洲人和我一起工作，那我们就很难为亚洲市场设计产品。谷歌所有的译者都使用庞大的字典，他们也有词语的联想，不幸的是，这些词语联想内置了社会偏见。这不是在谷歌编码的程序员的愿望。我们使用的系统是建立在社会之上的，尽管偏见是在线下产生的，但线上系统会放大这些偏见：偏见变得更加明显，可以很快影响很多人。所有的算法或预测模型都会从过去的数据中推断未来。例如，到目前为止，所有程序员的照片都只显示男性，算法就会预测程序员都是男性。

问：你提到了程序员之间的性别差距，但是似乎你研究的终极目标并不是女性工作人数的增长。

答：是的，我们追求的不仅是女性工作人员数量的增加，还是整个工作环境的多元化和对女性的包容。我可以招募很多女性，但如果我不给她们一个有关的职位，或者如果整个工作环境中没有文化来帮助她们留在那里，帮助她们成为团队的真正成员，积极参与产品开发，她们就会离开。尽管许多公司正在努力争取将女性职工的比例保持在30-40%，但女性正在离开，在科学和技术领域，女性有50%的辍学率。其主要原因是，女性在这个行业中没有归属感。我们利用视频游戏开发团队的数据，分析了性别多样性和包容性对团队创造力的影响。我们看了性别比例，也研究了女性被边缘化的现象。我们发现，如果我们开始增加女性的数量，同时也增加对女性的包容性，创造力就会变高。

问：在你的TED演讲中，我很惊讶地听到第一个程序员也是一位女性。现在女性在计算机行业的发展是怎么样的？

答：是的，幸运的是我们现在知道了很多女性的故事。性别问题专家认为，当年女性被故意写在故事之外。如果你看一下历史，妇女几乎无处可寻，这在整个世界范围内都没有差别。第一位程序员Ada Lovelace是一个19世纪的贵族，一个数学家；第一台计算机也是由一位女性创造的。事实上，在第二次世界大战期间，许多妇女进入了计算机领域，从事密码破译工作。然而，随着技术变得越来越重要，、男性开始挤入计算机行业。在当时的英国，有一项法律规定，如果一个女人结婚，就必须辞掉工作，所以妇女逐渐被挤出了这个领域。不幸的是，在其他行业也可以观察到类似的现象：女性多的地方，威望下降，反之，男性多的地方，威望和薪酬上升。例如，看看教师行业是如何被摧毁的。

我现在正在做一项研究，比较不同的STEM（科学、技术、工程和数学）领域女性的发展，发现女性在计算机科学领域已经做得相当好，而在物理学、数学和天文学领域，几乎没有女性代表。因此，即使在这个行业内，也有一些领域被认为是更加女性化的，就比如有些人看不起前端开发，还有介于数据科学和社会学之间的计算社会科学也通常被看作是女性的事情，尽管计算社会科学需要使用数学，但是主要是研究社会学，所以更符合社会的对女性的性别期望，因为只有女人才想改善世界。

▲我们应该摆脱固有偏见，因为女生可以做任何事。</label><p><label>来源:divany.hu</label><p><label>翻译:小奥</label><p><label>阅读量:1.8万</label><p><label>转发:4</label><p><label>点赞:26</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月20日</label><p><label>发布时间:20:25</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KpEjQAGyw?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:全球</label><p><label>内容:女性市长致力采取影响深远的变革性措施，以促进世界各地城市的性别平等事业

联合国妇女署与世界城市和地方政府联盟日前共同举办了一场高级别对话“世代平等论坛”，以强调各地政府对世界性别平等的承诺。

新冠疫情大流行加剧了世界各个方面的性别不平等现象，并且让来之不易的性别平等努力成果倒退。为了更好重建性别平等事业，世界需要女性领导者。尤其是城市和当地社区，在加快构建一个更加包容、平等、可持续的未来的过程中不可或缺。

在面对新冠疫情和处理其他挑战中，女性市长的表现出类拔萃。许多女性领导者表现出了同理心和同情心，并采用了创新的方案来解决疫情对妇女儿童产生的不公现象。

联合国妇女署副执行主任阿萨·雷格纳（Asa Regner）表示，“城市是核心。我们需要各地城市和地区城府加入 ‘世代平等’，因为我们知道，转型从这里开始，从人们居住的地方开始，从他们认同的地方开始，从他们拥有家庭和工作的地方开始。”她补充道，“（此次论坛）是一个很好的机会，让我们可以学习到如何设想并实现更高水平的性别平等，也了解到市长的有力领导和具体行动是如何助力实现平等的。世界城市和地方政府联盟和联合国妇女署一同承诺，呼吁全球女性主义市政活动将关怀放在疫情复苏的中心。“

论坛上，来自伊斯坦布尔（土耳其）、突尼斯（突尼斯）、波哥大（哥伦比亚）、奥迭内（科特迪瓦）、丹加迪次大都会（尼泊尔）和夏洛特（美国）的市长们做出了意义深远的变革性承诺，这些承诺旨在解决妇女在决策中代表名额不足、对女权运动和权利活动家的资助和保护不足，线上和线下对妇女和女孩的暴力行为，妇女经济赋权和获得经济权利的障碍，气候变化和数字鸿沟等问题。”

波哥大市长克劳蒂娅·洛佩斯·埃尔南德斯（Claudia López Hernández）强调，“整个疫情当中，最让我们骄傲的事情之一，就是我们在首都建立起第一个护理系统。在这个时代，我们面临的巨大挑战之一，就是在全球，尤其是发展中国家面临经济危机、贫困危机之时，我们不会再让妇女去承担无偿的护理工作了。“

与会者还谈到，如何与妇女组织、女性运动开展“多样性“的合作，特别是与年轻的女性主义者、年轻女性主义者和年轻女性领导的活动合作，如何转变她们的社区、推动创新和社会公平正义，同时解决负面的社会准则和刻板印象。

伊斯坦布尔市市长埃克莱姆·伊玛目奥卢（Ekrem İmamoğlu）介绍了伊斯坦布尔正启用一系列全方位的工具，对性别平等做出坚定承诺，其中包括开通全天候多语言妇女热线电话和成立妇女咨询小组。服务将确保为残疾人和移民妇女提供无障碍和包容性的多语言服务。他补充说："除了覆盖所有人的完全平等之外，没有任何其他出路"。

该活动还探讨了妇女和女孩在城市和公共场所的安全问题，指出在私人和公共场所针对妇女和女孩的暴力事件连续发生，提供了“联合国妇女安全城市和安全公共场所全球旗舰倡议“的最佳实践的案例，该全球项目目前涵盖了32个国家的53个城市。

世界城市和地方政府联盟秘书长艾米莉亚·赛（Emilia Sai）主持了此次论坛，提醒大家在地方层面上履行承诺对于改变现状的重要性。“我们相信，女性领导可以带来新的光明、新的要素、新的关怀和新的政策。“

▲ 女性市长表现出色，城市助力性别平等。</label><p><label>来源:联合国妇女署</label><p><label>翻译:乌头拌饭</label><p><label>阅读量:14.9万</label><p><label>转发:2</label><p><label>点赞:36</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月21日</label><p><label>发布时间:19:43</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KpNtgkKBx?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:一个跨党派的议员团体敦促，在政府面临越来越大的压力，要求将性骚扰定为刑事犯罪时，那些在汽车上骚扰妇女的男人应该面临刑事指控。

工党的哈丽雅特·哈曼和保守党的妇女和平等问题专门委员会主席卡罗琳·诺克斯组成了一个跨党派联盟，推动政府通过修正警察、犯罪、判刑和法庭法案来加强反歧视措施。

哈曼、诺克斯和其他一些人也在呼吁将街头骚扰定为犯罪，并对强奸案审判中使用投诉人的性史进行更严格的控制。

今年早些时候，内政部长普里蒂·帕特尔会见了“Our Streets Now” 的组织者，这是一个由16岁的吉玛和22岁的玛雅·塔顿姐妹建立的运动团体。她们与慈善机构英国国际计划组织一起发起了一项名为 CrimeNotCompliment 的活动，并创建了一个 “现成的法案”来解决这个问题。

该慈善机构的首席执行官罗丝·考德威尔说，有必要制定一项独立的法律，将所有形式的公共性骚扰定为犯罪。“英国的女孩每天都面临着骚扰。她们被跟踪、喊叫、触摸和摸索——这需要停止，”她说，“随着这一法律变化，女孩和妇女将最终开始在公共场所感到更安全。”

3月，联合国妇女署英国办事处的一项调查发现，英国超过五分之四的年轻女性曾遭受过性骚扰，而且大多数女性对“虐待行为会得到处理”这件事失去信心。

妇女权利运动者尼姆科-阿里说，街头性骚扰仍然合法的事实是 “奇怪的”。“我们禁止乱扔垃圾，我们禁止在公共场所吸烟——现在，让我们禁止那些不能文明行事的男人的行为，”她说，“我不认为人们意识到它是如何侵蚀妇女的日常经验的。将其定为犯罪将是一个巨大的进步。”

▲ 无论任何形式的性骚扰都应该被定为犯罪，男人需要为自己“管不住的”下半身负责。</label><p><label>来源:《卫报》</label><p><label>翻译:viveka</label><p><label>阅读量:22.1万</label><p><label>转发:10</label><p><label>评论:2</label><p><label>点赞:32</label><p>评论内容:<br/>清九芸：赏月<br/>噗哈哈去海边：酸了<br/></p></li><li><p><label>发布日期:7月22日</label><p><label>发布时间:21:37</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KpXEpf3fl?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:全球</label><p><label>内容:伊斯坦布尔公约是制止基于性别的暴力的里程碑式人权条约，在该公约推出十年后，据运动人士称，妇女的权利和安全正面临着全球性的攻击。

尽管有46个国家签署了该条约，但据一位联合国特使称，世界已被暴力侵害妇女的大流行病所笼罩，Covid-19的出现加剧并暴露了这一问题。

联合国暴力侵害妇女问题特别报告员杜布拉夫卡·西蒙诺维奇（Dubravka Šimonović）说："Covid的流行揭示了之前发生的事情。在世界各地，拨打家庭暴力帮助热线的电话明显增加，妇女失踪或被杀的报告，以及缺乏逃离虐待的安全场所。"

她说："我们有一个暴力侵害妇女的大流行病，在大量的国家没有得到适当的解决。"

针对妇女和女孩的暴力事件的增加反映了对公约的政治反弹——这是第一个防止家庭暴力、保护幸存者和促进平等的具有法律约束力的国际框架。

世卫组织表示，四分之一的妇女和女孩曾受到伴侣的虐待。3月，在国内和国际上的广泛谴责下，公约的诞生地土耳其宣布它将从7月起退出该条约。

土耳其退出该公约是其政治家，包括总统雷杰普·塔伊普·埃尔多安多年来不断升级的反女权主义、反妇女和反LGBTQ+言论的结果。

埃尔多安多次公开表示，他不相信男女平等，他的政府越来越多地将妇女的安全与留在家中陪伴家人和生育更多子女联系起来。

斯洛伐克-捷克妇女基金联合主任米罗斯拉夫·博巴科娃（Miroslava Bobáková）说，在同样签署了该条约的斯洛伐克，该公约越来越被视为 "邪恶的本质"。该国的情况对于单身母亲、生活在贫困中的妇女和来自罗姆人社区的妇女来说尤其严峻。

在墨西哥，每天有10名妇女因性别原因被杀害。在秘鲁，根据妇女部的数据，在2020年3月至7月期间，发生了11000起针对妇女的暴力事件，其中近30%的受攻击者年龄在18岁以下。

在从未签署过《伊斯坦布尔公约》的埃及，有越来越多的人试图以违反所谓的家庭价值观为由压制女权主义活动家。

然而，运动者和妇女权利团体坚持认为，《伊斯坦布尔公约》仍然是结束基于性别的暴力的斗争中的有力武器。

▲ 反性别暴力不能仅依靠《伊斯坦布尔公约》，需要制定更多的相关法律。</label><p><label>来源:《卫报》</label><p><label>翻译:viveka</label><p><label>阅读量:7.3万</label><p><label>转发:4</label><p><label>点赞:23</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月23日</label><p><label>发布时间:21:17</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kq6WCeoeL?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:当三个女孩发现她们拥有同一个“海王”男友后，她们甩掉男友成为密友，还一起改造30岁的旧大巴开启奇妙历险。

三个女孩在去年12月的寒冬里发现了令人心碎的事情。

21岁的Tabor在社交软件和VSCO上发现了一个女孩的她男友的亲密照。“我真的不知道该怎么形容当时的心情。我本来以为我要和他结婚的。之前甚至我们都谈到了买房和婚礼，但我的世界瞬间在那个时候崩塌了。”

随后，她找到了那个女孩 Roberts——当然现在是她的好朋友了。她们一起通过男友社交网络上的点赞和评论一起挖掘。最终发现她们的男朋友同时有6个女朋友，分布在不同的城市，并且女孩们之间都毫不知情。

在六小时后的视讯后，Tabor看见她的骗子男友捧着一束花站在她的房门前。“他想要给我惊喜。但是Morgen已经夺过他的花扔在地上，并且将我的两个新朋友以及视讯上的另外的朋友介绍给他看。”当时，男友的脸色立马白了。

在听完男友包括他觉得同时拥有这么多女朋友是完全ok的事情等所谓的解释和借口后，所有的女孩一起同时甩了他。

在创伤修复后，三个女孩Tabor,Roberts,King成为了好朋友，她们发现她们都有一个共同的梦想，买一辆大巴环游国家。

几个月后，三个女孩一起攒了5000刀买了一旧大巴并准备开启奇妙之旅。

KING说，“我们不会再讨论前男友了，他根本不是我们生活的一部分，还有更重要的事情要去向往，我们将走向人生的新篇章。”

她们从Idaho开始启程，一路向东，泡过温泉，潜过湖泊，也逛了黄石国家公园......“如果让我去描述这段经历，我会说这是超现实的”Roberts说，“从我们离开Bosie那一刻起，我们就在露营地、徒步旅行中，通过我们的 Instagram 遇到了许多了不起的人。 我们从这么多鼓舞人心的人那里学到了很多东西，也从我们能够度过的令人惊叹的大自然中学到了很多东西。这绝对是超现实的。”

“那个男人不值得半点信赖，本来想说F*uk you，但是现在还是说Thank you。感谢他让我们走到一起。”最后，Roberts说。</label><p><label>来源:CNN</label><p><label>翻译:小容</label><p><label>阅读量:2.8万</label><p><label>转发:12</label><p><label>评论:3</label><p><label>点赞:54</label><p>评论内容:<br/>moonsummer：恕我庸俗 她们的钱哪来的<br/></p></li><li><p><label>发布日期:7月26日</label><p><label>发布时间:16:44</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KqxrsBrtB?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:挪威&德国</label><p><label>内容:女运动员正在拿回她们的奥运队服的掌控权

妇女在体育运动中的着装通常按照约定俗成，而这些"传统"既是过时的，也是性别化的。长期以来，她们的服装一直试图调和"女性气质"和"运动精神”的概念，将女性变成了被注视的物品，而不是因其运动技能而被欣赏。

然而，最近奥运队伍中出现了抗议的声音。慢慢地，女运动员们正在对过时的制服规定进行反击，并要求将运动精神置于美学之上。

现在运动制服的侧重点似乎是暴露女性的身体，而以前的情况恰恰相反。在19世纪，当中上层阶级的妇女终于被允许参加草地网球等比赛时，她们的着装是"女性化”的、保守的，旨在吸引潜在的丈夫而不是增强她们的运动能力。毫无疑问，她们的束腰和长裙会严重限制她们像今天的女网球运动员那样在球场上奔跑和跳跃的能力。

1908年，丹麦体操队穿上了一些新的 "紧身衣”- 从那时起，运动服装有了长足的进步。到了20世纪初，体育课成为女性运动服改革的主要推进力。运动鞋和外衣将女性的身体从紧身胸衣和束腰等束缚性服装中解放出来。

虽然这样的变革看起来很先进，但新制服的桶形轮廓小心地掩盖了年轻女性的身体。她们第二性征的发展迹象都被有效地掩盖了，保留了 她们传统的形象，为她们将来在社会中扮演母亲的角色作准备。

今天的女运动员仍在与着装规范的惯例作斗争，但她们已开始公开反对这些惯例。

就在本月，挪威女子沙滩手球队在保加利亚举行的欧洲锦标赛期间因 "服装不当"被罚款。这是因为她们穿着平角裤比赛，而不是规定的超短比基尼底裤，根据2014年国际手球联合会的规定，比基尼底裤应该是 "贴身的，并以向上的角度切向腿部"，最大侧宽度为10厘米。而男子沙滩手球队一直都被允许穿短裤。

在请愿用短裤取代比基尼底裤未果后，挪威女队在与西班牙队的铜牌赛中自作主张。尽管受到欧洲手球联合会的罚款或取消资格的威胁，她们还是选择了表明立场，穿上了长达大腿的弹性短裤。这导致球队被罚款1500欧元。挪威手协同意代表球员支付罚款，以示支持。

今年在瑞士举行的欧洲艺术体操锦标赛上，也有女运动员提出类似的着装抗议。德国体操运动员决定表明立场，反对她们的性化，穿上了覆盖全身的衣服。这个决定得到了德国联合会的全力支持，该联合会建议女运动员在穿着服装时应始终感到舒适。

全身连体衣虽然在女子竞技体操中很少见（除非有宗教原因要穿），但实际上符合国际体操联合会（FIG）的规定。竞争者被允许穿 "连体服"，只要它 "设计优雅"。德国选手自由选择穿着的权利无疑帮助他们在表演时感到更加自如。应该指出的是，体操一直是一项充满虐待丑闻的运动。

手球和体操的例子都强调了女性作为体育机构的内部人员，是如何开始挑战体育协会对她们身体的掌控。这为更多的女运动员反对着装规范铺平了道路，这些规范是建立在对女性外貌的陈旧观念上的，而这些观念往往是通过男性的眼光建立的。

尽管女性的运动表现在历史上一直受到阻碍且被性化，但在穿着规范如何管制她们的身体这方面，女运动员们终于开始发号施令了。

也许现在我们可以专注于她们的运动能力和对体育的贡献。

▲在以“性别平等”为主要原则之一的东京奥运会期间，我们应该开始重视男女运动员各个方面是否获得相同的机会和待遇。</label><p><label>来源:The Conversation</label><p><label>翻译:利虎</label><p><label>阅读量:3.7万</label><p><label>转发:32</label><p><label>评论:3</label><p><label>点赞:115</label><p>评论内容:<br/>龙商龙商龙商：是来比赛的，不是来选妃的，女运动员也可以穿平角裤！<br/>桃汽__：您好~这里是官号微博新星的运营同学~想跟您沟通下扶持工作事宜~看到请私信我哦<br/>柠檬百香果好喝诶：让我们专注于女性运动员对于体育的贡献！<br/></p></li><li><p><label>发布日期:7月27日</label><p><label>发布时间:16:56</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KqGWDDU1q?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国军队中三分之二的女性报告受到欺凌和性虐待

具有里程碑意义的议会报告指出了军队在处理性侵犯和性骚扰方面的严重问题。根据这份议会报告，武装部队中几乎三分之二的女性在其职业生涯中都经历过欺凌、性骚扰和歧视，该报告称英国军队 "未能保护"女兵。

国防小组委员 ...展开全文c</label><p><label>来源:The Guardian</label><p><label>翻译:利虎</label><p><label>阅读量:1.3万</label><p><label>转发:14</label><p><label>点赞:35</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月28日</label><p><label>发布时间:18:16</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KqQTwEInD?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:全国黑人妇女理事会正在起诉强生公司，向黑人妇女推销可能致癌的滑石爽身粉。

全国黑人妇女理事会（NCNW）周二在新泽西州高级法院提起诉讼。该组织在诉讼中称，其几名成员多年来一直使用强生婴儿爽身粉，现在已经患上了卵巢癌。

"内部文件表明，强生公司将这些广告针对黑人妇女，因为他们知道黑人妇女更有可能经常使用这些粉末产品，"起诉书称。"然而，这些滑石粉产品并不安全"。

在NCNW提起诉讼大约三年前，密苏里州法院在一起类似案件中命令强生公司向受害妇女支付47亿美元的赔偿。该和解金额后来减少到21亿美元。

佛罗里达州的民权律师Ben Crump将在此案中代表NCNW。该组织正以过失罪和消费者欺诈起诉强生公司，认为他们未能警告客户产品可能存在的缺陷。诉讼中没有说明该组织所寻求的具体赔偿金额。

Crump在周二于华盛顿特区举行的新闻发布会上说："这场诉讼关系到我们的祖母、母亲、妻子、姐妹和女儿的生命，她们都被强生公司冷酷无情地盯上了，"这位律师说："一直以来，公司高管都知道滑石粉带来的卵巢癌风险。

在周二的一份电子邮件声明中，强生公司否认其产品导致癌症。该公司表示："对我们公司的指控是错误的，认为我们公司会有目的、有计划地针对一个社区的不良意图的想法是不合理的，也是荒谬的。

目前分析该问题的主要研究是由美国政府发起的一项对25万名妇女的调查。该研究发现没有强有力的证据表明婴儿爽身粉与卵巢癌有关，尽管该分析的主要作者称结果 "非常模糊"。

尽管如此，对滑石粉的健康担忧已经促使数千名妇女提起诉讼，她们声称这些用在私处的粉末中含的石棉导致了她们的癌症。滑石粉是一种结构类似于石棉的矿物，而石棉是已知的致癌物，它们有时会来自同一个矿场。

NCNW的诉讼中也提到了强生公司正在面临的其它法律问题。"但这些诉讼并没有补救强生公司对黑人社区--特别是黑人妇女--造成的具体伤害，因为他们把这种危险产品的广告对准了她们，"该诉讼写道。

自从这些诉讼浮出水面以来，强生公司说它已经停止销售其婴儿爽身粉产品。该公司已经预留了近40亿美元用于解决未来的滑石粉诉讼案。

路透社报道，2015年在洛杉矶进行的一项研究发现，44%的非裔美国妇女报告使用滑石粉，而白人妇女为30%，西班牙裔妇女为29%。

诉讼称，多年来，黑人妇女一直在使用滑石粉，这对她们的身体产生了负面的健康影响，认为强生公司有法律责任告知用户其产品的健康危害，并建议她们及时求医。

NCNW执行董事Janice Mathis在一份声明中说："这家公司通过其语言和图像告诉黑人妇女，我们的纯天然的身体是可厌的，需要使用他们的产品来保鲜。”过去的几代黑人妇女都相信了他们，导致我们每天使用他们的产品，增加了癌症的几率--我们甚至教导我们的女儿也这样做。"

▲过去的几十年，黑人和其它有色人种妇女的身体一直在不知情的情况下被各大医疗公司甚至政府部门当作实验活体、小白鼠，是时候我们揭开过去的丑恶现实，去要求应得的赔偿了。</label><p><label>来源:CBS News</label><p><label>翻译:利虎</label><p><label>阅读量:1.4万</label><p><label>转发:7</label><p><label>评论:1</label><p><label>点赞:29</label><p>评论内容:<br/>斜阳织云：强生爽身粉 致癌 央视，这三个关键词在浏览器搜索一下，时间有2017,2018,2019,2021。<br/></p></li><li><p><label>发布日期:7月29日</label><p><label>发布时间:14:49</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KqYXXkLDE?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:索马里</label><p><label>内容:对索马里女性割礼问题采取行动
！13岁女童的死亡引发呼吁

索马里一名13岁女孩在接受割礼(FGM)手术后死亡，活动人士报告称，疫情期间这种做法有所增加。

Fartun Hassan Ahmed是游牧牧民的女儿，她的母亲说，本月早些时候，她在Galmudug州的Jeerinle村被割伤，失血过多而死。

“我们想找一辆车(送她去医院)，但车没能及时赶到……我们不知道该怎么办。后来我们发现了一辆车，但车到达时她已经死了。”她说，从凌晨女儿被割伤开始，她就一直陪着她流血，直到下午4点左右她去世。

她的父母特别后悔自己的决定。全球媒体运动就Fartun的死亡联系了当地警方，并被告知该家庭已被传唤接受采访，但没有人被捕。

活动人士认为，这是自2018年以来，索马里报告的首例女性生殖器切割死亡案例。这个东非国家是世界上割礼率最高的国家之一，但没有国家法律禁止这种做法。

在索马里，估计有98%的妇女和女孩被切割生殖器，大多数在她们10岁之前。

由于新冠肺炎学校关闭，活动人士的外联工作减少，据信，在大流行期间女性割礼率有所上升。联合国人口基金(UNFPA)警告称，未来十年全球可能会新增200万被害者。

“我们比以前更需要强有力、更大胆的行动。我们敦促政府、宗教领袖、民间社会组织、媒体和当地社区打击这种有害的做法，因为这种做法侵犯了女孩的身体自主权、性健康和生殖健康、受保护权和免受暴力侵害的权利，在Fartun这样的极端情况下，还侵犯了她们的生命权。”

2021年7月25日，坦桑尼亚已签署并批准人权协议，承诺保护妇女和女童免受女性外阴残割等有害习俗的侵害。</label><p><label>来源:equality now、End FGM Campaign</label><p><label>翻译:丸子</label><p><label>阅读量:3.4万</label><p><label>转发:87</label><p><label>评论:10</label><p><label>点赞:220</label><p>评论内容:<br/>-搁浅de鱼儿：这“礼”给男的要不要？<br/>安哥拉长条大咸咸：这不是“礼”，是“酷刑”<br/>炸金针菇2021：“宫刑”应该叫“宫礼”//@安哥拉长条大咸咸:这不是“礼”，是“酷刑”<br/>冬眠旳喵：根本原因是什么？资源分配不均吗？——她们割女儿是怕女儿没男人吧，是因为男人这么要求吧，那为什么怕没有男人呢？也是因为男人掌握了资源，女人不得不依靠成为男人附属品生存吗？还是仅仅因为奇怪的信仰？<br/>画莲望闲：难受😔<br/>yourcybermoonlight：#不是割礼是仇女酷刑#<br/>红泥小火炉与茶：越落后的地方，这种垃圾传统越多。//@-搁浅de鱼儿:这“礼”给男的要不要？<br/></p></li><li><p><label>发布日期:7月30日</label><p><label>发布时间:14:15</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kr8aH5CWj?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:丹麦</label><p><label>内容:一场女性社交媒体运动在丹麦展开，遭受性暴力和性骚扰的女性受害者持续发声，以回应羞辱。

使用标签#dajegsagdefra(大意是“当我说不的时候”)，丹麦女性描述了在她们拒绝攻击者的示好后，持续发生的针对她们的攻击、暴力、骚扰和羞辱。

社交媒体上有评论称，女性可以通过坚定地说“不”来避免被侵犯，于是这个话题标签开始流行起来。这种言论被批评为：试图将性侵犯、暴力和骚扰的责任推给受害者。

这场讨论与丹麦的M2辩论有关。在2020年底数千名女性分享了性骚扰故事后，M2辩论仍是该国的一个突出问题。

丹麦辩论中的另一个声音是哈特拉·帕瓦尼(Khaterah Parwani)，作为组织主管，她也在推特上使用了这个标签。

她描述了几起她在对攻击者说“不”后，仍遭受暴力和虐待的事件。包括：“在医院被攻击后无法辨认”，以及“在一间透明房间里被殴打，流血不止地躺在潮湿的人行道上”。

在这些带有话题标签的推文中，这些女性描述了性侵犯或性骚扰的情况：在她们告诉侵犯者停止后，情况反而恶化了。

支持组织Voldtægtsofres Vilkår的主席克里斯汀·霍尔斯特(Kirstine Holst)也是分享人之一。

霍尔斯特在推特上写道:“当我说不的时候，我被掐住喉咙并被强奸了。”

周二，丹麦的许多推特用户还关注了一份由北西兰警方发布的事件报告。

在该事件中，一名15岁的女孩要求一名22岁的男子停止对她和朋友吹口哨，并告诉了他自己的年龄，随后一名男子对她进行了身体暴力。

在这场社交媒体运动中，更多女性正站出来反对对性侵犯受害者的羞辱。</label><p><label>来源:The Local</label><p><label>翻译:丸子</label><p><label>阅读量:1.8万</label><p><label>转发:6</label><p><label>评论:1</label><p><label>点赞:30</label><p>评论内容:<br/>是大橙子喵：请不要把责任都推给受害者<br/></p></li></ol></body></html>