<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202108微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年08月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:8月2日</label><p><label>发布时间:18:23</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KrC4L4KD1?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国第一国家电视台每日新闻栏目于8月1日报道了吴亦凡因涉嫌强奸罪被刑事拘留：“吴亦凡被捕的消息在中国爆炸了。中国当局指控这名30岁的流行歌手多项强奸罪名。这是中国首都北京的公安在网上宣布的。”

“针对吴亦凡的强奸指控已经出现了几周时间。超过20名女性自7月初以来，指控吴亦凡把她们故意灌醉并强奸。这名流行歌手否认了一切指控。”

“吴亦凡是中国最有名，最成功，收入最高的名人之一，是歌手，演员，电视节目主持，模特和网红。女权活动家们庆祝了他的被捕。”

“这是一起具有政治目的的案件。虽然吴生于广州，但他具有加拿大国籍。所以他的被捕也是一个外交事件。”

“中国和加拿大的关系目前处于几十年来的最低点。其中一个原因是华为一名高管在2018年末由于美国的逮捕令，在温哥华被软禁。”

“中国政府明显为实施报复，立即逮捕了两名在中国境内的加拿大人。Spavor和Kovrig目前仍处于单独监禁中。现在逮捕加拿大人吴亦凡，可能为两国外交带来新的影响。”

在文章中间和末尾，每日新闻还提供了多个新闻链接，全部与孟晚舟和华为相关。

（来源：德国第一国家电视台驻上海记者Steffen Wurzel；翻译：小庄）

▲ 如此报道性侵案件，是对犯罪者的掩护，对受害者的无视</label><p><label>来源:德国第一国家电视台驻上海记者Steffen Wurzel</label><p><label>翻译:小庄</label><p><label>阅读量:5.1万</label><p><label>转发:63</label><p><label>评论:27</label><p><label>点赞:813</label><p>评论内容:<br/>小蘋微雨：吴签也配“外交事件”???<br/>eternalsc_某科学的言和FAN：抓了说是政治报复，如果没抓的话说不定就来抨击我们的法治了<br/>龙虾酱lobster：再次印证国外各种对中国指控都是垃圾话，你反驳都是在浪费生命。胖虎揍大雄都能给你报道成大熊用身体撞伤胖虎的手<br/>_Chocolaty：一个强奸犯有这么重要啊？<br/>佛系青年1818：欧美西方国家，从来都是抹黑污蔑我们！👊拳头硬了！<br/>少爷的伯爵红茶：？？咋的，不女权就不能骂这种东西了吗？感情不是女权都是一群强奸犯呗<br/>E橘子果酱牛肉馅饼：抬举签儿了，外国人也想太多了吧，笑活了<br/></p></li><li><p><label>发布日期:8月3日</label><p><label>发布时间:16:34</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KrKNk7bjq?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:韩国一群男人们正在要求韩国射箭协会回收奥运会选手安山打破奥运纪录的金牌，理由是“她是一个短发的女权主义者”。这只是最近的其中一项反对女权主义者的行动。

他们质疑射箭选手安山的女权主义者身份，是当她出现在国家电视台对奥利匹克比赛的转播中，她的短发被认为是女权主义者的标志。“她看起来确实极其像女权主义的类型。”

对安山的猛烈的网络暴力是通过一个男性主导的在线社区开始的，基于她的这些个人情况：“有短发，只去女校学习，使用厌男口头语、戴着纪念“the Sewol”沉船事件的徽章、是MAMAMOO的粉丝、来自光州”。

除了这些她个人身份和事实的信息，她此前在社交网络上对“为什么剪短头发”的回应，展示了她不愿道歉的态度，这个截图也成为了这些男人下一个攻击的目标。安山的回应是“因为这样很方便”。此外，她通过在instagram上分享一个私信截图，公开谴责了有体能歧视者侮辱她并喊她“一个残废”。

对安山的坚强和她对“好女人、顺从女人”标准的坚决否定，这些男人感到厌烦并开始有策略地策划一起网络霸凌活动来让安山顺服，利用的是熟悉的手段：指控一个“厌男”的形象，并用编造的证据来支撑他们的论断。

这个社群的男人在各个社交媒体平台发布相关内容，将安山塑造成一个分裂的、仇恨男性的激进主义者，并让社会公众去谴责她。

他们开始攻击射箭协会的网站，要求取消金牌，以及所有一切她所获得的相关特权，因为这些奖励是用他们的税费来支付的；指控是基于安山曾经使用的网络俚语“Blah blah blah”和“5.5万亿”，这有着“厌男”倾向的带贬义的词源。

重要的是，这些参与网暴的男人们，充分地了解他们的做法是欺凌的，并且指控的事实基础是薄弱的。

当问到这指控背后微弱的逻辑，这些男人公开承认，“我知道这没有逻辑也不公平，去把这些原本中性的词条变成带有仇视男人色带的词语，但我觉得很烦公开听到这些词条，我想让我脑袋静静。

“我们知道这些词条并没有什么厌男主义根源。但是从今天开始，它们将会被划分为厌男症，因为我们想这么做。我们知道我们的声音足够大，我们的指控就会变成事实。这就是我们的目的。”

确实，这些男人已经通过同样的手段积累了很多的胜利。他们组织了多个针对女性名人的网络霸凌，让她为某些用词或手势向他们道歉，而这些用词和手势并没有任何攻击男性的意思。他们最近的目标还有K-pop女子组合Brave Girl的Yuna，杰出创作歌手IU，喜剧演员Narae Park，脱口秀出品人和主持人Jae Jae等等。

但他们已经如此成功，让韩国大公司和军队为在广告中使用了夹手敬礼手势符号而道歉，这个手势是在嘲笑侮辱了他们的“兄弟”太小。一些韩国男人想要让那些使用了夹手敬礼手势符号的便利连锁店、时尚商店和麦当劳，停止使用这个夹手敬礼的符号。

实际上，通过一次次向公众发泄怒火，他们似乎成功地实现了他们的目标：显而易见，每一次被社会安抚，他们确信了他们的地位和权利，他们的声音必须被大众听到和认可。

毫不惊讶的是，这一次次成功“申诉”进一步给他们壮了胆，让他们继续发布可笑的、歪曲事实的、经过巧妙加工的项目，使得韩国女性运动在被公众认可之前面临更多误解、遭遇边缘化及政治审查。

这样的运动塑造了一个愈发让女性感到警惕和不安全的世界。近期事件传递了一个清晰的信息，任何让男性不快的运动有一天也许会被标签或解读为“仇视男性”的行动，并且让她们可能受到匪夷所思的伤害，甚至跟事业相关。

有很多公司和机构非常认真的对待这个运动。星巴克、GS25连锁便利店、韩国军队都已经完全向这些男人的需求屈服了，迅速地划清了它们与“仇男女权”的界线。

Raphael Rashid推特发言：
“仇视男性”的热潮继续在南韩发酵：现在星巴克速溶咖啡要卑躬屈膝地向这些脆弱的男人道歉了，向他们的阴谋诡计投降。这些脆弱的男人宣称星巴克速溶咖啡在Instagram上发布的广告使用了表示“鸡儿小”的手势，这是“仇男”的表现。该广告已删除。

奥运会选手安山做出了一个勇敢的选择，一个持续地通过大大小小的失败的积累去夺取拥有自我道德立场的权利。

当这些男人开始在网上侮辱安山时，人们是坚决地团结一致地和安山站在一起。他们已经要求相关部门在网络暴力中保护好安山，不能让她被强迫去道歉，不要让她去回应这些网络喷子，为安山主张一切法律权利，让网络霸凌受到正义的惩罚。

女人们纷纷加入到支持者的队伍中，超过6000人上传了她们短发的照片，长发女孩们则发表了观点：头发长度不应该作为性别平等运动的指标。女演员Koo和Sohn也加入其中。

文章作者是一名以写作为主的南韩性别活动家，正在主导一个名为“团结一致”的传媒项目，旨在强调当今韩国的性别权利运动在重新构建社会话语与行为中所扮演的重要角色。她希望在不断增强的厌女者的语境中，聚焦这一系列来自大公司和公共机构的误导行动所带来的伤害。</label><p><label>来源:推特solidarity.kr_</label><p><label>翻译:小羽</label><p><label>阅读量:1.1万</label><p><label>转发:2</label><p><label>点赞:4</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月3日</label><p><label>发布时间:19:27</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KrLVddWP1?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:自上个世纪90年代以来，韩国政府一直在创造合适的政策环境来帮助韩国男性与外侨女性结婚，一开始政策针对的扶持对象是农村地区找不到结婚对象的男性。而那些嫁到韩国来的女性的生活并不容易，有的在来到韩国时就被烙上污名，并也有报告显示她们遭受着家暴和虐待。韩国政府运营的多文化家庭支持中心(Multicultural Family Support Centre)的数据显示，近年来，来到韩国并与韩国男性结婚的女性数量增加了一倍多，从2007年的120110人增至2019年的287298人。但东亚和南亚移民妻子是邮购新娘或被“卖”给丈夫的刻板印象仍然存在，歧视也依然存在。

但这些来自异国的女性们正在打破那层透明天花板。

来自尼泊尔的Kim Hana通过由她阿姨安排的相亲认识了现任的丈夫。据她描述，对于尼泊尔的年轻人来说，到海外工作或者是结婚都是一件很平常的事，毕竟在尼泊尔，个人能拥有的发展机会很少。她记得，当她的儿子还小的时候，在公交车上有一位男性曾对她大喊“坐过来，越南人！”，在韩国，外侨新娘大部分都是越南女性，占三分之一。

现在，距离她刚嫁到韩国已经十一年过去，她很大程度上也已经能够摆脱作为外侨新娘而被歧视的苦恼了，并且觉得社会在包容更多来自不同文化背景的人方面取得了进步。现在，她是一名负责外交事务的警官，是社区中尼泊尔人和韩国人之间的桥梁，是在韩国为数不多的外侨警察之一。

她说：“有的人可能会认为，作为一名嫁到韩国的外籍女性，我做警察不会比当地的其他人更优秀，但我觉得，当我穿着制服，腰上别着枪时，没有人会质疑我‘看起来不像韩国人’。“

▲ 对于女性来说，阻止她们竞职的，远远不止是因为性别，社会文化和体制对女性也会施加一层隐形的天花板。</label><p><label>来源:BBC </label><p><label>翻译:阿汤</label><p><label>阅读量:1万</label><p><label>转发:2</label><p><label>评论:2</label><p><label>点赞:19</label><p>评论内容:<br/>让我想想我得叫什么：我就挺好奇 她是怎么入公安系统啊？真的好奇 就算入籍了 她是另外再考进去吗？<br/></p></li><li><p><label>发布日期:8月4日</label><p><label>发布时间:20:17</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KrVG8bx09?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:韩国总统候选人尹錫悦在国会上称，“女权主义应该是健全的女权主义，不应该被选举和为了连任所利用”。就少子化问题，他表示“女权主义在政治上受到了榨取利用，阻碍了男女之间的正常交往”，将少子化问题和女权主义挂钩。

他的言论引起了广泛的批评，其中前国务总理丁世均直接在Facebook表示，“尹候选人反而是助长了厌女文化，听到尹候选人认为女权主义是少子化的原因，女权主义阻碍了男女正常交往，太过于荒谬搞笑，我已经笑不出来了。”并批评说：“我怎么也不相信这是想要做总统的人说出来的话。”

▲ 与其说女权主义被政治所利用，不如说反女权主义被政治所利用，来讨好一些愚昧无知的人。</label><p><label>来源:雅虎日本 </label><p><label>翻译:小安</label><p><label>阅读量:1.9万</label><p><label>转发:9</label><p><label>评论:4</label><p><label>点赞:55</label><p>评论内容:<br/>爱晴宗师陆小凤-：这个前任总理说的很对啊！如果女权导致少子，那现在的韩国社会难道已经是女权了么？并不是吧？但依然少子，说明男拳才是少子的根本原因啊<br/>看猪如何爬树：果然是东亚三国肩并肩<br/></p></li><li><p><label>发布日期:8月4日</label><p><label>发布时间:21:09</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KrW1sw6t5?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:6月3日，韩国共计38家民间团体在首尔市麻浦区举行了“废止性别歧视教育市民联合行动”的开始仪式。该团体将致力于废止强制女权主义教育的行动。

该团体的常务代表在开始仪式上称“一部分教师们用不正常的手段给学生们灌输女权主义思想，让孩子们十分窒息”。认为“给学生的性教育、性别平等教育都属于女权主义教育”。他们的团体将“努力从渗透到学校内的错误的女权主义教育中拯救孩子们”。该团体要求彻查“有组织地对学生和青年们强制灌输女权主义思想的一部分教师们”。

今年5月，青瓦台（总统府）国民请愿栏上出现了题为“关于有组织地洗脑学生的问题，请求调查、处罚和公开身份”的文章。请愿者称怀疑一部分教师利用网络结成团体，有组织地给学生洗脑，灌输女权主义思想。目前还不确定事情的真伪，希望彻查此事，严厉处理。
该项请愿在6月3日得到了超过30万人的支持。

▲ 大家怎么看这件事？</label><p><label>来源:雅虎日本 </label><p><label>翻译:小安</label><p><label>阅读量:13.7万</label><p><label>转发:297</label><p><label>评论:84</label><p><label>点赞:3939</label><p>评论内容:<br/>女性生存现状bot：“给学生性教育、性别平等教育都属于女权主义教育”“努力从错误的女权主义教育中拯救孩子们”？？？我没看错吧韩国这是要向中东发展了吗？<br/>暴脾气阿宅：无话可说，劣精早点灭亡吧<br/>雷神默默：再过50年，南朝鲜就会因为没有新生人口自动灭绝了吧<br/>遥遥迢1366：韩国快毁灭吧什么反智东西，男的掌事就是容易把自己搞死，男的不行<br/>葉子_请支持领养代替购买：韩国这是励志成为下一个印度啊，由此可见，韩国女性缺乏到何种程度了，棒子男生怕找不到女人也不反思下自己，居然还想着把女性变成奴隶，吃枣药丸。<br/>寻找橄榄树的小鸟：韩国的社会阶级矛盾巨大，部分势力为了不让阶级矛盾变成主要矛盾，就从性别矛盾入手，企图挑拨性别矛盾转移社会压力<br/>Sweven_Deep：我记得韩国好像有一个“女党”……之前还竞争市长什么的，看似很进步结果比我们这儿还拉垮<br/></p></li><li><p><label>发布日期:8月6日</label><p><label>发布时间:22:08</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Ksfgdwldt?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:
近几年来，玩具制造商美泰公司（Mattel）一直被指责他们设计的芭比娃娃“给人们塑造了一种不现实的女性形象”。

2006年，英国的研究人员在一项实验中对芭比娃娃的图片对5到8岁的女孩造成的影响进行了评估，实验分为对照组和实验组，在看完一组图片后，研究人员询问了她们对自己身材的看法，结果发现那些观看芭比娃娃图片的小女孩与其他人相比起来要对自己的身体更加没有自信得多。在后续实验中，研究人员则让年轻的女孩去实际地玩芭比娃娃，结果却发现短时间内她们并没有出现前面的这种消极情况。但从长远来看，实验中那些从小就喜欢玩芭比娃娃的女孩，成年后却会更倾向于去遵循刻板印象中的“女性规范”。更糟糕的是，另有研究表明，玩芭比娃娃会对女孩对自己的未来职业选择和自身能力看法产生负面影响。

一开始，受到指责后，美泰公司还声称这样不合理的身材比例是为了方便娃娃的穿衣和脱衣，不是照着正常成年人的体型为样板设计的。在 2014 年，芭比娃娃的设计副总裁 Kim Culmone还仍坚持认为没有理由让他们去改变娃娃的比例以使其更加符合常理。然而，面对玩具销量多年的下滑趋势，美泰公司似乎改变了主意。

就在2018年的妇女节前夕，一款以英国奥运拳击冠军Nicola Adams（尼古拉·亚当斯）为原型的芭比娃娃问世，该娃娃配有一双 “能打破任何性别玻璃天花板的拳击手套”。美泰公司则于该年三月六日表示，希望这款亚当斯娃娃能够激励女孩们取得成功。

亚当斯说她的洋娃娃很“酷”，希望它能激励年轻女孩追逐梦想。她在一份声明中说:“如果一路上没有我的榜样对我的支持，我也就不会成为现在的我。”

“在我的成长过程中，我最大的榜样是我的母亲和穆罕默德·阿里——在我小的时候，媒体上没有女拳击手，如果我看到其他女性拳击，我可能会更早发现我对拳击这项事业的热情。”

该公司表示，这款芭比娃娃是2018年全球的14款新芭比之一，旨在向下一代的女孩们展示她们可以成为任何自己想成为的人。芭比总经理丽莎•麦克奈特(Lisa McKnight)在一份声明中表示，公司之所以选择表彰这些榜样，“是因为我们知道，如果没有榜样，你就无法知道你未曾见过的天空是什么样的，也就无法活在那片天空之下”。

“有了芭比娃娃，女孩们总能扮演不同的角色，成就不同的事业。我们很高兴能将现实生活中的楷模展现出来，提醒她们，她们可以成为任何她们想要变成的人。”

近日，芭比娃娃制造商巨头美泰公司（Mattel）又设计了一款以研发出了牛津Corona冠状病毒疫苗的教授及爵士Sarah Gilbert（莎拉·吉尔伯特）为原型的芭比娃娃，用以致敬像她一样对科学领域做出贡献了的女性。Sarah爵士表示，虽然她觉得这个娃娃对她来说非常诡异，但她仍希望这可以对儿童起到启发的作用。

“我希望这款（以我为原型的）娃娃能够向孩子们展示一些他们或许没有注意到的职业，比如说像我一样的疫苗科学家。”

这是美泰公司用来致敬那些在科学，科技，工程以及数学（stem）方面付出的女性而参照现实人物设计的芭比系列中的其中一款娃娃，这个系列目前有六款不同的人物角色，其中包括了一位为卫生工作者设计了可重复使用的长袍的澳大利亚医生和一位巴西的生物医药研究员。而公爵Sarah研发的Oxford-AstraZeneca疫苗是目前世界上使用范围最广的疫苗，已经在七十多个国家中得到了广泛应用。

“我非常热切地想要激励下一代的女孩们去从事于理工科（Stem）领域，也希望孩子们在看见了以我而设计的芭比娃娃后，能明白科学所涉猎的领域对我们的周遭生活有多么重要。”

▲ 单一叙事的危险在于它往往会成为唯一叙事。

（来源：路透社，BBC，TheConversation，PacificStandard ；翻译：阿汤）

*图片依次为：尼古拉·亚当斯，莎拉·吉尔伯特，以及《辛普森的一家》中主角Lisa Simpson 对芭比娃娃的设计表示抗议</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:2.1万</label><p><label>转发:11</label><p><label>评论:4</label><p><label>点赞:73</label><p>评论内容:<br/>小不正呀：还有研究发现，玩不正常体型芭比娃娃的小孩，相比起玩正常体型芭比娃娃的小孩，身材外貌焦虑也会比测试前高，后者则测试前后未见明显差异。<br/>少年郎漫步：女孩子应该有权选择自己成为什么样的人，而不是被定义在框框里。男孩子也一样。<br/>遥遥迢1366：我当芭比娃娃是模特给她缝衣服玩<br/>修窗户的到底是谁啊：好酷！<br/></p></li><li><p><label>发布日期:8月10日</label><p><label>发布时间:00:01</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KsIhrAEov?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:8月6日，小田急线列车上发生了针对女性的无差别持刀伤人事件。混乱的车厢内，一位恰好在车上的女性护士，给伤者进行救治的声音被一个视频记录了下来。

“有谁拿着布吗？我是护士。”声音的主人是一名20多岁的女性护士。

她在接受JNN采访时说：“我想着必须得做点什么。我握着受害人的手，和她说已经没事了，加油，深呼吸。”

据相关调查人员透露，嫌疑人对马悠介（36岁）从6号车厢上车后，马上移动到了旁边的7号车厢，站在了车门附近。几分钟后，突然从手提包里拿出刀，刺向坐在对面座位边上的女大学生，使其受了重伤。

他挥舞着刀一个接一个地袭击乘客，同时走向别的车厢，在车内洒下色拉油，准备用大型打火机点火。但是没有点火，乘客从打开的应急车门逃走了。他的犯罪行为持续了2分钟左右。

受访的女护士回忆说：“我还记得当时所看到的情形，车厢内血淋淋的、智能手机、伞、耳机这些东西被散乱扔在地上。”

嫌疑人对马在世田谷区内的中小学校毕业后，升入东京都内的高中。大学进入中央大学理工学部，在籍5年后中途退学。他说他曾换了许多工作，辗转于派遣员工、便利店、工厂等工作，过去曾经计划着杀看起来很幸福的情侣，但他称此次他的下手目标是看起来很幸福的女性。

▲ 女护士在接受采访、回忆当时情景的时候依然带着哭腔。很佩服她在她自己也可能被当作攻击目标的危急的情况下，依然站出来给伤者治疗，保护伤者不被拥挤踩踏。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:1.2万</label><p><label>转发:7</label><p><label>点赞:40</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月13日</label><p><label>发布时间:21:00</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KtiOgEd6V?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:津巴布韦</label><p><label>内容:津巴布韦警方正在调查一名14岁女孩在分娩过程中死亡的案件，这一案件激起了公民和人权活动人士的愤怒。
据报道，Memory Machaya（玛查亚）上个月在东部马兰吉地区的一个教堂神龛去世。
该案件暴露了未成年女性所遭受到的剥削，据报道，她被迫辍学而去结婚。

联合国敦促津巴布韦政府承认于与未成年人童婚是犯罪活动，并立法约束这一行为。
该组织表示，TA们“深切关注”并“强烈谴责”有关这起死亡事件的报道。
联合国周六在一份声明中表示:“目前，津巴布韦针对妇女和女孩的暴力案件，包括未成年人的婚姻，仍有未解决的趋势，不能继续逍遥法外。”

7月15日这名女孩的死亡使人们关注到津巴布韦使徒教会内的童婚习俗。
据当地媒体报道，她的家人表示，孩子顺利出生，身体状况良好。
警方和国家性别委员会正在调查导致死亡的原因和随后埋葬的情况。

到目前为止，一份呼吁“为Memory（玛查亚）伸张正义”的线上请愿书已经收集到了超过5.7万个签名。
津巴布韦女权主义活动家埃Everjoice Win(弗乔伊丝·温)表示，现在，人们是时候该向那些“有权维护法律或制定新法律”的人施压了。
妇女和女孩“没有被视为完全的人，没有个人权利……来控制我们自己的身体，”她在推特上写道。
根据法律规定，津巴布韦的女孩可以在18岁结婚，而16岁则是同意性行为的年龄。

一些育有子女的大人认为童婚可以带来经济利益。许多童养媳希望婚姻能给她们带来上学的可能性。然而，年轻女孩们结婚后通常很快就会怀孕，或者被整日留在家里做家务，根本没有她们想象中的那种机会去给她们上学。

▲ 处于信息不对称和权力不对等的地位，未成年人对婚姻抱有希望是可以理解的，但如果成年人利用未成年人的天真，无知和不谙世事来为自己的利益买单，这样不仅可耻，且要一辈子都受到惩罚。</label><p><label>来源:BBC</label><p><label>翻译:阿汤</label><p><label>阅读量:1.5万</label><p><label>转发:8</label><p><label>点赞:25</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月16日</label><p><label>发布时间:19:50</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KtKDmn2MB?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:非洲</label><p><label>内容:保障妇女权利的《马普托议定书》在其诞生18年后，仍未得到充分执行

18年前的7月11日，非洲领导人聚集在莫桑比克，通过了通常被称为《马普托议定书》的协议。这项法律文书旨在保障妇女的全面权利。此外，它还呼吁消除歧视和损害行为、要求女性的生殖健康权利和参政权，还对在武装冲突中加强对妇女的保护做出了规定。这是来自非洲人民且为了非洲人民的一项完全进步的倡议。然而，近二十年过去了，它仍未得到全面实施。

迄今为止，55个非洲国家中已有42个国家批准了《马普托议定书》。这使得这些国家的人权维护者可以将其作为诉讼工具。

虽然许多非洲大陆国家的法院在实施《议定书》方面取得了进展，但这些国家的政府立法和行政机关对《议定书》设置了障碍。在一些需要议会批准才可将国际条约法归化为国内法的国家，《议定书》的规定迟迟未能实施。这种情况或许不足为奇。在撒哈拉以南的非洲，女性平均只占有25%的立法席位，非洲的男权国家很少优先考虑女性的权利。因此迫切需要更多的女性参与政治，以确保妇女和女童的权利得到保护和促进;毕竟只有穿鞋的人才知道鞋到底哪里夹脚。

充分执行《议定书》的另一个挑战是“保留意见”的问题。该协定上的附加说明允许各国在成为条约的缔约国的同时，对其中一项或多项规定的法律效力持保留意见。最常被某些国家提出保留意见的规定中有一条是“为促进社会发展和提高妇女地位，女性有权进行药物流产”。肯尼亚虽然于2010年通过了《议定书》，但因为保留意见，每年有2600名妇女和女孩死于不安全堕胎引起的并发症。

▲“只有穿鞋的人才知道鞋到底哪里夹脚”，只有更多女性参与政治才能使女性权利得到更好的保护。</label><p><label>来源:African Arguments</label><p><label>翻译:Karen</label><p><label>阅读量:2万</label><p><label>转发:5</label><p><label>点赞:15</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月17日</label><p><label>发布时间:21:56</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KtUSSd7Ep?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:乌干达</label><p><label>内容:在妇女权利组织的压力下，乌干达一项有争议的反色情法被撤销。
政府在2014年推出了禁止传播色情媒介的法律，称这将有助于保护妇女和儿童。
但批评人士说，该法律被滥用，导致妇女在街上因穿特定类型的衣服，如迷你裙而遭到袭击。

这项立法现已被乌干达宪法法院宣布无效。
一个由五名法官组成的小组一致裁定，法律中定义色情犯罪的部分，包括禁止“不雅”服装，是违宪的。
他们说，如果对引起性兴奋的行为或材料的某些禁令解除，不会对社会造成伤害。

2014年，这项最初被称为“反超短裙法”的立法在首都坎帕拉引发了街头抗议，因为穿超短裙的女性被公开骚扰和攻击。
一些妇女权利组织和人权律师敦促政府重新审查这项法律，随后向宪法法院提交了一份请愿书。
乌干达妇女网络组织表示，当时这项立法与国家宪法相冲突，而宪法保障了男女平等的权利。

根据这项法律，歌词和音乐视频也可能被归类为色情作品，歌手将面临被捕和监禁。
2015年，女音乐家Jemimah Kansiime——也被称为Panadol Wa'basajja(男人“该吃的药”)——成为第一个被依法起诉的人。
她因一首委婉地提及男性性能力的歌曲而面临10年监禁。
BBC驻坎帕拉记者Patience Atuhaire表示，这位歌手的案件将暂停，等待宪法法院的上诉结果。

我们的通讯员补充说，该法律出台时成立的一个9人委员会将被解散，该委员会旨在防止色情作品在该国的传播。

2018年，一名女模特的裸照泄露后，在保守的乌干达被逮捕。
政府尚未对该裁决发表评论。

▲针对性的法律很容易就成为了仅仅针对女性的单向罪名，不是吗？</label><p><label>来源:BBC</label><p><label>翻译:阿汤</label><p><label>阅读量:1.9万</label><p><label>转发:9</label><p><label>点赞:21</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月20日</label><p><label>发布时间:10:24</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KuiDnpmtf?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:平等法可能加入对于更年期女性的保护条例

英国妇女和性别平等委员会主席Caroline Nokes说，在调查了更年期歧视问题后，有可能会修改平等法以保护更年期女性。

进入更年期的妇女可能被公司以此为理由而解雇或受到歧视，却没有法律保护她们。调查发现因更年期受歧视的女性被迫利用《残疾法》条例在法庭上寻求赔偿。

Nokes说：”女性认为立法不够明确，导致她们没有足够的手段求助于法庭。我们发现非常多人只好提出残疾歧视的索赔—但更年期并不是一种残疾，是一种正常的生理现象。我们已经将怀孕生育作为受保护的特征，那么我们是否需要考虑将更年期作为受保护的特征？这个问题还没有定论，[但]我真的不排除这个可能性。"

Nokes补充说，她对调查到的受过歧视的妇女数量感到震惊，并警告企业，如果他们不采取行动来帮助更年期员工，他们就有可能失去人才和生产力。越来越多的英国妇女决心打破围绕更年期的 "最后的禁忌"，争取在工作场所获得更好的待遇和更好的医疗服务。越来越多的妇女将其雇主告上法庭，以更年期歧视作为不公平解雇和性别歧视的证据。

她说："感觉突然间对话打开了，女性可以谈论我们所面临的挑战了。与我同龄的女性不准备坐在角落里闭口不谈，她们拒绝在工作中受到恶劣的对待，拒绝因为她们无法控制的事情而被边缘化--我们不能从工作场所失去所有这些有经验、有才华的女性。"

“更年期“不应该是贬义词，它是一种真实存在的生理和精神状态，它会影响女性在工作场合的表现。而公司如果想留住有经验的、合格的员工，他们就需要允许女性自由讨论自身的生理变化，并在工作上作出适当的调整。

妇女们长期以来由于更年期而被辜负、被忽视或干脆被扔到废品堆里，这个话题仍然是 "最大的禁忌之一”。

Nokes说："我们打算改变现状--革命正在进行中。”

▲对月经的观念转变已经慢慢开始，对其它女性生理状况也需多一些了解和保护措施，而立法则是最立竿见影的方式。</label><p><label>来源:The Guardian</label><p><label>翻译:利虎</label><p><label>阅读量:1.3万</label><p><label>转发:4</label><p><label>点赞:17</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月23日</label><p><label>发布时间:22:36</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KuPIdpvZ1?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:苏格兰</label><p><label>内容:苏格兰正在努力成为解决妇女健康不平等问题的“世界领导者”。

她们推出了一项新的改善女性生存状况的计划，其中包括建议提供更好的子宫内膜异位症诊断和治疗，以及专业的针对更年期的护理服务。

报告还呼吁提高人们对心脏病症状和风险的认识。
妇女卫生部长Maree Todd（玛丽·托德）说，这一战略将在卫生和社会保健服务领域推动更广泛的变革。

她还说，如果妇女和女孩得到支持，过上健康的生活并发挥其潜力，整个社会都会受益。

“我对此非常兴奋。我们听取了女性们的意见，并决心予以纠正。”

该计划是根据妇女的实际经验起草的，提出了66项行动。
它们包括:
1.任命一名全国妇女健康倡导者，并在每个国民保健服务委员会中任命一名妇女健康领导人
2.设立一个妇女保健研究基金，并提供关于国家保健服务信息的中央信息平台
3.委托子宫内膜异位症研究，以开发更好的治疗、管理和找到治疗方法
4.制定更年期和月经健康工作场所政策，并在公共、私营和第三部门推广该政策

苏格兰英国心脏基金会负责人James Jopling（詹姆斯·乔普林）说，死于冠心病的女性人数是死于乳腺癌的女性人数的近三倍。
他说:“在每个阶段——从出现症状的那一刻到心脏康复——患有心脏病的女性都可能处于弱势状态。”

“我们需要提高对女性患心脏病风险的认识，并提高她们对心脏病症状的认识。”

“我们还必须确保女性心脏病患者在每一个阶段的医疗体系内的能够得到平等治疗。”

“以男性为基准的模版是这个世界的出厂设置”，尽管这完全是错误的做法。

Maree Todd谈到了女性的心脏病发作是如何被称为“非典型表现”的。

她说:“女性并不是以“非典型”的形式来展现自己的疾病，而是心脏病在女性中有女性不同于男性的表现形式。这只是反映了男性是这个世界的默认设置，而不是女性具有“非典型表现”。心脏病发作后，通常会有一系列的药物治疗来预防病情更进一步地恶化，但我们发现由于心脏病的临床表现通常以男性为默认标准，而导致患有心脏病的女性很少被开设处方进行预防性治疗。”

“仅仅只是因为我们在数千年的时间里建立了一个默认了男人掌握着话语权的世界，就让这里（医学和治疗领域）存在着根深蒂固的不平等。”

苏格兰健康和社会保障联盟的Irene Oldfather（艾琳·奥德菲尔德）说，该计划有可能缩小性别之间的不平等差距。

她补充说:“女性希望看到一个能在她们的生活中提供无论是灵活性的预约，治疗还是支持选择的系统。

“不管她们的关注点是什么，她们都希望被认真对待，而不是因为她们的肤色、文化或选择而被评判。”

Maree Todd（托德女士）在BBC广播的早安苏格兰节目中说:“事实是，我们生活在一个男性主导的世界，当我们看到世界上各种各样的体系时，我们看到了对女性的不公正对待。”

此前，苏格兰政府为了减少女性患宫颈癌的概率，为所有的S1学生（新入学的中学生，通常为11到13岁）提供了免费接种HPV疫苗的机会。

▲ “以男性为基准的模版是这个世界的出厂设置”</label><p><label>来源:BBC，苏格兰政府官网</label><p><label>翻译:阿汤</label><p><label>阅读量:1.1万</label><p><label>转发:7</label><p><label>评论:4</label><p><label>点赞:35</label><p>评论内容:<br/>聖子要吃好吃的：🌕<br/>是江宁公公：苏格兰的头没记错是位女性，真棒👍🏻<br/>兵法綾瀬刈流_武田赤音：轉發微博<br/>请手误姐妹们把我拉出黑名单：女性当头就是好<br/></p></li><li><p><label>发布日期:8月24日</label><p><label>发布时间:21:54</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KuYRH1eqQ?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:新项目帮助缓解月经贫困

一位亲身经历过月经贫困的女性Louise，发起了一个免费发放卫生用品的“Jeevan”项目。

每一个发放出去的盒子里面装有卫生巾、卫生棉条以及一些额外福利，比如美容产品和甜点。这些盒子将被分发给任何有需要的女性。

“我只是希望给予人们一点点安慰”，Louise说。“作为一个曾经在当地儿童保护机构长大的孩子，我有好多次都无力购买卫生用品，我不希望其他人也陷入这种困境，通常来说，像我们这样的的小孩不会拥有可以寻求帮助的家庭。”

“我喜欢和团队一起打包这些盒子，之所以加入一些额外的指甲油、巧克力，是因为这些真的可以带来慰籍，鼓励女孩们好好对待自己。”

“冬天要来啦，我很期待到时候把毛茸茸的袜子和热饮放入这些口袋。”

Right Resolution CIC的总监Amarjit Pawar评价这份义举是“急需且关键的服务”，“多年来，我见证了太多太多由于月经贫困给女性造成的消极影响”，Amarjit补充道。

英国国家公共卫生基金会(NPH)的活动负责人Cam Whyld表示，她很高兴这个想法得以实施，这将对当地女性产生重大影响。

🔺女性助力女性，行动起来是让善意落地的最好办法</label><p><label>来源:BBC</label><p><label>翻译:XIAO</label><p><label>阅读量:9273</label><p><label>转发:6</label><p><label>点赞:20</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月25日</label><p><label>发布时间:21:34</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kv89NxBHb?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:女性消防员希望相关部门就生育健康风险采取行动

一段50分钟的训练，让23岁的Huston感到从未有过的疲惫，113磅的她身上绑着45磅的线齿轮和25磅的电锯。“我都能够感受到我子宫的疲惫。”
Huston是个与野火搏斗的消防员。她已经三年没有来例假了，她把这件事归因于工作强度，以及经历的残酷训练。

研究人员表示，女性消防员——志愿者加上专职人员——占全国消防队员的8%，都遭遇过生育问题，包括流产率较高，以及性别歧视导致的精神压力。缺乏适当的装备也使他们面临接触过多有毒化学品的风险。但是，由于队伍中缺乏女性，几乎没有人对此进行研究，在如何影响她们的健康，特别是产妇健康方面几近空白，这些女性面临着一个不确定的未来。

国家发展与研究机构的首席科学家Jahnke在2018年对1821名女性进行了调查。报告发现，27%的消防员怀孕以流产告终，而早产率高达16.7%，高于全国10%的平均水平。

根据国际妇产科联合会的数据，消防员经常接触一氧化碳、氨等化学物质，这些化学物质与早产、出生缺陷、胎儿生长缓慢、大脑发育障碍和早产有关。

2020年，Jahnke从联邦紧急事务管理局获得150万美元的资助，用于探讨压力、癌症风险和毒素对女性生育健康的影响。她正在亚利桑那大学主导一个为期三年的项目，以更多地了解消防员职业如何影响女性的身体，并希望填补研究空白，提高业内女性对她们所冒风险的认识。

2019年的另一项USFA调查发现，女消防员甚至不能顺利地穿着制服，通常，她们的"手太小，而完全与手套尺寸不符”。
对于从18岁起就开始救火的Huston来说，这个山火季节可能成为她职业生涯的最后几次。第二天，她将在北加州和俄勒冈州连续工作31天，在超过200个小时的加班时间里，在三位数的高温下度过。

“我知道这是不可持续的。老实说，我不知道我的身体还能承受多少。”

🔺针对不同性别需求进行的“特殊对待”，也是性别平等的一种体现</label><p><label>来源:卫报</label><p><label>翻译:XIAO</label><p><label>阅读量:1万</label><p><label>转发:8</label><p><label>点赞:27</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月27日</label><p><label>发布时间:22:33</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KvroI2wpc?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:加拿大</label><p><label>内容:在疫情爆发的第九个月，官方的数据显示，加拿大的少数族裔女性仍然面临着比白人女性要高的失业率，其中一部分原因是，相对于白人女性，她们的工作更可能遭到疫情的冲击，以及在疫情期间内她们时常不得不照料孩子或亲戚。

根据加拿大统计局提供的数据显示，在2020年11月，少数族裔的女性的失业率在10.5 %左右，相比之下，白人女性的失业率大概在6.2 %。少数族裔的女性也同样要承受比她们的男性同胞更高的失业率，后者则在10 %左右。

尽管加拿大已经恢复了80 %的在疫情最严重的期间损失的工作，但是仍有许多的少数族裔女性没有回到原有的工作岗位上。

Lynn Barr-Telford，Statscan 的首席助理统计学家在公布最新的数据前提到，“我们能够看到的是……疫情对于不同族裔或者是肤色的加拿大人有不同程度的负面影响。”

“尽管本身不平等就存在，但疫情也激化了不同肤色不同出身的人群之间的差距。”

Statscan在7月份的月度就业调查中提到了一个与种族有关的问题，即在第一次调查中调查他们发现，在加拿大，南亚女性的失业率最高，为20.4%，黑人女性为18.6%。四个月后，黑人女性的失业率仍在是最高中的其中一个，为13.4 %。

而所有的族裔中，中裔女性在同年十一月的的失业率与疫情前相比，差异最大，为10.2%。

Statscan 在十一月的一个单独的报告中也提到，当地加拿大人（白人）的失业率也面临着由疫情造成的分配不均的影响，其中当地女性六月到八月份的失业率在百分之十六点八左右。

“当然，我们有不同的群体也自然意味着每个群体面临的失业率都不会完全一样。”Barr-Telford解释道。

Wendy Cukier，泰德·罗杰斯管理学院多元化研究所的创始人指出，白人女性相对于其他女性而言所受到的待遇要较高，“她们更可能可以得到薪酬更高，更安全，待遇更好的工作，并且她们也有更多的资源来处理她们的‘失业问题’。”，与此同时，有色人种的女性却要遭受诸如更少的晋职空间和更少的享受如高速互联网和灵活日托的基础服务的机会的系统性歧视。

▲ 日常生活中究竟有多少数据是显现出了不平等的呢？</label><p><label>来源:路透社</label><p><label>翻译:阿汤</label><p><label>阅读量:1万</label><p><label>转发:3</label><p><label>评论:1</label><p><label>点赞:9</label><p>评论内容:<br/>是江宁公公：有没有加拿大男女性别差别，就业率，失业率之类的报道呢？谢谢。<br/></p></li><li><p><label>发布日期:8月30日</label><p><label>发布时间:20:59</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KvT49Eo1W?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本有许多聪明的，接受过教育的女性，她们可以帮助日本走出当前的经济衰退，实现疫情后令人震惊的经济复苏。但是这个国家严格的雇员系统和由男性主导的高职阶层却成为了让女性拥有高薪工作的障碍。

批评人士警告说，境内充斥着许多有大学学历却只能做家庭主妇的女性会让日本陷入危机。

日本政府提出在2020年实现领导阶层女性人数的大幅度增加的承诺最终并没有实现，而最后期限在去年年底悄悄地过去，结果远远没有达到政策的目标。安倍晋三大张旗鼓提出的被喻为“女性经济”的，即“创造一个女性能够发光发亮的日本”的政策结果非常失败。并且失败还不仅仅是因为新冠疫情。如今，议会中每十个人，只有一名是女性，同时只有少于百分之十五的私营企业的高级主管是女性。这只达到了政策目标所规定的一半。

但前任首相安倍晋三仍然坚持这项政策是成功的：如今在工作的女性比以前都要多得多了。但那些高学历的女性都在做些什么样的工作呢？批评人士认为这不归功于他的政策且政策对社会作出的变动很小，反而可能是由于日本自从1990年开始就遭遇的适龄劳动力人口，或者说是人口老龄化造成的劳动力资源短缺，而使得这些女性有机会重返市场。为了支持女性的事业政府发布了新的政策，消除了儿童陪护等候清单。同时，也迫使大企业至少有一位女性高级决策人员。但并没有对女性经济上的实质性援助，并且即使这些大公司不采取任何行动做出改变，也不会受到任何的惩罚。

问题出在日本严格的雇员方式以及社会文化上。在二战后被提出的用以恢复经济的终身雇佣系统制度起初并没有被很规范地实施，但新的毕业生仍然可以得到一份终身的工作，一旦女性离职，想要再重返原来的工作岗位就要变得困难许多。于是，许多女性陷入了一份有一份没有出路的兼职中。世界经济论坛表示，平均来看，一位日本女性的收入要比男性低百分之四十左右。

▲需要注意的是，随着社会进步造成的物质进步和社会总供给的增加，女性受教育程度的提高以及与前者高度相关的生育率下降，必然导致”女性的机会“变得更多了的假象，但如果整个社会的文化底蕴仍然存在一种对女性的性别对抗，那么这个社会就什么都没有变。</label><p><label>来源:BBC</label><p><label>翻译:阿汤</label><p><label>阅读量:2.5万</label><p><label>转发:6</label><p><label>评论:2</label><p><label>点赞:24</label><p>评论内容:<br/>易碎海苔zzz：“女性产后就业培训班”<br/></p></li><li><p><label>发布日期:8月31日</label><p><label>发布时间:14:27</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KvZVssOWI?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:逃亡的希望破灭，两名阿富汗妇女计划塔利班统治下的未来

Shirin Tabriq 教师在喀布尔机场外度过了五天五夜，试图登上从阿富汗起飞的航班。被她的磨难所羞辱和激怒，她放弃了，并计划返回她的村庄，在塔利班的统治下开始新的生活。

助产士 Shagufta Dastaqgir 也试图逃跑，但失败了。她也说，她对西方帮助阿富汗的承诺失去了信心，正准备回国。

她们的故事反映了许多阿富汗人在伊斯兰激进运动重新掌权后，想要离开该国的严酷现实。数千人已被疏散，但无法撤离的人数远远超过他们。

塔布里克是 2 月份逃往巴基斯坦的一名前阿富汗政府官员的第二任妻子，她对自塔利班于 8 月 15 日占领喀布尔以来美国未能采取更多措施疏散民众感到愤怒。

一些阿富汗人担心塔利班会报复那些与被推翻的、西方支持的政府有关的人。妇女感到担心：该组织上次掌权时，禁止她们工作，禁止女孩上学，并残酷地执行其版本的伊斯兰法律。

最近几天，该组织发誓要尊重人们的权利，允许女性在伊斯兰教法的框架内工作，但这在实践中意味着什么仍不清楚。

“美国人侮辱了每个阿富汗人。我来自一个受人尊敬的家庭......但在街头生活了 5 个晚上让我觉得我在乞求那些不尊重妇女和儿童的人。”这位 43 岁的老人告诉路透社，她与丈夫的第一任妻子和他们的三个孩子生活在肮脏和恐惧中近一个星期。

她在炸弹袭击前几个小时讲话。极端激进的伊斯兰国分支破坏塔利班的统治企图的前景只会加剧阿富汗的不祥感。

『回到家乡』

自从占领该国以来，塔利班一直试图向阿富汗人和西方国家保证他们会尊重人权而不是寻求报复。运动成员虐待和威胁的报道削弱了信心。

塔利班官员敦促阿富汗人不要离开，称他们需要帮助他们管理国家并使其未来繁荣。即将卸任的政府的一些雇员已经重返工作岗位，但其他人则躲藏起来。

Tabriq对 8 月底离开阿富汗失去了希望，她决定留下来。如果混乱消退，其他人正在等待更好的机会离开这个国家。

“我决定……搬到我们在法里亚布的村子里，”她说，指的是北部省份。

“我认为我们会在那里过上更好的生活。我们有一些农田；我们在那里种小麦和一些水果。我们有一口井。我们不需要更多东西……美国人都可以离开，我希望永远不要离开在我的国家再次见到他们。”

『'漠不关心'』

助产士 Dastaqgir 来自阿富汗北部的马扎里沙里夫。她是一名训练有素的助产士，能说一口流利的英语和德语，曾在一家她拒绝透露姓名的德国非政府组织工作。

她说，早在 2020 年，德国大使馆官员就向 20 多名阿富汗工作人员保证，如果安全局势恶化，他们将被转移到德国。

然后 COVID-19 来袭，非政府组织的办公室关闭，并且随着 Dastaqgir 继续从事少数项目，她继续领取薪水。

上个月，塔利班在马扎里沙里夫及其周边地区的袭击愈演愈烈，因为该组织扫荡了阿富汗军队。

她说，自 7 月 23 日以来，她曾多次给德国大使馆和她工作过的非政府组织打电话和发电子邮件，希望了解她的情况。

当没有回音时，这位 29 岁的父亲和堂兄开车送她从马扎里沙里夫到喀布尔，她希望在那里登上离开该国的航班。

公路旅行充满风险，塔利班路障每隔几英里就会拦下她的车，整个北部的安全局势都在不断变化。

“他们（塔利班）阻止了我们，我们告诉他们我们要去喀布尔看望家人，”她说。“他们中的一些人甚至嘲笑我们，说我们离开家是愚蠢的。”

和 Tabriq 一样，Dastaqgir 最终在喀布尔机场外的喧嚣中度过了四天三夜。</label><p><label>来源:路透社</label><p><label>翻译:丸子</label><p><label>阅读量:1.1万</label><p><label>点赞:9</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月31日</label><p><label>发布时间:14:38</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KvZZPaiUw?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:高学历的家庭主妇大国；日本庞大的失业家庭主妇大军

日本有很多聪明、受过教育的女性，她们可能会推动该国摆脱当前的经济衰退，实现惊人的经济复苏。

但该国严格的招聘制度，以及男性主导的领导层仍然是一个巨大的障碍，阻碍了女性从事薪酬最高的工作。

批评者警告说，这个国家有可能成为一个拥有大学学位的无聊家庭主妇的国家。

日本曾经计划，2020 年为大幅增加女性担任领导职位人数的最后期限，但在去年年底甚至没有接近其目标。

被称为“女性经济学”并大张旗鼓地宣布的安倍晋三创建“女性发光的日本”的政策在很大程度上失败了，不仅仅是因为 Covid-19。

如今，议会中每 10 名男性中只有一名女性，而女性担任的私营部门高级职位不到 15%——是最初的 2020 年目标的一半。

批评者认为，前首相安倍先生的政策与创造社会变革几乎没有关系——允许女性在工作中蓬勃发展——而更多地与对工人的迫切需求有关。

自 1990 年代以来，日本的劳动年龄人口一直在迅速减少。

几十年来，大约 60% 的女性在生完第一个孩子后就辞去了有偿工作。一位全职照顾孩子的母亲，因为她丈夫的收入可以养活整个家庭，传统上被视为一种特权。

但随着女性经济学政策的出台，随着家庭收入的减少，母亲们已经开始重返工作岗位。

政府数据显示，2019 年只有 42.1% 的人辞职，将 15-64 岁女性的劳动力市场参与率推高至 70.9%，而在 25-44 岁年龄段的女性则上升至 77.7%。

为了支持这一转变，政府发起了消除托儿等候名单的运动。它还规定大公司至少拥有一名女性高管。但没有对不采取行动的公司进行惩罚。

因此，许多女性被困在兼职或死胡同的角色中。世界经济论坛表示，平均而言，日本女性的收入比男性低 40% 以上。

超过一半的日本女性拥有大学学位，几乎与男性相同。但是一旦你离开一份全职工作，休假一段时间后几乎不可能回到原来的职业生涯。

『推动变革』

酒店集团 LOF Hotel 的国家经理 Cynthia Usui 对此表示赞同。但她的公司不寻常，积极招聘前家庭主妇、单身母亲和其他经常难以在传统公司找到工作的人。

“我认为公司别无选择。要想成功，你必须拥有一支与我们一样多元化的团队。”

17 年来，臼井女士本人一直是全职妈妈。她在 47 岁时重新开始工作——她的第一份工作是在她女儿的学校食堂。

她补充说，“政府通过所谓的银牌人力资源中心花费了大量资金让 50 多岁和 60 多岁的日本男性重新获得技能” 。

“我想对政府说：你应该把同样数量的钱花在那些已经成为家庭主妇，并试图重返工作岗位的女性身上。”

对于松井女士来说，令人沮丧的是，许多人不明白女性经济学可能意味着更好的工业财务表现，和更高的日本经济增长。

“人们仍然认为这个话题是在人权或平等领域，这当然是，但它并不吸引所有人，”她补充道。

迄今为止，日本公司一直不愿公开承诺增加女性劳动力的数量。

但最终，变革的动力可能来自于松井女士的前雇主高盛等更活跃的跨国公司。

它在招聘毕业生时有一个性别平等的目标，努力为入门级工程职位寻找合适的合格女性候选人，并开始举办编码研讨会。</label><p><label>来源:BBC </label><p><label>翻译:丸子</label><p><label>阅读量:6.9万</label><p><label>转发:68</label><p><label>评论:9</label><p><label>点赞:178</label><p>评论内容:<br/>就业性别歧视监察大队：先解决从无到有吧，要给权利而不是当吉祥物？//@闹心广播电台现在开始闹心:“规定大公司至少拥有一名女性高管”，这样的规定下，成为高管的女性会站在哪一边呢？<br/>史珍香牌清新剂：东亚三国手牵手<br/>闹心广播电台现在开始闹心：“规定大公司至少拥有一名女性高管”，这样的规定下，成为高管的女性会站在哪一边呢？<br/>水马上就开：既得利益者舍不得放下特权，权力下位者不愿艰苦奋斗只想滑跪<br/>梅花落南山wanwan：平权吸引不了所有人<br/>Losiento_Ichigo：我待过的日本比较有名的某大学，法学院学生男女比和国内完全相反，大概是8:2这样……就，感觉她们女性也不是很努力的亚子。所以后来看到整个法学院正教授/领导全是男的也就不意外了。<br/>土土的汪汪：为什么老龄化那么严重   有一半女性不参与创造社会价值  还有一部分宅男  都用起来人口还会不够么<br/></p></li></ol></body></html>