<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202109微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2021年09月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:9月2日</label><p><label>发布时间:09:17</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KwgKHixGn?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:一切都结束了……喀布尔化妆师：“像我这样的女性是塔利班的目标”

在塔利班控制阿富汗首都喀布尔的那一天，美容院外的广告海报上画着女性穿着新娘装。城市周围的沙龙也被关闭。

隐藏的化妆师 Afsoon（化名）描述了美容行业对阿富汗女性的意义。

很难将达里语短语takaan khordum的确切含义翻译成其他语言。

粗略地说，它描述了一个罕见的生活事件，它震撼了你的内心，之后你将永远改变——就像你爱的人的死，那是你生活中的核心人物。

Afsoon于 2021 年 8 月 15 日第一次体验了takaan的感觉。

那个星期天，她在 10:00 被她工作的美容院的一位同事打来电话。Afsoon 在那里最开心，新鲜洗发水和指甲油的气味，混合着吹风机的嗡嗡声和喋喋不休。

“今天不要进来，”Afsoon 的同事在她打电话时告诉她。“我们要关门了。结束了。”

坐在床上，Afsoon 检查了她的手机。当她浏览来自朋友和家人的数十条短信，以及数百条社交媒体帖子时，她的拇指在手机屏幕上下移动。一股恐惧的洪流猛烈地向她袭来，让她同时感到寒冷和不适。

消息都是一样的。塔利班已进入阿富汗首都喀布尔。16 天之内，西方军队和他们的外交官就离开了这个国家。

“结束了，”她对自己重复道。是时候躲起来了。

“今天不要进来，”Afsoon 的同事在她打电话时告诉她。“我们要关门了。结束了。”

Afsoon 20 多岁，认为自己是现代阿富汗女性。她热爱社交媒体，热爱电影，会开车，并且有职业抱负。

她喜欢那个世界的一切。多彩的指甲画，化妆师俯身在女性身上画烟熏眼线笔，在露水闪闪发光的化妆脸上勾勒出浓密的睫毛。有光泽的吹干和飘逸的长发型。

最终，Afsoon 实现了她作为一名成功的化妆师在其中一家工作的梦想。

和喀布尔的所有美容院一样，Afsoon 的美容院的窗户上贴满了迷人优雅女性的海报，宣传着“美丽属于您”。

这些海报意味着在喀布尔炎热的男性主导街道上，路人无法看到 Afsoon 沙龙宁静且多代人的女性空间。

“我爱女性。我想工作和建造空间，让女性可以自由和闪耀，”Afsoon 说。“我们可以在一个远离男人的地方放松。”

但在 8 月 15 日星期日，也就是塔利班控制喀布尔总统府的那一天，她多年的辛勤工作于一天结束。

喀布尔已近午夜，Afsoon 在电话中低声对我们讲话。她显然很害怕。那个星期天，她离开了家，找到了一个安全的房子。

“美容行业的女性，尤其是像我这样在我们的工作中受到关注和公开的人，都是目标，”她说。

在她的朋友打电话告诉她不要来上班后，Afsoon 听说任何代表女性美的海报，都被吓坏了的喀布尔居民涂抹了。

“他们绝对不会同意看到裸露的面孔或展示女性的脖子，”她说。“他们一直非常清楚自己的信念，即女性不能引起注意。

“这是阿富汗美容业的终结。”

Afsoon 没有任何邀请或文书工作可以让她在远离喀布尔的飞机上获得一个座位。
她没有出路。

她通过每天的群聊与同事保持联系。他们收到的最后一笔付款是在 8 月 24 日。现在不会再进来了。客厅关门了，他们都接受了他们不会回去工作的事实。

她说，Afsoon 不能谈论未来。

接下来是什么，她不确定。她没有想过自己现在会怎么打扮，甚至什么时候出去冒险。

眼下，她想象中的未来色彩已经被浓密的黑漆覆盖，她正处于没有恢复时间限制的震惊之中。

“存活下去是我能想到的唯一的事情，我不畏死的。而不是像这样，惊恐和绝望，”她说。

“每一秒我都觉得塔利班会来找我。”</label><p><label>来源:BBC</label><p><label>翻译:丸子</label><p><label>阅读量:0</label><p><label>转发:11</label><p><label>评论:1</label><p><label>点赞:36</label><p>评论内容:<br/>用户6656620077：她们真的没有化妆自由。就像塔利班禁止音乐一样，给人视觉听觉这些五感愉悦的事物，可以鼓励人追求美好、辩识丑恶<br/></p></li><li><p><label>发布日期:9月2日</label><p><label>发布时间:09:30</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KwgQ9mcKU?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:南非</label><p><label>内容:在与她相爱近 50 年的丈夫试图卖掉他们的房子后，Agnes Sithole 已成为南非数十万黑人女性不太可能成为的英雄。

——Agnes Sithole：与南非性别歧视婚姻法作斗争的女人

72 岁时，她将丈夫告上法庭，阻止他违背她的意愿卖掉他们的房子，并在此过程中采用了数十年种族隔离时代的法律，来保留她应有的财产。

事后看来，Agnes Sithole 知道她的婚姻会很艰难。1972 年，她与高中时的恋人 Gideon 结婚，但很快发现自己一直忽视了他几十年来的不忠行为。

“他总是在不同的事务中忙碌，但直到 2016 年至 2017 年之间，当他想出售我们所有的资产时，才对我产生影响，”她说。“他的回答总是一样的——那是他的房子，他的财产，而我什么都没有。”

面对失去家园，艾格尼丝于 2019 年决定在南非法庭上与丈夫抗争，这对她这一代的黑人女性来说是非常不寻常的一步。

“当时我 72 岁——我要去哪里，我会从哪里开始？所以我唯一的选择是在我这个年龄战斗，或发现自己只能流落街头，”她说。“我选择勇敢，如果没有这种急迫性，那么也许我就不会这样做。我必须成为那个拒绝的人。”

“女性别无选择”

Agnes结婚时，南非由少数白人管理，黑人夫妇根据一种称为“财产共同体”的制度结婚，该制度赋予男性所有财产权。

“当时，女性没有任何选择——要么是出于共同财产而结婚，要么根本不结婚，”Agnes解释道。

1988 年《婚姻财产法》修正案允许黑人夫妇将他们的婚姻状况改为“共同体”——赋予妇女平等的财产权。

然而，黑人妇女必须征得丈夫的同意，支付申请费用，并在两年内提出申请。

“我们知道法律已经改变，并认为它改变了每个人，”Agnes回忆道。“当我意识到法律欺骗了我时，我才意识到我必须为此而战。”

“我天生就是个骗子，我一生都在忙碌。与其为别人为我做事而奋斗，我会为自己改变。”

对艾格尼丝来说，这段婚姻大约在九年前出现了明显的螺旋式下降。一天晚上下班回来后，她发现丈夫没有解释就搬进了备用卧室。

这对夫妇继续住在同一个屋檐下，但过着完全不同的生活。

“我们会在走廊、楼梯或停车时撞到对方，一句话也不说，”她回忆道。

Agnes 说 Gideon 从来没有和她谈过他卖房子的计划，“有人突然出现在我家看房让我感到震惊”。

意识到她最终可能会无家可归，她在 2019 年初以经济虐待为由，提交了一项申请——认为她为建立家庭和分享财富做出了同样的贡献。

两年后，南非法院确认了高等法院早些时候的一项裁决，即现行法律歧视黑人夫妇，尤其是黑人妇女。

它裁定，1988 年之前的所有婚姻都将改为“财产共享”——赋予妇女平等的财产权。

Agnes和她最小的女儿在她的卧室里在线观看了判决。最初，直到她的律师打电话给她，她才意识到自己赢了官司。

“我们无法弄清楚发生了什么，”她说。“我们一直都一无所知。我的胃在打结，我很害怕，但我有信心。

“我流下了喜悦的泪水。我突然意识到，我们在与我相似的婚姻中拯救了成千上万的女性，”

Agnes说，她的战斗精神归功于她自己必须面对的许多挑战。

“这是我的性格，我是谁，以及我做事的方式，我想在各方面都自力更生，”她继续道。“这在我们的文化和我们这一代的女性中绝对是罕见的。

“对我来说，赢得这个案子是我经历过的最好的事情之一。”</label><p><label>来源:BBC</label><p><label>翻译:丸子</label><p><label>阅读量:0</label><p><label>转发:24</label><p><label>评论:1</label><p><label>点赞:76</label><p>评论内容:<br/>就业性别歧视监察大队：平等的财产权<br/></p></li><li><p><label>发布日期:9月2日</label><p><label>发布时间:09:47</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KwgWPF52W?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:德克萨斯州通过禁止怀孕六周后堕胎的法律

该法律是该国最严格的法律之一。医生和妇女权利团体严厉批评了这项法律。

它赋予任何个人起诉在妇女怀孕六周后进行堕胎的医生的权利。

所谓的“心跳法案”于 5 月由德克萨斯州州长格雷格·阿博特签署成为法律。

但是，包括计划生育和美国公民自由联盟 (ACLU) 在内的权利团体，随后要求最高法院阻止该立法。

周三凌晨，美国公民自由联盟证实法院“没有回应我们的要求”。该组织表示，德克萨斯州高达 90% 的堕胎发生在怀孕六周后，并将这种发展描述为“公然违宪”。

美国妇女健康组织 Planned Parenthood 也谴责了这项禁令，并在推特上写道：“无论如何，我们不会退缩，我们仍在战斗。每个人都应该获得堕胎机会。”

在一份声明中，拜登总统谴责该法案是“极端的”，警告说它将“严重损害”获得堕胎护理的机会，特别是对于低收入的德克萨斯人和少数族裔。

但最高法院仍有权力在稍后阶段推翻禁令。

长期以来，堕胎一直是该国最具争议的社会问题之一。然而，皮尤研究中心的民意调查显示，近十分之六的美国人认为在所有或大多数情况下，堕胎应该是合法的。

在过去的二十年里，这个数字一直保持相对稳定，但掩盖了党派分歧：只有 35% 的共和党人支持这一立场。

在保守的德克萨斯州，4 月份的一项民意调查发现，该州近一半的选民支持怀孕六周后的堕胎禁令。</label><p><label>来源:BBC</label><p><label>翻译:丸子</label><p><label>阅读量:0</label><p><label>转发:3</label><p><label>评论:3</label><p><label>点赞:24</label><p>评论内容:<br/>我王二麻子又回来啦：女性有没有权力堕胎只能由女性选择！<br/>未沬子：如果这项法案当真不是得州多数民意。那为什么州议会会通过，投赞成票的议员不怕选票？为什么州长会签署，州上不要政治声誉？<br/>披萨丧尸：任何宗教都是欺压女性、封建迷信的邪教<br/></p></li><li><p><label>发布日期:9月3日</label><p><label>发布时间:17:20</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kwtlid0uP?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:“心跳法案”在德克萨斯州生效。这项法律将“在孕期超过六周后采取的堕胎措施”视为违法行为，因强奸和乱伦而致孕的女性也不能被豁免。现在，在德克萨斯州，任何一个人都有权起诉任何在怀孕六周后提供或促成堕胎的人，并能获得10000美元的犒赏。

一些医学界的权威人士认为，“心跳”一词具有误导性，因为在现阶段（六周）检测到的只是“胎儿组织的一部分，只是在胚胎发育时会形成完整的心脏”，而不是已经成型能够正常地运作的心脏。

人权组织曾要求最高法院阻止这项法律，但最高法院以5票赞成、4票反对的结果拒绝了这个提议。支持的法官们表示，他们的决定不是基于关于德州法律是否符合宪法的任何结论，法律挑战的大门仍然敞开。最高法院的一位自由派法官，Justice Sonia Sotomayor，说，那些投票支持该法案通过的法官，是在面对实实在在违宪的行为时，选择像鸵鸟一样逃避现实。

包括计划生育和美国公民自由联盟(ACLU)在内的人权组织随后要求最高法院阻止这项立法，并称阻止女性行使自己身体的权利是公然违宪的行为。但目前最高法院仍没有对这一法律作出表示。总统拜登在一份声明中谴责该法案“极端”，并警告称，它将“严重侵害”女性获得生理护理的机会，特别是对处于低收入的得克萨斯人和少数族裔。

今日，美国总统乔·拜登发起了“全部政府都需参与”的回应，反对德克萨斯州这项会禁止大多数人行使堕胎权利的新法律。
他称最高法院不阻止该法律的决定是对妇女权利的“前所未有的侵犯”。拜登职责法院造成了违宪混乱。“我们的最高法院是在让许多需要紧急生殖护理的人在法院处理复杂的程序时遭受痛苦”。拜登表示，他已要求美国卫生与公众服务部(Department of Health and Human Services)和司法部(Department of Justice)看看美国政府可以采取哪些措施来“保护女性和医疗服务提供者”。该法违反了1973年具有里程碑意义的罗伊诉韦德案，在该案中，最高法院使全美堕胎合法化。白宫发言人Jen Psaki告诉记者，总统长期以来一直希望看到罗伊诉韦德案的“编纂”，这意味着国会将投票制定联邦法律的先例。

德克萨斯州共和党州长格雷格·阿博特(Greg Abbott)表示，他的州将“永远捍卫生命权”。
德克萨斯州共和党副州长丹·帕特里克(Dan Patrick)对这项裁决表示欢迎，他在推特上写道:“这是一个巨大的反堕胎胜利!这项拯救生命的立法反映了德克萨斯州反堕胎的信念，以及我们对保护最弱势群体的持续承诺。”

该法案造成了提供相关服务的医疗护理人员和孕妇的恐慌。

▲ 如果对于数字很敏感的话，就知道那些即使并没有流产而被迫生下来的孩子，即使形式上表现出了一种完整，日后他们的生活也比其余人要破碎许多，反堕胎其实是把本来小规模的伤害蔓延到了会延续一整个世纪的家庭。一些人却罔顾事实，相信只要女性不去主动做出选择，儿童的权益就能得到保障，却完全不关心那些被边缘化的儿童的最后归向都去哪了，实在是可笑。</label><p><label>来源:BBC</label><p><label>翻译:阿汤</label><p><label>阅读量:0</label><p><label>转发:3</label><p><label>评论:2</label><p><label>点赞:15</label><p>评论内容:<br/>众鸟栖定：拜登这话倒说的不错<br/></p></li><li><p><label>发布日期:9月6日</label><p><label>发布时间:09:10</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KwSpQ3DKv?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿联酋</label><p><label>内容:阿联酋女性节：女性在阿联酋核领域的力量

几十年来，阿联酋女性是国家进步的化身，并得到阿联酋领导层的不断支持和授权。

已故的国父谢赫扎耶德在他的方法上很有远见，在赋予妇女权力方面处于领先地位，并强调了平等在获得教育和职业机会方面的重要性。因此，阿联酋妇女在 上个世纪70 年代开始出国旅行以完成学业并获得学位，以便为 50 年前于 1971 年成立的国家——阿联酋的发展做出贡献。

阿联酋妇女的进步得到了全国女性联盟主席谢哈法蒂玛宾特穆巴拉克的支持，她被亲切地称为“国家之母”。她一直是阿联酋政府和经济中女性参与和成就的核心。许多鼓舞人心的女性都以她为榜样并留下了自己的印记，其中包括阿联酋成为阿拉伯世界第一个通过核能产生清洁电力的国家的最新成就。

毋庸置疑，如果没有女性参与我们计划的各个方面——从反应堆运行、燃料循环工程、模拟器培训和质量保证，到风险管理、人力资源和战略，阿联酋的核能产业将根本无法实现。女性的技能为我们行业的劳动力做出了贡献。阿联酋女性正在迅速缩小人才差距并支持国家的持续增长和发展。

十二年前，阿联酋和平核能计划还处于启动阶段。今天，当我们庆祝阿联酋女性节时，我有很多值得庆祝和自豪的事情。俯瞰 Al Dhafrah 地区巨大的 巴拉卡核电站，今天已经启动了四个单元中的第二个的工厂，其操作人员包括女性反应堆操作员，提供了一个机会来反思将我们带到这一刻的旅程。

除了我们交付的复杂技术和建设项目的规模之外，我最引以为豪的是交付和使该项目成为现实的人。我们现在拥有超过 3,000 人的团队，其中 60% 是阿联酋人，20% 是女性。这是全球核能行业女性比例最高的地区之一，女性专业人士正在真正改变阿联酋的核行业。

毫无疑问，过去十年中最有意义的方面之一是见证了这一代女性先驱在我们蓬勃发展的核能领域发挥了主导作用。早在2009年阿联酋核能公司（ENEC）成立时，核领域就没有阿联酋女性，也没有这一代女性值得尊敬的榜样；他们是阿联酋核工业的第一批真正的开拓者。

这反映在阿联酋的无数部门中。在国家金禧年，政府将赋予妇女权力作为国家优先事项。阿联酋女性占联邦国民议会席位的 50%，占部长议会的 27%，有 9 名女部长。总体而言，在阿联酋，女性约占劳动力总数的 46.6%； 23,000 名阿联酋女企业家经营的项目价值超过 500 亿迪拉姆（约合 13.6 亿美元），并占据阿联酋工商会董事会 15% 的职位。

然而，我发现最令人鼓舞的统计数据是：77% 的阿联酋女性接受高等教育，占阿联酋所有大学毕业生的 70%。令人印象深刻的是，阿联酋政府大学的 Stem（科学、技术、工程和数学）课程的毕业生中有 56% 是女性。根据世界经济论坛的 2020 年全球性别差距报告，阿联酋现在是该领域的区域领导者，在阿拉伯世界的性别平等方面排名第一。

为什么女性的参与如此重要？根据波士顿咨询集团进行的性别多元化研究，拥有性别平衡的劳动力和领导团队的公司更具创造力、创新性和弹性。多元化的公司从创新中获得的收入也高出 36%，在投资资本回报率方面，女性董事会成员排名前四分之一的公司比排名后四分之一的公司高出 66%。包容性和多样性不仅可以改善劳动力，还可以带来更强大的社区和更具弹性的经济。

虽然阿联酋的核能行业将女性视为冠军，但更多的国际能源行业仍然是全球经济中性别多元化程度最低的部门。根据 IEA统计的女性占在全球劳动力中，石油和天然气部门仅占劳动力的 22%，可再生能源占 32%，核能占 22%。他们占高级管理人员的不到 14%。

随着我们的世界面临有史以来最大的挑战——应对气候变化和向低碳经济转型——我们需要具有包容性、创新性和可持续性的解决方案。性别平等从未像今天这样重要。阿联酋正在加速解决这一全球性问题。作为一个新的核国家，我们为性别多样性建立了强有力的基准，女性在 Stem 领域的未来充满希望。

阿联酋在促进女性核科学方面的作用在 2016 年得到了重视，当时我们主办了第 24 届全球核能女性年会 (WiN)，这是该地区的第一次，有来自 56 个国家的 700 名与会者。阿联酋核能公司 (Enec) 的年轻阿联酋妇女也受益于国际顾问和榜样的专业知识，例如世界核协会前总干事 Agneta Rising 和已故芭芭拉·贾奇夫人，她们对阿联酋计划的投入提供了宝贵的意见。

作为 Enec 的首席执行官和四个聪明而坚定的女儿的父亲，我为阿联酋女性的成就感到自豪。为了支持她们未来的成功，Enec 鼓励女性在核相关领域接受教育和职业，并通过诸如 WiN 阿联酋分会和培养人才的赞助等举措提高对 Stem 学科的认识。但是我们必须，而且我们将继续做更多的事情。

对于在阿联酋核和平核能计划中工作的阿联酋妇女、我们的同事和朋友们，感谢你们的才华、奉献精神和对所做工作的热情，感谢你们成为国家和阿拉伯世界里下一代女性鼓舞人心的榜样。

▲性别平等从未像今天这样重要。</label><p><label>来源:转发 无内容</label><p><label>翻译:0</label><p><label>阅读量:9</label><p><label>转发:1</label><p><label>评论:17</label><p><label>点赞:阿塔菲米妮斯特：阿联酋女性占联邦国民议会席位的 50%，占部长议会的 27%，有 9 名女部长。总体而言，在阿联酋，女性约占劳动力总数的 46.6%； 23,000 名阿联酋女企业家经营的项目价值超过 500 亿迪拉姆（约合 13.6 亿美元），并占据阿联酋工商会董事会 15% 的职位。女性中70%受过大学教育，其中55%是STEM学科！
</label></li><li><p><label>发布日期:9月8日</label><p><label>发布时间:11:07</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kxc29lWAn?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:女性希望5点提前下班被拒绝，胜诉18.5万英镑

Alice Thmopson在2018年怀孕之前，是伦敦市中心一家小型独立房产中介的销售经理。"我全身心投入到房地产代理事业超过十年，"她告诉英国广播公司第4台《女性时间》栏目。"这不是简单的事情，房地产销售是一个由男性主导的工作环境，我需要非常努力地与客户建立关系"。

当她想在产假结束后重返工作岗位时，她向雇主申请缩短工作时间，每周工作四天，并下午提前一小时离开，以便从幼儿园接她的女儿。

Thompson女士说："我提出了灵活的要求，但没有得到认真考虑。如果这对公司来说不可行，我很乐意听到他们的建议。如果他们需要我全职工作，我可以提早一小时到岗，这是我可以解决的问题。但我的要求被拒绝了，所有可能的解决方法都没有被听取，没有被考虑。我别无选择，只能辞职。“

她花费了数万英镑对她的前雇主进行起诉。她被就业法庭判处18.5万英镑。法庭裁定，当公司拒绝考虑她的请求时，她遭受了间接的性别歧视。法庭认为，该公司没有考虑更灵活的工作方式，使汤普森女士受到歧视。法官判给她近18.5万英镑的收入损失、养老金供款损失、感情伤害和利息。

Thompson说，”这样情况下，妈妈们怎么能同时拥有职业和家庭？这是2021年，不是1971年。我有一个女儿，我不希望她在20、30年后在工作场所经历同样的待遇。“

Thompson 决心采取法律行动，但她告诉 《妇女时间》，其实挑战重重。”生育是一个非常情绪化的过程，“Thompson女士说："你有一个新的身份，你正试图在弄懂如何做母亲，也同时要回去工作。

她说，不支持生产完女性回归的工作场所有可能 "错过一些非常成功的女性，因为他们目光短浅，不想采取灵活措施"。

她说，在裁决之后，许多妇女向她求助，其中许多人有类似的经历，但没有精神或经济能力来进行索赔。"这确实需要付出巨大的经济代价......显然，如果你输了，有可能拿不回这笔钱，但有一个更大的图景，那就是试图为世界带来一些小的变化，使之变得更好。"

她说她的努力是值得的，因为她 "为正确的事情站出来"。

▲如果想鼓励女性生育，首当其冲应该改善母亲的工作待遇，考虑到职业女性多重身份如何同时满足。
（来源：BBC；翻译：利虎）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:0</label><p><label>转发:7</label><p><label>评论:4</label><p><label>点赞:37</label><p>评论内容:<br/>罗伯特萝卜叶：她丈夫呢？还有其他有年幼还子的男雇员呢？为什么他们不需要这样的假期<br/>四射蝴蝶丶结：每周工作四天，这岂不是周周都有小长假<br/></p></li><li><p><label>发布日期:9月8日</label><p><label>发布时间:23:52</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kxh2Z62IW?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:随着塔利班推进，妇女庇护所被关闭

阿富汗妇女组织Women for Afghan Women花了数年时间建立了阿富汗最大的妇女保护服务网络--在14个省有32个庇护所、家庭指导中心和儿童之家，因为口口相传和需求增加而不断发展。

随着塔利班于8月6日开始在阿富汗各城市闪电般地推进，这些庇护所在几天内开始关门。大多数庇护所主任在塔利班来袭的消息传来时，带走或者烧毁了记录，收拾了一些财物，和他们的客户一起逃离。

极少数安全屋负责人--不仅是那些隶属于阿富汗妇女组织的负责人，还有其他一些历史悠久的庇护所的负责人--选择留在原地，但保持沉默，担心他们所说的任何话都会给他们照顾的妇女带来伤害。但没有人再接受新的妇女进入庇护所。

"我们的庇护所，我们的妇女保护中心，都消失了。我们为妇女所做的大部分工作，极不可能再像以前那样进行。"阿富汗妇女组织的联合创始人Sunita Viswanath说。

即使在塔利班接管之前，阿富汗在每个女性保护排名中都排在末尾，而在需要安全屋、心理咨询和法律制约以帮助保护妇女安全方面，则排在首位。

根据阿富汗妇女事务部引用的研究，超过一半的阿富汗妇女报告过身体虐待，17%的妇女报告了性暴力，而几乎60%的妇女处于强迫婚姻之中，而不是包办婚姻--而且漏报现象十分严重。

农村地区仍然存在名誉杀人、童婚、为妇女支付彩礼以及baad--用年轻女孩来偿还长辈的债务，这相当于把儿童卖作奴隶。根据最近的研究，在任何地方，妇女在工作场所和公共场所受到骚扰是一种常态，心理虐待也是如此。

随着叛乱的推进，"阿富汗妇女 "和其他经营类似庇护所的工作人员首先担心的是塔利班可能会采取什么措施来惩罚他们。塔利班最近的行为实例令人担忧。庇护所主任描述了被积极追捕的情况，她说她收到了塔利班的电话，说他们把她吊死在村里的广场上，杀一儆百。

但是，这次让庇护所经营者和他们的客户感到害怕的不仅仅是对塔利班的恐惧。大部分的担忧来自于塔利班推进期间被释放的一波又一波的囚犯。其中有因为过去20年中在西方支持下颁布的妇女保护法而被监禁的男子。这些前囚犯不仅对曝光他们的女性亲属心怀怨恨，而且对所有支持者--庇护所主任、心理顾问和律师也心怀怨恨。

一位来自巴格兰省农村的妇女因为一直收到死亡威胁而不愿透露姓名，她现在每隔几晚就会换一个地方睡觉。此前，她曾与检察官合作，帮助收集涉及妇女的案件中的虐待证据。

"占领城市后，塔利班释放了所有囚犯。在这些囚犯中，有一些是由于我的工作而被判刑的，"她说。"现在他们在威胁我，而且没有政府或系统可以去寻求庇护。我只是躲在这样或那样的地方"。

庇护所长期以来一直是塔利班和囚犯攻击的目标。对于阿富汗严酷的父权制社会下的许多人来说，一个独自生活或离开家庭的妇女往往被视为妓女。一些人将这些庇护所视为妓院。

然而，在过去的15年里，尽管社会对保护妇女持反对态度，更多的女性开始寻求庇护所。她们常常带着可怕的伤痕--骨折或被严重殴打造成的内伤--一次又一次地敲开没有标记的大门或收容妇女的普通住宅。

这些行动是否会继续，完全掌握在塔利班手中，他们预计会宣布自己的法律，来管理妇女的行为。这将使前阿富汗政府的《消除对妇女暴力法》和其他保护措施失去效力。

▲由于过去20年间西方对于阿富汗女性权利的重视，很多女性勇于挑战阿富汗父权社会。而当塔利班接管后，对于这些反抗的妇女的报复将会变本加厉。国际社会有义务为这些妇女提供保护。
（来源：纽约时报；翻译：利虎）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:0</label><p><label>转发:12</label><p><label>评论:1</label><p><label>点赞:27</label><p>评论内容:<br/>BIBLECODE：阿富汗还有妇女庇护所呢<br/></p></li><li><p><label>发布日期:9月10日</label><p><label>发布时间:00:32</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KxqJy2abS?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:前任纽约州州长科莫因涉嫌性骚扰辞职后，于8月24日，副州长凯西·霍楚尔就任州长，成为纽约州首位女性州长。

她在宣誓后的演说中，除了表示要强化州政府内的防止性骚扰的对策之外，还提出了要将应对新冠肺炎的德尔塔毒株作为首要工作进行。
具体政策规定，州内所有学校相关人员都有义务接种疫苗或每周检查一次，此外，进入学校设施内的所有人都有义务戴口罩。

▲希望有更多女性领导者的产生，促进女性的政治参与。</label><p><label>来源:雅虎日本 </label><p><label>翻译:小安</label><p><label>阅读量:0</label><p><label>转发:7</label><p><label>点赞:49</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月10日</label><p><label>发布时间:19:38</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KxyePou3U?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:运营中部机场的中部国际空港会社于9月10日宣布，将从16日开始，在第一航站楼的国内出发区的女洗手间内，提供免费生理用品。
据航空公司称，虽然没有被放在明面上，但实际上咨询处经常接到旅客的求助（突然来了月经，手边没有生理用品）。

该区域共有5间女洗手间，将在其中的2间的15个隔间内放置提供生理用品的自动机，根据使用情况和使用者的问卷反馈，来商讨今后的扩充放置区域。

据航空公司称，这是为了消解乘客在突然来了月经时，满机场找生理用品的不安。只需下载专用的免费APP，在自动机上扫描，就可以拿到生理用品。自动机不会发出声音，使用时可以不用在意别人的目光。为了防止有人大量拿走生理用品，同一个用户每隔两小时可以领取一次。

▲除了月经贫困问题之外，一些公共场合内也该考虑到为女性客人提供应急的生理用品。</label><p><label>来源:雅虎日本 </label><p><label>翻译:小安</label><p><label>阅读量:0</label><p><label>转发:4</label><p><label>评论:1</label><p><label>点赞:13</label><p>评论内容:<br/>茅島秀夫：转发微博<br/></p></li><li><p><label>发布日期:9月11日</label><p><label>发布时间:21:23</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KxIlUa1dE?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:2021年5月，川畑美幸（24岁）在鹿儿岛的家中生下一名男婴，出生不久后男婴死去，川畑将其装进袋子里，放置在阳台上，后以“遗弃尸体”被问罪。

川畑在9月1日的被告人提问时曾提到，当时父母不在岛上生活，她还欠着朋友的钱，即使想商量怀孕和生孩子的事情，也没有人可以商量，处于被社会孤立的状况。

当辩护方律师问道“当时应该怎么做”时，川畑对自己过去的行为感到非常后悔，表示说：“应该早点发现怀孕了，和谁商量一下，去医院或者做点其他什么的。”

在9月1日的审判上，熊本县慈惠病院的莲田健院长作为被告方的证人出庭，他经营着一家匿名收留弃婴的“鹳之摇篮”。

他就类似事件表示说：“在日本，女性首先会被责备“为什么没有堕胎”。被指责说不检点的女人们在避孕和堕胎上都没有做好决断，肚子大了，不负责任地生了孩子，最后将孩子丢掉了。”

他认为应该尊重有的女性“绝对不想让别人知道自己怀孕生子的事”的想法，“因为是母亲，所以负有责任，应该努力去和谁商量怀孕的事”这种观点是强人所难。他表示应该建立相关的商谈体制，促进社会对这个问题的理解。

在此种情况下，鹿儿岛县从9月1日起，为因意外怀孕等情况感到孤独和不安的女性，开设了免费的LINE咨询窗口。

▲生育和避孕堕胎等不是女性一个人的问题，男性和社会不该在这方面隐身。</label><p><label>来源:雅虎日本 </label><p><label>翻译:小安</label><p><label>阅读量:0</label><p><label>转发:2</label><p><label>点赞:28</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月12日</label><p><label>发布时间:21:39</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KxRSLsEEL?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本文部省批准了5家教科书出版社想要修改或删除“从军慰安妇”和“强制带走”相关用语的申请。之后，有29种教科书的64处相关内容被修改。

“从军慰安妇”被修改为“慰安妇”。此类用语的修改，是意图淡化日本军队的相关责任。另外，强调战争末期征用的强制性的“强制带走”和“带走”被修改成了“征用”。

韩国外交部发言人于本月10日表示：“继今年4月，日本政府在内阁会议上淡化慰安妇问题及征用工问题上的“强制性”之后，最近文部省批准了出版社将教科书中相关的词汇删除或修改，韩国政府对此感到非常遗憾。”

该发言人认为“日本军慰安妇的征集、招募、移送中的“强制性”是不可否认的历史事实”，“受害者的证言本身就是证明日本军强制征集慰安妇的证据，国际社会已经明确判定（强制征集慰安妇）”。

▲“从军慰安妇”这个词应该修改，应该被修改为“战争性暴力受害者”，她们受到的伤害不容“淡化”。</label><p><label>来源:雅虎日本 </label><p><label>翻译:小安</label><p><label>阅读量:0</label><p><label>转发:8</label><p><label>点赞:29</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月15日</label><p><label>发布时间:19:49</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KyjrQE19v?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:阿富汗妇女正在分享传统礼服的照片，以抗议塔利班的黑色头巾规定

最近几天，塔利班发布新规定，男女学生在教室里将会被窗帘分开，并表示女学生、老师和工作人员必须按照塔利班解读的伊斯兰教义来佩戴头巾。

世界各地阿富汗妇女通过在社交媒体上上传身着鲜艳传统服饰的照片来回应 -- 这与塔利班规定的黑色头巾形成了鲜明的对比。

阿富汗美国大学的前教员Bahar Jalali发起了此项抗议活动，她在推特上引用了一张身着全套黑裙和面纱的妇女的照片，并说：”在阿富汗的历史上，从来没有妇女穿成这样。这完全是外来的，与阿富汗文化格格不入。我发一张我穿着阿富汗传统服装的照片，是为了消除塔利班所宣传的错误信息。"

其他阿富汗妇女很快在社交媒体上效仿她的做法。

DW新闻的阿富汗负责人Waslat Hasrat-Nazimi在推特上发布了一张她自己身穿阿富汗传统服饰和头饰的照片，并写道：”这就是阿富汗文化，这就是阿富汗妇女的穿着"。

BBC驻伦敦的著名记者Sana Safi也贴出了彩色传统服装的照片，并附加评论说：”如果我在阿富汗，那么我就会把围巾戴在头上，但我的‘传统’和‘保守’到此为止。”

另一位BBC记者Sodaba Haidare说：”这才是我们的传统服装。我们喜欢很多颜色，甚至我们的大米和国旗也是彩色的。“

而来自阿富汗的英国政治家Peymana Assad在一篇文章中说："我们的文化装束不是塔利班让妇女穿的摄魂怪。”

上个月逃离喀布尔的阿富汗歌手和活动家Shekiba Teimori告诉CNN：”头巾在喀布尔沦陷之前就存在。我们可以看到戴头巾的妇女，但这是家庭的决定，而不是政府的。”

自从8月美国和国际部队混乱撤离、塔利班迅速控制阿富汗，阿富汗妇女的命运一直是人们关注的一个重点。

塔利班历来将妇女视为二等公民，使她们遭受暴力、强制婚姻，成为在阿富汗几乎隐形的群体。

在上个月夺回该国首都后，塔利班领导层声称，这次执政后不会再执行这种苛刻的条件。但是，在他们新组建的临时政府中没有任何女性代表，妇女几乎一夜之间从该国的街道上消失，这使得人们对该国一半人口的下一步将发生什么感到非常担忧。

▲解除对于中东文化、伊斯兰文化的误解，认识到塔利班对于女性的压迫是毫无文化依据的，是对女性身体自由和自主权的完全剥夺。</label><p><label>来源:CNN</label><p><label>翻译:利虎</label><p><label>阅读量:0</label><p><label>转发:6</label><p><label>点赞:32</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月16日</label><p><label>发布时间:10:20</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/Kyp9jdIS3?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:波士顿将选出首位女性市长

民主党市议员Michelle Wu在周二的波士顿市长初选中得票最高，第二高的是另一位民主党市议员Annissa Essaibi George，她们分别获得了11月大选的两个席位。该选举的胜者将当选为波士顿第一位女市长。

作为民主党人和台湾移民后代，吴女士的竞选内容中包含了一系列改革派政策，包括对气候变化和房价的对应政策。她还提议让城市的公共交通免费，并提出了全国第一个城市级 "绿色新政"。

市议员George属于温和派，她父亲是突尼斯移民，母亲是在德国出生的波兰裔，她得到了该市前警察局长和消防员工会的支持。

在周二的对决中，前四名候选人都是有色人种女性。

另外两位候选人是两位黑人女性，分别是代理市长Kim Janey和市议员Andrea Campebell。在今年3月波士顿前任市长Marty Walsh前往华盛顿，成为拜登政府的劳工部长后，Janey历史性地成为波士顿第一位女性和第一位黑人代理市长。

波士顿市议会四名在职议员之一的Julia Mejia在3月份接受雅虎新闻采访时谈到了Janey升任市长的意义。波士顿的政治长期以来一直由一连串的爱尔兰裔和意大利裔市长所主导，"波士顿是一个具有小城镇心态的城市。波士顿的政治是残酷的，"Mejia说。"[变革]需要很长的时间，因为政治意愿不在这里，或者市民没有感受到变革的必要。他们通常会邀请你参加会议，但他们会给你一个限制，让你能做什么，不能做什么。"

市长竞选标志着波士顿的一个转折点，波士顿在历史上有过激烈的种族关系。但近年来，有色人种在该市的政坛里脱颖而出。

▲女性领导人上任不仅对于该地区的女性地位至关重要，世界各地的例子也表明往往女性领导人能给整个社会带来积极的改变。</label><p><label>来源:雅虎新闻</label><p><label>翻译:利虎</label><p><label>阅读量:0</label><p><label>转发:5</label><p><label>点赞:56</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月17日</label><p><label>发布时间:20:17</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KyCub33rT?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国总理默克尔在掌权了16年后，尽管这位世界上最有能力的女性的在她准备下台后才迟迟接受赋予她的这一标签，但她已经变成了一个女权主义模范，并且承认，性别平等还有很长的路要走。

“她被世界各地的女性仰慕着，她给世界留下的主要的遗产，就是她证明了她能够做到什么，并且用尊严和决心去完成了那些使命。”德国女权主义活动家Alice Schwarzer 说。在她领导的基督教民族联盟的高层中，现年67岁的默克尔是众多男性中的一个罕见的女性，长期以来她一直避免将自己描绘成一个女权主义者，并且对于一些女权主义者所倡导的政策，如在董事会中给女性配额，只是很不情愿地支持。“在过去的十六年里，她并没有做什么伟大的女权运动。公平地说，她仍有许多需要去推动的地方，”，Schwarzer指出，默克尔支持帮助女性的政策，比如说扩大国家资助的托儿服务。“但她的存在本身就是一种女权主义声明。”在默克尔即将退位之际，外界开始细数默克尔的功绩，首当其冲的便是德国和默克尔对解决欧债危机起到的中流砥柱作用，如果没有默克尔，欧洲单一货币乃至整个欧盟很可能已经解体。

在2017年，当她被催促着回答这个问题的时候，默克尔拒绝回应她是否认同自己是一个女权主义者这个问题，“我不想要给自己贴上一个本质上我不拥有的头衔”。然而，在她在权的时间即将结束时，她开始重新考虑她的身份认同。在一次与尼日利亚作家Chimamanda Ngozi Adichie（阿迪契）的对谈中，默克尔说“我反复思考了很多次我应该给出什么样的回答，如今我很确定：我们都应该是一名女权主义者，”。

上个月，在一部讲述战后西德杰出女性政治家故事的电影首映式上，默克尔表示，她对女性在议会中仍然只占31%的席位感到失望。“在德国，我们还没有做到女性和男性之间的平等。还仍有许多事是需要我们去做的。”Schwarzer说，默克尔在有权势的男人中间的表现给她留下了深刻的印象：“在德国有一个笑话：一个小男孩问，妈妈，男人也能成为总理吗？有一个人证明了这一点，并且她现在就在那里，谁也无法否认。”

▲ 女权主义的标签之外，重要的是我们要做什么，我们想做什么。当我们的存在本身就已经是一种女权主义时，其他都不需要再证明什么。</label><p><label>来源:路透社</label><p><label>翻译:阿汤</label><p><label>阅读量:0</label><p><label>转发:21</label><p><label>评论:5</label><p><label>点赞:95</label><p>评论内容:<br/>幻化麟麟影成风：我们需要女领导<br/>乡村小壮：怎么讲 有一种得了便宜卖乖的感觉<br/>曼不群202104：怎么不支持你们弦子姐姐呢？这么怂啊？<br/>能吃能睡的鬣狗：德国干着火中取栗的事，次数多了手就烧废了<br/></p></li><li><p><label>发布日期:9月19日</label><p><label>发布时间:18:27</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KyUCjywry?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:奥地利</label><p><label>内容:在昨天进行的世界攀岩锦标赛俄罗斯站的转播中，负责摄影和转播的团队故意对女运动员的一些身体部位放大特写，引起了观众，运动员和攀岩社区的抗议。

随后国际攀岩协会IFSC发表致歉声明，表示这种物化和性化女运动员的行为极其可耻。

但攀岩社区用3个月前IFSC的另外一则致歉声明作为回应。3个月前在世锦赛奥地利站中，当时的摄影和转播团队也因长时间聚焦，放大和特写女运动员身体部位而遭到抗议。

很显然，IFSC在上一次道歉之后并没有实质性的改变。

△ 体育界和媒体行业物化女性的情况尤其普遍</label><p><label>来源:IFSC,  reddit</label><p><label>翻译:小庄</label><p><label>阅读量:0</label><p><label>转发:3</label><p><label>评论:1</label><p><label>点赞:28</label><p>评论内容:<br/>咸鱼要多喝热水：普遍<br/></p></li><li><p><label>发布日期:9月23日</label><p><label>发布时间:01:27</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KzpExcmrc?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:黑人女警官起诉华盛顿特区警察，声称受到种族和性别歧视

周三，一群退役和现任黑人女警官对华盛顿特区警方提起集体诉讼，声称她们工作的场所存在种族和性别歧视，充满了对黑人女性对敌意和恐吓文化。

这10名妇女说，她们在特区警察局工作时，受到了来自男性的 "种族和性别歧视文化 “。而当她们投诉时，普遍受到了 "强烈的报复"。根据诉讼，除一人外，所有原告女性都是现任或前任警队成员，且每人都至少有15年的工作经验。其中有一名是现任的警察局长助理、也有中尉和警长在原告之中。

诉讼说："他们作为一个集体，来状告华盛顿区警察局几十年来是如何蔑视黑人女警的，甚至是系统性的精神虐待。通过观察一个人或一个单独事件，这种虐待往往是不明显的。"

这些妇女正在寻求1亿美元的赔偿，并要求任命一位特别主管，对特区警察局负责处理歧视投诉对人事和平等就业部门进行全面改革。

"这场诉讼旨在根除特区警察局的这些文化，保护当前和未来的黑人女警，并为受到系统性种族和性别歧视以及报复的成员争取充分的补偿，"诉讼指出。

特区警察局的发言人Dustin Sternbeck说，"虽然由于未决诉讼，我们不能讨论具体的指控，但特区警察局致力于在我们整个组织中公平公正地对待所有成员。我们认真对待这些指控，我们将彻底审查这些指控并作出相应的回应。"

华盛顿特区总检察长Karl Racine办公室的发言人说，他们还没有收到这起诉讼，不能发表评论。

▲对于系统性的歧视，追求法律正义不仅是为了受害者，更是为了保护未来的女性。
（来源: CNN；翻译：利虎）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:0</label><p><label>转发:4</label><p><label>点赞:22</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月24日</label><p><label>发布时间:22:30</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KzHll9GKF?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:阿富汗首都喀布尔的新市长告诉女市政雇员们，除非她们的工作没有男人可以替代，她们都必须呆在家里。Hamdullah Nomary说塔利班认为让女性暂时停止工作是“有必要的”。这是该国强硬的伊斯兰新政府对阿富汗女性施加的最新限制。

上个月，在美军撤离后，塔利班控制了政府，并表示女性的权利会在伊斯兰法的范围下得到应有的尊重。但是塔利班倾向于使用了对伊斯兰法进行了严格的诠释的版本（Sharia Law）。在塔利班掌权后，职场妇女们就一直被告知在安保状况得到改善之前，不要离开家，并且塔利班的战士们攻击了抗议全由男性组成的塔利班临时政府的女性。这个伊斯兰组织似乎已经关闭了妇女事务部（类似于妇幼保障中心），而用一个曾经执行了严格的宗教教义的部门取而代之。

本周末，中学重新开放，但只有男孩和男性教师被允许返校。塔利班说他们正在努力为女孩争取返校的权利。喀布尔的市长表示，在全市3000名的市政雇员中，有三分之一的人是女性，其中一部分的人仍然会留在政府工作。“比如说，那些在城市中清扫女厕所的女性，她们的工作就不会被男性给替代。”

阿富汗独立人权委员会说，在塔利班政府成立以后，TA们已经无法完成TA们的职责，TA们的房屋建筑，交通工具以及电脑都已经被塔利班给没收。

▲ 看一个政权是否支持女性权益，不在于他们说什么，而在于他们做了什么来保障女性的话语权和持续的发展机会不会遭到迫害。</label><p><label>来源:BBC</label><p><label>翻译:阿汤</label><p><label>阅读量:0</label><p><label>转发:12</label><p><label>评论:10</label><p><label>点赞:53</label><p>评论内容:<br/>当了八十年小李：我希望，当女性看到这些的时候，不要因为自己幸运地拥有的权利而沾沾自喜，不要庆幸自己生在一个对女性更宽容的国家，而是要想到，她们的今天，有可能是我们的未来<br/>Biu已经20179：精塔们这次会说些什么？<br/>那诺言还会不会兑现：把博主送去阿富汗，让她去跟塔利班讲道理，美滋滋。各人自扫门前雪，莫管他人瓦上霜。博主就是管太多了，以为她自己能上天<br/>月伴不辞水：寡，怎么不说了，因为你只会拉黑人，又当又立<br/></p></li><li><p><label>发布日期:9月27日</label><p><label>发布时间:19:49</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KA8zQ5ava?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:当伦敦东南部基德布鲁克的女性得知居住在他们社区的小学教师 Sabina Nessa在当地公园被谋杀时，她们产生了同样的想法：这件事也可能发生在我身上。

“警察说， Sabina Nessa离开家，去当地一家酒吧见她的朋友。这段路程五分钟步行即可到达。我们经常去这家酒吧，步行大约五到十分钟。听到她被杀害的这件事情，我们觉得这件事就像发生在自己身上一样，它可能发生在任何地方，“在该地区生活了大约两年的年轻母亲Aliya Isaeva告诉记者。

Isaeva和她的朋友Sueda Ciftci 说，他们每周至少会去一次上周五这位 28 岁教师被杀的公园。他们一直觉得在那里很安全。“我们选择这个区域是因为这里有很多公园。这是一个很好的家庭区域。”

整个星期，人们一直在公园里献花、点燃蜡烛并为 Nessa 的家人留下文字。周五晚上，当在公园不远处的一个广场举行守夜活动时，以女性为主的群体出现在活动中。

当 Nessa 的姐姐 Jebina Yasmin Islam 告诉他们她和她的家人所经历的痛苦时，许多人努力忍住眼泪。“这感觉就像我们陷入了一个噩梦，我们无法摆脱它，”她说。“我们失去了姐姐，我的父母失去了他们的女儿，我的女儿们失去了一位如此聪明、有爱心、有爱心的阿姨。”

根据安全应用程序 WalkSafe 的数据，就在 7 月，即警方提供的最近一个月，在 Nessa 遇害公园 1.5 公里（0.9 英里）范围内，报告了 112 起暴力和性犯罪。在周五的守夜活动中，当地议员克莱夫·埃福德 (Clive Efford) 表示，自 3 月埃弗拉德 (Everard) 被谋杀以来，已有 78 名妇女在暴力袭击中丧生。

埃福德说，英国需要进行文化变革。“从咖啡机口中溜走的性别歧视笑话，是犯罪开始的地方，它让人们觉得他们可以对妇女和女孩咄咄逼人甚至施暴。如果我们想要实现改变，我们必须接受这种改变，并成为那种改变，”

△远方的哭声不仅仅只会出现在远方，它可能就在我们身边，甚至可能来源于我们自己。
（来源：CNN；翻译：丁一）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:0</label><p><label>转发:7</label><p><label>点赞:36</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月28日</label><p><label>发布时间:21:20</label><p><label>微博链接:</label><a href="https://weibo.com/7403993086/KAiBcxM3X?from=page_1005057403993086_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:冰岛</label><p><label>内容:
上周日，冰岛短暂庆祝了议会中女性占多数的选举结果，这本应成为这个北大西洋岛国性别平等的里程碑，但之后重新计票的结果推翻了初步统计的结果。

初步计票结果显示，女性候选人赢得冰岛的63席的国会33席，几小时后，冰岛西部的重新计票改变了结果：女性候选人获得 30 个席位，这一数字此前曾在 2016 年冰岛第二次最近的选举中达到过。 尽管没有打破记录，冰岛也以女性候选人几乎占总数的 48%，成为欧洲女性候选人最高比例的国家。

一名看到她的胜利被重新计票推翻的候选人是法学院学生 Lenya Run Karim，她是一名 21 岁的库尔德移民的女儿，她竞选反建制海盗党。“这是一个美好的九个小时，”Karim说，她本可能成为冰岛有史以来最年轻的立法者。

根据各国议会联盟的数据，卢旺达以女性占众议院的 61% 领先世界，而古巴、尼加拉瓜和墨西哥则达到或略高于 50%。该组织表示，在全球范围内，超过四分之一的立法者是女性。

“女性的胜利仍然是这些选举的重头戏，”政治学教授奥拉维尔·哈达森在重新计票后告诉记者。

△女性更需要积极地参与到政治事务中。
（来源：ABC；翻译：丁一）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:0</label><p><label>转发:16</label><p><label>点赞:57</label><p>评论内容:<br/>无</p></li></ol></body></html>