<!DOCTYPE html><html><head><meta charset="utf-8" /><title>201910微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2019年10月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:10月8日</label><p><label>发布时间:13:51</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IaxrnrhIm?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:巴勒斯坦</label><p><label>内容:一位21岁的巴勒斯坦女孩仅仅因在社交媒体上贴出了自己与未婚夫的照片而被三名家庭成员执行“荣誉谋杀”殴打致死。

在她社交媒体的最后一张照片中，女孩正因几天前遭遇暴打而躺在医院等待脊柱手术。这起荣誉谋杀事件在巴勒斯坦引发了大规模游行抗议。三名行凶者已被逮捕，正面临指控。

根据巴勒斯坦一个妇女救助组织的统计，仅去年一年巴勒斯坦就有23位女性被家庭成员“荣誉谋杀”。行使荣誉谋杀的杀人犯往往只需坐两年牢。

直至2017年仍有一条法律，只要强奸犯娶被害者为妻，就可以合法逃避强奸指控。在巴勒斯坦法律中至今没有定义“性骚扰”为犯罪；虽然近年法律中增加了对家暴的惩罚，但却造成了意料之外的副作用：丈夫惧怕法律惩罚不再亲手杀害妻子，而是逼迫妻子自杀。
（来源：明镜周刊）

▲ 荣誉谋杀只是谋杀，没有荣誉</label><p><label>阅读量:1.7万</label><p><label>转发:15</label><p><label>评论:9</label><p><label>点赞:37</label><p>评论内容:<br/>没有任何创造力：每次看到那边的这类新闻就窒息<br/>Yuri无乐不作：ysl社会疯言疯语：“荣誉”谋杀<br/>春江一树红：荣誉谋杀？谋杀还荣誉<br/>队长是窝别开枪：吐了<br/>春江一树红：@迷惑行為大賞<br/>杨枝白雪：还是亲人？<br/>给我一个衣柜吧：行为迷惑<br/></p></li><li><p><label>发布日期:10月9日</label><p><label>发布时间:22:50</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IaKozdiRh?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:JR东日本将在2020年5月，更换站员、司机、列车员等人的工作制服。女性工作人员不再被要求打领结、穿裙子，男女制服改为同材质同颜色的衬衣和领带。工作人员可以不分男女，自由的从三种颜色的领带以及两种样式的帽子中选择。
△校服也是同理。</label><p><label>阅读量:1.5万</label><p><label>转发:8</label><p><label>评论:3</label><p><label>点赞:49</label><p>评论内容:<br/>动次打次动动动动动：太棒了！穿着高跟鞋短裙子真的很难受！<br/>老透明阿囧：高跟鞋还用穿吗？<br/>阿左lz：棒！ 男女其实也没那么有别<br/></p></li><li><p><label>发布日期:10月10日</label><p><label>发布时间:14:22</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IaQuYE3D3?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国法律规定父母双方可以累计休产假14个月，其中任何一方单方休假不得超过12个月，但实际上有三分之二的父亲从未休过产假，他们认为休产假会造成经济损失和对工作的不利影响。

与2007年刚刚开始实施此项政策时相比，这已经是长足的进步：父亲休假参与育儿的比例在10年间从3%上升到了37%。相比之下一直有超过90%的母亲为育儿暂停工作。

在休产假的父亲中有72%仅休假2个月：这是保证两人累计产假14个月的最低要求。值得注意的是，父亲们惧怕休产假带来的经济损失，虽然事实上这种影响对母亲来说更严重。

据统计，德国有小孩的女性平均比没有小孩的女性少赚6.5-16%，因为雇主通常将生育理解为女性对职业发展的漠不关心。德国女性收入整体上比男性少21%。（来源：明镜周刊）

▲ 并不是男性不了解生育惩罚，而是他们希望生育惩罚的不是自己</label><p><label>阅读量:2.1万</label><p><label>转发:15</label><p><label>评论:4</label><p><label>点赞:39</label><p>评论内容:<br/>莫七祺：我国男性休产假的有0.01%吗<br/>己予安：多么清醒的男人<br/>瑶台无冥界：他们只是希望生育惩罚不是自己<br/>liang寒冰：男的有产假这一说？就没见过国内给男的批产假<br/></p></li><li><p><label>发布日期:10月11日</label><p><label>发布时间:21:36</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ib2LvyTtf?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:联合国</label><p><label>内容:西蒙诺维奇（Dubravka Šimonović）在向联合国大会提交报告时表示，“产妇有权获得有尊严且有礼貌的照顾，避免暴力和虐待。然而全球数百万女性终于大胆说出的真相却与此正相反。”
西蒙诺维奇指出，部分产妇“在没有麻醉的情况下经历不必要的会阴切开、胎盘取出以及产后会阴缝合等手术治疗手段，还可能遭遇侵犯隐私以及身体虐待。”
“女性对此常常缄口不言，因为她们担心触犯禁忌、感到羞于启齿，或是认为分娩本身就需要经历这些痛苦。”
西蒙诺维奇表示，此类针对产妇的人权侵犯“并不是零星的事件，而是在结构性不平等、性别歧视以及父权制度下发生的性别暴力的一部分”，这一针对分娩期妇女的“广泛且系统性的暴力和虐待”必须立即停止。
自2015年以来，要求在提供生殖健康服务以及分娩期间保障妇女权益的运动在世界多个国家兴起，打破了社会禁忌，揭露了妇女所遭受的虐待和暴力，并显示出这些行为已在全球医疗体系中根深蒂固。
造成上述虐待和暴力的根本原因包括医疗系统缺陷、医患关系中的权力不平等，以及歧视性法律和做法等，这些问题必须立即得到解决，避免其继续损害产妇的健康和福祉。
“国家有责任应对医疗系统中的此类人权侵犯行为”，各国政府必须履行《消除对妇女一切形式歧视公约》以及《消除对妇女的暴力行为宣言》等国际文书中所规定的人权义务，采取一切适当手段，立即制定在医疗领域消除针对妇女歧视及性别暴力的政策。（新闻来源：联合国新闻）

△比起歌颂母亲伟大，关注女性在生育中的遭遇更实际有用一点。</label><p><label>阅读量:2.8万</label><p><label>转发:26</label><p><label>评论:2</label><p><label>点赞:25</label><p>评论内容:<br/>amycsychenshuyue：懂得越多越恐婚<br/>元首不再是孩纸：转发<br/></p></li><li><p><label>发布日期:10月12日</label><p><label>发布时间:15:06</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ib9DJDzX2?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:卡塔尔</label><p><label>内容:两名德国女短跑运动员向国际田联正式提出抗议，要求田联比赛中停止使用带有胯下摄像机的起跑器。这种新式起跑器由日本公司SEIKO根据国际田联的要求生产，在运动员起跑前近距离从下向上拍摄运动员的表情及姿势并投放至大屏。田联对此解释“为了增加比赛观赏性”。很多运动员对自己被拍摄并不知情。

女运动员们普遍认为从胯下向上拍摄的角度严重侵犯隐私；“需求和设计团队中一定没有女性”，提出抗议的女运动员说。但国际田联并未停止拍摄，仅同意将之前的主屏幕全屏放映改为用次要屏幕放映缩略图。（来源：明镜周刊，卫报）

▲ 公然拍摄并向全世界播放隐私裤底，究竟为了迎合哪类观众？</label><p><label>阅读量:2.1万</label><p><label>转发:10</label><p><label>评论:4</label><p><label>点赞:31</label><p>评论内容:<br/>装蒜届的落魄诗人：地铁老爷爷看手机表情<br/>每天是新的一天：变态<br/></p></li><li><p><label>发布日期:10月14日</label><p><label>发布时间:20:32</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IbuD8pIUm?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:据美国联邦监管机构公平就业机会委员会(EEOC)报道，全球最大的零售商沃尔玛存在性别歧视问题，可能曾歧视178名女性员工，向其支付较低的薪酬或剥夺其晋升机会。
早在2011年，就有自1998年以来供职于沃尔玛3400家门店的超过150万名女性员工抱怨工资和升职问题，试图集体提出诉讼，但最高法院裁定，这些女性没有太多共同点，无法作为一个集体提起诉讼，之后这些女性中有许多人对沃尔玛提出了个人诉讼。
△女性歧视为什么屡禁不止？因为大多数时候不需要付出代价。</label><p><label>阅读量:1.1万</label><p><label>转发:5</label><p><label>点赞:11</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:10月15日</label><p><label>发布时间:13:40</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IbBmlunwX?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国股市DAX前30家股指公司终于迎来了史上第一位女CEO，48岁的美国人Morgan。

上周德国估价最高的上市公司——传统企业资源计划软件公司SAP突然宣布更换CEO，启用了为SAP工作15年，2017年至今的董事会成员Morgan。Morgan此前负责的是近年来SAP最具战略意义的云服务部分。

SAP美国分部首先公开了这一消息；由于美国商界早已习惯于女性CEO的存在，这一任职并未引起美国媒体的特别报道。甚至CNBC在对新任CEO的9分钟采访中，只字未提Morgan的女性身份。

这一新闻在德国却引起了媒体的强烈兴趣。德国股指公司的历史上不仅从未有过女性CEO，女性董事会成员比例也在15%以下，在发达国家中排名尴尬。
（来源：每日新闻，明镜周刊）

▲ 希望某国采访成功女性时，也不要总问如何平衡事业和家庭</label><p><label>阅读量:1.7万</label><p><label>转发:7</label><p><label>评论:7</label><p><label>点赞:23</label><p>评论内容:<br/>无聊求本子：德国的法律非常注重婚后女性的权益保障，并且由于国家政策，一个家庭两个人都工作的收入比一个人工作多不了多少，导致大部分女性婚后就在家待着了。这是旅游的时候一个常居德国的导游说的。<br/>幽婉旋律：哦，原来德国…不，欧洲国家也并不是完美的嘛。。<br/>弃土99730：德国向冰岛看齐，我们却跟印度比男女平等<br/>元首不再是孩纸：德国原来还需努力<br/></p></li><li><p><label>发布日期:10月17日</label><p><label>发布时间:00:21</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IbOZhwm1d?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本两名女性入选今年BBC百大女性。
一位是现在居住在东京，岐阜县出身的石川优实女士。她效仿ME TOO运动，发起了KU TOO运动，反抗职场上强制要求女性穿高跟鞋的传统。
另一位是立命馆大相扑部的今日和女士，她出身于青森县。她小时候受哥哥的影响，开始了学习相扑。因为日本相扑中有女人禁制（忌讳女人站上相扑竞技台，认为这是不洁的），鲜少有女性从事相扑行业，参加相关比赛。今日和女士一直坚持练习相扑，参加了许多比赛。
△反抗不合理的传统，你们的入选当之无愧。</label><p><label>阅读量:1.9万</label><p><label>转发:9</label><p><label>评论:2</label><p><label>点赞:94</label><p>评论内容:<br/>elsewherenorth2：#WomenSupportWomen#<br/>蜜獾王er：<br/></p></li><li><p><label>发布日期:10月17日</label><p><label>发布时间:13:28</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IbU8AjDCE?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国一名职业军人在拒绝与女同事握手后于2018年被德国军队开除。最近法院维持原判，德国军队未来可根据此次先例开除任何拒绝与女性握手的军人。

这名德国军人在几年前皈依伊斯兰教，此后一直以教义为由拒绝与女性握手。法院认为这种行为违反了军人维护联邦德国自由民主宪法的义务，同时违反了军队内部互相尊重和信任的原则，是对宪法规定的男女平等的漠视。军方认为此人不会在极端情况下与女兵并肩作战，已经不能满足职业要求。
（来源：明镜周刊）

▲现在他需要由女兵来保护了</label><p><label>阅读量:1.3万</label><p><label>转发:14</label><p><label>评论:1</label><p><label>点赞:53</label><p>评论内容:<br/>大黑妙妙15号：这男的连女性都不能正视，他会认同对方是战友吗？<br/></p></li><li><p><label>发布日期:10月18日</label><p><label>发布时间:19:00</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ic5K21vgM?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:最高法院近日审理lgbtq就业歧视案
根据NBC报道，近日在最高法院的举行lgbtq就业歧视案的口头辩论。
2013年，Bostock被解雇，只因为他的老板发现他加入了同性恋垒球联赛，因此被解雇。
在听到美国最高法院的通知时，Gerald Bostock感到乐观，他声称「我对司法系统充满信心」。
更多的人也期待这场历史性的辩论走上街头，这涉及到1964年《民权法》第七条是否禁止“基于性别”的就业歧视问题，并且禁止歧视女同性恋，男同性恋，双性恋，变性者和同性恋者。
“我们不能否认同性恋者之所以被解雇，并不是因为宗教原因，不是因为他们的工作表现不佳，不是因为他们不能做任何职位所需的事情，而仅仅是因为 对于某些人来说，他们是一个可疑的阶层。”大法官索尼亚·索托马约尔总结了到。 “他们可能在某些地区拥有权利，但仍然遭到殴打，被某些事物排斥在外。”</label><p><label>阅读量:1.1万</label><p><label>转发:1</label><p><label>点赞:6</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:10月21日</label><p><label>发布时间:13:22</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IcvO2g0LA?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国的工作合同大致可以分为“典型”和“非典型”两类，其中“非典型”工作合同包括短期合同、每周20小时以下的非全职合同，非固定工作时间合同，以及时薪在最低水平的迷你合同。

据统计，有这类工作合同的男性约占德国男性劳动人口的12%，相比1991年增加了6个百分点；而有非典型工作合同的女性占德国女性劳动人口的30.5%，相比1991年增加了8个百分点。

非典型合同中女性比例高的现象主要出现在原西德的农村地区，某些地区甚至在近年一度出现超40%工作女性只有最低工资的迷你合同。造成这种现象的主要原因是传统性别分工以及极度短缺的儿童看护机构。

非典型合同的特点是收入低且不稳定，造成的直接后果是退休后相应的养老金金额非常少。这也说明了为什么德国女性获得的养老金仅为男性的一半，而德国主要的老年贫困人口都是女性。（来源：明镜周刊，boeckler.de）

▲ 养老金完全依赖于有偿劳动所得，故意无视女性的大量无偿劳动</label><p><label>阅读量:1.5万</label><p><label>转发:4</label><p><label>评论:2</label><p><label>点赞:14</label><p>评论内容:<br/>phoebe威武：，欧洲也有性别歧视。<br/></p></li><li><p><label>发布日期:10月22日</label><p><label>发布时间:18:53</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IcHp84OW0?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国医学协会在独立调查后向遭受性别歧视和性骚扰的女医生道歉。
Daphne Romney 发现一些女医生因为她们是女人，觉得自己被低估、被忽略、被庇护。不仅仅是医生，还有社会上很多职业女性常被困扰。这是因为“old man club”男权思想没有受到适当的挑战，一直将女性视为不重要和能力的人。在报告中，罗姆尼敦促英国医学会采取行动，解决“歧视性文化中的有害因素，包括(有限的)性骚扰事件”。
这些指控有一位女性家庭医生被委员会中的一名男性主动送来一张裸照等等。还有很多描述了他们是如何被粗鲁的、性别歧视或轻视的言论，并在会议上被拒之门外。
英国医学协会领导人，前委员会主席Chaand Nagpaul博士说:“ 我非常震惊，对于成员和工作人员受到性别歧视和性骚扰，以及本报告中所描述的行为。我向受影响的人深表歉意，并感谢所有为检讨作出贡献的人士。”
英国医学会的代表机构主席海伦娜麦基翁博士说 “我对医生和工作人员忍受这种不可原谅的行为深感遗憾，在我这个年龄，性别歧视已经在我的个人生活和工作生活的许多方面根深蒂固了。”</label><p><label>阅读量:1.4万</label><p><label>转发:3</label><p><label>评论:1</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:10月23日</label><p><label>发布时间:13:24</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IcOFOna9D?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:和其他发达国家相比，德国企业中女性高管的比例低到惨不忍睹。比如美国股指公司中女性执行董事比例为27.8%，瑞典为22.7%，英国为22.3%，法国19.8%，而德国仅有14.7%。

虽然在过去几年里德国企业女性执行董事比例有小幅上升，但按照现有速度，到2041年才会勉强达到40%的水平。

而股指公司这种程度的性别比例已经算德国企业中的佼佼者。德国的上市中小型企业中有70%以上的企业董事会完全由男性构成。全部160家上市企业中的女性高管仅占9.3%。
（来源：明镜周刊）
▲ 没有决策权，就没有真正的话语权</label><p><label>阅读量:1.5万</label><p><label>转发:1</label><p><label>评论:7</label><p><label>点赞:7</label><p>评论内容:<br/>我是愤怒的吉娃娃：interesting 女性最高领导人并没有带来明显的企业女高管的比例上升🤔<br/>平行十度：我还以为德国比较高<br/>潘妮君：中国有5%吗。。。。<br/>木可的小泰迪：中国女性高管比例亚洲第一，世界前十，在你们嘴里就成了不会统计，有手有眼就不会查一下吗？睁着眼睛说瞎话？恨国高潮？<br/></p></li><li><p><label>发布日期:10月24日</label><p><label>发布时间:17:30</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IcZIt2O41?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:18号晚，两位女性美国宇航员走出国际空间站，完成了第一次全女性（all-female）太空行走。
当克里斯蒂娜·科赫与杰西卡·梅尔开始走出空间站，漂浮在距离地球250英里的太空中时，新的历史（herstory）就已经被创造了。因为迄今为止，都是男性在太空行走，他们的人数迄今为止已达到420人。
科赫和梅尔的任务是为空间站换上锂电池以代替之前的电池充电器。
在接到总统致电时，梅尔说：“我们认为这是一项历史性的成就。我们想赞扬前人。历史上曾有许多的女性科学家、探险家、工程师和宇航员，我们是跟随着她们的脚步才走到了今天。”
实际上，这次的全女性太空行走比当初计划的时间推迟了数月，原本的计划被打破，只因美国宇航局表示他们没有适合女性体型的第二套太空服。

《周六夜现场》曾拿这件事来调侃：
”我没生气。你知道的，他们可以为狗做成一件合适的太空服，或为猴子准备特殊的太空服，但是人类女孩？只有一个人可以做月亮女王（映射只有一件女性太空服）。“
人类历史上第一位在太空飞船外行走的女性是俄罗斯宇航员Svetlana Savitskaya，那发生在1984年。这是梅尔第一次太空行走，而她是第15个这样行走太空的女性。
梅尔在她的讲话中提到，”我们现在正在做的事情展示了几十年来的所有的努力，所有女性从业者的努力才使得我们取得今天的成就。我认为好的一点是我们每天基本上都不会真正去考虑它，这很正常，我们就是团队中的一员。“
科赫表示，”在过去，女性并非总是能参与。现在所有的付出都能被接受，所有人都有自己的角色，大家一起位人类航天计划做出贡献针对是太好了。“

克里斯蒂娜·科赫与杰西卡·梅尔均被选拔成为美国宇航局2013年度班级成员，而这个班级是美国宇航局的头等舱宇航员男女人数完全相同的班级。
美国宇航局表示，希望到2024年能送第一位女性登上月球。
同时在本周美国宇航局公开展示了对女性友好的太空服。
（新闻来源：PBS News Hour 翻译：志愿者Karen）

△女性从事某些职业的稀有性造成了她们每一次的出现总是特殊的，”女司机“”女警察“”女宇航员“能去掉”女“字的时候，社会才是进了一大步。</label><p><label>阅读量:1.4万</label><p><label>转发:7</label><p><label>评论:49</label><p><label>点赞:90</label><p>评论内容:<br/>四个带字就是我：你在报道你🐴 呢？  有多远滚多远  整个微博账号打着女权名义  不知道心里想的什么鬼东西<br/>白金丿天堂：港毒请马上自首<br/>2nk0：希拉里说她被NASA歧视了，你有没有头绪<br/>Xssom：怎么现在不管你们的“记者”了？ O网页链接<br/>妖艳贱货-：一群男🐶在这儿发什么疯呢?<br/></p></li><li><p><label>发布日期:10月25日</label><p><label>发布时间:13:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Id7t9rloZ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国大学的女教授比例仅占25%。一家非盈利组织在2019年冬季学期对德国最大的50所大学进行了问卷调查，发现女性比例最高的柏林自由大学也仅有38%的女教授，而技术类大学的女教授比例更是低至平均18%。

在主任级别及以上女性的比例又进一步降低至17%，技术类大学仅达到13%。在女教授比例最高的柏林自由大学，13位主任和校长中女性的人数竟然为0。
（来源：明镜周刊，WBS-GRUPPE）

▲标榜自己平等开放的学术界，实际上也是性别歧视的重灾区</label><p><label>阅读量:1.1万</label><p><label>转发:8</label><p><label>点赞:16</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:10月28日</label><p><label>发布时间:20:34</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IdCCRBQ5d?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:韩国政府决定改变类似“小叔子”和“小舅子”等隐含“性别歧视”意识的家庭称呼。
据韩国《东亚日报》消息，当地时间8月31日，韩国女性家庭部从“男女平等”观念出发，发表了“第三次健康家庭基本计划(2016∼2020年)”，以改善家庭制度和文化。韩媒此前报道认为，“为什么对婆家那边的人要加上‘尊称’，却在叫妻子家那边的人时而不加‘尊称’”，这涉及“不平等”的家庭称呼问题。
报道称，韩国政府计划纠正这样一个老习惯，即称呼丈夫的弟弟或妹妹时尊称“小叔子”和“小姑子”，而称呼妻子的弟弟或妹妹时降低对方地位 ，称“小舅子”和“小姨子”。女性家庭部家庭政策科科长金淑子指出：“像‘小叔子’这样的用语本身并没有错误，而是在男女家庭中，只提高某一方地位的称呼，这是一个问题。”丈夫的家被称为“婆家”，妻子的家被称为“妻家”，这被认为是隐含“性别歧视”意味的用语。
韩国政府在当天发表的声明中没有给出可以代替目前使用的家庭称呼用语。今后将通过听证会和讨论会等方式收集各方意见。女性家庭部方面表示：“因为有不愿意使用新称呼的中老年阶层存在，因此，比起盲目地推进用语变更，我们希望能通过积极的宣传，首先达成充分的共识。”
△日常语言不仅仅是一些语义符号，还充满着形象和特殊情感。希望通过纠正一个旧习惯来给女性以及后代提供一个更舒适更合理的生活环境。</label><p><label>阅读量:1.6万</label><p><label>转发:25</label><p><label>评论:9</label><p><label>点赞:45</label><p>评论内容:<br/>Mooon_L：👍🏻<br/>AWWAMILAFWAB：韩国？妈妈呀<br/>小橡之无限弹：注意，女性情况上韩国排名33日本34，中国76，并没有男权三兄弟手拉手。<br/></p></li><li><p><label>发布日期:10月29日</label><p><label>发布时间:15:27</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IdK2RkSXV?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国联合执政的社会民主党（SPD）和基督教民主联盟（CDU）在与女性权利相关的议题上一直未有建树。

源于纳粹时期的宪法条例原则上对终止妊娠完全禁止，仅在附加条款中定义例外条件，并且对从业医生提供终止妊娠相关信息严格限制，在近年引起了各个政党和团体的激烈辩论。去年联合政党虽然放松了对于发布信息的限制，却在执行中敷衍了事，受到了左翼媒体的严厉批评。

联合政党还许诺拨款成立推进性别平权的基金会，任期过半却仍然没有给出具体时间表和预算。另外联合政党设立了专门反对歧视的高层岗位，但至今空缺。德国家庭部长甚至忌讳关于政商界性别比例严重失衡和性别收入差距问题的公开讨论；在被问到是否认为自己支持平权时她模棱两可地说，“我是实用主义平权”。

德国政治中对性别平权的暧昧状态由来已久，历任家庭部长的重点都在于“合作和协调”而不愿推进实质性的改变，造成德国的平权进程在发达西方国家中一直落后。
（来源：Der Spiegel）

▲为了政治正确而装样子的虚伪平权，还不如赤裸裸的性别歧视</label><p><label>阅读量:33</label><p><label>转发:无</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:10月29日</label><p><label>发布时间:15:48</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IdKbjvHe5?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:找不到雷但是发不出去，请大家凑合读截图</label><p><label>阅读量:8400</label><p><label>转发:5</label><p><label>评论:1</label><p><label>点赞:15</label><p>评论内容:<br/>半夏shiguang：很多所谓屌子说的白左都是本质南拳的圣父<br/></p></li><li><p><label>发布日期:10月30日</label><p><label>发布时间:22:42</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IdWjNynaw?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:土耳其</label><p><label>内容:3月8日，国际妇女节当天，数千名抗议者不顾土耳其政府禁令，涌上伊斯坦布尔街头游行示威，要求男女平等、反对男性暴力等。

为了疏散抗议人群，土耳其警察朝人群发射橡胶子弹、投掷催泪弹、喷射胡椒喷雾等，还牵来警犬驱散抗议女性。
据法新社报道，游行队伍的横幅上写着“女权主义者反对男性暴力和贫穷”、“生而自由、活着亦自由”等标语，抗议者高喊“我们不会沉默、也不会畏惧、更不会服从”。

另据土耳其自由日报消息，在妇女节前一天，非营利组织“希望基金会”（Umut Foundation）发布的报告中显示，去年有477名土耳其女性被男性杀害、232名女性受伤。
△权力和权利来之不易。体恤身处更加泥泞的女性，学习大步走在前方的女性，应当成为一个女性共识。</label><p><label>阅读量:1.2万</label><p><label>转发:17</label><p><label>评论:10</label><p><label>点赞:27</label><p>评论内容:<br/>狗子舔舔舔：能不能说一下“反对男性暴力和贫穷”在这个语境下，这个贫穷是指啥<br/>守护最好的土申坤：自己没本事怪别人？这就是当代女👊？脑子都是狗脑子吧<br/>老屋午后的阳光：感觉我们的数据应该远高于此，当然我们人口基数大也是一方面<br/>噬元兽再战哥斯拉：<br/></p></li><li><p><label>发布日期:10月31日</label><p><label>发布时间:14:22</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ie2tr7Tac?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国汉莎航空公司前首席财政官（CFO）Menne近日在时代周刊的采访中，讲述了作为女性董事会成员在德国公司中受到的各种不公平待遇。“有些人挂在嘴边的话让人完全无法接受，”，她说，“比如‘我们行业就没有女性’，或者‘女性智商还不够水平’。”

Menne认为造成这种严重偏见的主要原因是这些公司上层的“老男人俱乐部”文化：“这些老先生们很多已经超70岁了，从来没认识过新时代。”想真正达到公司性别平等，必须有更多女性以及思想更加前卫的人进入高管层。

Menne从1989年就开始为汉莎工作，2013年成为了汉莎有史以来第一位女性CFO。目前她是多家德国大公司的监理会成员。
（来源：明镜周刊）

▲ 认为“女性智商不够水平”的人，与持种族论的纳粹无异</label><p><label>阅读量:7915</label><p><label>转发:3</label><p><label>点赞:18</label><p>评论内容:<br/>无</p></li></ol></body></html>