<!DOCTYPE html><html><head><meta charset="utf-8" /><title>201912微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2019年12月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:2019-12-3</label><p><label>发布时间:13:40</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ij3iJ9QZI?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:汉堡消费者中心自2015年起，每年对德国市场针对不同性别的商品和服务标价进行统计，曝光“粉红税”最高的公司和产品。“粉红税”指相同或十分类似的产品在针对不同性别消费者时，一类消费者（绝大多数情况为女性）需要承担更高价格。

汉堡消协指出“粉红税”最严重的商品类别是个人护理用品，尤其是剃毛相关产品、护肤品和香水。在调查的11种剃毛器中，女性产品价格平均高出同种男性产品38%；其中一款高出超过100%。两种香水的女性向产品高出同种类男性向产品24-57%。

德国政府2017年末的一项反歧视调查报告显示，在被调查的共1682种产品中，有2.3%的产品对女性更贵，而只有1.4%的产品对男性更贵。

女性在服务中也需要支付更高价格。比如理发价格的性别差距之高，已经超出了人类可以理解的范围——参与对比的是短发单剪服务，与男性相比并没有重大区别，价格却可以高达男性的2-4倍。另外干洗相似衬衫，女性也需要支付1.6-1.8倍价格（曾有电视节目让男女嘉宾拿同一件衬衫去干洗，女嘉宾却需要支付更高价格）。

德国政府的反歧视调查报告显示，在被调查的共381个服务种类中，有50%的服务对女性更昂贵，女性为这些服务平均多支付14欧元；而仅有9%的服务对男性更贵，男性为这些服务平均多支付8欧元。
(来源：汉堡消费者中心)

▲ 女性做相同工作比男性收入少，购买相同产品和服务比男性支出多</label><p><label>阅读量:1.1万</label><p><label>转发:6</label><p><label>评论:4</label><p><label>点赞:26</label><p>评论内容:<br/>无女权守护宜：同工不同酬就算了，还要交粉红税<br/>阳关故人咩：歧视女性简直是令人发指<br/>萧晓筱233：<br/>整块生姜：谁能想到我是看见了汉堡才点进来的<br/></p></li><li><p><label>发布日期:2019-12-5</label><p><label>发布时间:07:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IjjRq2Fpa?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:2019年9月13日，联合国教科文组织发布调查结果称，全世界的学龄期（6～17岁）儿童里每6人中就有1人处于失学状态。虽然男女间的差距在渐渐缩小，但少女们依然面临着巨大的困难。一次都没有上过小学的女孩约有900万人，男孩约有300万人。
在印度拉贾斯坦邦的一个名叫普希卡小城市里，有很多因为家庭贫困而无法上学的女孩。普希卡内有印度教圣地普希卡湖，所以城市内的氛围偏向保守。大多父母认为必须要有儿子，所以会一直生孩子到有男孩出生。因为贫困，所以在受教育时会优先男孩。为解决普希卡这一问题，由MARA　SANDRI（意大利亚）、GUADALUPE TAPIYA（美国）DEEPU MAHARSHI（印度）三人创立了“莲花”女子学校，贫困家庭的3～16岁女孩可以来免费上学。学校2004年设立时只有43名学生，到2019年已经有超过600名学生在学。
△新闻里提到有来参观见学的外国人常有疑问：为什么要单独设立女子学校？
大家怎么看待女校的存在？</label><p><label>阅读量:2.5万</label><p><label>转发:19</label><p><label>评论:8</label><p><label>点赞:147</label><p>评论内容:<br/>无就业性别歧视监察大队：而且就去年日本多所医科大学曝出入学考试歧视女性的问题来看，女校可以提高女性受教育的比例。我又问了她怎么看待男校，她的回答是：目前坚决反对，在现在的社会文化氛围里，男校基本就是厌女男性培养地。<br/>就业性别歧视监察大队：我曾经问过朋友这个问题，她的回答是：在都是女生的环境里，性别刻板印象和性别歧视会少一些。比方说，女校的班级和社团职务都由女生担任，避免了性别刻板印象下“男生做正职，女生做副职”的男女分工，可以提高女生们的自信心和领导力。<br/>等等兔的白背心：大学时在金陵女子学院是我最美好的时光，女院的老师在之后的工作生活给了我最大的安慰<br/>不可思议的Alice：不单独设个女校，设个男女混校，有多少家长会让女孩而不是男孩上学？即使做公益学校的可容量也是有限的，不独设女校只会让教育资源再次倾斜到男童身上<br/>雪树一二三：本人就读于中华女子学院<br/></p></li><li><p><label>发布日期:2019-12-5</label><p><label>发布时间:15:16</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IjmMTcQDI?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:奥地利</label><p><label>内容:奥地利今年对理发和干洗行业进行了大规模反歧视调查，抽查了全国近20%的理发店和近30%的干洗店。

面对相同的短发洗剪吹，女性平均要多支付11欧元。在被问及如果女性发型与男性一致且不需要附加服务，能否享受与男性一样的价格时，超60%的理发店表示一概拒绝，仅有25%的理发店表示可以酌情考虑。

在干洗行业，调查人员采用了完全相同材质（全棉）和剪裁（无口袋，无花边，无特殊版型）的男士和女士衬衫，结果发现96%的干洗店对女士衬衫要价更高，且平均为男士衬衫价格的两倍。在调查人员追问下，仍有超60%的干洗店表示绝无可能对女士衬衫降价；仅20%的干洗店承认如果一切条件相当，会考虑用相同价格。

文末读者留言部分出现大量反对意见，主要论点为：理发和干洗行业对不同性别的服务性质并无可比性，而通常来讲女性更受照顾。比如女性产品和服务之所以昂贵，是因为女性更舍得在外表上花钱花时间；而男性不仅要在其他产品和服务中付出更多，还要不时为女性购买礼品以及支付外出活动和就餐费用。这些留言者普遍认为这种反歧视调查毫无意义，是女权主义者攻击男性的工具。有女性读者指出，厌女情绪在媒体平台占据主流，已经淹没了女性自己的声音。
（来源：diepresse）

▲ 调查者使用了严谨的实验条件和谨慎的措辞，仍然被大肆攻击</label><p><label>阅读量:6.8万</label><p><label>转发:79</label><p><label>评论:14</label><p><label>点赞:467</label><p>评论内容:<br/>无行当久：女性舍得花时间花钱反而成为了被要价更高的理由，还有男性要时不时为女性支付礼品和就餐费用？？？<br/>佐木敬良：基于人群的第三级价格歧视是合法的，店家反对“具体情况具体分析”也有道理，因为第三级价格歧视是以人群的区隔为基础的。这主要还是个定价问题。<br/>渡无间：这跳脚的样子简直笑死了。女人想少花点剪头和洗衣服的钱，男人都能联想到女人平时约会让他们多花钱，看来他们真是恨死给女人花钱了。男的给女人花钱了后如果没得到他们自认为想要的回报就是这幅怨夫样，又不愿放弃自己的特权改变现实，只能pua一下女人让她们不敢提要求咯<br/>狐狸你好嘛：对男权社会而言，为女即是原罪。<br/>tobymac0075：对女人来说毒素处处渗透<br/>王妮嬤：@我的印象笔记<br/>英台__：男人真是比高数还难懂的东西…<br/></p></li><li><p><label>发布日期:2019-12-6</label><p><label>发布时间:21:37</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IjyI2aIw7?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:Uber于本月5日公布了美国国内2017年到2018年打车业务中发生的性暴力事件调查报告，两年中共发生了5981件性暴力事件。2017年提供了约10亿次打车服务，其中发生了2936件性暴力事件。2018年提供了约13亿次打车服务，其中发生了3045件性暴力事件，发生率较2017年下降了16%。
根据报告显示，2018年打车服务中发生强奸案235件，未经允许亲吻性部位376件，身体接触1560件。并且，乘客是施暴者的事件占近半数。
Uber于去年加强了安全管理，导入了APP紧急按钮，乘客只要按下按钮，当地警察局就会接到报警。并且每年会对司机的身份信息进行检查更新。
此外，两年中因交通事故致死19人，2017年10人死亡，2018年9人死亡。其中8人是乘客，7人是司机，还有4人是行人。
△性暴力受害者不是数字，不是公布数据就可以了，发现了问题，就该及时寻找解决方案。</label><p><label>阅读量:1.6万</label><p><label>转发:4</label><p><label>评论:2</label><p><label>点赞:8</label><p>评论内容:<br/>无Ni_QiuXI：挂不挂？ ¡评论配图<br/>做果子狸7777的单车杠：“乘客是施暴者的事件占近半数”。乘客与司机还能和谐相处吗？<br/></p></li><li><p><label>发布日期:2019-12-9</label><p><label>发布时间:14:24</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IjY9Mr6eU?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:在1946年至2014年间仅德国就有3677名儿童被1670余名天主教神父性侵的曝光记录。由于案件的特殊性，专家估计在这一期间德国实际被天主教神父性侵的儿童数量不少于10万人。一份报告表明，在近10年来天主教神父性侵儿童的案件数量并未减少。

于此同时，已经被报道的大规模性侵案件也从未出现过对施暴神父实质的惩罚措施。仅有约三分之一的施暴者受到教会调查，其中88人被教会驱逐，41人被辞退。仅有7%的施暴者被起诉，其中仅有个别人被判刑。以慕尼黑教区为例，共159名神父被曝光，仅2人被起诉；柏林教区则宣称曝光文件仅有“学术意义”而没有“法律意义”，因此没有任何施暴者被起诉。

解密的历史文件暴露出1970年左右开始出现的系统性掩盖事实和保护施暴者的行为。自70年代起德国几乎再没有过成功曝光此类犯罪的案例。此次调查也受到了德国天主教会的阻挠，调查人员指责教会故意隐瞒和销毁档案，并有选择性曝光已过追责期或当事人已去世的案件的嫌疑。

问题神父在旧教区被曝光后通常会被悄悄调入新教区。一些惯犯甚至曾被多次调离教区，却从未受到惩戒。一名被起诉的神父曾雇佣警官上门试图说服证人撤回证词。而这名神父在被撤职后，教会仍以同等薪酬供他在家中赋闲。
（来源：德国之声等）

△教会难道是法外之地</label><p><label>阅读量:1万</label><p><label>转发:6</label><p><label>评论:3</label><p><label>点赞:13</label><p>评论内容:<br/>无小船ewfl：基督教带来了多少痛苦<br/></p></li><li><p><label>发布日期:2019-12-10</label><p><label>发布时间:17:56</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ik8Yedcdu?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:首尔将实施全国第一个工资平等制度
首尔市去年公布了22家投资和捐助机构的性别工资差距，并在网站上按工作类别，工作类型，服务年限以及人工成本构成划分了性别工资差距。性别工资差距最大为460,000韩元（约2700人民币）。
根据调查，首尔的22个机构中的性别工资差距从46.42％到-31.57％不等。例如，如果差距为30％，则当男性工资为100万韩元时，女性工资为70万韩元。
韩国性别平等工资制度：公开按性别和就业类型与劳动有关的信息，例如工资和工作时间。通过透明地公开信息，旨在弥合按性别划分的非理性工资差距，并追求男女同工同酬。在瑞士，英国和德国已经有类似制度。
一位城市官员说：“在妇女的社会地位相对较差的时期，性别差距被视为一种结构和实践和观念的积累。” 。
首尔市还曾提高妇女的就业率，并扩大妇女进入更高级别的职位。还创造了两性平等的工作环境，诸如由于育儿假而中止工作之类的不利条件。
首尔市宣布将继续加强实施男女平等工资，并扩大其范围。
首尔性别工资差距改善委员会主席说：“即使在欧洲，德国和其他国家，通过积极干预和改善意愿，性别工资差距也已缩小。这将是漫长旅程的起点，以创造一个没有歧视工作环境。” （来源：周日首尔）

△如果有积极改善的意愿并且真的贯彻实施，一个没有歧视的工作环境是可以存在的，虽然这条道路很长，但我们需要看见改变。</label><p><label>阅读量:1.2万</label><p><label>转发:13</label><p><label>评论:2</label><p><label>点赞:20</label><p>评论内容:<br/>无猪的脑子哪里去了：被韩国赶超<br/>夏天焱焱ABC：羡慕<br/></p></li><li><p><label>发布日期:2019-12-11</label><p><label>发布时间:15:08</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IkhiFpJ42?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:《Sally Challen案件》是英国广播公司正在播出的一部90分钟的纪实电影。2011年，65岁的Sally在和丈夫结婚31年后，用一把锤子杀死了正在吃晚饭的丈夫，被判无期徒刑。

电影重现了当年的庭审。夫妻两人的朋友纷纷出庭作证：两人的婚姻原本完美无缺，丈夫事业有成，妻子温柔体贴；直到Sally发现丈夫Richard持续不断的出轨。她开始酗酒，疑神疑鬼。但朋友和家人（包括他们的两个儿子）都没想到会出命案。

起诉方证据确凿而辩护方一无所有。辩护律师决定绝口不提丈夫Richard对Sally的家庭暴力。他认为这可能被陪审团视为抹黑受害者。 直到Sally联系了人权律师和“女性公正”组织，事实才得以显露。这是一个专门为因忍受不了家庭暴力而杀害丈夫的女性提供法律援助的组织。

丈夫Richard多年婚内强奸Sally，不断羞辱她，并控制她的人身自由。

人权律师Wistrich于是开始为这件后来成为里程碑的案件做辩护准备。她认为Sally是丈夫胁迫性控制的受害者。家暴施暴者对受害者的精神暴力——包括恐吓、剥夺自尊和自我意识、精神控制，在整个辩护过程中逐渐受到了承认。

这个自人类有历史以来就被用来在日常生活中压迫女性的手段，竟然在2015年才受到英国法律的承认。可以说所有女性都有过类似经历：即使自己从未受到过精神暴力，也一定曾经意识到某个朋友在和丈夫说话时小心翼翼。但直到Sally的案件被庭审，这种暴力在英国从未受到过任何挑战。

她们成功了。今年6月，Sally Challen在服刑9年后获无罪释放。

这部纪实性电影获得了广泛赞誉。电影极具深度，没有把丈夫Richard刻画成一个怪物，而是坚持说出了一个更加令人不安的事实：家庭暴力中的施暴者往往是通过敏锐觉察和利用人性弱点，用极其隐蔽的方式构建了和受害者的关系。

Sally Challen在获得自由后说，“我在想Richard怎么样了。我很想念他。”
（来源：卫报，BBC）

▲ 家庭暴力中的精神控制极其隐蔽，令受害者难以摆脱。反对家暴也包含对受害者的宽容。</label><p><label>阅读量:1.6万</label><p><label>转发:15</label><p><label>评论:1</label><p><label>点赞:21</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2019-12-13</label><p><label>发布时间:13:53</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IkzFaha3P?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国议会选举正在进行中，卫报对英国两大党派：工党和保守党的女性候选人数做了统计。工党有约半数候选人为女性，保守党为三分之一。但根据统计报告，保守党的女性候选人都被安排竞争几乎不可能赢得选票的地区。在传统的工党地盘，保守党安排女性候选人参选的几率是安排男性的两倍。

卫报称：考虑到这种情况，今年虽然执政的保守党女性候选人数达到历史新高，但这更像是公关手段；实际女性议员比例将不会有突破。

去年，英国退休大法官Laura Cox接受委托，对下议院性别霸凌和骚扰开展了独立调查。这份155页的报告显示，多名男性议员被多人实名投诉有骚扰员工的传统，包括公开谈论女员工的外表和穿着；经常性的不正当触碰比如摸头，搂抱，抚摸大腿，试图亲吻，抓手臂、胸部或臀部；用带有性暗示的脏话羞辱女员工；向女员工和一些男员工发性爱邀请等等。而历史投诉多被故意包庇和隐藏。

Laura Cox表示，由于报告的匿名性质，无法公开这些人的姓名。她只能建议在后续的下议院反歧视工作中不要给这些人更多的权力。
（来源：卫报）

▲ 女性参政困难重重</label><p><label>阅读量:5713</label><p><label>转发:1</label><p><label>点赞:7</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2019-12-13</label><p><label>发布时间:13:54</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IkzFfCHGm?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国议会选举正在进行中，卫报对英国两大党派：工党和保守党的女性候选人数做了统计。工党有约半数候选人为女性，保守党为三分之一。但根据统计报告，保守党的女性候选人都被安排竞争几乎不可能赢得选票的地区。在传统的工党地盘，保守党安排女性候选人参选的几率是安排男性的两倍。

卫报称：考虑到这种情况，今年虽然执政的保守党女性候选人数达到历史新高，但这更像是公关手段；实际女性议员比例将不会有突破。

去年，英国退休大法官Laura Cox接受委托，对下议院性别霸凌和骚扰开展了独立调查。这份155页的报告显示，多名男性议员被多人实名投诉有骚扰员工的传统，包括公开谈论女员工的外表和穿着；经常性的不正当触碰比如摸头，搂抱，抚摸大腿，试图亲吻，抓手臂、胸部或臀部；用带有性暗示的脏话羞辱女员工；向女员工和一些男员工发性爱邀请等等。而历史投诉多被故意包庇和隐藏。

Laura Cox表示，由于报告的匿名性质，无法公开这些人的姓名。她只能建议在后续的下议院反歧视工作中不要给这些人更多的权力。
（来源：卫报）

▲ 女性参政困难重重</label><p><label>阅读量:1.1万</label><p><label>转发:5</label><p><label>评论:2</label><p><label>点赞:9</label><p>评论内容:<br/>无穿着校服逛網吧Justbun：<br/>穿着校服逛網吧Justbun：转发微博<br/></p></li><li><p><label>发布日期:2019-12-17</label><p><label>发布时间:16:42</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IlctNlJzJ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:美国歌手Lizzo因在洛杉矶湖人队的篮球比赛中穿了一件露臀装而被大肆攻击。人们在推特上指责Lizzo着装不合时宜，“她显然没有意识到：她是在家庭活动场合中”。同时还出现了大量攻击她的身材的笑话、表情包和留言，“她难道不知道自己有多胖么？”

对此Lizzo大度回复：我当然知道我胖；我只是不认为胖是一句脏话。

Lizzo的支持者用湖人队着装清凉的啦啦队照片作为反击：“孩子们怎么办？！这是家庭场合啊！” “所以观众只需要看湖人啦啦队的屁股喽？”
（来源：卫报）

▲ 嘲笑女性身材是对女性的规训</label><p><label>阅读量:1.5万</label><p><label>转发:2</label><p><label>评论:4</label><p><label>点赞:31</label><p>评论内容:<br/>无小M_ss：这是她穿的丁字裤，大家感受下 ¡评论配图<br/>都市减肥丽人：最后一句how made winds<br/>那是我没错了：没有嘲笑，只是单纯的不喜欢。<br/></p></li><li><p><label>发布日期:2019-12-18</label><p><label>发布时间:13:26</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IlkCx9qiH?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:18日，东京地方法院就伊藤诗织起诉元TBS记者山口敬之一案作出裁决，主审法官铃木昭洋认同伊藤诗织是在醉酒无意识的状态下，被迫发生性行为。判决伊藤诗织胜诉，要求山口敬之赔偿330万日元。
根据判决书内容，2015年4月，伊藤诗织在东京的一家寿司店与山口敬之一起吃晚饭，醉酒之后，被带到酒店发生了性行为。
山口敬之称，自己是在征得伊藤诗织同意之后才与她发生关系的。由于两人的说法出入很大，法院将两人的供述进行了对比，根据伊藤诗织进入酒店时走路摇摇晃晃等举动，可以认定她当时处于深度醉酒状态，与她本人“没有记忆”的供述一致。以及伊藤诗织当天到医疗机构就诊，几天后和朋友商量以及报警等行为，都是“该次性行为是违背本人意愿”的证据。
山口敬之以“伊藤诗织举行记者会见以及写书是对自己的名誉的损伤”为由，起诉了伊藤诗织，要求伊藤诗织赔偿1.3亿日元。法院判决“伊藤诗织是为改善社会性犯罪受害者的处境，才将自己的经历公之于众，其内容都为真实，不构成损害名誉”，驳回了山口敬之的上诉。
2016年7月，东京地方检察厅曾以证据不足为由，不予刑事起诉。2017年5月，伊藤诗织向检查审查会提出了不服从的申诉，并公开了自己的姓名和长相，举行了记者会见。但是，同年9月，东京第六检查审查会仍做出不起诉的决议。
山口敬之将在今日下午举行记者会见。
△谢谢你的勇敢。#伊藤诗织胜诉#</label><p><label>阅读量:2.6万</label><p><label>转发:13</label><p><label>评论:2</label><p><label>点赞:49</label><p>评论内容:<br/>无Rainbow_Academy：#彩虹学院#🌈#彩虹新闻#伊藤丝织这个民事诉讼赢得艰难，也赢得有意义，特别是在联合国《消除对妇女一切形式歧视公约》通过40周年的今天，日本的法官知道这个日子吗？俺国的法官今天能不能也给咱一点好消息？——冯媛女士<br/>妇女-台风：感觉处于好消息稀缺的状态里，所以#伊藤诗织胜诉# 的消息会让人愈加欢欣鼓舞<br/></p></li><li><p><label>发布日期:2019-12-18</label><p><label>发布时间:17:11</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ilm5KxzYI?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本时间下午2点，原TBS记者山口敬之就“伊藤诗织胜诉”一事召开记者会见，他称“无法接受判决内容，会立刻上诉。”山口敬之还强调说：“违法的事我一概没有做过。”

这是伊藤诗织遭受性侵之后，加害者山口敬之首次公开召开记者会见谈论此事。
“我有根据客观的证据指出伊藤诗织的供述里的矛盾之处，但法院都没去检查证实，几乎都被无视掉了。明明应该就双方的主张的可靠性进行判断，但我说明的部分全部被否定了。而片面的把伊藤诗织的话都当作真相和事实。”山口敬之说。

山口敬之还表示，事件发生之后，自己一直保持沉默，听从律师的建议把精力集中在诉讼上。但在自己沉默的期间，BBC、纽约时报等媒体铺天盖地的报道了伊藤诗织的主张。难道这次判决结果没有受到这些外因的影响吗？

值得一提的是，律师北口雅章和文艺评论家小川荣太郎共同出席了记者会见，主持记者会见的是月刊Hanada的主编花田纪凯。（几人同为日本首相安倍晋三的好友）

月刊Hanada曾刊登过多篇抹黑伊藤诗织的文章，如在2019年10月刊上，刊登了小川荣太郎写的文章《伊藤诗织这个女人的真面目》。2019年11月刊上，刊登了文章《伊藤诗织事件背后的黑暗，伊藤诗织是受害者吗》。#伊藤诗织胜诉#
△有权有势有资源的男人们，紧密的团结在一起，指责受害者利用舆论，指责法律不公平。</label><p><label>阅读量:7857</label><p><label>转发:3</label><p><label>评论:2</label><p><label>点赞:24</label><p>评论内容:<br/>无肖叩叩：性别真的是原罪 东亚三兄弟手拉手 谁先平权谁是狗<br/>Moonesther：<br/></p></li><li><p><label>发布日期:2019-12-18</label><p><label>发布时间:17:28</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IlmcPmhb7?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容: #伊藤诗织胜诉#
山口敬之于今天下午两点召开记者会见。
（内容好像被屏蔽了）</label><p><label>阅读量:5.5万</label><p><label>转发:52</label><p><label>评论:4</label><p><label>点赞:74</label><p>评论内容:<br/>无新媒体女性：不如解释一下为何自己可以躲过逮捕令和刑事诉讼？？？作为前TBS华盛顿分局局长、安倍晋三传记作者，山口敬之所拥有的各方面资源岂是伊藤诗织可以比的？现在说自己是弱势方会不会太假了点？？？<br/>圣诞快乐人间：看他那套衣服，不知道想勾引谁呢呵呵（玩梗的意思）<br/>圣诞快乐人间：山口敬之充分说明了一句话：“一把年纪照样风骚”<br/></p></li><li><p><label>发布日期:2019-12-19</label><p><label>发布时间:14:26</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ilurv3I2c?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:付费频道Hallmark近期播放了一组带有女同婚姻片段的婚礼广告，遭到了美国各大保守组织的强烈反对。Hallmark的母公司皇冠媒体随后宣布撤回这组六个版本的广告中带有同性婚姻内容的四个。

为了表示不满，受邀制作这组广告的Zola广告公司随即宣布收回所有六个版本。

但是事情在本周出现了反转。在社交媒体大规模的谴责声中，Hallmark频道重新开始播放这组广告，并称将联系Zola继续合作事宜。Hallmark公关副主席说，“皇冠媒体对之前的错误决定表示歉意。我们对多元化和包容性的支持不会改变。”
（来源：卫报）

▲ 希望更多公司能真心支持多元化和包容性</label><p><label>阅读量:1.4万</label><p><label>转发:6</label><p><label>评论:4</label><p><label>点赞:69</label><p>评论内容:<br/>无chichaer：呵呵，充分说明谁的声音大听谁的，别怕为自己的正当权益发声。<br/>nanaiwill：为了商业价值可以改变说法<br/>渡无间：感觉美国现在比我想象的更右<br/>妖艳贱货-：嗐，发现撤回了，不满的更多<br/></p></li><li><p><label>发布日期:2019-12-20</label><p><label>发布时间:18:18</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IlFoeDHOV?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:胜诉之后，伊藤诗织在19日召开了记者会见。会见结束之后，围着伊藤诗织做补充采访的人里有支持加害者山口敬之的小川荣太郎。伊藤诗织和小川荣太郎进行了直接对话。

小川荣太郎和伊藤诗织对话前，先进行了自我介绍，自称是日本，或说是全世界对这件案子调查的最详细的人。

小川荣太郎质疑说，目前伊藤诗织最有力的证据就是病历卡和酒店的监控录像，在法院审理的时候，这两样证据为什么不公开？如果这样的话，在全世界的媒体前诉说自己遭受性侵是不公平的。最好再一次对着全世界的媒体，公开所有的详细情况。

伊藤诗织偶尔点点头，认真的倾听了小川荣太郎的意见和提问之后，说：“感谢提问。”
伊藤诗织先就病历卡的问题进行了回答。
“因为病历卡上写了地址等个人信息。”

又继续说明了酒店监控录像的问题。
“我去酒店要监控录像的时候，录像里拍到了的其他人，并且都没有打马赛克。这份录像是我向酒店支付了40万日元才得到珍贵录像，所以，如果在法院以外的地方公开录像的话，可能会因为给酒店造成损失而被起诉。”

伊藤诗织继续说：“我其实也觉得这份录像很重要，想要给大家看一看。但是因为和酒店说了只在法院使用不公开，酒店才提供了这份录像，所以没能给大家都看一看。”伊藤诗织又强调说：“即使这样，也还是有人将作为审判材料的录像流传到了外面。”

因为现场有许多记者，伊藤诗织想要给其他记者提问机会，对小川荣太郎说了“谢谢”，准备接受其他人提问时，小川荣太郎又追问：“那病历卡不公开住址等个人隐私，只公开医生的诊断内容，供大家公开讨论不可以吗？”
在场的伊藤诗织的代理律师村田智子说：“ 有法院公开的资料就足够了，此外再无可奉告。”

18日，山口敬之召开记者会见，小川荣太郎登台表达了对山口敬之的支持。当天，伊藤诗织也以记者的身份到场取材。#伊藤诗织胜诉#

△18日山口敬之召开的记者会见上，他的支持者曾说：“受害者那样无所顾忌的把自己的遭遇说出来，这也太难以相信了。”
他们想象了一副受害者的模样，如果不符合他们的想象，那一定不是受害者。</label><p><label>阅读量:2.9万</label><p><label>转发:33</label><p><label>评论:5</label><p><label>点赞:174</label><p>评论内容:<br/>无冬眠旳猫：女性说不愿意，男性说女愿意，强奸问题没有不男不女中间派，往往谁握权谁说了算。——女性在没有成为权、利中心的环境不断制造男性，是愚蠢至极的行为。<br/>hmmr：受害者应该是什么样子呢 就是觉得受害者都是小绵羊所以坏人才这么肆无忌惮吧<br/>雨过天晴郑：了不起的女性！<br/>活捉恐龙Shazam：受害者的模样？呵，70多年前奋勇反击的中国人民不也曾是被压迫被蹂躏的受害者吗？什么模样？团结起来打得敌寇落荒而逃！👊<br/>漂泊者的梦sunny：受害者都不吭一声，默默死掉最符合他们的预期，想得倒挺美！爆发的受害者，会把这些坏蛋一个又一个消灭的！          珍惜生命，卸载滴滴！<br/></p></li><li><p><label>发布日期:2019-12-23</label><p><label>发布时间:18:17</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Im7F9sapT?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:1985年代孕在英国成为合法，2010年代孕开始向英国的同性伴侣开放。在英国法律中，代孕协议并不能得到法律强制执行。婴儿出生时的法定监护人是孕母，第二法定监护人默认为孕母的伴侣。养父母必须通过向法院提交家长令或领养申请。家长令涵盖养父母一方为精子或卵子提供者的情况（既与婴儿有血缘关系）。

英国代孕家长令在过去的8年间翻了三倍，预计将达到每年约500个案例。但这一数字仅限英国本土代孕，并不包含去国外寻找代孕服务的英国夫妇。

2012年，全球代孕产业的估值就已经达到60亿美元。由于近年来代孕的迅猛发展，出现了越来越多的复杂案例。

2013年一对澳大利亚夫妇提供精子和卵子在泰国代孕了一对婴儿，其中男婴患有唐氏综合症而遭到客户拒绝领养，但健康女婴被带回澳大利亚。孕母将客户告上澳大利亚法庭，希望重新获得女婴的监护权。这一案件由于提供精子的养父有性侵儿童的犯罪史而更加复杂。但2016年澳大利亚法院判决养父母仍然对女婴有监护权。

由于这一案件，泰国政府在2015年通过法律，禁止外籍养父母利用泰国女性进行代孕服务。

对贫穷地区女性的压榨也是代孕产业面临的争议之一。

在乌克兰，女性由于可以得到当地平均年收入8倍的报酬而选择代孕，但孕母普遍处于恶劣环境，面临健康问题，并且中介机构往往因为婴儿不符合严苛条件或出现流产而拒绝支付孕母任何费用。

这种压榨已经促使许多原本代孕合法的国家取缔代孕产业。

2018年，联合国明确称商业代孕为“贩卖儿童”。

德国、法国等国家代孕被视为对女性人权的侵犯，各种形式的代孕被明确禁止。

英国等国视代孕为一位女性对另一位女性的馈赠，因此视自愿和利她性质的代孕为合法。

还有一些国家和地区，比如加利福尼亚，俄罗斯和乌克兰，允许商业代孕，将代孕视为女性身体自主权的一种。

最坏的一种情况如尼日利亚和肯尼亚，代孕完全不受任何形式的监管。

这些差别造成了“国际代孕旅游”：发达国家的养父母曾经成群结队来到印度、尼泊尔、泰国、柬埔寨购买代孕服务，使这些国家相继出台法律禁止涉外代孕服务。

目前的国际代孕产业已经造成了严重道德问题，涉及对贫穷国家女性的剥削利用和对儿童的商品化。另外国际代孕旅游还引发了各种法律纠纷：当各国法律对儿童监护权有不同规定时，可能造成儿童出生时不能获得任何国籍。

2008年，一对日本夫妇在印度代孕的女婴出生时，两人已经离婚。孕母和养母都放弃了监护权，但养父希望能够领养。虽然这位养父提供了精子，是女婴的生理父亲，但印度的代孕法律视代孕为领养，而单身男性对女婴没有领养权。

海牙国际私法会议正在调研建立代孕国际法的可行性。但法律专家认为，各国达成一致的可能性很小。

BBC在文章末尾指出，当代孕越来越普遍，这些道德和法律问题只会越来越严重。潘多拉的盒子已经被打开，而法律并没有做出回应。
（来源：BBC）

▲如果代孕法律不完善或监管缺席，合法化会造成严重的社会问题</label><p><label>阅读量:3万</label><p><label>转发:73</label><p><label>评论:4</label><p><label>点赞:83</label><p>评论内容:<br/>无鲜虾馄饨芝士：澳大利亚那边对代孕什么态度，我记得是禁止<br/>phoebe威武：<br/></p></li><li><p><label>发布日期:2019-12-24</label><p><label>发布时间:23:36</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ImjbajTwz?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:没有约会、没有性生活、不婚姻、没有孩子：这是由韩国女权主义者发起，被称为4B的激进运动。4B运动声称拥有4,000名成员。在韩国被社会学家称为“第四波女权主义”。

在韩国，有工作的妻子花在家务劳动上的时间是丈夫的四倍。十年前，近47％的韩国单身和未婚女性表示，她们认为结婚是有必要的。去年这个数字下降到22.4％。去年的结婚人数从1996年的434,900人骤降至257,600人。

韩国的女权主义者认为，即使是受过良好教育的妇女，也注定要在工作场所面临被歧视的现实，并在怀孕后面临许多家庭困难。

据分析人士称，激进的女权主义意识形态的日益普及有可能加剧该国迫在眉睫的人口危机。韩国的总生育率，在2018年降至0.98，远低于保持人口稳定所需的2.1。政府预测，到2067年，南方的5,500万居民将下降到3900万，届时全国一半的人口将超过62岁。

韩国政府正试图采取行动：今年9月，政府公布了一系列应对人口挑战的措施。这些措施涉及从军队到学校的各个领域。此外，当局试图促进婚姻（与外国妇女结婚），提供新婚夫妇奖励和低息抵押贷款。（新闻来源：亚洲新闻）

△与其花心思在政策上鼓励结婚，不如想一想怎么促进男女平等。</label><p><label>阅读量:11.8万</label><p><label>转发:365</label><p><label>评论:56</label><p><label>点赞:2515</label><p>评论内容:<br/>无龙_桜：“4B”的内容都是自己安静如鸡完全不影响任何人的主张，如何划到激进那一类去了？<br/>七九六十三_：和外国妇女结婚哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈东亚三国手牵手呢（指去东南亚买新娘<br/>卡卡荷光：积极鼓励结婚，不如积极促进男女平等。<br/>迹部女朋友：“与外国妇女结婚”呵呵，好熟悉啊，同样的爹味<br/>光明之火-燃烧：在我表达不会为男权继续输血的意识后，他们像踩到脚一样恐慌，立刻大声说你不能这样！我不同意！可你没资格不同意//@哟阔我在这里鸭:男权就是靠着和女人的亲密关系（恋爱，婚姻更甚）来吸血的。女性拒绝亲密关系，相当于拒绝给男权输血。直接把男权的血 库搞没了，当然就被认为激进啦～<br/>挖马草了：我国很多男的也是觉得女人不婚反婚就是要他们死，那么问题来了为什么我们不和他们结婚他们就要死咧？<br/>les鸣哥哥：希望中国尽快面临这个局面，毕竟日本韩国这些相对发达的亚洲国家都把步伐走到了前面，咱中国作为世界强国怎么好意思落后呢？就目前国产女权野蛮生长的势头来看，中国离婚率快速增长和单身人数急剧增加，与女权主义快速崛起有很大关系，指日可待指日可待啊！<br/></p></li><li><p><label>发布日期:2019-12-25</label><p><label>发布时间:15:30</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Impqf2F9o?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:美国最高法院大法官金斯伯格，姓名缩写R.B.G.，今年86岁。她于1993年被克林顿总统任命为大法官，是美国历史上第二位女性高法法官。

金斯伯格毕业于康奈尔大学，是哈佛大学法学院最早一批女学生之一。金斯伯格曾提到，当她入学时，哈佛大学法学院并没有设置女厕所，阅读室也曾因她的性别而拒绝她进入。后来她转学至哥伦比亚大学法学院并于1959年以年级第一的成绩毕业。但毕业后由于她的性别无法进入律师事务所，金斯伯格开始在大学法学院教书，并向美国公民自由联盟ACLU提供法律顾问服务。

1972年，金斯伯格在ACLU成立了致力于性别平权运动的项目并参与超过300件案件。在1973至1976年间，她共六次在最高法院出庭辩护，五次胜诉，大力推动了美国法律中性别歧视条款的更改。她的策略是通过每个案例形成先例，并在后续案例中引用先例，一步步慢慢改变性别歧视的法律条款。她还曾经通过为男性辩护，证明性别平权对男女都有利。

虽然美国高法的法官一直以中立著称，但金斯伯格是公认的自由派法官，毕生致力于提高女性及少数群体的法律地位。2006-2007年，金斯伯格是9名大法官中唯一一名女性，这也是她的法官生涯中最多使用“异议”（dissent）表示自己与多数投票结果持不同观点的时期。在不能口头表达异议的场合，金斯伯格开始在黑色法官长袍上佩戴复杂项链表示异议，并由此带起了一股“金斯伯格异议项链”的时尚潮流，她本人也被支持者戏称为“臭名昭著的R.B.G.”。

虽然已经86岁高龄，金斯伯格表示将工作到90岁，以防止共和党和特朗普借机任命保守派大法官，进一步打破目前已经极度不平衡的自由派-保守派高法法官比例。
（来源：NBC，维基百科)

▲ 衷心祝愿金斯伯格长命百岁</label><p><label>阅读量:1.8万</label><p><label>转发:30</label><p><label>评论:9</label><p><label>点赞:83</label><p>评论内容:<br/>无没有钱和咸鱼有什么区别：她真的非常伟大，我读过New Yorker写的专题和她的纪录片，她真的是女性的旗帜🚩标杆<br/>女权守护宜：图二杯子怎么卖有t-shirt吗<br/>橙橙爱吃VC：伟大 如果不优秀 就无法立足<br/></p></li><li><p><label>发布日期:2019-12-26</label><p><label>发布时间:20:03</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ImADBzYZ4?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:近年面向女性的风俗店日益增多，在女性之间也成为广泛讨论的话题。有出租男友、性感按摩、男公关、外出服务男公关…等各种各样的男性风俗服务。
社会上常有这样的观念—“男人去风俗店还算说得过去，女人去的话就太不像话了。”
当被认为只有男人才可以去享受的性服务，现在扩大到女性中来，是否可以看作女性终于从封闭的状态中解放了出来？
有很多二十多岁的女性会常去男性风俗店，其中是处女的人也不少，因为好奇男人是什么样，所以在享受服务的时候，会让男公关全裸的站起来。
男性向的风俗服务注重身体的满足，女性向的更注重精神的满足。是感到孤独、失恋或者是想要有性经验的女性的不错的选择。
△大家怎么看待风俗行业？</label><p><label>阅读量:1.3万</label><p><label>转发:2</label><p><label>评论:7</label><p><label>点赞:90</label><p>评论内容:<br/>无柠小Sue：说实话我觉得还好，而且凭什么男人去就可女人去就不行了，不能这么双标吧。。正常生理心里需求还是，，<br/>神烦楠：还是那句，屌癌哪儿都有，亚洲特别多，我行你不行，双标第一名。<br/>想次好次的小饼干：希望有越来越多的女性向风俗店<br/>闲景-xianjing：讲真，有钱的话谁不想每天看着长的漂亮身材又好的哥哥弟弟呢<br/>学姐家的学妹：就还好吧，想享受就去呗<br/>不可思议的Alice：哪个富婆不想这么做呢<br/>子狐狸狸：挺好的呀<br/></p></li><li><p><label>发布日期:2019-12-27</label><p><label>发布时间:12:58</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ImHhMAUZS?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:一位德国柏林的女企业家有一家女员工占比80%的小公司。最近她在采访中抱怨说，为什么在生育后主要是女性承担育儿责任。她认为，如果夫妻双方公平分摊育儿成本，比如双方同时将每周工作时间由40小时缩短至30小时，而不是仅有母亲缩短至20小时以下，无论对家庭还是公司都有很大益处。

在德国虽然夫妻双方有相同时间的产假福利，但2018年实际休过产假的父亲仅为母亲人数的30%，而这些父亲全职休假育儿的时间又仅有母亲的1/4。

另外有20%的父亲希望能够休部分产假参与育儿，但不愿承担因此产生的收入降低和对工作的不利影响。33%的父亲认为自己陪伴孩子的时间过短。
（来源：明镜周刊）

△生育和育儿成本全在女性</label><p><label>阅读量:1.6万</label><p><label>转发:14</label><p><label>评论:7</label><p><label>点赞:57</label><p>评论内容:<br/>无derBilder：你好 现在私信根本发不过去 是微博的问题还是？<br/>豆子的晓凝喵：国外的太阳和月亮都很圆<br/>橘子走路：婚姻内权力分配不平均，进入婚姻后再谈条件非常困难<br/>不识庐山真面目只因庐山挂瀑布：媳妇生娃强制丈夫休假，看还催生不<br/>钢丝球戳糖堆：//@Agnes_Quin:请开放单亲生育。男：不行，孩子需要父亲。需要父亲吗？那父亲可以休产假吗？男：不能，这样会影响男人找工作。休产假会影响找工作？那女性呢？男：生孩子带孩子本来就是女性的事啊。都是女性的事？那孩子需要父亲吗？<br/>Agnes_Quin：请开放单亲生育。男：不行，孩子需要父亲。需要父亲吗？那父亲可以休产假吗？男：不能，这样会影响男人找工作。休产假会影响找工作？那女性呢？男：生孩子带孩子本来就是女性的事啊。都是女性的事？那孩子需要父亲吗？<br/></p></li><li><p><label>发布日期:2019-12-28</label><p><label>发布时间:11:21</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ImQ4HnCPA?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:“男孩应该尽量去考好的大学，将来找一份好工作。女孩的话就不要勉强，在本地的短期大学读书就好了。”据2006年的意识调查，父母根据孩子性别不同，对孩子升学的期待也不同。

从1990年开始，女性的大学升学率（四年制大学）急速上升，男女之间的教育差距相对缩短。
但是，专业之间的性别比存在很大差距，理工科的女性仅占10%，与之相反，家政学部90%的学生都为女性。

就读什么专业看似是出自女性个人的选择，但这个选择真的是出于女性自愿的吗？
社会上一直有“女生不适合学理科”“理工科的女生没有女人味”等刻板观念。高中老师们在帮助学生做人生规划的时候，大多也不推荐女生选理工科。大学·研究生等阶段，也存在教师性别平等意识淡薄，设施等完全没有做好接收女学生的准备。就职方面也存在较大偏见，理工科毕业的女性不好找对口的工作。

以上种种原因，即便女性本身对理工科有兴趣，但因为周围环境的影响，最后做选择的时候也大多不会选理工科。

△从小到大，你听过多少“你是女生，所以应该……”的话？</label><p><label>阅读量:1.8万</label><p><label>转发:18</label><p><label>评论:16</label><p><label>点赞:63</label><p>评论内容:<br/>无Asamiii：女生学业读那么高不好，以后会嫁不出去的。这是我们这里的亲戚对后辈的经典劝诫。<br/>解语生花藏花海：对男孩女孩的养育方式也不一样，看第六季爸爸去哪儿，杨烁那个油腻男，对七岁儿子这么严厉，但是女儿就完全相反。这么巨大的差异真的好吗？<br/>女权行动派吃不完：你是女生，所以应该要像个女生<br/>丨假装在伦敦丨：可是我们好大学里还是女生多。女生是真的优秀<br/>嗯哼大王小江江哟：家里会觉得女生你就更要努力更要加油了，毕竟来自社会的打压和困难比较多，所以女生你要加倍努力呀<br/>午壹是真的：嗨呀，我高中想选择学美术走艺考，我的老师时不时就找我谈话推荐我考幼师<br/>吃洋葱的蚂蚁：女孩子應該早點結婚生孩子 找一個好對象相夫教子<br/></p></li><li><p><label>发布日期:2019-12-30</label><p><label>发布时间:10:17</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/In8vZv4R6?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:学校里除了传授知识的课程，还有另一种强化性别刻板印象的“隐形课程”。

升学指导中，教师会鼓励男生挑战难度高的好大学，让女生降低选校的标准。或者鼓励男生去读理科或工科，鼓励女生读文科。

平时的课程或课外活动里，教师会强调让男生该像个“男子汉”，发挥主体性和积极性。让女生该有女生的样子，学会温顺。

教师的性别比例也体现出了性别分工，小学里女教师占了6成以上，但女校长或女性教导主任等只有不到2成。这无形中给孩子们传递了一种观念，社会上男人是事情的决策者，女人是服从者。

学生名单总是男生的名字在前面，女生的名字在后面。这看似是一件小事，但实际反映的是社会对男女地位的潜在观念。也许有人会觉得这不是歧视，但假如有一个名单，把白人的名字放在前面，黑人的名字放到后面，你还会觉得这是合理的吗？

这一类的“隐形课程”，无形中影响了孩子们生活方式以及看待问题的方式，把性别偏见传给了一代又一代的人。

△我们从小到大受到过多少“隐形课程”的影响？</label><p><label>阅读量:1.6万</label><p><label>转发:10</label><p><label>评论:2</label><p><label>点赞:29</label><p>评论内容:<br/>无瞌睡潴丶眠：<br/></p></li></ol></body></html>