<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202001微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2020年01月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:<b>1月2日</b></label><label>发布时间:<b>09:53</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/InADqzJhT?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>希腊</p><p><label>内容:</label>作为欧洲的保守宗教国家，希腊禁止单身人士收养儿童，也禁止同性婚姻。但2001年基于自愿原则的代孕在希腊成为合法：当女方被诊断为无法怀孕时，可以寻求代孕服务。希腊代孕合法化以前，已有家族中姐妹间代孕的传统。

2014年前，希腊只允许孕母及养父母长居希腊的情况；自2014年起，代孕也向国外养父母以及孕母开放。根据一项调查显示，2005至2015年间希腊法院准许的173件代孕案例中，近三分之二的孕母为长居希腊的东欧移民，来自波兰、格鲁吉亚以及保加利亚等地。

2016年12月，一位67岁的希腊祖母为她43岁的女儿代孕，成功生下孙女的消息登上了希腊媒体的头条。由于孕母的身体健康堪忧，婴儿是怀孕31个星期时剖腹产下的。媒体报道引发了全国的激烈讨论，促使希腊修改了代孕法律，增加了对代孕母亲的年龄限制：不得低于25岁或高于45岁。
（来源：明镜周刊）

▲ 任何形式的代孕都伴随伦理问题，代孕合法化需谨慎</p><p><label>阅读量:<b>1.1万</b></label><label>转发:<b>3</b></label><label>评论:<b>1</b></label><label>点赞:<b>31</b></label></p><p>评论内容:<br/>无土真好吃啊：连女童上学都保障不了的地方就别考虑这种事情了<br/></p></li><li><p><label>发布日期:<b>1月6日</b></label><label>发布时间:<b>15:16</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IoesO6eW6?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>德国</p><p><label>内容:</label>2011年以前，德国跨性别者如果想在法律上得到认可，必须接受强制绝育。直到2017年，欧洲人权法庭才判决强制绝育措施属于政府系统性的侵犯人权而被禁止。

据统计，自1980年德国建立“跨性别法”以来至2011年强制绝育被取消，在德国共有约一万名跨性别者被实施强制绝育。根据“跨性别法”，想更改法律文件（如驾照，身份证件，护照等）上的性别一栏，必须有确诊的心理疾病（性别认同障碍），已绝育，并已接受变性手术。

在瑞典，对跨性别者的强制绝育措施一直持续至2013年。2016年瑞典政府决定对曾接受强制绝育的人提供约合2万2千欧元的政府补偿。同时瑞典政府还建议德国也考虑提供补偿，但遭德国议会书面回复称“没有补偿的必要”。

德国的同性恋去罪化发生在1969年。直到2017年，德国政府才同意对曾因同性恋身份而获罪的人提供政府补偿。

2017年，德国总理默克尔在促成了国会对同性婚姻合法化议案投票的同时，自己却投了反对票。默克尔说，她相信婚姻只应存在于不同性别的两人之间。她所在的执政党基督教民主联盟(CDU)的绝大多数议员也投了反对票。实际上，执政党CDU多年来都在为同性婚姻法律设置障碍。（来源：柏林每日镜报）

▲ 平等的权利也要靠多年不断的争取</p><p><label>阅读量:<b>1.8万</b></label><label>转发:<b>1</b></label><label>评论:<b>5</b></label><label>点赞:<b>7</b></label></p><p>评论内容:<br/>无竹寺游：为什么要求绝育？不懂就问<br/></p></li><li><p><label>发布日期:<b>1月8日</b></label><label>发布时间:<b>14:21</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IowXenYHL?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>德国</p><p><label>内容:</label>德国性别平等机构Boeckler在2019年的性别职业报告显示：已生育女性做非全职工作的可能性是未育女性的近两倍。在所有已育女性中，非全职工作的比例超过三分之二；而在已育男性中，非全职工作的比例仅有不到6%。这种情况造成了女性养老金额显著少于男性，女性老年贫困已成为社会问题。

78%的已育非全职女性给出选择非全职工作的理由是“需要照顾家庭和孩子”；而已育非全职男性中仅有31%的人给出相同理由。已育非全职男性中有四分之一选择的理由为“找不到全职工作”。

德国公司也有强烈的全职文化，对非全职工作的员工带有一定歧视。调查显示，即使与全职员工有完全相同的教育背景和工作经验，非全职员工的单位薪酬仍然低于全职员工。

直到2019年，德国才出台了对育儿假后希望回归全职工作女性的法律保障，使她们能够顺利由育儿假期间的兼职状态转换为全职状态。在此之前，德国职场一直存在“兼职陷阱”：员工一旦开始非全职工作，就不再有法律保障他们恢复全职。这种陷阱主要影响女性。在过去的20年中，德国非全职工作人数几乎翻了一番。
(来源：Boeckler.de)

▲ 生育成本仅由女性承担是不合理的</p><p><label>阅读量:<b>1.8万</b></label><label>转发:<b>12</b></label><label>评论:<b>5</b></label><label>点赞:<b>27</b></label></p><p>评论内容:<br/>无再见微雨江南：德国啊……<br/>true-blur： 生育成本仅由女性承担是不合理的。期待制度性改变是困难的。女性自主呼吁不婚不育是极端的。<br/>蓝田五彩石：所以还是极端好，只有这个是把握在自己手里的啊//@true-blur: 生育成本仅由女性承担是不合理的。期待制度性改变是困难的。女性自主呼吁不婚不育是极端的。<br/>开门你快递到了：德国非全职职业歧视<br/></p></li><li><p><label>发布日期:<b>1月10日</b></label><label>发布时间:<b>13:37</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IoPwtjQ2S?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>印度</p><p><label>内容:</label>随着电力在印度的普及，社会学家们预计印度女性将会是最大的受益人群，因为电力将减少她们的家务时间。为了验证这一观点，美国的一组科学家调研了印度的七个省份，结论却截然相反。

绝大部分被调研的家庭确实增加了家电设备，但增加的主要是电视等服务男性的设备，而不是电熨斗或厨房风扇等女性使用的设备。这些家庭有平均3-6个电灯泡，但仅有不到一半的家庭在厨房内安装了灯泡。
（来源：Nature）

▲ 他们不仅不参与家务，还要霸占有限资源用于娱乐</p><p><label>阅读量:<b>1.6万</b></label><label>转发:<b>8</b></label><label>评论:<b>8</b></label><label>点赞:<b>28</b></label></p><p>评论内容:<br/>无星云暗物质：印度还不限制孩子的出生？越来越穷，唉:-(希望能早点脱离魔掌<br/>梦国徜徉：所以，结婚对女性的意义是……<br/>冰霜和月光：……<br/>格兰芬多有头骑士：<br/></p></li><li><p><label>发布日期:<b>1月13日</b></label><label>发布时间:<b>22:05</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/Ipl7ZaK2k?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>日本</p><p><label>内容:</label>由大学老师们发起的“公共发言中令人无法容忍的性别歧视言论之会”，在2019年末发起投票，于本月11日，发布由网络投票产生的“去年政治家们的性别歧视言论”排行榜。副总理兼财务大臣的麻生太郎连续两年夺得第一名。以下为排名：

第一名：财务大臣 麻生太郎 2588票（34.1％）
“日本的平均寿命增加难道不是一件好事吗？是一件非常好的事啊。说老年人不好之类的奇怪言论的很多，但这无疑是错的。不生孩子才是问题。” （2019年2月3日，福冈县内的国政报告会）
入选理由：把国家政策的失败（少子化问题）推卸给个人，没有承担起作为政治家的责任。生不生孩子是个人的权利和自由，别人没有资格指指点点，也不能和“为了国家/没为国家考虑”之类的挂钩。

第二名：内阁总理大臣 安倍晋三1765票（23.2％）
“请孩子的爸爸们邀请上恋人，孩子的妈妈们找到以前的恋人，一起来投票吧。” （2019年7月16日新泻县内的选举应援演讲）
入选原因：公然在恋爱和婚姻上划分性别双重标准。
注：据说这个可能是因为口误，这次宣传的主题是“希望邀请上朋友、家人、恋人或者以前的恋人前来投票”。”

第三名：平泽胜荣 众议院议员 866票（11.4％）
“LGBT里的同性婚姻，男人和男人结婚，女人和女人结婚。批判这个的话，会被认为是奇怪。这样可以吗？当然可以啊。但是如果都是这些人的话，国家就完了。”（2019年1月3日山梨県内的集会）

（未完待续 4～8名）

△一年一度的垃圾发言排行榜，我们也是需要的。2019年谁是你心里的垃圾之首？</p><p><label>阅读量:<b>2.6万</b></label><label>转发:<b>6</b></label><label>评论:<b>2</b></label><label>点赞:<b>18</b></label></p><p>评论内容:<br/>无我可以我可以我可以考研成功：自然是李国庆的天真女性言论<br/></p></li><li><p><label>发布日期:<b>1月14日</b></label><label>发布时间:<b>13:44</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/Iprhr9bCy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>英国</p><p><label>内容:</label>卫报记者对两款最流行的记录月经日期的手机应用调查发现，大量经期数据正在被应用厂商收集用来做针对性的市场调研和营销，促使女性购买更多她们原本并不需要的商品。

健康应用刚进入市场时，所有应用厂商都不认为女性生殖健康值得重视。2014年苹果第一款健康手环可以跟踪几十种人体数据，甚至包括每日钠和碘摄入量，却不提供最普通的对女性经期的跟踪。

然而近几年来应用厂商对女性生殖健康突然兴趣倍增，从2014年的完全忽略到现在出现爆炸式增长。已有累计超过10亿美元投资所谓“女性技术”；多达几百个应用井喷式出现，仅用于跟踪与女性性别和生殖系统相关的各种数据。

卫报记者采访了许多使用这些应用的女性。她们在应用中需要输入大量个人信息，包括情绪波动，睡眠时间，月经流量，性生活次数，使用护肤用品的习惯，发型，等等。另外在应用中还穿插了大量问卷以及论坛讨论内容，“仿佛一个专门围绕月经话题设立的社交媒体”，使用者描述。

记者随机打开了一款应用，要求她回答的问题是：“你如何处理经前情绪波动：运动，吃巧克力，痛哭，还是昏睡？”还有“你的常用经期产品是什么？”甚至“你的内裤是什么材质，是否经常清洗阴部？”

用来跟踪月经日期，防止意外怀孕的应用，为什么要获取这么多无关信息？

这一现象已经引起了一些人的注意。维护电子产品消费者利益的公益团体认为，女性不应主动交出大量个人信息，尤其是当这些数据的分析结果并不会分享给用户时。有些数据被直接卖给其他厂商用于市场营销。有些数据可能在使用者不知情的情况下被第三方获取并使用，比如社交平台，应用平台或搜索引擎。或者这些数据可能被用来形成用户画像。

记者当场做了实验：她下载了一款最受欢迎的经期跟踪应用，根据指示完成输入，其中包含一条关于尿道疼痛的问题。两小时后她在脸书账号上收到了推送广告：治疗尿道感染，请去XX医院。最常见的广告推送为化妆品和家居用品。（来源：卫报）

▲ 他们忽视女性需求，不关心女性健康，当闻到钱味却像苍蝇一样聚集在女性周围</p><p><label>阅读量:<b>1.2万</b></label><label>转发:<b>13</b></label><label>评论:<b>3</b></label><label>点赞:<b>29</b></label></p><p>评论内容:<br/>无每一个星球：卧槽<br/></p></li><li><p><label>发布日期:<b>1月16日</b></label><label>发布时间:<b>14:59</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IpKCBC6Mb?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>德国</p><p><label>内容:</label>（本文直接翻译原文，“我”为原文作者）女权社区里有一类经典老梗：老父亲刚刚生了女儿，突然就变成了满口政治正确的“男性女权主义者”。这类案例屡见不鲜，比如最近一个奥地利歌手说“有女儿的男人不成为女权主义者简直不可能”，在社交媒体收获了大量点赞。

女儿对男性性别观的影响确实存在。有调查显示，第一个孩子是女儿的男性老板，倾向于更公平地向他的女性员工支付薪水。

但是这类老父亲实在是很可疑。难道他们在见到自己女儿以前，从来没有接触过世界上的任何女性么？难道让一个男性正视社会不公正的唯一方法就是强迫他生个女儿么？如果女儿们都被父亲用女权主义教导长大，但儿子们还像1950年代的男性一样长大，这个世界真能变得公平么？

这种男性视角、男性成为英雄的“女权主义”，和面对性别暴力时很多男性的反应很类似：遇到有女性遭到暴力，他们会说：“我要去制止，因为她们也可能是我的女儿/姐妹/外甥女”，言下之意如果受到暴力的女性是个素不相识的碧池，他们就不需要伸出援手，也不会被道德谴责。

柏林一家媒体最近赞颂了南德保守社区一个男医生的故事：这个医生虽然年事已高并反对堕胎，但坚持服务前来堕胎的女性，因为在这个保守社区他是唯一一个提供堕胎的诊所，而严格来说堕胎在德国仍然属于非法。“4500个，”这家媒体写道，“15年内他把这么多小生命带入人世，来到人世的时候他们已经孤零零地死去了。”还配上一张怀孕9个月的肚子的照片。

且不说把一个厘米大的受精卵描绘成“一个死去的小生命”是故意煽情。又是这样一个男性作为英雄挺身而出的故事。他出于人道主义，拯救了大量迷途少女和堕落女性，并劝诫她们，“不要把堕胎当作避孕手段”。而女性在这种话术下彻底沦为了烘托伟大男性的背景和工具：她们是一群愚蠢到把堕胎当成兴趣爱好时不时要来玩一把的人。

所以女权道路阻且长，拜托不要再跟我说什么“被解放的男性”。
（来源：明镜专栏）

▲ 女权道路阻且长</p><p><label>阅读量:<b>1.3万</b></label><label>转发:<b>11</b></label><label>评论:<b>0.0</b></label><label>点赞:<b>37</b></label></p><p>评论内容:<br/>无</p></li><li><p><label>发布日期:<b>1月20日</b></label><label>发布时间:<b>14:49</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IqmgA9H3u?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>德国</p><p><label>内容:</label>当芬兰总理Marin宣誓就职时，她并没有强调自己的女性身份。女性从政在芬兰是一件很正常的事，议会中的女性占42%。但很不幸全世界都在宣传她的女性身份，以及芬兰政府的女性比例。

世界范围内，仅有6%的国家元首为女性（比如新西兰、丹麦、德国）。女性在议会、立法会、政府中仍然属于少数。

全世界议会中女性占比最高的国家是卢旺达，有61%的议员为女性。但对于卢旺达议会中的女性究竟有多少话语权，批评者一直表示怀疑。

在议会中强制女性比例始于拉丁美洲。阿根廷在1991年首次规定了议会的女性比例，此后有14个拉美国家跟进立法。目前全世界仅有卢旺达、古巴和玻利维亚的女性议员人数超过男性。

在部长中，女性最常见的职位是社会保障相关的职位，其次是家庭和儿童部门。其他常见部门包括教育、环保、性别平权、健康等等。而经济、交通、财政、国防部门则基本全部由男性把持。德国是很少见的例外：目前在任的国防部长是连续第二位女部长。
（来源：明镜周刊）

▲ 女性执政才能真正掌握话语权</p><p><label>阅读量:<b>8.8万</b></label><label>转发:<b>110</b></label><label>评论:<b>2</b></label><label>点赞:<b>223</b></label></p><p>评论内容:<br/>无悠游自在wo：转发微博<br/>邢圆圆_：西方很多国家都有很多女性领导人，尤其感觉北欧 西欧多<br/></p></li><li><p><label>发布日期:<b>1月20日</b></label><label>发布时间:<b>22:20</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IqpdRAL8T?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>日本</p><p><label>内容:</label>最近多档节目以“女性专用车厢”为题，进行了负面的报道。称女性专用车厢是“女人的战场”，互相之间会产生攀比心理。还因为“香水和化妆品的味道太浓让人不适”“没有男性所以女性们很不注意言行举止”等原因，越来越多的女性不愿意使用女性专用车厢。
这些节目播出之后，网上疑问声不断，也引来了大量的批评，说节目内容本身是“蔑视女性”。

15日，TBS的“Nスタ”也以“为什么女性不愿意使用女性专用车厢？”为题，做了一期街头采访节目。节目里播出的采访近8成是表示不愿意使用女性专用车厢，理由仍是“化妆品香水味浓”“女性专用车厢里的女性不守礼节”等，但最后公布调查结果的时候，又表示一共随机采访了50名女性，其中40名女性表示自己是愿意使用女性专用车厢的。
既然是这样，为什么节目里播出的大都是不愿意使用女性车厢的人的观点？

以及，播出的内容里，质疑“为什么要作为受害者的女性们改变自己的行动”“反过来讲，是女性必须要使用女性专用车厢吗？”等观点，也被划进不愿意使用女性专用车厢。

节目里还使用暧昧模糊的说法，称是因为1988年“ 地下鉄御堂筋線事件”（一名20岁的女性帮助在地铁里受到性骚扰的女性之后，自己反被两名性骚扰者记恨，被尾随之后强行带走遭受强奸），所以2000年才设立了女性专用车厢。实际上，比起说因为12年前的事件设立女性车厢，更合理的是因为2000年的“被冤枉性骚扰”事件，才设立了女性专用车厢。

17日，TBS电视台在节目中就此进行了道歉，表示“没有好好传达出接受采访的女性们的观点，只作为“不愿意使用女性专用车厢”的观点播出，对被采访的女性们深感歉意，抱歉。”

△日本的电视台也好，国内翻译成中文上了热搜的视频也好，都是看准了这件事有争议性，故意挑起话题增加关注度，内容本身并没有代表日本大多数女性的意见。但带来的后果是“女人就是麻烦”“女人最大的敌人是女人”这样的厌女观点深入人心。为日本女性们就这样被代表感到不平，也为那些“我自己是女人，也觉得女人就是麻烦”的声音悲哀。</p><p><label>阅读量:<b>2.7万</b></label><label>转发:<b>22</b></label><label>评论:<b>8</b></label><label>点赞:<b>129</b></label></p><p>评论内容:<br/>无叫我九千_岁：东亚三国厌女精神永传承<br/>现现现现现女友liang：今天刚刚才看到面试录取状况 录取笔试排名第三的男生<br/>女权守护宜：逻辑感人，香水味不好过汗臭味？说不定女性车厢里的姐妹们是这样：“姐妹你的香水好好闻哦，发个链接可以吗？”<br/>冷翠不知：东亚三国手牵手，谁先平权谁是狗【←隔壁这句话忘了是在微博还是哪里瞅见的，只是觉得很贴切所以忍不住打上，如果有知道出处的姐妹儿烦请直接留言or私信我我去征询作者意见能否使用这句话留言，不妥的话立即删除道歉，谢谢姐姐妹妹】<br/></p></li><li><p><label>发布日期:<b>1月29日</b></label><label>发布时间:<b>18:43</b></label><label>微博链接:</label><a href="https://weibo.com/5327831786/IrKE6g13f?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:</label>美国</p><p><label>内容:</label>华盛顿邮报的一名记者Sonmez在篮球明星科比布莱恩特因空难去世后，通过她的推特账号转发了一篇有关科比布莱恩特2003年强奸19岁青少年的历史文章。科比布莱恩特曾在科罗拉多一家酒店性侵酒店前台，对受害者造成了身体伤害，并留下大量证据。但受害者迫于压力于一年后撤销了诉讼。

这篇推特以及华盛顿邮报受到了包括特朗普的儿子小特朗普的攻击，Sonmez还遭遇严重网暴，收到上万条辱骂和死亡威胁，个人住址被公开。

华盛顿邮报却决定对这名记者停职处理，理由为“擅自发文，扰乱邮报其他记者的正常工作”。邮报的声明在邮报记者中引起轩然大波，有超300名邮报记者联名表示抗议。“如果记者仅仅因为发表与邮报意见相左的文章就能被停职，那我们整个新闻组都可以回家休息了。”一名专栏记者说。

Sonmez透露，主编认为她的推特内容“与负责的板块内容不符”，以及“你在社交媒体上的行为让其他邮报记者很难继续履行他们的职责”，但对于她被网暴和在家中受到严重人身威胁的事实却不管不问。

几年前，Sonmez曾经作为两名受害者之一公开指责一名资深男记者性侵，并在推特上分享了作为性侵幸存者的经历。这一篇推特也曾受到华盛顿邮报的警告，被指“违反邮报的社交媒体规定”。

最后Sonmez说，一篇转发的他人写于几年前的文章也能引起如此强烈的针对她的仇恨，正说明了为什么性侵受害者大多选择三缄其口。“所以我们有职责全面公正地报道公众人物，不论事实有多么难听。”

华盛顿邮报昨天终于撤回了对Sonmez的停职处理，并公开道歉。
（来源：卫报）

▲ 媒体有职责全面公正地报道，不论事实有多难听</p><p><label>阅读量:<b>7.6万</b></label><label>转发:<b>82</b></label><label>评论:<b>27</b></label><label>点赞:<b>454</b></label></p><p>评论内容:<br/>无ER长情：每个人都有正面和反面，科比也不例外，更应该肯定科比对篮球的贡献！<br/>朝夕月明：说起来我今天看了一个1800线爱豆或者可能他已经转型不当爱豆是素人了，看看他发的科比去世相关微博我才知道科比居然还是强奸犯…<br/>春云夏日：我就想问问接受自己老公和别的异性上床的请举手（一夜情）。如果不接受的话，那说明这件事还是错的。<br/>精细鬼伶俐虫：一定有人会说，人都死了<br/>酒喝了一点点：呜呜呜，国内真的会有吗？ 这才是在乎媒体的自由，在乎言论自由啊！ 才是抗争的结果！！！<br/>都市减肥丽人：<br/>郭添卿啦咔咔：受害者迫于压力和一大笔赔偿金，撤销了诉讼<br/></p></li></ol></body></html>