<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202004微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2020年04月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:4月7日</label><p><label>发布时间:11:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ICcqtakvM?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:由于今年女子20强板球世界杯在澳大利亚的成功举办，世界板球协会目前考虑将女子赛事的媒体与广播权限分开经营。
“我们的全部数据表明，过去的三年间，球迷们对女子板球有极大兴趣，”世界板球协会主席Manu Sawhney在声明中表示。
“女子板球有自己的观众群体，版权持有人、广播公司以及厂商都开始意识到这一点。这对板球运动来说是一个很好的机遇，我们当下也在探索优化价值创造的不同选择，其中就包括将女性的权限分开。”
据世界板球协会估计，10亿球迷中70%的人想要观看更多的女子板球比赛，这将为澳大利亚板球锦标赛带来11亿的视频浏览量。
Manu Sawhney指出，他是从传奇网球运动员Billy Jean King的事迹中获得的灵感，King和她的女性同胞们早在50年前就为获得与男性同等奖金的权益发起了一场运动。
“回看当时的Billy Jean King以及Original Nine（20世纪70年代，向美国网球协会抗议男女比赛奖金不平等，包括King在内的最初的9名女子网球选手），她们最初的合约只有1美元，但是强大的信念推动了巨大的变革。如果我们一成不变，便永远达不到现在的成就。”
（来源：路透社  翻译：Xiao）
🔺当你足够优秀，就不怕没有观众，但始终别忘了随时维护自己收入平等的权益</label><p><label>阅读量:1.6万</label><p><label>转发:3</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:4月8日</label><p><label>发布时间:22:12</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ICpVCloAL?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:封锁期间家暴增长25%
英国国家家暴求助热线（The National Domestic Abuse helpline）显示，在封锁期间接收的网络和电话求助增长了25%。仅上周，国家家暴求助热线便收到多于上两周几百条的求助热线。
早前，家暴防护者发出警告封锁限制会加剧家庭紧张关系，并切断逃生路线。
一位不愿透露姓名的女士Tara告诉BBC，她已经遭受丈夫对其精神的和身体的暴力长达6个月，封锁政策之后情况变得更加糟糕。暴力经常是很隐秘的，微妙的，不易被外人发觉的，比如，“切断我和家人朋友的联系，无时无刻不疑心我在欺骗他，删除我的社交软件，不让我去看父母，精神的，语言的，身体的虐待和攻击，无休无止。我并不期待活着看到第二天早上的太阳，因为我清楚第二天会发生什么，我只想让时间快点过去。从起床开始他就没事找事，如果我反击，他就会打我”。这位女士现已被保护机构Refuge救助，目前已在威尔士的庇护所。
另外一位受害者Rachel Williams遭受了丈夫长达18年的控制，当她说要离开她的丈夫的时候，他用一把短猎枪射向她。
Refuge的主任Sandra Horley表示，去年英格兰和威尔士共有160万的女性遭受家暴，在病毒肆虐期间，由于封锁和自我隔离，妇女和儿童面临着被家暴和限制自由的巨大风险。“家庭暴力不只是身体上的，它是一系列的控制行为，包括威胁，强制等，会造成情绪，经济，心理，性等多方面的创伤。我们永远无法阻止家暴者，除非我们时刻都能看到他。家暴永远无法根除，何况我们现在的首要关注是病毒。”
警察强调，不管是谁在封锁期间遭受家暴都应该及时上报寻求帮助。
负责家暴的Louisa Rolfe警官表示，“我们不会停止移除家暴者，这对家暴者的家人，朋友，邻居，都会更安全”。
Refuge强调，求助热线依旧会每周7天24小时在线，工作人员会在家为大家服务。
封锁不仅使受害者变得更加易受伤害，而且很难寻求帮助。因此国家家暴热线提供了网络求助服务，即使没有电话记录只要点击官方网页的一个按钮就可以求助。
对Tara来说，虽然封锁让她不得不24小时和丈夫呆在一起，使其处境变得更加糟糕，但封锁也使她下定决心一定要永远得逃离这段关系。
（来源：BBC 翻译：灰灰）
原标题：Coronavirus: Domestic abuse calls up 25% since lockdown, charity says
By June Kelly and Tomos Morgan
6 April 2020
🔺#家庭暴力，零容忍#</label><p><label>阅读量:1.8万</label><p><label>转发:9</label><p><label>评论:1</label><p><label>点赞:33</label><p>评论内容:<br/>无女明星爹味发言bot：在极端、焦躁、缺乏管制的环境下，人会撕破平常伪善的面孔，暴露自己真实的想法。<br/></p></li><li><p><label>发布日期:4月10日</label><p><label>发布时间:10:29</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ICEbtCSLn?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:匈牙利</label><p><label>内容:撤回阻止跨性别的提案
很多组织正在联名要求撤回一项剥夺跨性别人士权利法案。
尽管现在新冠病毒流行，但政府还是花了一些时间根据新的立法剥夺了变性匈牙利公民的基本权利：从现在起，只有出生性别会在登记册中登记，在身份证件中不能更改。该法案侵犯了自我识别权，并加剧了对跨性别者的各种形式的歧视。
在匈牙利，除了选举时2018年4月的短暂期限，公民已经有三年半不能更改性别和姓名了。2016年11月，更改姓名和性别被暂停，理由是将制定更简单，更透明的法规。从那时起，不被法律承认的改名改性别的过程不仅冗长，而且随着新法案的通过，现在将被完全废除。但是，跨性别人士获得了欧盟27个成员国中的24个成员国以及欧盟以外的俄罗斯，土耳其，乌兹别克斯坦或哈萨克斯坦等国家的非法律承认的机会。
副总理佐索·塞姆延博士在星期二晚上代表政府提交了包含该规定的法案。尽管政府现在应尽一切努力来解决由冠状病毒流行引起的健康和经济危机，但它正试图完全破坏一个已经陷入困境的社会群体（跨性别者）的状况。 尽管《基本法》第十五条规定，该法律对跨性别者公开歧视“匈牙利在没有任何歧视的情况下保障所有人的基本权利，”这也违背了宪法法院先前关于跨性别者是一项基本人权的裁决。
匈牙利的LGBT +组织，非正式团体和活动家呼吁匈牙利政府要求从该法案中删除有关变性人的规定。 最早加入该倡议的组织有15个：
背景学会，
棱镜跨性别者社区，
彩虹使命基金会，组织布达佩斯骄傲，
匈牙利LGBT协会，
匈牙利无性社区，
拉布里斯女同性恋协会，
研讨会协会，
阿特拉斯LGBTQ体育协会，
彩虹家庭基金会
性别自由，
位于凯奇凯梅特的Cifra-LGBTQ社区，
费耶尔县的Pure Heart LGBTQ社区，
大赦国际匈牙利，
匈牙利赫尔辛基委员会，
和自由协会。
以及后来加入的：
塞格德LGBT社区小组，
奥罗拉和马洛姆俱乐部协会，
多元化的青年网络，
LGBTQI儿童的父母和支持者，
德布勒森骄傲 LGBTQI组织，
和身份杂志。
布达佩斯自豪发言人ÁdámCsikós说：“理想情况下，一个人的证件应标明与他或她相同的性别，并出现在TA的日常生活中，因此，TA的非法律承认应基于自决和自决。”
辩解中给出的理由是，应该在出生时记录性别，因为仅可以根据生物学上的性别，原性或染色体来确定性别，只有医生才有权对其进行鉴定：“鉴于不可能完全改变生物学上的性别，所以必须在法律中说明，不可能在登记册中更改性别”。
如果我们仅通过天生的主要性特征和染色体来唯一地确定性别，那我们仍然会遇到很大的麻烦。社会上有1.7％的人是两性人，TA不具有XX或XY染色体，并且很难按医学定义其性别是男性还是女性。
对于跨性别者而言，其文件中的真实姓名和性别会对他们的生活安全产生根本影响：否则，他们将无法获得所需的医疗保健，他们将不得不在处理生活事务的时候解释自己的性别问题。出示身份证时，如果其姓名与外表不符或在任何需要使用其注册姓名的情况下，他们将被迫透露并谈论其性别身份，从而侵犯了他们的隐私权。
（翻译：沅沅）
△性别不应该被定义</label><p><label>阅读量:1万</label><p><label>转发:1</label><p><label>评论:1</label><p><label>点赞:12</label><p>评论内容:<br/>无一只普通的基岩：但也有女性收到自称跨性别者的男性来上女厕的困扰吧？<br/></p></li><li><p><label>发布日期:4月12日</label><p><label>发布时间:17:32</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/ICZO5nJQy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:尼日利亚</label><p><label>内容:她丈夫死后，家族成员剃了她的头并要求她守墓！现在，她和当地女性一起反抗这“该死的传统”

被剥夺与强制“隔离”

“他们把食物扔给我，好像我就像一条狗一样……没有人愿意和我有肢体接触，因为他们认为我碰到的任何东西都是不干净的！”Rose这样说。
  
Rose 的丈夫已经去世三年了， 但是当她重述她所经历的“清洗”仪式的遭遇时，声音依旧是颤抖的。
  
“他们半夜2点把我叫醒，告诉我是时候去丈夫墓边哭了，而且让我必须哭的越大声越好，最好能把整个社区都吵醒！”
  
“他们让我刮掉阴毛、腋毛、我的指甲，第二天他们就说要剃掉我的头发！”
  
“他们开始把我的头发和我穿的衣服烧掉，并让我在同一个地方洗澡，我说我不可能在光天化日之下洗澡，但是她们坚持逼我这么做！所有的人都在看着我们，从凌晨两点到四点，我甚至想着就这么死了算了！”

第二天，Rose被带到村里的集会，并被要求必须嫁给一个和她丈夫同宗的或者是社区里的另外一个男人。
  
“他们说我必须挑一个丈夫来代替我的丈夫！我很震惊……其中有一个男人说我可以选择自己的儿子，然后我就这么做了，但是大多数的他们都并不是很满意我的这个选择！”
  
“我只是被羞辱的众多寡妇之一……"

据联合国数据统计，当今世界上大概有2.58亿失去丈夫的女性，尼日利亚至少有200万，而她们中的25%的人遭受过这种极尽羞辱的仪式。在尼日利亚的南部，在丈夫死后像Rose这样的寡妇都会被强行接受“惯例”处置。她们在数周内被强制隔离，剥夺进食的权利并被强行安排住在卫生条件极其恶劣的地方。根据女权组织和研究者在当地的考察，发现她们被视为“不洁之人”并且需要一种“仪式”来清洁她们，例如剃头、与逝世丈夫有血缘关系的男人结婚等。

在2015年由国际人权和社会科学报出版的一篇论文中写道，如果有些丈夫英年早逝，那么有时候妻子就成为导致他死亡的嫌疑人，那么妻子就可能会被迫喝下清洗过丈夫尸体的水或者躺在他的遗体身边来证明她的清白。如果有谁拒绝这样做，那么她们就会被指控杀死了自己的丈夫并放逐出她们的社区。
  
为女性权利而战

“很过年老的寡妇认为她们既然已经经历这种“仪式”，那么其他人就必须也得承受！“

Chinyere Anokwuru，她在拉各斯（尼日利亚首都）开了一个女性技能培训中心，她说女性经常是维护这种“镇压寡妇”传统的“守门人”，而她们的重新定位是废弃这种“仪式”的关键。而这也切实地推动了当地的女性权利保护的进程。
  
Rose，在她丈夫死后的这三年里，重新将她支离破碎的生活拼凑起来。她现在在拉各斯商业区旁的人口密集区开了家小餐馆。小餐馆的收入虽然仅供她支付房租和家庭的日常开支，但是她丈夫的死仍然给了她物质需要之外的新的意义。
而且，现在Rose在这个地区的“拥护女性小组”做志愿者，当社区里某个女性的丈夫刚死的时候，她和她的小组成员们会为她们提供帮助和建议。
  
“我告诉她们我曾经所经历的‘该死的遭遇’，让她们知道她们可以不必经历那些！她们有权拒绝那些！”
（来源：CNN，翻译：小容）

△ 反抗传统，为女性权利而战！</label><p><label>阅读量:2.2万</label><p><label>转发:20</label><p><label>评论:4</label><p><label>点赞:59</label><p>评论内容:<br/>无大海里没有玫瑰有诗：反抗，是因为绝望，但因为反抗，所以有了希望！<br/>玊玉412：为自己的，更好的明天<br/>nooneslife：say no❌<br/></p></li><li><p><label>发布日期:4月14日</label><p><label>发布时间:00:04</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IDbNO19AX?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:沙特阿拉伯</label><p><label>内容:“我为什么没有发声？”：沙特女性使用社交媒体讲述被骚扰的经历

沙特阿拉伯成百上千的女性开始使用社交媒体平台来分享她们被性骚扰的经历，对如此禁忌话题的探索在这个极端保守的国家是非常罕见的。
使用“我为什么没有发声”的标签，女性们和一些男性开始讲述他们在家中或在公共场所忍受过的侮辱和虐待，但却因为感到羞耻或害怕受到责备而没有向权威机构进行报告。
沙特阿拉伯近期进行了大规模的改革，禁止家庭暴力及性骚扰，此举也结束了持续数十年的餐厅中的性别隔离以及禁止女性驾驶的规定。
但人权组织表示，选择用法律手段维护自己权利的女性依然在社交媒体上遭到抹黑，并且因为遭遇性骚扰被他人谴责。
一个名叫Bella的沙特推特用户写道：“当我的朋友报告被侮辱虐待的事情之后，她们经历了更大的伤害”。
“所以我选择沉默”，她说。
去年，沙特王储穆罕穆德·本·萨勒曼允许成年女性旅行并可在未经允许的情况下获得护照，这一举动进一步侵蚀了备受批评的男性监护体系。
在这一体系中，如果违背他们的监护人（通常是丈夫或父亲）的管控，她们仍然可能面临被逮捕的风险。
一个名叫Udor的女性推特用户写到，她在被父亲殴打，赶出家门并向警察报告她的违抗行为之后被捕。
一个处理家庭暴力的沙特政府机构使用“我为什么没有发声”这个标签来敦促遭遇虐待的人们私底下与他们进行联系。
一些女性说她们害怕发声，尤其当施暴者就是她们的家庭成员。
一个名叫Catolina的推特用户写道：“我报了警，可是警察劝我放弃控诉，而施暴者当时就和他们坐在一起。”
根据人权监察组织的调查，沙特女性在没有男性监护人现身的情况下，很难得到社会服务，一些寻求庇护的女性依然需要得到男性亲属的准许才能离开避难所。
有一些获得关注的案例聚集了诸多反对男性监护体系的声音，比如，2019年18岁的Rahaf Mohammed al-Qanun逃至加拿大，离开了据她所说的虐待她的家庭。
（来源：路透社  翻译：Xiao）
🔺谢谢那些勇敢发声的你们，别害怕我们会一直在你们身后</label><p><label>阅读量:2.3万</label><p><label>转发:20</label><p><label>点赞:50</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:4月14日</label><p><label>发布时间:20:44</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IDjUQBwWE?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:韩国首个女权主义政党寻求议会席位

韩国首个女权主义政党为推动同工同酬以及出台更加严格遏制窥阴癖行为的法律进行了宣誓，同时她们也正在为即将来临的竞选工作做准备。
在引发全国愤怒的“spycam porn”以及其他犯罪事件的背景下，在忍受薪酬差距、就业与孩童照管问题的大环境下，此政党于三月的国际妇女节成立。这一建立在日渐增长女权运动之上的女性政党拥有人数超过8000的注册会员，并且开始出现在一些社会保守的亚洲国家。
未来4月15日举行的投票中，她们希望能够在300个议员席位中赢得4个席位，尽管政论学家分析这对于一个初出茅庐的政党来说是挑战。
资深女性权利积极分子、同时也是政党创建者之一的Kim Eun-ju在活动前告诉媒体：“女性的问题总是被其他政党边缘化，因此我们需要到前线去战斗”。
“我们想要强调针对女性的歧视、暴力和不平等现象的严肃性。”
Kim表示，这个以年轻女性群体为发展对象的政党在成立后将正式提交注册登记。
为制定更强有力的法律来严控窥阴癖行为并遏制“spycam porn”（受害者被偷拍小便或性爱的场面）的广泛传播，她们还将进行游说活动。
这一新政党也将致力于缩小薪酬差距，2018年的数据表示，韩国的薪酬以34.1%的性别差距在发达国家中遥遥领先，并且是世界经合组织平均水平的两倍以上。
在2016届投票之后，韩国有51名女性法律制定者拥有了17%的议会席位。尽管落后于全球25%的平均水平，这仍然成为了这个国家历史上女性代表率最高的时刻。
“建立女性政党的意义重大，但是作为小党派，赢得更多的选民依旧是十分困难的。”来自首尔庆熙大学的政治学教授Chae Jin-won如是说。
（来源：CGTN  翻译：Xiao）
🔺争取应得的权利和发声的机会，才能更好地维护女性平等的利益</label><p><label>阅读量:39.9万</label><p><label>转发:1733</label><p><label>评论:156</label><p><label>点赞:4961</label><p>评论内容:<br/>无红泥小火炉与茶：韩国女性太刚了！干的漂亮！<br/>亦舒呲ci：中国什么时候能.....<br/>红泥小火炉与茶：清醒的女性越多，工作的女性越多，女性的路就越好走。<br/>暮夜长歌1：亚洲之光！韩国姐妹太刚！！！！<br/>bipbipolarbear：哎 目前的我除了转发还能做什么<br/>chichaer：佩服！韩国的姐妹们也是被逼到极处，退无可退了。<br/></p></li><li><p><label>发布日期:4月15日</label><p><label>发布时间:23:45</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IDuwQzq2u?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度尼西亚</label><p><label>内容:印度尼西亚一名跨性别女性被淋上汽油后放火烧死，警察在逮捕嫌疑人之后，称这起暴行不属于“故意杀人罪”，属于“伤害致死罪”，引起广泛批评。人权组织和性少数群体评判说，这是一起明显带有杀意的卑劣的杀人事件。

印度尼西亚拥有2亿6千万人口，位居世界第四。其中约88%的人口信奉伊斯兰教，是世界上伊斯兰教徒最多的国家。以一些被称为强硬派和激进派的教徒为中心，“LGBT是疾病”“伊斯兰教不容许LGBT存在”等观念根深蒂固。在社会各个方面歧视、迫害性少数群体。

印度尼西亚是一个多民族、多语言、多宗教的国家。尽管国家一直在倡导包容性和多样性，但近年由于伊斯兰教中强硬派教徒的数量众多，价值观根深蒂固，而屡屡产生摩擦。（新闻来源：雅虎日本）

🔺不要以信仰之名作恶。</label><p><label>阅读量:1.5万</label><p><label>转发:7</label><p><label>评论:3</label><p><label>点赞:32</label><p>评论内容:<br/>无陆一晟：印尼做什么感觉都很激进，立场情绪上来了多少人命都不算事那种<br/>-COOJEAN-：太难了<br/>艾妮及亚：希望疫情能早日战胜恶人<br/></p></li><li><p><label>发布日期:4月16日</label><p><label>发布时间:17:14</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IDBoBqJHb?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:KuToo运动后，日航、三大运营商放松女性着装要求。

ISHIKAWA YUMI是一位在殡仪馆上班的引领员，她每天需要穿着高跟鞋工作8小时，而这是她的雇主坚持要她这么做的。她的脚指头甚至已经开始流血。“为什么我们在工作中就必须伤害我们的脚，而男性们就可以穿着舒服的平底鞋？”她在推特上写到。

而这条推特被疯转了。

在受到大家的鼓励之后，去年六月，她将集齐了18800个签名的请愿书提交给了政府，请愿书的内容是：禁止雇主要求女性在工作中必须穿高跟鞋上班。 而Ishikawa 也成为了KuToo 运动的代表人物。（注：KuToo是日文中的双关语，它包含了日语词汇鞋子 (kutsu) 和 痛苦 (kutsuu)）

根据问卷调查显示，超过60％的日本工作女性被要求穿高跟鞋上班或者看到女同事有过这样的经历。在高岛屋，女职员们必须在门店里必须穿着高达5厘米的高跟鞋走来走去。就连日本前国防部长， Inada Tomomi也必须在甲板上穿着高跟鞋，迈着蹒跚的步子访问美国的航空母舰。

着装要求在日本的很多公司都是非常刻板的。一些公司规定禁止女性戴眼镜上班，而男性却可以，在此也形成了十分鲜明的对比。这对那些戴隐形眼镜十分不适的女性来说更是十分不合理的。“女性总是被要求遵守刻板的着装要求，即使这会伤害她们。”Ishikawa说。在日本，尤其是那些年纪较大的领导们，总是想要他的女下属们必须遵守这些着装要求。

但是政府却对此无动于衷。前劳工部长去年接到了Ishikawa的请愿书之后，坚称“穿高跟鞋上班是必要而合适的”。而这份请愿书也没有得到任何官方的回复。在《经济学家》所做的玻璃天花板指数（注：该排名旨在衡量工作环境中的女性就业不平等指数）排名中，日本在二十九个富裕国家中排名第二位。

与此相反，日本企业却在慢慢地对KuToo运动做出积极反应，3月，日本航空公司宣布，女性空乘人员可以选择脱掉她们的高跟鞋，也可以把裙子换成裤子。三大手机运营商也放松工作场合对女性穿高跟鞋的要求。Ishikawa现在正在和一家鞋业公司合作，目标是生产处更多的时尚的无跟鞋。她说，“社会是在变化的，我们不会被无视的！“那些关于穿什么鞋的这种毫无意义的规则迟早都会被淘汰！
（来源：The Economist  翻译：小容）

△ 日本女性反抗高跟鞋背后的苦痛，社会风气悄然改变</label><p><label>阅读量:2.8万</label><p><label>转发:36</label><p><label>评论:4</label><p><label>点赞:88</label><p>评论内容:<br/>无phoebe威武：国内男人可以拖鞋短裤上班，女人必须收拾整洁。。<br/>大海里没有玫瑰有诗：所有的反抗都是有效果的，沉默就是帮凶。<br/>酥风杏雨懒言双：//@大海里没有玫瑰有诗: 所有的反抗都是有效果的，沉默就是帮凶。//@phoebe威武:国内男人可以拖鞋短裤上班，女人必须收拾整洁。。<br/>世界公民小希：上班不让戴眼镜是脑子有病吗<br/></p></li><li><p><label>发布日期:4月17日</label><p><label>发布时间:20:55</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IDMh5aRGh?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿根廷</label><p><label>内容:阿根廷封城的第三天，总统费尔南德斯动员全国人民配合隔离防疫工作。在他的演讲中，他使用了西班牙语中不存在的中性词”Argentines”来指代阿根廷国民，而非传统的“Argentinos”、”Argentinas”来分别指代男女阿根廷人。

去年12月任职的费尔南德斯在竞选总统期间就曾表示对于西语改革的支持。他的竞选口号中的”todos”（所有人）就使用太阳标志代替了表示词语阳性的”o”。他上任后不久，许多政府部门也开始使用中性的表达方式。比如养老金系统就为其所有员工发放了一份包容性语使用手册。

总统在这次公共危机中再次选择使用中性词，更说明了西语改革运动正在阿根廷掀起巨浪，背弃了西班牙语长久的语法和使用习惯，从而让语言更加平等而具有包容性。

虽然让西语更加平等的运动不局限于阿根廷，但令阿根廷与众不同的是，不仅仅活动家和平权主义者开始使用中性的语言，学术界和政治界也开始渐渐改变他们的表达方式。比方说，去年，布宜诺斯艾利斯市法官Liberatori就在判决书中使用了以“e”结尾的中性词，而非阴性或阳性的“a”和”o”。Liberatori表示，她2000年上任时，她办公室的门上挂着的是“juez”（男法官）而非“jeuza”（女法官）。她立即将门牌改了过来。

在使用”e”结尾的中性词之前，平权主义者也试着用过”@“或者”x”代替表示词性的字母，但是“e”因为更容易发音，而被广泛接受。然而西班牙皇家学院却认为这样的改变属于语法错误，反对其使用。学院表示，西班牙语已经包含了对于两种性别的不同的表达方式，而阳性的复数则可以用来指代所有人。比如“Argentinos”（阿根廷男人们），就可以指代任何性别的阿根廷人。但是阿根廷语言学教授 Santiago Kalinowski 认为，支持西语改革的平权主义者故意选择了不符合语法规则的人造词，导致这个改变更引人注目。“这个改革的目的和语法无关，而和政治和社会有关。西语改革是为了改变语言创造的文化，并最终改变法律”。
（来源：纽约时报 翻译：利虎）

🔺语言是社会文化的产物，也同时塑造了我们对社会的认知。注重用语包容性，会潜移默化中改变我们对于性别的理解</label><p><label>阅读量:1.9万</label><p><label>转发:13</label><p><label>评论:1</label><p><label>点赞:26</label><p>评论内容:<br/>无张晓白__：<br/></p></li><li><p><label>发布日期:4月20日</label><p><label>发布时间:21:12</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IEeFqEkXr?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:波兰</label><p><label>内容:疫情封锁期间，波兰抗议者反对堕胎禁令
波兰抗议者为了反对政府几乎全面禁止堕胎的提案不得不无视冠状病毒期间的封锁。
尽管公开聚集是被明确禁止的，但是视频显示，本周二（4月14日）抗议者走上华沙和波兹南的街头，举着标语，每隔两米一个人，表达自己对全面禁止堕胎的不满；与此同时，有些人将海报挂在自行车上；其他人在网上发布抗议视频进行“线上抗议”。
波兰议会将在周三（4月15日）讨论禁止流产严重畸形胎儿。
波兰的堕胎法是欧洲最严格的法律之一，仅在强奸或乱伦，母亲生命受到威胁或胎儿受到严重损害时才被允许。
即使检查表明胎儿受到了不可逆转的损害，该立法草案也将会禁止终止胎儿生命。
目前，这种情况占据全国合法堕胎比例的98%。
另一个有待讨论的法案将“促进未成年性行为”定为犯罪，妇女权利团体指出，该行为实际上禁止了学校的性教育。它规定，鼓励18岁以下性行为的人可能面临最高三年的监禁。
活动人士担心，保守派政客可能会利用冠状病毒封锁的有利条件来阻止抗议者组织大规模的街头抗议活动。
大赦国际和人权观察（Amnesty International and Human Rights Watch)呼吁政界人士拒绝这项法案，该法案由执政的法律与正义党（PiS）于2016年首次提出。
当时，人们穿着黑色衣服的大规模街头抗议活动迫使政府撤回了提案。
“波兰政府在疫情期间的重点应该是保护人民的健康和权利，而不是削弱人民的健康和权利。”人权观察组织高级妇女权利研究员Hillary Margolis说。
这些法案最初来自于公民倡议，如果他们能够搜集10万个签名即可提出立法建议。
目前尚不清楚法律和司法是否会支持该法案。
一项反对该法案的在线请愿书已获得超过70万签名，人们使用#在家抗议#的超话来共享抗议视频。
几名反对派议员亦加入线上抗议，在推特上发布了图片。Adam Szlapka发布了一幅抗议者的图片，图中为抗议者在波兰议会外。
Franek Sterczewski批评政府批准在疫情期间的讨论的行为。
记者Zaneta Gotowalska写道：“政府正在谋划趁着疫情加强反堕胎法的法案草案。虽然我们不能聚集，但是我们仍然可以抗议并表示坚决反对”。
在病毒期间，波兰并不是唯一一个考虑改变堕胎法的国家。
在美国至少7个州，政客出于公共卫生的考虑，颁布了禁止堕胎的规定。
包括德克萨斯州州长Greg Abbott在内的保守派州长认为，堕胎是一种不必要的医疗程序，必须暂停使用这种程序，以节省治疗新冠病毒的稀缺医疗资源。
新闻网站Politico称，堕胎禁令已经在阿拉斯加，印第安纳，肯塔基州颁布，并在后来被提出但是被阿拉巴马州，俄亥俄和俄克拉荷马的法院驳回。

来源：BBC 翻译：灰灰
原标题：Poland abortion: Protesters against ban defy coronavirus lockdown April 16
🔺#堕胎自主，还女性生育自由#</label><p><label>阅读量:1.3万</label><p><label>转发:7</label><p><label>评论:7</label><p><label>点赞:44</label><p>评论内容:<br/>无狸狸不是狸狸是黎黎：停止妊娠是女性的自由，其他人无权干涉！<br/>变成酸柠檬的喵呜：禁止流产严重畸形的胎儿？？？明明已经严重畸形了，还生下来让他受罪吗？<br/>红泥小火炉与茶：女性的身体自己不能做主，才是最荒谬的。<br/>猫猫喵的么么哒：使女的故事，已经逐渐出现端倪了<br/>红泥小火炉与茶：美国也在倒退了。<br/>海苔肉松小贝5：……想不通为什么有这个禁令<br/></p></li><li><p><label>发布日期:4月22日</label><p><label>发布时间:23:35</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IEysopur5?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:波兰</label><p><label>内容:波兰无视“欧洲价值观”，妇女在街头和网上抗拒

4月14日，一名妇女在波兰华沙抗议拟议的堕胎禁令。

Marta Gorczynska上了车，开始开车。穿过华沙大部分荒芜的街道时，她没有目的地，但就在上周二中午之前，她收到了一条带有指示的文字：前往Rondo Dmowskiego。

人权律师戈钦斯卡（Gorczynska）是一大批抗议者之一，她们用她们的车辆来抵抗波兰的封锁，并堵住首都的交通要道，鸣喇叭，喊口号，以此来反抗一条公民法案。这条法案旨在更进一步收紧堕胎法，而波兰的堕胎法已经是欧洲各地最严格的法案了。

一些人拿着黑色的雨伞，这是波兰堕胎权运动的象征，而其他人的窗户上贴着“妇女罢工”的海报。示威者从头到脚穿着黑色，戴着口罩，骑着自行车。警察拿着扩音器大喊，警告说在疫情期间集会是非法的，并敦促现场的女性示威者们回家。

随着欧洲各国政府继续努力应对现代最严重的医疗危机，波兰立法者上周对立法草案进行了辩论，该草案将禁止在胎儿异常情况下进行堕胎-而这正是在这个天主教国家尚被允许进行堕胎程序的少数情况之一。

最终，波兰下议院投票通过将该法案送交议会委员会进行更多工作。但是，这一时机遭到了人权运动家的抨击，这对多年来一直在努力防止堕胎禁令的妇女维权人士提出了新的挑战：如何在新型冠状病毒时代进行抗议。

戈钦斯卡说：“我们认为这是政府试图利用疫情封锁来推动这项有争议的法律的尝试，因为历史证明，政府为修正堕胎法所做的所有尝试，一直都引发了许多示威活动。”这里指的是2016年全国范围的“黑色星期一”罢工，这次罢工吸引了数百万人的关注。

“如果没有疫情封锁，成千上万的女性都会走上街头抗议游行。因此，我们正在使用其他工具，尤其是在线工具来实现游行。”

那些无法出门的人找到了其他的示威方式。抗议者在社交媒体上围绕着诸如“黑色抗议（black protests）”和“女人的地狱（women’s hell）”这样的标签发帖，分享自己的黑白照片，或者手掌里拿着堕胎药的照片。其他人则在阳台上悬挂海报，或出门进行日常锻炼，背上贴着反抗的信息。

国际特赦组织波兰负责人德拉金贾·纳达兹丁（Draginja Nadazdin）表示，如果冠状病毒是对政府是否致力于人权的考验，那么波兰必将失败。“如果要使用冠状病毒作为一种测试，以衡量政府如何支持人权，那么无论是波兰的堕胎法案，还是选举过程中自由与平等的程度，抑或是它对于人身健康权的无视，都不是好信号。 ”，纳达兹丁告诉CNN。

波兰的运动家们担心的是，无论通不通过最新法案，妇女获得医疗保健的机会都已经被削减。

帮助波兰妇女堕胎的慈善机构Aborcyjny Dream Team的活动家Justyna Wydrzynska说，她们的热线电话通常每天接到约10个电话，但在政府宣布关闭边境以阻止疫情蔓延之后，她们的热线电话开始响个不停。

许多来电者担心她们将无法再获得堕胎药，因为堕胎药在波兰是不合法的；还有一些人担心她们无法及时到达国外诊所进行手术。

在波兰，只有当胎儿异常，强奸，乱伦或孕情威胁到母亲健康的情况下，才被允许堕胎。然而即使在允许堕胎的情况下，许多波兰妇女仍然很难找到可以实施堕胎手术的医院。

Wydrzynska提到，以前曾协助堕胎程序的欧洲国家已经告诉该慈善机构，他们不再能够向外国人提供服务。她说“这让人非常有压力。我们能说什么呢……我们只希望这不是故事的结局。”

然而波兰并不孤单-妇女堕胎已成为全球范围内受到威胁的许多医疗保健规定之一。

在美国的几个州，议员们出于公众健康的考虑，试图对流产实行新的限制。一些共和党州长，包括德克萨斯州的格雷格·阿伯特（Greg Abbott）认为，堕胎是不必要的医疗程序，应在疫情期间推迟进行流产，以节省个人防护设备和其他救生设备。批评者指责这些州利用新冠病毒危机来限制妇女获得堕胎的机会，禁令最终在法庭上结束。

当谈到波兰的妇女权利时，那里的抗议者表示，她们将继续战斗-不管是不是在疫情封锁期间。

Gorczynska说：“更重要的是显示我们的力量，表示我们的团结，并表明我们并没有被这次疫情封锁束缚住手脚。”

（来源：CNN  翻译：瑞秋妹妹）
</label><p><label>阅读量:2.5万</label><p><label>转发:9</label><p><label>评论:2</label><p><label>点赞:45</label><p>评论内容:<br/>无张晓白__：<br/>酥风杏雨懒言双：转发微博<br/></p></li><li><p><label>发布日期:4月23日</label><p><label>发布时间:23:46</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IEHX7CYZd?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:大阪市长松井一郎在23号的市政府记者会见上称，让男性去超市购物更能避免“三密”（密闭空间，密集场所、密切接触）。
“只买说了需要买的东西，男性更快一些。包括我在内，平时不怎么去超市的人，如果让我只买别人说的东西，我会马上去那个商品的地方，把它放进篮子里，在超市里停留的时间会非常短。这样的人去买东西的话，就可以避免“三密”了吧。在我家，妻子去买东西的话，会在意商品质量好不好，拿起来好多商品做对比，导致花费很长时间。我家的话，我去会更快一些。不会管商品怎么样，会直接去放到篮子里结账，然后回家。”

🔺性别偏见不可取。</label><p><label>阅读量:3.7万</label><p><label>转发:6</label><p><label>评论:8</label><p><label>点赞:80</label><p>评论内容:<br/>无麋鹿迷路路迷：然而可能会买错重来，找不到货瞎逛，出于爱面子不敢问<br/>最拉萨独自养老：呦呵，靠吊乱语还挺自豪？<br/>张晓白__：<br/>暮色妆浓夜微凉：建议他找个老公，别去祸害人家女孩子了。<br/>春野桜sakura：傻缺话语<br/>孤如_：？想找到性价比最高的产品是错吗？看到一个产品就拿下来，买贵了买错了不会被骂为“败家”吗？<br/>方时赫金主李秀满：但其实挺好的，男性更易感染，还会影响生殖能力，挺好的，建议男性多多外出，说不定能对人口性别平衡做贡献了<br/></p></li><li><p><label>发布日期:4月24日</label><p><label>发布时间:20:46</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IEQcQnysT?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:匈牙利</label><p><label>内容:悲伤：据女性称，十分之二的匈牙利人在工作中表现出性别歧视

在国际妇女节之际，有人用统计方法检查了一些地区，以查明妇女在哪些方面有优势或劣势，并从多个方面研究了劳动力市场和工作场所状况。最近的一项调查发现，有35％的受访者说，女性的职业受到其作为父母责任的阻碍，有26％的受访者称，她们要拒绝同事的约会邀请，还有四分之一的受访者称，她们的家庭对她们来说比工作更重要。他们同时也发现，匈牙利人如何看待在工作场所中的性别歧视笑话或拥抱哭泣的同事的行为。
根据最近的一项调查，根据欧盟国家的平均数，欧盟女性2018年的就业率为67％，比2017年上升了1个百分点，与2008年相比上升了5个百分点。与此同时，欧盟统计局称，女性的平均就业率仍比男性低12个百分点。匈牙利女性的就业率达到了欧盟平均水平，是67％，但男女之间的差异达到了15个百分点，因此两性之间的差异更大。
·工作场所可以做什么和不能做什么？
在益普索（Ipsos）最近的一项调查中，征求了27个不同国家的男女意见，认为在工作场所哪些行为可以接受，哪些因素可能对其职业产生不利影响。调查显示，四分之三的女性认为赞美另一名女性的外表和衣着是可以接受的，而只有三分之二的男性认为这是正确的。女性也更容忍拥抱哭泣的同事作为安慰。而在允许在工作场所讲性别歧视故事或一次又一次尝试邀请曾经拒绝的同事时，男性更能容忍。
在世界范围内，有71％的受访者认为在工作场所讲性别歧视的笑话是不可接受的，而在匈牙利人中，这一比例仅为61％，而31％的接受者则认为是可以接受的。按性别来看，只有22％的匈牙利妇女认为这是可以接受的，而41％的男性认为这是可以接受的。
在匈牙利，有76％的受访者认为拥抱正在哭泣的同事是可以接受的，世界上只有71％的受访者认为是可以的。有趣的是，弱者并不是最宽容的：匈牙利女性中81％的人接受舒适拥抱，而男性中71％的人接受舒适拥抱。
·家庭与事业
益普索还评估了不同因素对男女职业产生不利影响的程度。根据受访者的说法，总的来说，女性比男性更容易遭受不利影响，无论是将家庭放在首位而选择打零工，还是与同事的关系，甚至是工作以外的业余爱好方面。
由于除了工作，女性还要承担更多的家庭责任，35％的受访者认为女性会受到更多的不利影响，而8％的受访者则认为男性更有可能受到不利影响。在打散工方面，15％的受访者认为女性处于劣势，10％则认为男性处于劣势。
在这个问题上，也有必要研究世界意见与匈牙利意见之间的区别。一般而言，匈牙利人认为上述因素对男女的职业危害较小。如果员工无法或不愿意在工作时间以外工作、加班，或者把家庭置于工作之前，员工才处于不利地位。
此外，还对受访者进行了评估，以确定该国的雇主是否平等对待男女。在全球范围内，有41％的受访者表示，他们完全或更多地同意在自己的国家平等对待这两种性别，而56％的受访者则不 同意。
在匈牙利，情况更糟，只有36％的人认为在工作场所男女待遇平等，有61人不同意这一说法。这个比率对我们来说几乎和美国一样糟糕，而法国和日本人甚至更少认为他们将拥有平等。有趣的是，中国，印度和俄罗斯在说两性平等的人中也有较高的比例，但在欧洲大多数接受调查的国家中却没有。
在匈牙利，尽管平均有36％的人认为两性一视同仁，但其中女性的回应率平均为26％，男性为46％。在全球范围内，男女之间的意见差异并不存在。男性比例为32：49。
△在男女平权方面，我们还有很长的路要走
（来源：Pénzcentrum 翻译：沅沅）</label><p><label>阅读量:3.1万</label><p><label>转发:7</label><p><label>评论:2</label><p><label>点赞:44</label><p>评论内容:<br/>无音质律师：在中国，这个数字是百分之百。<br/>知乎今天倒闭了没：哭了😭我天朝性别歧视几乎无处不在了吧<br/></p></li><li><p><label>发布日期:4月27日</label><p><label>发布时间:21:24</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IFiJzAxHc?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容: NHS工会和专家们表示，因为女性医疗工作者穿着为男性设计的防护装备，她们的健康收到了极大的威胁。她们有些人因为需要狠狠拉紧口罩，脸上留下了深深的压痕，甚至是溃疡；有些人不得不卷起袖子工作；有些人裹得眼睛几乎看不见，其他人则用胶带贴住防护服和下颚之间的空隙。有一位前线医务人员形容到“这防护服像是给2米多的橄榄球运动员设计的”。
英国医学协会顾问委员会副主席Helen Fidler博士说“女性的健康安全无疑因为不合身的防护服受到了极大的威胁。医用口罩是以男性面部结构为模版设计的，但讽刺的是， NHS 75%的工作者是女性。”
一位重症监护室的护士表示，她们部门一半的女性都没通过佩戴检验。佩戴检验是为了检测防护装备是否合身，是否可以有效保护医务人员。“而唯一没通过检验的男性要么非常小巧，要么就是拒绝剃胡子导致口罩佩戴不上。这其中的性别歧视就很明显了。” 另一位经验丰富的重症监护室护士不得不被转移去照顾轻症病人，仅因为她的头部太小导致口罩不能起到有效的防护作用。
医疗装备不合身已经是一个老生常谈的问题了。2016的一份问卷调查显示仅29%的女性在使用专门为女性设计的防护服，而57%的女性说不合适的防护服妨碍了她们的工作。
然而，女医务人员之间，依然有很多人不愿意抱怨，仿佛宽大的防护装备是她们必须忍受的现实。然而Helen Fidler博士认为，这是不可接受的。“我们不应该通过一个全球性流行病才能认识到问题的严重性。政府有道德和法律责任尽快解决这件事情。“
（来源: the Guardian，翻译：利虎）

🔺忽略不同性别的生理区别，只迎合男性的生理特征，忽略女性不同的需求，也是性别歧视的表现。</label><p><label>阅读量:44.4万</label><p><label>转发:1474</label><p><label>评论:244</label><p><label>点赞:4291</label><p>评论内容:<br/>无梁钰stacey：湖北战疫正紧的时候，我发出询问，为何女医护占80%，防护服都是XXL码O梁钰stacey 很多人说是海外采购以及统一尺码采购。现在看来这种性别歧视是全球问题啊！不合适的医疗装备肯定会影响医护的身体健康啊，诶#看见女性劳动者#<br/>隔壁车间王主任：想起来早些时候这个问题在国内也有讨论，好多网友说是瞎扯不存在的。现在看不管咱这存不存在，英国问题挺严重的嘛<br/>小春春222222222：这个时候还有时间讨论这个<br/>潇湘馆朝奉：在这个问题上，中国本来有可能先找到并解决的……<br/>Claire噢啦啦：国家和国家的竞争，很重要的一点看谁敢及时纠错，谁发展就更快更好<br/>紫色偶然5202000：衣服最重要的是舒服，我昨天裤子没选对，难受了一整天，防护服不合适，肯定非常难受，关键还会产生严重不良后果，希望这个问题可以得到重视。<br/>小码乍敲嫌行短：又是个落后中国俩月的“重大发现”？<br/></p></li><li><p><label>发布日期:4月30日</label><p><label>发布时间:21:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/IFKXs8ZHa?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:匈牙利</label><p><label>内容:“生育计划”（Szülj gyereket! Program）会导致劳动力市场短缺
在2018年的年度评估报告中，总理欧尔班（Orbán）宣布了政府正在采取哪些措施来改善人口状况。目标是让女性尽可能多地，尽快地生孩子：为此，政府为女性提供了更多的财政支持。
我们研究一下，在什么样的社会经济条件的影响下，可以说服更多的女性生育孩子。显然，可以借助详细信息来进行更深入的分析，但是也可以从可用信息中得出某些结论。
让我们看看政府的决定有多大影响。根据最新的可用数据，有99.3万名25至40岁的女性在劳动力市场上工作。 尽管尚无关于其中有多少个母亲或尚未生育的数据，但可以简单估计一下，由于宣布的措施，有多少女性受到了要生孩子的压力。
根据中央统计局2016年的微观人口普查，年龄在25至35岁之间的人中有56％尚未生育，而年龄在35至44岁之间的人中有20％没有孩子。也就是说，如果我们假设这个比例在雇员方面也是正确的，那么在有工作的女性中有37.7万人在40岁以下且无子女。这相当于雇员总数的8.4％。
在极端的情况下，宣布的行动计划如果非常有效，并且许多受影响的女性选择了生育孩子，那么对于雇主和公司部门来说，找到合适的人填补职位空缺也很让人头疼。仅仅是因为劳动力短缺仍然是市场上最严重的问题之一。（尽管劳动力储备在数量上足以满足需求，但缺乏专业能力和实践使长期失业的人很难找到工作。）
但是从统计学上讲，即使在这种情况下，政府也不必担心，因为这样的人口爆炸不会在统计数据上留下任何痕迹。怀孕的母亲属于市场上不活跃的人群，因此失业率不会因次而增加。尽管所承诺的生育福利是巨大的，但在产假期间的女性的收入仍然下降了，并且福利可能不足以弥补这些损失。另外，在一定时间后可能会有更多的人要边照顾孩子边工作。尽管有祖父母可以帮忙照顾孩子，但对于那些既需要留在孩子身边，又需要工作的母亲来说，则需要其他的解决方法。而当前的劳动力市场并不支持这一点：缺少兼职，政府对远程办公的激励更大。
根据欧尔班（Orbán）的说法，如果能够实现7点行动计划，那么一个有3个孩子的家庭可以获得总计3750万福林（1RMB=46福林），而有2个孩子的家庭可以得到的2200万匈牙利福林的支持。对于3个孩子的家庭来说，这意味着他们可以获得1000万福林的不用退还的补贴、家庭建房补贴（CSOK）和1500万福林的贴息贷款，用于购买新的和现在使用的公寓。同时还可以申请1000万福林的福利贷款，尽管总理没有说明该笔款项应该以什么目的申请。在3500万福林之外，还有250万福林的不用退还的购车补贴。此外三个孩子的家庭还有400万福林的抵押贷款，可以在国家支持下偿还。如果所有可能的女性都充分利用了这些机会，那么所有这些将意味着超过11,000亿匈牙利福林，包括37.7万潜在生育女性，这令人震惊，我们估计其中有20万女性个将生育两个孩子，而17.7万将生育三个孩子。
△女性的价值应该由自己决定
（来源：mfor.hu    翻译：沅沅）</label><p><label>阅读量:1.7万</label><p><label>转发:4</label><p><label>评论:3</label><p><label>点赞:20</label><p>评论内容:<br/>无张晓白__：<br/>phoebe威武：国家如果兑现承诺固然好，但是我国好像没这个条件。<br/>般般63231：完全是工具人。按马克思主义的理论我相信，某一天，国家这个东西会被另一种方式代替和延续文明进程。<br/></p></li></ol></body></html>