<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202006微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2020年06月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:6月2日</label><p><label>发布时间:15:06</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J4MbNhNaW?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:一项新的研究表明，德国女性在整个职业生涯中只能获得约为男性一半的报酬。

在德国西部地区，一位女性在职业生涯中可以获得平均83万欧元报酬，而男性可以获得150万。在德国东部，女性可以获得66万欧元，男性为110万。

这项研究也指出，目前性别薪酬差异的计算只包含工作女性，会忽略大量被排挤出人力市场的女性，严重低估社会中实际的性别薪酬差异。
（来源：明镜）

▲ 性别薪酬差异不应只包括同样岗位的薪水差别，也应考虑女性因性别而失去的大量工作机会。</label><p><label>阅读量:2.2万</label><p><label>转发:8</label><p><label>评论:4</label><p><label>点赞:57</label><p>评论内容:<br/>无我半年能瘦30斤：这还是在德国……平权运动做的最好的瑞士，男女薪酬的差距也在30%以上。其他地方的数据一定更加惨不忍睹。<br/></p></li><li><p><label>发布日期:6月3日</label><p><label>发布时间:23:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J4Z2ED72m?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:（转自新加坡早报）美国空军已取消对候选飞行员的身高要求，希望能鼓励更多女性申请当飞行员，使其甄选范围更多元化。

《纽约时报》报道，依照新规定，身高不超过162.6公分或身高超过195.6公分的申请者无须再呈交身高豁免申请。这项新措施已在5月13日生效。

美国空军此前规定，飞行员的身高必须介于162.6公分至195.6公分，坐姿高度则必须介于86公分至102公分。

空军部说，虽然多数身高豁免申请都会获得批准，但身高要求实际上已把美国44%的20岁至29岁女性人口排除在外。

美国空军人力、人事与服务部副参谋长德菲利皮说，取消飞行员的身高规定，对个子较小的女性和少数群体来说是一大胜利。
（来源：新加坡早报 陈慧璋）</label><p><label>阅读量:4.2万</label><p><label>转发:6</label><p><label>点赞:40</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月6日</label><p><label>发布时间:00:25</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J5i8inVo5?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:由女性领导的国家在应对疫情方面更出色。

自新冠肺炎疫情爆发以来，女性领导人应对新冠疫情的成效饱受关注。

丹麦、芬兰、德国、冰岛、新西兰、挪威和中国台湾的女性领导人被认为比男性更好地在应对危机。韧性、务实、仁爱、谦逊并关注民意是这些女性领导人的共同特征。

这些国家能够更有效地应对疫情，领导人的性别或许不是主导因素，而是因为该社会在各个方面性别更平等。因为女性的参与可以带来更全面的视角和更完善的政策制定。

性别的互补性同时也会增强国家多方面的实力。例如，美国咨询公司麦肯锡（McKinsey）的研究项目表明，性别比例更平衡的企业财务状况更好。

在性别更平等的国家中，领导力在由传统观念里的“女性特质”驱动——同理心、倾听民意和协作能力。这些与传统行使的管理，监督和控制不同。不过，这同时也反映出我们社会中根深蒂固的性别刻板印象。女性也应可以拥有并展现“男性的”管理特质，反之亦然。

21世纪所面临的种种挑战，亟待一种新型领导模式，而不是基于命令和控制的领导。这些挑战包括气候变化、地球资源的消耗、人口老龄化以及新科技的开发。

这种新型的领导主要涉及韧性，勇气，灵活性，倾听民意，同理心，协作，关怀并认可集体的贡献。而这都是传统观念中女性管理的特征。

为了克服21世纪的重重难题并取得成功，国家政府必须尽可能地多样化其人才来源，并优先考虑性别问题。
（来源：独立报，翻译：桃子sumyee）

△ 性别比例平衡的社会才能更好的应对21世纪新的挑战。</label><p><label>阅读量:1004</label><p><label>转发:无</label><p><label>点赞:1</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月6日</label><p><label>发布时间:00:27</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J5i8PcA85?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:由女性领导的国家在应对疫情方面更出色。

自新冠肺炎疫情爆发以来，女性领导人应对新冠疫情的成效饱受关注。

丹麦、芬兰、德国、冰岛、新西兰、挪威和中国台湾的女性领导人被认为比男性更好地在应对危机。韧性、务实、仁爱、谦逊并关注民意是这些女性领导人的共同特征。

这些国家能够更有效地应对疫情，领导人的性别或许不是主导因素，而是因为该社会在各个方面性别更平等。因为女性的参与可以带来更全面的视角和更完善的政策制定。

性别的互补性同时也会增强国家多方面的实力。例如，美国咨询公司麦肯锡（McKinsey）的研究项目表明，性别比例更平衡的企业财务状况更好。

在性别更平等的国家中，领导力在由传统观念里的“女性特质”驱动——同理心、倾听民意和协作能力。这些与传统行使的管理，监督和控制不同。不过，这同时也反映出我们社会中根深蒂固的性别刻板印象。女性也应可以拥有并展现“男性的”管理特质，反之亦然。

21世纪所面临的种种挑战，亟待一种新型领导模式，而不是基于命令和控制的领导。这些挑战包括气候变化、地球资源的消耗、人口老龄化以及新科技的开发。

这种新型的领导主要涉及韧性，勇气，灵活性，倾听民意，同理心，协作，关怀并认可集体的贡献。而这都是传统观念中女性管理的特征。

为了克服21世纪的重重难题并取得成功，国家政府必须尽可能地多样化其人才来源，并优先考虑性别问题。
（来源：独立报，翻译：桃子sumyee）

△ 性别比例平衡的社会才能更好的应对21世纪新的挑战。</label><p><label>阅读量:3.8万</label><p><label>转发:17</label><p><label>评论:12</label><p><label>点赞:102</label><p>评论内容:<br/>无乌加点木：建议把“国家”改成“国家和地区”，表述措辞还是需要注意一下的，不然会被居心不良的人借题发挥的<br/>想要理科及格：还有希腊 首位女性总统 在疫情期间就任<br/>莲星1995：对不起但是中国台湾？<br/>dearAMOS：中国台湾就算了吧。。。。岛内民众口罩尚不够用，援助美国倒是挺快<br/>糊糊不想回家：男人适合去工地干活 不适合当领导<br/>柘溪懒猪：她们都做得比朝鲜好吗<br/>养乐多软糖vv：台湾还是另外算吧…<br/></p></li><li><p><label>发布日期:6月8日</label><p><label>发布时间:20:04</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J5IHT7vkQ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国一顶级化学期刊几天前由于发表了一篇歧视女性和少数族裔，以及鼓吹“学生无条件服从导师”的文章，而在学术圈内受到了大量指责，不得不迅速撤回文章。

这一顶刊Angewandte Chemie发表了加拿大Brock大学捷克裔终身教授Hudlicky致敬30年前的一篇有机化学概述的文章。Hudlicky在文章中写道，有机合成化学社区在过去30年间持续受到了诸如“多样化”、“知识传授方式“、“学术造假”等问题的挑战。

Hudlicky认为，在过去20年间，虽然有大批女性和少数族裔进入学界和医药行业，这些群体和个人仍带有”弱势群体“标签，在招聘、升职、研究经费申请、社区认可度上都受到了优先待遇。这种优待会造成对其他群体的歧视。他指出，所有流程都应严格遵守”能力优先“而不是”身份优先“；强行规定弱势群体的比例是对能力突出的其他人的歧视。对于校方强制性的反歧视培训课程，Hudlicky也表示了不满。

同时Hudlicky提倡旧式的”师父-学徒“式教育方式，认为目前在有机化学界的年轻研究员缺少科学素养，不遵循科学研究方法，而促进传承的唯一方式是推行”学徒无条件服从于他们的师父，类似艺术界、音乐界和武术界。“

文章发表后引起了学术界一片哗然。

”他的意思是，任何非白男研究员都是靠‘多样化’政策上位的，而不是因为他们原本就很优秀。“

”很多白男这么想很正常。但这种和研究领域完全无关，又没有任何数据支撑的纯个人观点文章，是怎么通过了同行评审还被发表了的？“

”‘能力优先’就是个谎言。这些白男自己享受‘身份优先’政策的这么长时间里，为什么从来没抗议过。“

”在所有科研数据都表明，学界存在严重隐性歧视的时候提‘能力优先’，莫非Hudlicky以为自己生活在人人完全平等的乌托邦里。“

”少数群体还在为降低歧视抗争，刚有了一点进展，有些人已经冲出来说这是反向歧视了。“

”我就是因为有机化学界每周80小时的剥削制度而主动放弃学业的。他难道看不见这种学徒制的弊端么。”

Cathleen Crudden，这家期刊的编辑之一，直接向期刊提出了辞呈。

同时在社区中也出现了大量不同的声音：

”你们都反应过度了，这位教授说的是‘能力优先’，不正是反对群体歧视的论点么。“

”‘能力优先’现在变成‘种族歧视’了，情感发泄代替了理性辩论。“

”这是他的言论自由。”

“我痛恨那些只会说政治正确的漂亮话的人。“

出版方在第一时间撤回了文章，各大平台已经看不到Hudlicky的原始文章了。这种处理方法也受到了社区的谴责。很多人认为，这种文章一旦撤回就失去了被永远铭记在历史中的机会。正确的处理方法应该是：正常发表，然后发表针对性的批判文章作为回应。但也有人担心，历史上曾经出现过这种文章，由于没有撤回，在之后的几十年间都不断获得社区一些人的引用和关注，造成了更大的影响。
（来源：Angewandte Chemie，retraction watch）

▲ 如何处理争议文章：开放辩论还是及时止损，你怎么看？</label><p><label>阅读量:2.1万</label><p><label>转发:10</label><p><label>评论:3</label><p><label>点赞:28</label><p>评论内容:<br/>无风行无叶：看来哪里都一样<br/>z远游：我就想不通一点，好好的化学期刊为什么发鸡汤<br/>我半年能瘦30斤：呵呵，angrew居然会支持这样的声音，太让人失望了<br/></p></li><li><p><label>发布日期:6月9日</label><p><label>发布时间:16:34</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J5QKSycuB?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国城市慕尼黑的街道上最近大规模出现了在线视频网站Joyn的一则节目宣传广告。广告上有两名女性，并配有“老的？小的？新的！是我想睡的母亲，还是小姐？”的宣传语。

这则广告在社交媒体引发了大量投诉。慕尼黑副市长Habenschaden也在她的推特账号上表示了不满。

“这则广告令我愤怒。”Habenschaden写道：“现在全城都挂着这个充满性别歧视的厌女广告牌。在2020年还能看见这种落后的东西，实在是匪夷所思。把女性分类为老的新的想睡的，还敢挂在公共场合。每天都有未成年人从旁边走过，这种性别刻板印象会对他们造成什么影响？”

虽然Joyn公司对广告的负面影响不以为然，但他们仍然快速撤换了广告牌。

这则新闻在慕尼黑晚报的网站上发布后，出现了大量读者留言表示不能接受广告牌被撤。高赞留言包括：“这是要规定我如何走路，吃什么，看什么电视节目么”，以及“‘我想睡的母亲’明明是一句夸女人有吸引力的话”等等。
（来源：慕尼黑晚报）

▲ 说别人小题大作的人，往往因为自己并不是受害者</label><p><label>阅读量:3万</label><p><label>转发:8</label><p><label>评论:1</label><p><label>点赞:25</label><p>评论内容:<br/>无我来了呐呐呐：欧美反智的一点不比爹国少<br/></p></li><li><p><label>发布日期:6月10日</label><p><label>发布时间:21:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J62fk8CUV?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:Freshta是住在阿富汗首都喀布尔的一名就读工科的女大学生。在新冠疫情以前的几个月内，她通过NGO组织Ebtakar的帮助，成立了自己的送餐连锁队伍。她的队伍全部由女性组成，她们开着40辆三轮摩托车，每天负责为男性客户们送汉堡和米饭。

“开始当他们看到是女性在送餐，会很诧异。但两三个月以后他们就习惯了，还会支持我们。”Freshta说。

但3月26日开始，喀布尔由于疫情原因宣布封城。Freshta不仅是全家六口人的主要经济支柱，还需要自己负担大学学费。为了解决向Freshta一样的阿富汗女性的生计问题，NGO组织Ebtakar帮助她们将送餐三轮车改造成了移动的消毒车。

Freshta从四月开始就开着她的三轮车走街串巷，为汽车，商店和公共空间提供消毒服务和口罩、手套、消毒液等卫生用品。她们的这项工作得到了阿富汗政府和联合国的支持。

国际乐施会（Oxfam）在一项报告中提出了对疫情期间阿富汗妇女处境的担忧。“父权社会限制她们的自由和其他基本人权如教育和健康，控制她们能得到的资源，不允许她们为自己做决定，而且不能保证她们不受暴力威胁。新冠疫情加重了阿富汗的性别不平等。”

“女性在疫情期间由于收入减少，她们的经济和社会独立性会受到严重挑战。在很多家庭中，允许女性外出的唯一理由是她们可以赚钱。”

即使在新冠疫情以前，喀布尔的大街上也很少有送餐或经营街边摊的女性。“全社会都在污名化工作女性，并阻止她们获得同样的经济机会。尤其是在餐饮业。”一位女性说，“我们想鼓励更多女性进入男性主导的行业。”
（来源：卫报）

▲ 经济独立有助于女性争取权利</label><p><label>阅读量:2.7万</label><p><label>转发:14</label><p><label>评论:2</label><p><label>点赞:45</label><p>评论内容:<br/>无日你不要过来啊：<br/></p></li><li><p><label>发布日期:6月12日</label><p><label>发布时间:13:57</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J6i0z2wtb?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:1970年5月29日，英国通过了《同工同酬法案》。但直至今日，同工不同酬的现象仍然在发生。
  
2018年6月，BBC前编辑凯莉·格雷西胜诉了，起因是她发现，自己的薪酬竟然比男同事要低10万英镑。无独有偶，主持人萨米拉•艾哈迈德也赢得了与BBC就同工同酬的官司。
  
英国性别平等慈善机构Fawcett Society的研究显示，60%的职场女性要么不知道男同事的收入水平，要么认为自己的收入低于男性同事。
  
Young Women 's Trust的CEO索菲•沃克表示，同工不同酬在职场太常见了。主动挑战雇主对女性来说也许很难，尤其是如果她们顾虑这会对自己不利。不过，女性完全可以且应该要求她们的雇主给出解释。
  
要如何知道你的薪水比别人少呢？
  
了解其他人薪酬最常见的方式是通过工作场所的聊天。
如果你在一家员工数超250的公司，那么开始调查的一个好方法是查看他们公布的性别薪酬差距数据。这可以提供一个初参考。
  
如果你发现薪资不平等，你该怎么办?
  
首先，找到一位有比较性的同事，向你的雇主阐明你是如何和他做着相同的工作，并询问这一差异的原因。如果你以后决定上诉，采取这些步骤将会很有利，因为你的雇主有义务参与这个过程。
  
你应该告诉同事你的情况吗?
  
当你感到无助和孤独时，或许很渴望向同事倾诉。不过最好不要和同事们讨论这个问题。如果你想要倾诉，注意有策略地选择和谁沟通以及你的目的是什么。
  
你需要做好离开这个职位的准备吗?
  
这取决于你想要的是什么。补偿？讨公道？或是升职？你是否已经给自己留好后路，或者你宁愿不要过河拆桥？每个人的情况都不一样。只有你知道对你来说最重要的东西是什么，这应该与你想得到的东西相权衡。”
（来源：独立报，翻译：桃子sumyee）

△ 勇敢争取同工同酬，这是你的权利</label><p><label>阅读量:2.3万</label><p><label>转发:11</label><p><label>评论:1</label><p><label>点赞:57</label><p>评论内容:<br/>无江白盐：然而我们公司禁止谈论工资，呵呵<br/></p></li><li><p><label>发布日期:6月15日</label><p><label>发布时间:14:16</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J6KpIs2s1?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:赞比亚</label><p><label>内容:自行车改变赞比亚女性的命运：自行车的到来，大大降低了把鲜牛奶运到市场的时间，这让女性的收入大幅上涨，同时也促进了整个社区的发展。
  
Anick Lubinda是赞比亚一个小村庄里的奶农，同时她也是Kawazi，一个拥有9460名成员的女性合作组织的主席。在这个自行车计划开展以来，她的送奶之路发生了翻天覆地的变化。

她说：“女性是推动这个改变的先行者，她们需要管理家庭，做家里的家务——包括接送孩子上下学、打水、种菜。我们女人总是需要更努力地工作，去供给家庭，只有这样才能够改变现状。我们只能依靠自己。”

Lubinda之前是步行把牛奶送到7公里外的市场，这通常需要花1个小时半的时间，而且通常都会不小心把奶洒在路上，因此，她只能以较低的价格卖出这些有点变质的牛奶，而这些钱根本没办法负担孩子的学费。

自从有了自行车，她只需要花40分钟车程，而且牛奶依然是新鲜的，这不仅让她的收入涨了一倍，而且她还能买一些额外的食物和学习用品给孩子们。

她说：“我为我的自行车骄傲，整个社区的女性都非常喜欢自行车，因为它让我们获得了更好生活的机会。”

Judith说自行车去年救了她的命，因为去年恶劣的干旱天气，她必须要到65公里外的地方才能买到食物，如果没有自行车，估计她和家人都会死掉。

Chimunya现在骑的是她爷爷的自行车去7公里外的学校上学，过去她走路得花90分钟，但是现在30分钟就行啦，她今年21岁，生了小孩后重返校园，她的梦想是当一名警察。

Kanene，今年26岁，在赞比亚的Kalomo 开了一家自行车行——Buffalo，她主要向奶农们供应自行车，而且还雇了135个女性为她工作，而这个车行帮了很多社区里的女性走上自足之路。

Gatawa，今年22岁，现在是Buffalo自行车行的修车工，她说当她开始学修车时总有人跟她说“这对女孩来说不是一件容易的事情”，但是她很坚定“如果你可以做到，那么我也可以做到”！
（来源： The Guardian，翻译：小容）

△依靠自己才能改变命运</label><p><label>阅读量:2.3万</label><p><label>转发:14</label><p><label>评论:4</label><p><label>点赞:77</label><p>评论内容:<br/>无蓝河星落：要记住自己赚钱的辛苦，不忘男人聊天时的悠闲，不要有了钱后还把地位让给好吃懒做的人<br/>闻珺珺珺珺：博主，军队文职招聘公告出了，大量职位都要求男性，可以关注一下吗？<br/>红泥小火炉煮茶：勤劳的女性。加油！<br/>下雨天撑大伞：太惨了这些女性<br/></p></li><li><p><label>发布日期:6月16日</label><p><label>发布时间:13:06</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J6TnRawvJ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:萨米拉(Samira Ahmed)是BBC的资深新闻节目负责人，为BBC工作了30年。今年初，她打赢了针对BBC性别薪酬歧视的官司，获得了几十万英镑的赔偿，用自己的方式改写了BBC的历史。萨米拉的案例会鼓励更多女性员工提起类似诉讼，律师所估计BBC的赔偿总额将达到几百万英镑。

去年10月，萨米拉将BBC告上了法庭，理由是BBC的另外一个节目《观点》的男性主持人Vine，每一集能够从BBC获取3千英镑的报酬，而萨米拉负责的十分类似的《新闻观察》节目，每一集她只能获得440英镑的报酬。

在法庭上，代表BBC的律师这样辩解：Vine是比萨米拉出色七倍的节目主持人，因为他“眼里有光”。

很遗憾，法官并不买账。“Vine先生只负责朗读写字板上写好的文案，”法官说，“如果文案指示他‘翻白眼’，他就会翻白眼。这个工作并不需要特别的技能或工作经验。”

BBC还辩称，Vine的名气使他的市场价值大于萨米拉。法官却表示，调查显示，Vine的薪资水平严重超出了他本人的实际市场价值。

据此，劳动仲裁法庭不认为BBC的薪酬差异有性别歧视以外的合理理由。

英国法律要求，每户家庭每年需强制性缴纳147英镑电视转播费用。这笔费用直接支持了BBC作为国有电视广播公司的支出。2017年，BBC被政府勒令公开所有年薪超过15万英镑的员工姓名和薪酬。公开的96人年薪超过了英国首相，其中一个明星主持人年收入达到220万英镑。这些人中绝大部分是白人男性。

BBC公开的数据引发了英国国内大面积的关于性别和种族薪酬歧视，以及对于如何更好使用公共资源的讨论。

在BBC公开薪资数据之后，33名女性员工联名致信BBC，要求同工同酬。到目前为止，有超过20件案件在审理中。Carrie Gracie，BBC的中国区总编辑，由于薪酬不到她男性同行的一半而愤然离职。事后虽然她获得了BBC的补偿，但她也提到了这些敢于站出来的女性所面临的巨大风险。

“站出来说话可能导致你被行政处罚甚至开除；上诉会毁了你的事业，让你经济上陷于困境。不仅如此，BBC会在庭外调解的同时强迫你签署保密协议——这种逐个击破的方式完全无助于解决系统性歧视。”

很显然，必须有个人出来打破BBC这种“逐个击破”的战术。萨米拉成为了这个人，她拒绝了BBC庭外调解的建议。“我无法掩饰我的兴奋。”萨米拉说，“走在街上会有人过来祝我成功，胜诉后很多人来感谢我。”

在这几个月时间中，虽然BBC的律师尽其所能诋毁萨米拉的职业素养，她仍然非常成功地保持了冷静。就在上个月，BBC的一个节目主持人Marr采访了BBC总裁关于萨米拉案件的看法（Marr在节目开始还忘记了萨米拉的名字）。这位总裁说了很多关于透明度的话。但实际上，萨米拉胜诉后，她的深度波斯报道被放在了BBC第四频道播出，而不是更重要的第一或第二频道。

今年3月，萨米拉由于她的波斯系列深度报道而赢得了年度最佳媒体人奖项。在这个报道中，她和她的团队史无前例地获得了伊朗政府的支持，向她开放了多个之前未对西方世界开放的地点。“如果Marr或Vine拿到了这么多伊朗的采访特权，我知道他们一定会得到第一频道的播放时间。”萨米拉说。

萨米拉的父母相识于1960年代的伦敦，她的母亲是来自印度北部的印度教徒，父亲是来自巴基斯坦的穆斯林。萨米拉在完全开放的宗教教育中长大，曾学习阿拉伯语和古兰经，经常和母亲拜访印度教神庙，并毕业于一所天主教学校。

萨米拉的父亲在退休前有自己的生意，向伦敦的印度和中国餐厅提供餐饮服务。她的母亲曾是一名演员。现在虽然母亲已经80岁了，还经常跟萨米拉提起，“我觉得我还能去宝莱坞试试运气。”

萨米拉从青少年起就关心各种时事，甚至会将报道长期保留下来作为参考资料。从那时起，萨米拉就相信这个世界上只有两种人：“同谋者和反抗者”。

“1970年代的英国充满种族歧视。”萨米拉回忆，“如果走在街上有人侮辱我们，我的母亲都会狠狠瞪回去，然后跟我说，不要怕这些人。”

在萨米拉的记者生涯里采访过很多吹哨人。她在一次广播中曾回忆自己年轻时如何挑战权威：那时距离BBC公开薪酬水平还有一年时间。事实证明她一直都有挺身而出的勇气。
（来源：卫报，AP）

▲ 增加企业薪酬透明度，才能消除系统性歧视，促进同工同酬</label><p><label>阅读量:2万</label><p><label>转发:14</label><p><label>评论:2</label><p><label>点赞:45</label><p>评论内容:<br/>无成长期的武则天：优秀的姐姐我们要做出实际的抗争动作！<br/>不soso的经济学家：厉害厉害<br/></p></li><li><p><label>发布日期:6月17日</label><p><label>发布时间:14:13</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J73fJBubi?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:古典音乐中的女作曲家都去哪里了？钢琴家Kyra在她的新演奏曲目中包含了莫扎特时代的德国女作曲家Sophie Westenholz的作品。

Kyra在镜报的采访中说，Westenholz的音乐个性鲜明，技巧性强，并且因为Westenholz自己就是位出色的钢琴家，她谱写的曲目上手都非常流畅。Westenholz还曾经是一个乐团的负责人，但是她遭到了乐团的抵制：他们不能接受一位女性作为乐团领导。

Kyra希望能够挖掘越来越多的女性作曲家，通过自己的诠释，让更多人欣赏到这些在历史中被故意忽略的女性的优秀作品。

她的这个计划开始于这一天：当Kyra正在找门德尔松d小调三重奏时，偶然发现了他的妹妹Hensel作曲的d小调三重奏。她被这首曲子表现出的才华震撼了，同样震撼的是，她意识到自己作为职业钢琴家，竟然完全没听说过Hensel的名字。“整个学习期间，没有一本课本里提到过她。”

“从小到大，我一直以为女性不擅长古典音乐作曲，而且从来没有质疑过这一点。”Kyra说，“直到我发现，我对古典音乐的认知竟然如此不完整。”

2019年全球最多被演奏的50名作曲家中，仅有13位女性；而在4年前，还仅仅有6名女性榜上有名。由于历史上系统性的忽视，女性作曲家的名声不大，造成票房号召力也不大。但Kyra认为改变正在慢慢发生。莱比锡市刚刚举办了女作曲家克拉拉舒曼的200年诞辰纪念。

同时Kyra还与电影导演合作制作了一系列关于女作曲家的短视频，这些视频将出现在未来的音乐理论课程中。
（来源：明镜）

▲ 没有什么不适合女性的职业，有的只是系统性歧视</label><p><label>阅读量:2.2万</label><p><label>转发:12</label><p><label>评论:1</label><p><label>点赞:30</label><p>评论内容:<br/>无小流氓猫：想听，可是这些音乐找不到<br/></p></li><li><p><label>发布日期:6月18日</label><p><label>发布时间:15:07</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J7d25d1eV?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:疫情爆发中维持社会系统运转的职业，有60%都是女性从业者。这些职业包括看护和照顾，个体经商，清洁卫生等。然而在疫情中失去工作或收入降低，以及承担家庭中无偿看护责任的人，大部分也是女性。

新冠疫情让平权进程倒退了几十年。有媒体把这一现象称为“女权的灾难”：疫情放大了所有的权利不平等。“女性将会持续体会到这种令人厌恶的‘再传统化’。”一位德国社会学家Allmendinger说，“我认为，女人们不太可能短时间内从这种情况中恢复。她们将不得不继续被困在家中做贤妻良母。”

现在的情况对性别平权确实不利：女性正在经历成倍增长的家暴，堕胎正变得越来越难，家庭和工作的双重重压使她们连为自己争取权利的时间都没有。

根据历史统计数据，每一场灾难过后，也是女性的经济状况受到比男性更长时间的影响。

Baum在她的文章中也指明了目前的这种倒退：在整个德国新冠专家组里有24名男性，但仅有2名女性，平均年龄超过60岁。在整个疫情期间，“好比女人们都辛苦地跪在地上擦着地板，而男人们都在高谈阔论，该以什么样的姿势擦地板。”

德国一个基金会的调查显示，疫情以前原本实行照护责任公平分配的家庭中，在疫情期间有近40%已经改成由母亲承担主要责任。

但与此同时，受歧视的群体也正在觉醒。她们更清楚地了解自己的力量和正在受到的不公正待遇。在疫情这种特殊时期，社会运动并没有因此而受到毁灭性打击。她们的愤怒也可能成为平权道路上新的力量。
（来源：明镜周刊）

▲ 更清楚地了解自己的力量和正在受到的不公正待遇，会使她们成为平权道路上新的力量</label><p><label>阅读量:2.5万</label><p><label>转发:29</label><p><label>评论:4</label><p><label>点赞:61</label><p>评论内容:<br/>无Megique：你好，请问有原文标题么？<br/>雨过天晴郑：这个该死的男权社会！<br/></p></li><li><p><label>发布日期:6月19日</label><p><label>发布时间:17:05</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J7nesCpLR?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:人权观察组织在其成立一周年前夕的一份报告中说，各国政府应优先批准国际劳工组织的《暴力与骚扰公约》。国际劳工组织的政府，雇主和劳动者于2019年6月21日通过了具有开创意义的条约，该条约为预防和应对工作中的暴力和性骚扰设定了国际法律标准。

31页的报告“工作中的尊严与安全：《 2019年国际劳工组织暴力与骚扰公约指南》”，着重强调了条约中规定的政府的主要义务以及政策要素。

该条约规定了政府的最低义务，包括确保制定全面的国家法律，以防止工作中的骚扰和暴力，并采取预防措施，并要求受害者采取补救措施，包括投诉系统、举报人保护、服务和赔偿。

该条约涵盖工人、受训者、已被终止雇佣的工人和求职者等，并且适用于正式和非正式部门，包括公共部门和私营部门。它还包括解决涉及第三方（例如客户，客户或服务提供商）的暴力和骚扰的要求。

该条约承认暴力和骚扰不仅限于实际工作场所，还包括与工作有关的其他活动，例如通勤和异地工作。它还要求政府确保雇主的工作场所有明确的安全措施以应对暴力和骚扰。

该条约专门针对基于性别的暴力，包括家庭暴力，以使家庭暴力幸存者能够在不失去工作的情况下寻求帮助。

一些全球工人和妇女权利组织正在开展活动以推广这些标准，并敦促各国政府尽快批准该条约。这些包括全球工会，例如国际工会联合会，国际家庭工人联合会和其他几个全球工会。

“没有人应该容忍暴力和骚扰，但对于许多工作者尤其是女性，这通常是保持工作的一部分。” 人权观察组织妇女权利倡导主任尼莎·瓦里亚（Nisha Varia）说。“国际劳工组织《暴力与骚扰公约》就如何预防这种暴力以及如何保护工人免受污名和报复行为向政府提供了知指导，以便他们可以得到应有的公正。”

2020年6月12日，乌拉圭成为第一个批准该公约的国家，该公约将在第二次批准后生效。阿根廷，比利时，斐济，芬兰，法国，德国，冰岛，爱尔兰，意大利，纳米比亚，菲律宾，南非，西班牙和乌干达已表示将要批准。批准国同意使本国法律与条约标准保持一致，并将由国际劳工组织定期审查其遵守情况。
  
在冠状病毒大流行的背景下，平权运动的进行和医护工作者的被暴力迫切需要采取强有力的措施，以防止相关工作者的暴力和骚扰，并确保幸存者获得服务和补救措施。人权观察组织记录了世界各地工作中的暴力和骚扰，包括农业，家政，教育，渔业，制衣业，卫生，新闻，采矿，公职和军方。

国际劳工组织发现，许多国家的现行法律排除了最容易遭受暴力侵害的工人，例如家政工人，农场工人和不稳定的工人。一个2018年世界银行的一份报告发现，在189个经济体中，有59个没有关于工作中性骚扰的具体法律规定。
（来源：Human Rights Watch，翻译：向司予）

△针对工作场所性暴力和性骚扰应有更严格的法律</label><p><label>阅读量:2.5万</label><p><label>转发:3</label><p><label>点赞:18</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月22日</label><p><label>发布时间:15:17</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J7OO8DLDO?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:据专家所说，新冠再次带来的经济冲击对于女性打击很大，因为有很多女性在严重暴露于病毒环境的服务行业工作。

这场爆发的本质意味着在相对低收入的脆弱职场环境中（比如酒吧，会议场馆，理发沙龙，酒店，餐厅这些面临关门的地方）比起男性，女性更容易失业或辞职。

在城市封锁期间，学校的关闭让这样的情况更加严重，因为有比起男性，有更多的女性倾向于照顾和教育她们的孩子，甚至在她们离家工作的时候也需要如此。

随着感染率和死亡率的逐步下降，社会的封锁程度减轻了，但服务业相关的场所往往是最后一批返工的，这是因为这些场所需要聚集很多人。

在英国，在家隔离的措施自这个月起逐渐放宽，酒吧餐厅等预计从7月4日开始逐步返工。英格兰实行的有计划的返工从露天市场和汽车展厅开始，也有一些孩子们回归校园。

但是，不是所有小学生都会在漫长的暑假（从7月中旬持续到9月初）前回归学校。

从单个家庭的角度来看，相比较父亲，母亲有1.5倍更大的可能性失业或者辞职。女性也更可能被准假，或者暂时由英国政府的职位保留计划支付其工资。
（来源：channelnewsasia，翻译：Zephyr）

△疫情使性别不平等更突出</label><p><label>阅读量:4.3万</label><p><label>转发:14</label><p><label>评论:6</label><p><label>点赞:40</label><p>评论内容:<br/>无红泥小火炉煮茶：女性更容易失业，还一心牵挂孩子和家庭，无语了。<br/>杰克苏6666：新冠疫情打击的是一波从事女性刻板职业的传统女性，换个角度看，鼓励女性从这些职业中解脱出来。<br/>红泥小火炉煮茶：说男人纳税给失业女性补贴的，你完全可以滚回家做家庭夫男，让女性出去工作，让女人养着你。<br/>李安普：男人工作纳税给失业的屌丝女人补贴生计，你们还不满意？<br/>巨蟹Melody：什么时候才能发放没有回乡证的人过关呢。这般人好无辜的被困在澳门。<br/>发条wei_bo：哇我才发现你是石家庄的？<br/></p></li><li><p><label>发布日期:6月23日</label><p><label>发布时间:13:21</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J7XttjZ2x?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:许多疾病包括新型冠状病毒会以不同的方式入侵男性和女性。该现象的产生主要是因为男女之间不同的生物构造和行为方式非常复杂。

但我们确实知道一点，这些不同只在医学研究包括了女性研究人员的情况下才更容易被发现。反观现在我们面临的情形，女性科学家处于一个前所未有的无法充分参与其中的状态。

更令人担忧的是，数据足以证明一切：1370份与新冠相关的论文发表在医学期刊上，一共有6722位作者，但其中只有34%的女性。该数据来源于Ana-Catarina Pinho-Gomes，一位来自牛津大学的研究人员。

“这是一个超越了性别平等和公正本身的问题。这可能更近一步地影响我们对新型冠状病毒的理解。”Pinho-Gomes如此说道。

Pinho-Gomes相信：随着新型冠状病毒对男性产生了更大的病理性影响，长期的经济和社会困境变成了女性肩膀上更沉重的负担。无论如何，用一种考虑到性别差异的角度去有区别地看待新冠是非常重要的——不管是在实验室里，医院里，或者其他地方。
（来源：CNN，翻译：Zephyr）

△用一种考虑到性别差异的角度有区别地看待新冠非常重要</label><p><label>阅读量:4万</label><p><label>转发:13</label><p><label>点赞:25</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月24日</label><p><label>发布时间:13:40</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J871B3DiL?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:马耳他</label><p><label>内容:当医生告知Marija她并没有流产时，Marija非常失望。她已经连续吃了几天堕胎药物。但她没法告诉医生这些药物的存在，因为马耳他是欧洲唯一一个堕胎严格违法的国家——没有例外，即使是强奸、乱伦、胎儿异常、母亲生命受到威胁的情况下。

二月中旬，Marija成功在英国的一家诊所堕了胎。她是一个人去的，旅行一共花费了1500欧元，相当于这个34岁的会计一个月的工资。

Marija是幸运的。马耳他由于新冠疫情在3月11日正式关闭国境，也切断了一切通向合法堕胎的道路。目前唯一可行的方法是通过网购堕胎药片，但这属于刑事犯罪。

如果当初没能去英国手术，“我现在应该已经死了。”Marija说，与其必须生下孩子，她会选择自杀。

终止妊娠互助网络，一家协助马耳他、直布罗陀和波兰女性跨境实现堕胎的慈善组织说，自3月各国关闭边境以来，她们收到的求助电话明显增加了。目前她们能做的只是分发堕胎药片。

马耳他的反堕胎法律源于英国殖民时期。作为刑事犯罪，任何堕胎和协助堕胎的人都面临最高3年监禁。虽然实际被起诉的案例并不多。

Lara作为支持堕胎权的人权律师，谴责严格反堕胎法案“丑恶至极”。另一些活动家则指出，疫情以前，这项法律仅仅惩罚负担不起旅行费用的穷人，而疫情使一些中产女性也不得不冒刑事犯罪的风险。“现在连有钱人也终于体验到了一个穷女人在一个不允许堕胎的国家面临的困难。”

Isabel是全国唯一一名公开支持女性自主堕胎权的妇科医生。她的病人都有耸人听闻的故事，比如“我被诊断出了严重的健康问题，但医院不给我堕胎，我该怎么办？”

2012年，爱尔兰的Savita在出现严重健康问题时被医生拒绝堕胎而死在了手术台上。这一事件推动了爱尔兰堕胎法律的改变。

2014年，一名在马耳他度假的加拿大孕妇怀孕17周时羊水破裂，但当地医院拒绝治疗。她被紧急救援至其他国家。由于延误治疗她还要面对严重感染。

被采访的所有有堕胎经历的女性都拒绝使用真名。马耳他的社会和家庭并不支持堕胎。“如果我父亲知道我曾经堕胎，他会断绝父女关系。”Charmaine说。

反堕胎仍然是马耳他的主流。绝大多数大学生也反对堕胎。而作为儿童性教育的一部分，孩子们被要求观看录制于36年以前，臭名昭著的反堕胎宣传片《The Silent Scream》。

Lara律师提到，她在家里曾被人射击，墙壁上至今留有子弹。她的车胎会被扎。

就像80年代整个马耳他社会反对避孕一样，现在的马耳他社会对于堕胎的态度也在悄悄放开。但距离修改法律还有很长距离。现任马耳他总统高调表示反对堕胎。

马耳他的国境将于7月1日重新开放，但堕胎并不会变得容易。允许跨境旅行的第一批17个国家中并不包括堕胎友好的英国、荷兰、西班牙或比利时。
（来源：卫报）

▲ 无论堕胎还是生育，都是女性对身体的自主权，其他人无权干涉</label><p><label>阅读量:1.2万</label><p><label>转发:7</label><p><label>评论:1</label><p><label>点赞:52</label><p>评论内容:<br/>无红泥小火炉煮茶：女性自己的身体自己不能做主，反而要男性制定的法律来规定她们如何做，真他爹反人类！<br/></p></li><li><p><label>发布日期:6月25日</label><p><label>发布时间:14:04</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J8gC7wtDq?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:乌克兰</label><p><label>内容:乌克兰首都基辅一家旅馆的大厅里并排躺着50个小婴儿，他们是代孕婴儿，而他们在境外的父母由于疫情影响无法进入乌克兰。

乌克兰公司BioTexCom是全球最大的代孕公司。他们只能通过每天直播婴儿的状况保持与父母的联系。新冠疫情放大了原本就存在于代孕产业的道德问题，乌克兰有儿童保护专家提议国家禁止海外客户的代孕服务。

但在这个人均月收入仅300英镑，并处于局部战争中的国家来说，很多限于贫困的女性都在排队提供代孕服务。

39岁，有三个孩子的单身母亲Liudmyla还在等待她的德国客户支付6000欧元的尾款。今年2月，她为这对德国夫妇生了一个女儿。但由于疫情影响，这笔钱到现在也没到账。

“把她交出去的时候我一直哭，”Liudmyla说。在照顾了代孕女儿两天之后，把她交给别人简直太难了。

但是她急需这笔钱为她自己的三个孩子找到容身之所。2017年她的第一次代孕就把她送进了ICU，但为了还清购买住房的贷款，她还是决定再代孕一次。

虽然没有官方数据，但人们估计每年有几千名代孕婴儿出生在乌克兰。80%的代孕是服务海外客户的，因为乌克兰的代孕流程合法且成本低廉。法律要求客户是已婚不能生育的异性恋夫妇。

通常一次代孕服务约为2万5千欧元，代孕母亲能拿到约1万欧元。

38岁有两个孩子的Shulzhynska在2013年做过一次代孕母亲。由于4个受精卵都成功着床，客户在选择了一个女婴后，另外三个受精卵被手术移除。她为此得到了9千欧元报酬。但很快她发现自己得了宫颈癌。现在她刚刚订了一副拐杖：由于癌症扩散，她的左腿即将被截肢。

2015年，Shulzhynska起诉BioTexCom不顾孕母的身心健康。这起刑事案件目前正在审理中。

Kovalchuk曾作为检察官负责BioTexCom的多起官司。他知道至少还有3名女性正在起诉这家公司，因为她们在代孕后被摘除了子宫。他还提到了另外一起贩卖人口案：一对意大利夫妇发现他们领回的孩子与自己并无血缘关系。

BioTexCom公司的负责人坦言，公司有时会搞混卵子。他还说，至少有3对客户由于出生的婴儿有健康问题而拒绝认领婴儿。其中最出名的案例是Bridget，她在2016年被美国父母拒绝后一直生活在乌克兰东部的一个孤儿院里。

律师Lehenka提到，孕母们经常提起交出婴儿时造成的心理负担，以及为提高怀孕几率而不得不服用的荷尔蒙药物使她们十分不适。她希望乌克兰能够禁止商业代孕。

Sokolova曾经是一名代孕母亲，现在她为一个帮助孕母的NGO组织工作。在新冠疫情期间，她收到了更多的虐待投诉。一些代孕母亲说，她们被要求在签署合同后一年内不断被植入受精卵，直到怀孕。“这种合同将她们变成了公司财产。”Sokolova不认为禁止商业代孕是正确的，她希望能有更好的法律框架保护孕母们。

26岁来自乡下的Olga将会生产一对双胞胎男婴。这是她第二次为来自中国的客户代孕双胞胎男婴了。她目前和自己的丈夫和年幼的儿子住在基辅一家旅馆里。她提到会用这1万3千多英镑的报酬在家乡开一家咖啡店。但现在她担心客户能否及时入境。否则她将必须临时照顾这对双胞胎。她说起曾有孕母因为客户拒绝接收而不得不领养婴儿。

来自西班牙的新晋父亲Aires正在小心地照顾他的女儿Marta。他是在新冠疫情以前入境乌克兰，来接走他的女儿的，但现在由于边境关闭，已经在乌克兰滞留了几个月。但他和他在西班牙的妻子仍然非常开心。“我们之前试了8年都不能怀孕。而现在，你瞧！”他说。
（来源：卫报）

▲ 代孕合法化的前提，是全社会对法律和伦理问题的充分讨论</label><p><label>阅读量:4.9万</label><p><label>转发:45</label><p><label>评论:10</label><p><label>点赞:107</label><p>评论内容:<br/>无轩阖：#坚决抵制代孕合法化# //@谁吹行云使西来:#坚决抵制代孕合法化#<br/>酥风杏雨懒言双：#坚决反对一切形式的代孕# //@螺蛳粉猫咪:代孕合法的我记得有乌克兰、泰国、美国的部分地区，还有一些我忘了，（好像现在泰国都不合法了？）共同特点都是政府很菜，保护不了自己民众，发展不了经济，只有卖自己老百姓的子宫<br/>ACE大橙子啊：人均月收入300英镑 也不算太低吧？ 我们才多少<br/>这么多年神经病一直没好：那些支持代孕合法化的人来看看吧，看看女人是怎样被合法的剥削，合法的被吸干血的！<br/>明教教主猫尊：代孕还有加拿大和格鲁吉亚<br/>小狗吐司-：#坚决抵制代孕合法化#<br/></p></li><li><p><label>发布日期:6月26日</label><p><label>发布时间:17:33</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J8rppaJHy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:性别收入差距在大学毕业后就开始了。

就业数据显示，从学生大学毕业的那一刻起，男性薪酬的优势就开始显现。同时，黑人毕业生更有可能在劳动力市场上受到不平等对待。

大学从初入职场的毕业生中收集的数据发现，在离开大学15个月后，男性的收入已经开始比女性平均高出10%。而且即使是拥有相似学历的毕业生中，收入差距仍然很大。

英国高等教育统计局(Hesa)首次公布的数据显示，2018年获得本科学位并在英国从事全职工作的大多数毕业生年收入在2.4万至2.7万英镑之间。但平均而言，在高收入阶层中男性占大多数。只有16%拥有本科学位的女性在15个月内收入超过3万英镑，而男性的这一比例为28%。在最高收入阶层中，男性的比例是女性的两倍：6%的男性毕业后年收入超过3.9万英镑，而女性只有3%。

年轻女性信托(Young Women’s Trust)的Joe Levenson表示，年轻女性毕业后不到一年的时间，就会发现自己的处境比同等年龄的男性更糟糕。
  
“如果想要解决这些不平等，我们亟需打破职场中的性别刻板印象，这种刻板印象使年轻女性无法从事薪酬更高的职业。在新冠疫情爆发期间，被迫被政府暂停的性别薪酬差距报告需要立即恢复，以暴露全国职场中存在的不平等现象。我们还需要做更多的工作，以确保雇主在薪酬和晋升方面做到透明。”
  
最新的毕业生现状调查结果显示，81%的毕业生有工作或无薪的工作，其中76%的人生活在英国从事高技术工作。但只有一半的黑人毕业生在毕业一年多后找到了全职工作，而超过60%的白人学生找到了全职工作。
  
数据还显示，只有3%的白人大学毕业生在获得本科学位15个月后没有工作，而黑人大学毕业生失业的比例为6%，亚裔大学毕业生为7%。
  
英国高等教育监管负责人Chris Millward表示，调查问卷中越详细的回复，意味着毕业生们认为他们的工作很有意义，且他们正在应用在大学里学到的东西。
  
“显然，要确保所有学生群体都能平等地获得这种感受还有更多的工作要做。令人担忧的是，黑人、亚裔和少数族裔学生比白人更有可能失业，而女性在低收入群体中所占比例过高。”
（来源：卫报，翻译：sumyee桃）
  
△要想打破性别收入不平等现象，打破职场中的性别刻板印象尤为重要。</label><p><label>阅读量:3.1万</label><p><label>转发:14</label><p><label>评论:4</label><p><label>点赞:65</label><p>评论内容:<br/>无红泥小火炉煮茶：不是凭能力，而是按性别和肤色发薪水。<br/>渡无间：想知道亚裔里失业的是女性多还是男性多<br/>dearAMOS：亚裔明明成绩更优秀，不过他们可能会拿性格说事儿<br/>嘴平伊之助奥利给：这还是英国数据。国内会更大吧…<br/></p></li><li><p><label>发布日期:6月30日</label><p><label>发布时间:12:05</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J90Y9ek03?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:一位专注德国职业女性经理人的专家Lutz在采访中说，虽然德国股指公司中终于在最近出现了第一位女性CEO，但很遗憾绝大多数女性管理者仍然在不断被排挤出高级经理的岗位。

她指出，在新一轮技术竞赛中，德国传统公司会通过创建创新孵化器，或模仿创业公司工作环境的方法试图体现创新，但同时他们的管理方式以及经理人仍然十分守旧。如果不改变企业的传统文化，表面的创新不可能持久。

当被问及股指公司监理会成员中必须有30%女性的规定时Lutz说，很可惜这项政策也不能被真正落实。很多公司仍然拒绝提拔女性至实权岗位。目前股指公司中董事会成员女性比例仅为8.8%。而在高级经理岗位的女性往往由于害怕被指责而故意对这种性别比例不平衡视而不见。

她认为政府要求公司提升监理会女性比例的做法虽然好，但想从根本解决性别不平衡的问题就必须从最底层的员工开始改变。在她的一项调查中，有80%的公司声称会有意识提拔女性员工，但仅有30%的公司能列举出实际的鼓励措施。

关于半职工作，Lutz认为公司不仅需要提供半职工作的可能性，还需要转变文化，给半职工作更多认可和升迁机会，这样才能真正鼓励男女平权，而不是仅仅把半职工作当成是女性的义务。

Lutz把德国女性目前面对的职场天花板比喻为“低得就像70年代搭建的简易平房的房顶”。与其他发达国家相比，德国的水平“低得吓人”。

她还把媒体常常辩论的“如何平衡工作和家庭”描绘为“一个死胡同”。“如果我们都赞同，家庭已经摧毁了太多女性的职业生涯，那我们应该已经遍地都是孩子才对。但事实并不是这样。我们的情况是，现在既没有女性管理者，也没有孩子。”

当记者问，公司是否会因优先处理其他重要问题如环保和数字化，而忽视女性升值的问题？Lutz回答，有远见的公司都更应该提拔女性，并非因为她们更优秀，而是因为她们更不同，可以带来更多解决问题的视角，更适合推动环保或数字化创新的议题。
（来源：明镜）

▲ 增加公司女性比例，对公司也有很多好处</label><p><label>阅读量:2.8万</label><p><label>转发:14</label><p><label>评论:5</label><p><label>点赞:53</label><p>评论内容:<br/>无女quan：长路漫漫<br/>星云暗物质：任重而道远<br/>-堆堆是小天使-：四条评论两条蛆 心疼大队<br/>难吃难吃：没啥热度啊<br/>末代天囚：最后一段说得好，👊🏻 🦁 好好看好好学！<br/></p></li></ol></body></html>