<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202007微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2020年07月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:7月1日</label><p><label>发布时间:21:27</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J9e4Kioek?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国南卡罗来纳州</label><p><label>内容:她因为不穿裙子，被校方拒绝参加毕业典礼

Clark 是 Lamar 高中的一名高中生，上周二的毕业典礼上，因为觉得更加舒适而穿裤子去参加毕业典礼的她被校方拒绝进入毕业典礼现场，。校方说她违反了学校的着装要求，即“在毕业典礼上，女孩必须要穿裙子”，据说这个政策已经施行了20年。
Clark觉得这个着装要求并不是件大事儿，在此之前，学校里人人都知道她的性取向，并对她中性打扮习以为常。当时大家都已经到场，并且准备好迎接已经等待了12年的毕业典礼，但现在只是因为着装规则，她却永远失去了她体验满心期待的毕业典礼的机会。

“毕业典礼上的女孩必须穿裙子”看似只是一个施行了20年的传统，但是其实她只是穿了男生会穿的裤子罢了，但是校方的重点放在了维护陈规而不是给予Clark宽容与尊重，比一个学生参与毕业典礼更重要的，应该不是学校的面子。

翻译：小容
来源：LGBTQ NATION</label><p><label>阅读量:3.1万</label><p><label>转发:11</label><p><label>评论:8</label><p><label>点赞:83</label><p>评论内容:<br/>无狍大王：啊天啊，现在还有吗，当时美国就是因为要求所有女生毕业舞会必须穿裙子男生必须穿西装参加，闹了好大的一场社会革命。大家都自发男女生反过来着装就是为了这个student dress code，现在大部分描写美国校园生活的美剧都有里面角色反对这个着装规定的剧情。现在居然还是有校方搞这种歧视，唉<br/>Aloha123456：能否给出详细点的链接？是现在发生的事吗？1、加州这么左的地方发生这种事我很难想象 2、现在疫情期间不可能线下毕业典礼。<br/>1粒小麦TL：诶是牛津还是剑桥来着，考试必须穿皮鞋别小花，每场还得是不同颜色的，据说别错色不给进考场。<br/>末代天囚：这个故事告诉我们要遵守校纪校规。<br/></p></li><li><p><label>发布日期:7月2日</label><p><label>发布时间:22:37</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J9nXPvfnh?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:联合国</label><p><label>内容:联合国人口基金会(UNFPA)于30日发表了2020年度的《世界人口白皮书》。推算称近五年间由于性别歧视，有640万名以上的女婴在出生前后“消失”。

据UNFPA称，女婴比男婴出生率低、出生后死亡率高。“本应该能活下来，但消失了的女婴”截止1970年这个时间点约有6400万。她们中有一些是在出生前被堕胎了，有一些是出生后是被人为的放弃了。这种倾向在之后也一直持续，近20年以来，全世界已累计有约1.4亿名女婴在出生前后“消失”。其中中国累计约有7230万女婴“消失”，印度约有4580万女婴“消失”。

UNFPA的《世界人口白皮书》每年都会发表，今年的主题是女性人权侵害问题。全世界约有2亿女性遭受过性｜器切除、约有6亿5千万少女遭遇童婚问题。

🔺性别不平等不止存在于生活，甚至不会给她们生和活的机会。</label><p><label>阅读量:12.1万</label><p><label>转发:146</label><p><label>评论:27</label><p><label>点赞:531</label><p>评论内容:<br/>无红泥小火炉煮茶：等国消失的女性堕掉的女婴绝对是最多的。<br/>天鹅咕咕：女婴没机会活在这种世界也好，活着因为性别被歧视，生不如死。几乎所有的生物都以能繁衍的雌性为贵，只有人类嫌弃能繁衍的雌性，只有人类杀死婴儿，因为人类足够愚蠢。<br/>CIEL_em：能不能好了1.4亿女婴“被消失”啊，中国7230万<br/>午后的水妖：等国应该抗议文末居然没有等国文字版的报告供下载。这是严重歧视，毕竟是联合国六大官方语言呢，居然就这样消失了。<br/>喵喵喵rrrrrr：全世界不才60亿人口？其中6亿5千万少女遭遇童婚！<br/>要去天涯海角流浪啊：【全世界已累计有约1.4亿名女婴在出生前后“消失”。其中中国累计约有7230万女婴“消失”】触目惊心<br/>琳语雅梦：女性有啥错，因为是男人为尊的国度?大家都醒醒吧，看看如今的法律，唉……<br/></p></li><li><p><label>发布日期:7月3日</label><p><label>发布时间:22:28</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J9xkDqjuo?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:人权委员会2018年关于澳大利亚职场性骚扰的全国调查显示，过去五年中，三分之一的人曾在工作中受到性骚扰，其中女性和年轻人的占绝大多数。调查还显示，在某些情况下，性骚扰现象也与等级分明、男性为主和需要直接面对客户的工作环境相关。

尽管雇主倾向于将性骚扰归结于个人行为的不当，但这其实是一个结构性的问题。我们必须停止盲目的认为这是罕见的现象，或“几个坏苹果”的行为。因为事实上，它遍及所有行业和部门。

由于担心自己的工作、声誉和人际关系，仅有一小部分受害者会选择站出来。他们表示这个过程十分残酷。几乎一半的人说，他们因此遭受了负面后果。对于受害者来说，选择站出来公开性骚扰的经历常常是职业的终结。受害者常常被告知，对他们最有利的方式是主动离开。同事和领导对这些事情也常常选择视而不见。

性骚扰的主要驱动力是权力，而不是性，而性别不平等仍然是导致性骚扰的最大权力差距。对于大多数澳大利亚工人，特别是那些从事临时工作的人，在工作中受到性骚扰会损害其工作前景，收入和职场人际关系。

防止性骚扰的责任应由雇主和犯罪者承担，而不是受害者。强大的职场领导管理对于营造安全和尊重的职场文化至关重要。

当性骚扰现象出现时，我们需要改善现有的应对措施。工作单位应优先考虑受害者的利益，并在整个投诉过程中提供支持。我们还需要确保社区支持，建议和倡导服务得到良好的协调，并且每个人都了解如何、在哪里可以获得帮助。

如此普遍的性骚扰现象已被社会容忍或忽视了太长时间。澳大利亚以公平对待所有人而自豪，但在消除性骚扰方面我们还不够出色。此次新冠疫情的应对，需要每个澳大利亚人都发挥自己的全部潜力，这意味着我们需要在工作中获得尊重。
（来源：卫报，翻译：sumyee桃）

△职场性骚扰的的后果不应由受害者承担。</label><p><label>阅读量:5.1万</label><p><label>转发:6</label><p><label>评论:3</label><p><label>点赞:45</label><p>评论内容:<br/>无红泥小火炉煮茶：他们应该写为她们。女性才是遭受职场性骚扰的主要人群。<br/>phoebe威武：土澳1967之前还把土著人当牲口呢。<br/>卢森堡A-Commu：欺软怕硬呗，，<br/></p></li><li><p><label>发布日期:7月6日</label><p><label>发布时间:22:42</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/J9ZHJclTs?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本的哪些工作在招聘时是可以做性别要求的？

1. 在艺术、艺能领域，为了表现真实性等因素，只能让男女某一方来从事的职业。
2. 守卫、警备等出于防卫上的要求，需要让男性来从事的职业。
3. 宗教中、出于风纪考虑、竞技体育中只能由男女一方来从事的职业。
4. 《劳动基准法》第61条第1项、第64条的2或者64条的3所规定的女性不能从事的职业、又或者根据《保健师助产师护理师法》第3条规定的，男性不能从事的职业。
5、因为风俗、风习的不同，性别导致个人能力无法发挥出来的赴海外工作。

🔺大家觉得哪一项还有待完善？或者哪一项仍旧有歧视存在？</label><p><label>阅读量:2万</label><p><label>转发:2</label><p><label>评论:8</label><p><label>点赞:100</label><p>评论内容:<br/>无红泥小火炉煮茶：看似合理，依旧是妥妥的性别歧视，而且主要对准女性。<br/>_Narnia__：都挺扯蛋。<br/>冬眠旳猫：全部歧视。<br/>松荻松翟松棣松谛松袛：我实在想不出来有哪项艺术的真实性能囿于性别<br/>将进饺：女警察和男护士们先被气笑了<br/></p></li><li><p><label>发布日期:7月7日</label><p><label>发布时间:22:19</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ja8YJlBWu?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:奈良县生驹市市立中学内，有多个初中二年级的男学生对同年级女生进行盗摄偷拍，受害人多达20人左右。男学生们通过免费聊天软件LINE共享这些照片和视频，在这个过程中可能还有金钱交易发生。
据市教委称，至少有6～7名男生从去年秋天之后，就开始使用智能手机偷拍女生裙底、换装。

🔺N号房间不分国籍，不是个例。</label><p><label>阅读量:3.3万</label><p><label>转发:15</label><p><label>评论:5</label><p><label>点赞:64</label><p>评论内容:<br/>无Treason_MacLeod：最後又是學校保護屁事都沒有，這是什麼垃圾，diu<br/>芃木W：最后又是息事宁人而已<br/>喜欢兔兔_2005：应该是生驹市教育委员会>_<（奇怪的关注点） ，不过这样的性质真的很恶劣啊……霓虹这问题好像特别严重啊，从上个20世纪末开始就有的拍照卖女学生照片之类的，还有电车上的问题<br/></p></li><li><p><label>发布日期:7月9日</label><p><label>发布时间:11:02</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Janp9srh0?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:根据University College London下属的研究机关调查显示，以性别来统计新冠肺炎的死亡人数的50个国家中，46个国家里男性死亡人数多于女性（截止到5月19日）。例如意大利的死者6成是男性，感染者里女性的死亡率为9.6%，男性感染者的死亡率在17.1%以上。
导致死亡率的男女差异的原因，目前还没有定论。
有专家称，可能是因为女性对于新冠肺炎的免疫反应强，或者是女性特有的荷尔蒙发挥了保护作用。
因此在开发治疗药物和疫苗时，调查清楚药物对男性和女性各有怎么样的作用和副作用，以及对孕妇有怎样的影响尤为重要。
生物性别以外，社会文化造成的生活习惯的影响也很明显。比如有吸烟习惯的患者容易成为重症患者，男性的吸烟率要远高于女性。另外有研究称，男性容易有不正确的洗手方式、不及时就医的习惯。
据联合国调查称，以职业来看，在医疗前线和新冠肺炎战斗的医务工作者7成为女性，感染新冠肺炎的风险居高不下。在日本，医生中女性大约占2成，保健师、护士、护工等9成以上为女性。
东京的5065名感染者中，男性占57%，女性占43%（截止到5月18日，性别不明的患者并没有统计在内）。每十万人的感染率中，男性感染者的年龄并没有太大的偏差，但女性中20岁到30岁这个年龄层的感染者明显较多。
专家称，造成倾向明显的原因可能是这个年龄层的女性从事护理和接待行业的占比重，所以感染的风险高。
新冠肺炎导致的经济衰退对男女的影响有较大差距，原本男女收入就存在差距，男性收入大概要比女性多20%。因为经济衰退，雇佣状况恶化，56.1%的女性属于非正式雇佣，远比男性的22.2%高。140万单亲家庭中，单亲母亲的平均收入为200万日元，不足单身父亲年收入的一半。

🔺分性别统计新冠肺炎的影响很有必要，性别不平等渗透在方方面面。</label><p><label>阅读量:3.1万</label><p><label>转发:11</label><p><label>评论:3</label><p><label>点赞:45</label><p>评论内容:<br/>无就业性别歧视监察大队：今天是7月9日，不用怀疑，补发昨天的，小编昨天忘了发了。<br/>夏姬小妖：女性厉害就可能是由荷尔蒙，性激素的科学断言真不少<br/></p></li><li><p><label>发布日期:7月11日</label><p><label>发布时间:16:51</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JaIxRocl7?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:首次有女性加入美军特种部队“绿色贝雷帽”

据CNN报道，截止11日，美国陆军中有一位女性士兵完成了特种部队成员的训练，成为美军精锐部队“绿色贝雷帽”的一员。

据美国陆军称，这位女性士兵在本月9日参加了“对应新冠肺炎感染”的培训活动结业仪式。美国陆军特种作战司令部司令官在仪式的演说中，称呼毕业生们为“绿色贝雷帽的男女们”。这是自1950年特种部队成立以来，首次适用“男女”这个称呼。

“绿色贝雷帽”是由男性组成的陆军最后的部队之一。从独立战争开始，女性就在军队中承担任务，但所有的战斗任务对女性开放还是2016年之后。因为16年的决定引起了巨大的反对声，研究称特别是海军部队，比起男女混合，全员男性士兵更加合适有效。

完成特种部队训练的女性并不只有这回的这位女兵。1980年曾有一位女性大尉完成了训练，但并没有被准许加入“绿色贝雷帽”，申诉歧视的结果也只是拿到了训练的结业证。据美媒称，截止2013年这名大尉退役前，她是特种部队的在籍人员。

🔺用能力设定标准，不用性别设立障碍。</label><p><label>阅读量:3.7万</label><p><label>转发:7</label><p><label>评论:1</label><p><label>点赞:69</label><p>评论内容:<br/>无星云暗物质：好羡慕啊<br/></p></li><li><p><label>发布日期:7月13日</label><p><label>发布时间:22:36</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jb3EEqHgQ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:公益社团法人Girl Scout 日本联盟从2019年3月到4月间在全国范围内调查了524名女子高中生，其中62%的人遭遇过、看见过性骚扰或性别歧视。具体为在广告等媒体中49%、网络上46%、公共场合（电车或商店等）30%、学校18%、伴侣13%、家庭9%等。
例如：

媒体：1.电视里男主持人多担任重要的角色，女主持人只做辅助性的工作。
2. 摄像机在拍摄女性时，会从下到上慢慢的拍，甚至有拍摄短裙下的角度。
3. 要求女主播们穿突出胸的服装。
4. 在女性受害的事件中，盛行非难女性、袒护男性的言论。

网络：1.收到“一起去情人旅馆开房吧”、“想和你文爱”。
2. 在SNS收到上收到猥琐的照片。
3. 女性在YOUTUBE上发视频时，会收到打量诸如“丑女”“肥婆”等恶意中伤的评论。性别栏或头像表现出是女性，并且受到了关注之后，在私信或评论中会收到大量关于性的言语，不得不隐藏起自己的性别。
4. 女性被粗鲁对待的漫画、游戏的广告铺天盖地。

在学校被教师说“举止像女孩子一点”“你是女孩子，所以安静一点”。在家里被要求“女孩子还是擅长做饭一点的好”、“女孩子不用去上4年制的大学”。

🔺把标题里的“日本”换成大多数国家，这些内容都还成立。
</label><p><label>阅读量:12万</label><p><label>转发:12</label><p><label>点赞:34</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月15日</label><p><label>发布时间:10:51</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JbhTLipal?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:据厚生劳动省5月29日发表的劳动力调查显示，4月的非正式雇佣员工、从业者比去年减少97万人，其中71万人为女性。因为新型冠状肺炎导致的就业情况急剧恶化，女性首先被裁员解雇的倾向十分明显。

新型冠状肺炎导致内需型服务业损失惨重，裁员最多的住宿、饮食服务业6成的员工为女性，其中75%为非正式雇佣。

全日本约有4成劳动者为非正式雇佣，女性中约有6成为临时工、小时工、派遣员工等非正式劳动者，而男性非正式雇佣的比例只有2成左右。

🔺肺炎影响下，原本就无处不在的性别歧视问题越发严重。</label><p><label>阅读量:2.6万</label><p><label>转发:17</label><p><label>评论:1</label><p><label>点赞:47</label><p>评论内容:<br/>无酥风杏雨懒言双：#天下乌鸦一般黑# #歧视女性是全天下男蛆共同的爱好#<br/></p></li><li><p><label>发布日期:7月15日</label><p><label>发布时间:10:51</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JbhTLipal?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:据厚生劳动省5月29日发表的劳动力调查显示，4月的非正式雇佣员工、从业者比去年减少97万人，其中71万人为女性。因为新型冠状肺炎导致的就业情况急剧恶化，女性首先被裁员解雇的倾向十分明显。

新型冠状肺炎导致内需型服务业损失惨重，裁员最多的住宿、饮食服务业6成的员工为女性，其中75%为非正式雇佣。

全日本约有4成劳动者为非正式雇佣，女性中约有6成为临时工、小时工、派遣员工等非正式劳动者，而男性非正式雇佣的比例只有2成左右。

🔺肺炎影响下，原本就无处不在的性别歧视问题越发严重。</label><p><label>阅读量:2.6万</label><p><label>转发:17</label><p><label>评论:1</label><p><label>点赞:47</label><p>评论内容:<br/>无酥风杏雨懒言双：#天下乌鸦一般黑# #歧视女性是全天下男蛆共同的爱好#<br/></p></li><li><p><label>发布日期:7月16日</label><p><label>发布时间:22:04</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JbvJcqNGQ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:女性残疾人所要面对的不只是残疾人歧视，还有女性歧视。

不止更容易遭受虐待和性侵犯，在教育、就业、婚姻上也有诸多限制。

据平成27年发布的《犯罪白皮书》称，日本国内遭受过猥亵的女性有11%，遭受过强奸的女性占1.9%。还有没有报警的情况存在，据推测女性残疾人遭受性侵害的比列，远比全体女性遭受性侵害的比列高。

眼睛看不见、发不出声音、四肢无法自由活动，因此无法抵抗、无法呼救、无法逃跑，有一些男性趁机作出侵害行为。

另外，在医院或公共设施中，辅助残疾人的工作人员经常是男性，一些不合适身体接触令人感到不快，尊严被无视。

性侵害：

“做按摩师的时候，在工作休息的间隙和上司独处，经历过被从身后抱住摸胸，被掀起衣服隔着内衣触摸猥亵。”（视觉残障者 ）

“被母亲的恋人性虐待。母亲的恋人会在我洗澡时辅助，趁机摸胸等部位，让我感到非常痛苦。我和母亲说了，她却不相信。”（肢体障碍者）

“夜里回家的时候，被出租车司机故意绕路，带到偏僻的地方。”（视觉障碍者）

异性的护理、辅助：

“在国立医院住院时，女厕所和女浴室的辅助工作、卫生巾的替换由男性工作人员来承担。女患者们都厌恶这一点，要求女性工作人员来做，但被医院拒绝说女性在体力上承担不了这项工作。去厕所的时间也是固定的，上厕所时隔间的窗帘开着，工作人员就站在过道看着。”
（肢体障碍者）

工作人员的不足、设备的缺乏：

“做怀孕检查的时候，手语工作人员只有男性。我有抵触，工作人员本身也很困扰。”（听觉障碍者）

“理疗师和医疗器械的从业者往往是男性，没有分寸，不顾及性別的触摸令人感到很不愉快。”（肢体障碍者）

婚姻：

“男性残疾人和非残疾人交往或结婚的很多，但女性残疾人往往只能和同样有残疾的人结婚。”（肢体障碍者）

“我在读占卜类的书时说“我似乎会晚结婚”，家人似乎都觉得我能结婚是不可能的事，空气瞬间冷下来。”（肢体障碍者）

生产：

“生孩子的时候，来探望的人都会问“孩子耳朵没有问题吧？”“孩子耳朵能听到真的太好了！”。平常这种情况来不都应该先说“恭喜”吗？太令人悲伤了。我努力生下孩子，要是孩子耳朵也听不到就是有错吗？”（听觉障碍者）

就业：

“最开始去的精神科主治医师对我说：“还好你是女人，即使是残疾人也有家人和配偶抚养。”女人不用工作也会有人养，被这样想我难以原谅他。（精神障碍者）

“入职前约定好五年后转正，但直到7年后我辞职也没有实现。根据残疾人雇佣制度，公司还因为雇佣残疾人得到了政策上的优惠福利。”（肢体、语言障碍者）

以上调查出自“DPI女性障害者ネットワーク”。

🔺女性残疾人一直是被忽略的群体。</label><p><label>阅读量:3.1万</label><p><label>转发:23</label><p><label>评论:4</label><p><label>点赞:88</label><p>评论内容:<br/>无段段8825：我已经快气死了<br/>阿啊阿笙：我是残障女性，我一开始觉得残障盖过了我的性别，后来我觉得都有，因为是残障人，因为是女性从而更加肆无忌惮双重打压<br/>heyiwannaberich：我也快气死了<br/></p></li><li><p><label>发布日期:7月18日</label><p><label>发布时间:12:45</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JbKVtAn2N?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:去年12月，在任菲律宾驻韩大使涉嫌性骚扰一名韩国女性。因为性骚扰问题，他于今年年初回到了菲律宾，辞去大使一职。

韩国警方在今年5月向国际刑警组织提出申请国际逮捕令，逮捕前菲律宾驻韩大使，于7月17日得到批准。

其骚扰行为包括从后面抱住受害者等猥亵行为。

🔺查了一下发现不少国家都有过驻外的男性外交官涉嫌性骚扰，同时驻外工作也是性别歧视的重灾区。</label><p><label>阅读量:4万</label><p><label>转发:8</label><p><label>评论:1</label><p><label>点赞:64</label><p>评论内容:<br/>无s萧亚轩的快乐：看看别的国家，涉外的都能逮捕，我们呢，国内的没几个抓起来，抓起来的判一两年，几年，没一个重判的！受害者还要忍受国男的羞辱！可恶<br/></p></li><li><p><label>发布日期:7月20日</label><p><label>发布时间:23:46</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jc86QDUnj?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:警视厅池袋署于本月19日以诱拐猥亵、准强制性交罪逮捕玉県新座市新堀复兴厅的职员菅原久兴（46岁）。

嫌疑人菅原于5月27日夜里，在东京丰岛区ＪＲ池袋站附近的居酒屋里给一名少女（未满20岁）的酒里下药。少女失去意识后，菅原涉嫌带少女到酒店进行了性侵犯。

据了解，二人是在推特上认识。

少女意识恢复后，向池袋警察署报了案。审讯时菅原称“我什么都没对她做”，否认了犯罪行为。

🔺成年人约禁止饮酒的未成年人去喝酒本身就有问题。</label><p><label>阅读量:2.3万</label><p><label>转发:3</label><p><label>评论:2</label><p><label>点赞:34</label><p>评论内容:<br/>无阿文_64885：然而现在被未成年喝翻<br/>积极咸鱼的日常：<br/></p></li><li><p><label>发布日期:7月22日</label><p><label>发布时间:23:18</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JcqM82ZOt?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:新加坡</label><p><label>内容:去年5月，新加坡国立大学牙科专业的学生Yin Zi Qin（23岁）要求与前女友复合被拒绝后，对前女友施以暴力，掐着前女友的脖子直至其失去意识晕倒。

本月17日，Yin Zi Qin被判决12日短期拘留（不会留下犯罪案底），以及80小时的社会服务。

判决在网上引起热议，女性团体 ...展开全文c</label><p><label>阅读量:3.4万</label><p><label>转发:无</label><p><label>评论:20</label><p><label>点赞:216</label><p>评论内容:<br/>无</p><p><label>:无</label><p><label>:无</label><p><label>:无</label><p><label>:无</label></li><li><p><label>发布日期:7月24日</label><p><label>发布时间:01:25</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JcB2haWII?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:尼泊尔</label><p><label>内容:尼泊尔至今仍有很多人将生理期的女性视作污秽，一部分地区会将生理期的女性驱赶到简陋的小屋里，直到她们生理期结束。刚生产完的女性也包括在内，她们被禁止接触家里的食物、宗教的象征物、牛、男性，被强制赶出家里。

尼泊尔最高法院在十多年以前禁止了这种风俗，但是国内以西部为中心依然根深蒂固。

于2017年通过的新法规定，把生理期的女性强行赶出家门将会被判处3个月监禁或罚款3000卢比，又或者两种惩罚都要接受。

2016年，曾有女性在这种简陋的小屋里为了取暖而生火，导致吸入烟雾窒息而死。

🔺生理期禁忌在不少社会都存在，把月经和污秽挂钩。</label><p><label>阅读量:5.2万</label><p><label>转发:16</label><p><label>评论:10</label><p><label>点赞:211</label><p>评论内容:<br/>无嚯奶芙不啦：有的男的一边说女性的义务就是生孩子一边又觉得来月经非常污秽这么多屁事有本事自己生<br/>圆月山庄门前扫地的：就是，人都是从那个地方生出来的，既然他们嫌脏就请高贵的男性们就地自杀或者有本事从他爹某个部位出生呀//@有腹肌的小仙女c:卧槽。。。按他们的说法 人生下来就是脏的 应该掐死<br/>MPwb13：这些男的不是真的认为来月经污秽，只是想找个借口把女人向牲口一样对待，以感受超人的地位。<br/>渣渣浪是真渣真浪：尼泊尔的女性们也直接堕男胎吧，她们怎么能容忍她们胯下生出来的人这样糟践她们！<br/>有腹肌的小仙女c：卧槽。。。按他们的说法 人生下来就是脏的 应该掐死<br/></p></li><li><p><label>发布日期:7月27日</label><p><label>发布时间:22:45</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JdbHcfU34?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国/比利时</label><p><label>内容:今年5月，28岁的法国职业女自行车赛车手Marion Sicot向地方检察院提出申诉，控告她的比利时车队经理Marc Bracke有性骚扰行为。近日，检察院宣布专项调查展开。

2018年，Sicot为女子车队Doltcini-Van Eyck Sport效力；2019年6月，她被发现外源性促红细胞生成素(EPO)阳性，从而被临时禁赛。在电视采访中，Sicot称自己注射药物是为了重获经理的信任。起因是自2018年10月以来，经理便以管理Sicot的体型为由，向她索要只穿着内衣的照片；2019年春天，她不再发送照片，便遭到了冷落。

今年2月，国际自行车联盟UCI启动了“正式调查程序”。4月，前女子车队Health Mate的经理Patrick Van Gansen也因性骚扰遭到指控。4月20日，UCI承认“道德守则已被破坏”并希望“做出处罚”。法院称“道德委员会已经在协定最终裁决”。

🔺“性”不该是换取事业上升的筹码，更不该是霸凌他人的工具。

（新闻来源：7.23《世界报》(Le Monde   志愿者：妙脆角海豹）</label><p><label>阅读量:4.7万</label><p><label>转发:6</label><p><label>评论:3</label><p><label>点赞:44</label><p>评论内容:<br/>无红泥小火炉煮茶：如果不是他们有企图，受害人想换取筹码也没法子的。需要谴责的是根源，而不是被迫的受害者。<br/>女性体育：#女性体育# 向赛场内外的性骚扰说不！<br/>仙人球你什么时候回来啊：#我们需要…# 我们需要三百六十五行行行都有女性的身影，女性的声音<br/></p></li><li><p><label>发布日期:7月28日</label><p><label>发布时间:23:20</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jdlm3D0Va?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:本月28日，神奈川县磯子区警察署以强制猥亵罪将横滨市消防局的一名男性消防员（25岁）逮捕。

本月10日夜里，该消防员涉嫌在卡拉OK店内强行接触一名女性（20岁）的上身，做出强行拥抱、亲吻等猥亵行为。

🔺很难过的是，点开这条新闻，下面的类似新闻推荐有一长列，且都是今天的报道。比如静冈县的一名男性护工涉嫌猥亵老年人、代代木的一家按摩店的男性店长猥亵客人、札幌市的一名男性医生猥亵全麻状态下患者……（猥亵行为多是触摸身体）。</label><p><label>阅读量:5.5万</label><p><label>转发:1</label><p><label>评论:3</label><p><label>点赞:77</label><p>评论内容:<br/>无红泥小火炉煮茶：男人就不适合出去工作，不是强奸就是猥亵别人，还容易打架斗殴杀人……<br/>白日极光：往好处想，至少还在抓呢，说明还管了<br/>小小小潘潘-：<br/></p></li><li><p><label>发布日期:7月30日</label><p><label>发布时间:00:03</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jdv404LVy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:负责保护脱北者的警察因涉嫌在长达1年9个月的时间里，对脱北女性进行性暴力，正在接受检方调查。

本月28日，受害者的两名律师向首尔中央地检提交诉状，起诉首尔瑞草署保安系的警卫在2016年5月到2018年2月间，对受害者施加超过12次的性暴力。另外，该警卫还曾从受害者手里勒索走了价值500万韩元的高级手表。

受害者的律师称，该警卫从16年开始，以收集北朝鲜的情报为理由，在受害者家中对受害者施加性暴力。

受害者曾在2018年3月向该警卫的上司寻求帮助，但其上司并没有秉公处理，反而劝受害者忘记这件事，保持沉默。

该警卫从2010年开始，担任保护脱北者的工作。还曾在16年因为工作尽职尽责，受到过国民大统合委员会授予的“英雄牌”奖章。

🔺警察队伍中需要女性。</label><p><label>阅读量:6.2万</label><p><label>转发:15</label><p><label>评论:3</label><p><label>点赞:62</label><p>评论内容:<br/>无红泥小火炉煮茶：男警察干的。<br/>星云暗物质：<br/>甜奶盖儿_：@小奶油naomi<br/></p></li><li><p><label>发布日期:7月30日</label><p><label>发布时间:23:53</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JdEqx5QFF?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:美国女演员艾什莉·贾德（Ashley Judd）终于可以以性骚扰罪上诉韦恩斯坦（Harvey Weinstein）！

在2019年1月的起诉中，洛杉矶一初级法院法官认为，在加利福尼亚州现行法律下，贾德并不能以性骚扰罪起诉，因为“电影业中演员和制片人之间的关系并不属于特殊的商业关系”。

7月29日，上诉法庭否定了这名法官的诠释，也就意味着贾德可继续以性骚扰罪上诉韦恩斯坦。

贾德的律师表示：“这不仅是贾德女士的一个重大胜利，也是所有处于职业关系中的性骚扰受害者的一个重大胜利。法院判定，加州法律禁止电影制片人和其他有权势的人进行性骚扰和报复，即使在雇佣关系之外也是如此。我们期待在审判中对韦恩斯坦提起这一指控。”

🔺今年的3月11日，韦恩斯坦被判处有期徒刑23年。但这一轰动世界的案件并没有结束，METOO运动也不会这么轻易结束。我们要为自己的权益不断地奋斗下去、抗争下去！

（新闻来源：7.30-《世界报》  7.29-《纽约时报》 翻译志愿者：妙脆角海豹）</label><p><label>阅读量:3.3万</label><p><label>转发:8</label><p><label>评论:6</label><p><label>点赞:70</label><p>评论内容:<br/>无西洲er81192：23年，月亮好圆<br/>番番番小书：23年！真是好消息！<br/>放心吃不会胖：好消息！<br/>女quan：天大的好消息<br/>女quan：这应该是职场pua<br/>红泥小火炉煮茶：这个应该属于职场性骚扰吧。<br/></p></li></ol></body></html>