<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202008微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2020年08月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:8月3日</label><p><label>发布时间:14:03</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jech12yIp?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:当新冠疫情结束后，路易斯第一次上街购物时，她发现自己没穿胸罩。“我完全忘记了，”她说。路易斯是一所大学的讲师，自从3月底就开始了居家办公和网上授课。在这期间她逐渐用舒适的休闲服代替了之前的衣服，更重要的是：她不再需要穿胸罩了。

新冠疫情改变了人们的很多社交习惯。对很多女性来说，不穿胸罩是很受欢迎的一项改变。“我不会再穿了，”Tomi在她的推特中写道。她的这则消息已经被点赞超过50万次。

在此之前，胸罩曾经是不受欢迎的必需品。对于路易斯来说，在新冠之前，她每天回家进门后的第一件事就是迅速脱掉钢圈胸罩。Emma，一位咨询师，也在新冠一开始就放弃了穿胸罩。“我有天早上穿衣服的时候突然质问自己：我为什么要穿胸罩？太不舒服了。之后的几个月时间我很习惯不穿胸罩的感觉。我以后也不会再穿了。”她说。

在新冠以前Emma从来没觉得胸罩特别不舒适。“但是现在当我再穿上它时，我就想脱了它，胸罩太可怕了。”

选择不穿胸罩对她来说很不寻常，因为她一直以为自己别无选择。“我以前总听别人跟我说，你的胸太大了，不穿胸罩对背部不好，你会感觉不舒服。但事实并非如此。”

内衣公司也发现了这一趋势。虽然大部分生意仍然是钢圈胸罩，但最近无钢圈舒适胸罩的销量有了大幅度的增长。一家大号内衣公司的经理Clare说，这个趋势在两三年前就出现了，主要源于女性自我意识的加强。“女人们更想穿舒服的东西，对她们来说这比单纯的外表更重要了。”她说。

我们所熟悉的胸罩才出现了100年，它是作为束身服的替代品出现的。但是女人们已经习惯了自动穿上胸罩而不问为什么。我们真的需要它么？“对于有生理疾病的女性，穿胸罩可以保护乳房纤维。”一位研究生理机能的教授说，“运动内衣也可以防止剧烈运动时造成的乳房过多移动。”

但是她补充道，“没有任何研究可以证明，每天穿胸罩可以防止乳房下垂。从没有过有意义的对比研究。”

毫无疑问在某些特定情况下穿戴胸罩是有利的。但不能否认，绝大多数女性穿胸罩仅仅是因为好看。很多个世纪以来，女性都被告知，健康的乳房要坚挺，而且乳头的形状不能露出来。每一次抵制胸罩的行为都会变成一场政治运动——似乎每一次女性的个人选择都会被政治化，虽然其实这只关乎肩带嵌进肉里或者钢圈扎出来了。

一位作家Chidera从2017年开始停止了穿戴胸罩并高调呼吁女性拥抱自己的身体。她受到了网上的各种攻击，“主要来自将厌女内化了的女性，以及真以为自己对女性身体有控制权的异性恋男性。”她说。

疫情结束后胸罩会卷土重来么？一位演员Alison说，她在试镜的时候还会穿上胸罩，因为其他人会“分心”。“但是我不知道这是他们的问题还是我的问题：如果他们分心了，难道不是他们自己有问题么？”她说。

Emma也认为她回去工作的时候别人会默认她需要穿胸罩。她担心同事会因为她不穿胸罩而对她品头论足。她希望社会能够进步到不再认为女人必须穿胸罩。“不穿胸罩非常舒服，但我因此而成为社会的异端。”但她说这种叛逆的感觉很好，就好比不再受钢圈限制的人生。
（来源：卫报）

▲ 穿衣自由是个人选择</label><p><label>阅读量:4.3万</label><p><label>转发:44</label><p><label>评论:16</label><p><label>点赞:166</label><p>评论内容:<br/>无白之圣杯：剧烈运动时穿就行了（我大幅度活动会有韧带牵扯的不适感），怎么舒服怎么来√<br/>金鱼变鲸鱼：是真的，不穿很爽<br/>菅田菜緒·：我冬天都不穿 真的太爽了<br/>玄朱phynix：在家也穿…不然怕男性亲属尴尬…<br/>DDAANNLEE：是的，现在我几乎也不穿钢圈内衣了<br/>rua一口可爱宝贝：不穿是真的爽<br/>吾零五零：钢圈超不舒服从来不穿，偏好能把胸变平的bra【和我胸的大小并没有关系】<br/></p></li><li><p><label>发布日期:8月5日</label><p><label>发布时间:00:43</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JepTfjcaj?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:在印度西部的吉吉拉特邦的一处住宿设施内，住着数十名怀孕的女性。对于丈夫过世的M女士来说，做代孕母亲是唯一可以摆脱贫困的方式。

做代孕母亲的9个月里，M女士暂时将自己的孩子送到了儿童设施。因为合同里写了到生产为止，要生活在产科医院附设的设施内。如果能平安生下双胞胎的话，她将可以拿到40万卢比，对家计是巨大的帮助。

M女士认为代孕应该保留下来，如果没有这个产业，她一辈子也存不下这么多钱。她存钱是为了让9岁和12岁的儿子能上学，并且建一间小房子。

进入到怀孕的第四个月，M女士说觉得很害怕，因为是头一次怀双胞胎。但除了向神明祈祷保佑自己平安，其余什么都做不了。在M女士居住的房间里，放着大约六十张床。

像M女士这样做代孕母亲的贫困阶层女性，在印度约有2000人。

2002年代孕在印度合法以来，便宜又安心的代孕产业吸引了大量的外国客人，使印度成为了世界第一的代孕市场。

但因为相关法律的不完备，让贫困女性“出租子宫”的批评层出不穷。

从2012年开始，代孕相关的法律开始严格起来，禁止了给同性恋伴侣和单身人士的代孕服务。

2015年10月28日开始，禁止给外国人提供代孕服务。

🔺推荐一部叫《代孕者》的纪录片给大家。</label><p><label>阅读量:26.5万</label><p><label>转发:26</label><p><label>评论:10</label><p><label>点赞:297</label><p>评论内容:<br/>无插旗高手就是俺：因为人种的原因，印度一直以来都是西方国家的试药基地，器官市场。都是出卖身体，代孕和器官买卖也就一步之遥了<br/>什么时候去喝一杯：记得有一篇微博说，在我国某(些)医院看到 “包生男”的代孕广告。我就想问问，那在成功生男之前怀的女婴是怎么 “处理” 掉的？是直接堕掉伤母体，还是出生后直接溺死？我认为政府有责任告诉这些买家，你想传宗接代的欲望不是你践踏他人人格，伤其他人性命的借口。@中国妇女报<br/>Purfectionist：请问这个纪录片在哪里能看呀，找了好几个网站都没有。。。。<br/>舒然小猪惜：这是一个社会的悲哀。一个文明的社会，应该让女孩子有更好的上升空间。<br/>是怒不是lu：人不是台湾人吧…<br/>再熬夜我就汪汪汪：器官买卖、代孕、卖淫和出卖劳动力的本质区别在于什么呢？对人的伤害程度不同吗？如果没有劳动权益保护的话，之前工人被工厂剥削压迫得也很严重，对身体也会造成严重的损坏。所以这个问题困扰我好久了。<br/>青天由我：这就是最残忍的剥夺式生意。赌命赌健康，不少女性不仅无法知晓代孕期间医生在她子宫内的操作（比如先强制植入五六个受精卵，再强制停掉几个），也无法在妊娠失败后获得任何补偿，即使成功报酬仍然低廉。而且印度女性代孕的几乎没有单纯为了自己的，全都是奉献式牺牲。不少女性早早的扼杀了自己。<br/></p></li><li><p><label>发布日期:8月6日</label><p><label>发布时间:15:25</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JeF5C6Uua?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:死在韩国丈夫手里的越南新娘，揭露韩国“跨国婚姻”背后的问题。韩国正寻求立法改变。

[跨国婚姻难沟通，越南新娘惨遭丈夫杀害]
Trinh和她的杀人犯丈夫是通过媒人介绍的。她才29岁，但是她未来的丈夫已经50多岁了，她只会说越南语，而他只会说韩语。7个月后，Trinh搬去韩国与她的合法丈夫Shin同住，再三个月后，她死了。

在法庭公开文书中，这场谋杀始于二人的沟通问题，婚后，Trinh和Shin仍然是通过手机APP进行沟通，他们经常因为Trinh想要额外的经济支持而打架。最后，在2019年11月，Trinh告诉Shin她要离开去另一个城市的亲戚家住几天。因为Shin想要阻止她，所以她从厨房拿来了一把刀并割破了他的大腿。不一会儿， Shin抢过了刀，并用刀在他的妻子的心脏和腹部捅了将近十次。Trinh死后， Shin把她的身体用塑料裹起来，把她和她的物品装到车上，并运到离他们家200公里开外的一座柿子园里，他掩埋了她。2020年4月，Shin被判处15年有期徒刑。

Trinh只是数以千计通过媒人嫁往韩国的越南新娘之一，这项中介服务不仅被韩国官方鼓励，而且还官方对此还提供津贴。有些夫妇拥有幸福美满的婚姻。但是很多外国新娘因为通过结婚获得官方合法的移民权，成为了歧视、家暴的受害者甚至死在了她们丈夫的手里。

[韩国女性生存环境不容乐观，议员推动建立反歧视法案]
在韩国，女性生存环境不容乐观。在世界经济论坛最新的全球性别差距报告中，韩国几乎在经合组织国家中垫底，这一定程度上是由于政治不平等和女性的就业机会不均。而在过去的几年中，对明星、政要、运动教练的性犯罪指控被看作对根深蒂固的父权文化的一种清算。

根据韩国性别平等和家庭部2019年数据显示，29%的韩国女性为家暴的受害者——包括身体暴力、言语暴力、性暴力、缺少经济支持。与此同时，通过世界人权组织的2017年的数据显示，42%的外籍新娘都在家暴中生活。

韩国妇女移民人权中心负责人说道，“韩国人在面对西方时体现的是自卑感，甚至有时候将自己定义为种族主义的受害者，但是当韩国人面对经济发展水平没那么高的国家时，他们就表现出了盛气凌人。也正因此，移民女性面临着更多层次的歧视，通常是性别歧视和种族歧视，交织着制度问题，而这些，都造成了她们的困境。”

韩国正在寻求转变。今年，公正党议员 Jang Hye-yong 申请一个反歧视法案，旨在保护那些正在遭受歧视的人们，通过公权力来解决纷争并保护个人人权。 如果通过，将成为韩国首个反歧视法案。

LEE，一名韩国律师说，“相信通过该法案能够让移民女性生活地更加安全和有尊严。同时，这能够阻止人们散布仇恨言论，鼓励人们去修正系统性歧视。至少人们能够知道什么样的语言和行为是歧视性的并该受到处罚。”
（来源：CNN，翻译：小容）

△ 父权制根深蒂固的国家也在寻求转变</label><p><label>阅读量:9.9万</label><p><label>转发:24</label><p><label>评论:21</label><p><label>点赞:152</label><p>评论内容:<br/>无一件紫色卫衣：东亚三儒巨头 诚不欺我<br/>大海里没有玫瑰有诗：“韩国人在面对西方时体现的是自卑感，甚至有时候将自己定义为种族主义的受害者，但是当韩国人面对经济发展水平没那么高的国家时，他们就表现出了盛气凌人。”品，你细品！<br/>什么时候去喝一杯：我国很多男性也是靠人口买卖这个渠道实现娶妻生儿子的“自由”。嗯，综合所有性别歧视的政策来看，政府的确无惧被诟病，在国家形象和让国男有儿子之间早就坚定地做出了取舍，甚至愿意为他们披荆斩棘，从出生、录取分数线到提高女性标准就业，完美的一条龙服务。#为国男披荆斩棘的阿中哥哥#<br/>女quan：可怕，婚姻<br/>甄姬妹妹甄菜：15年。换成中国估计就个四五年。董珊珊案件就是这样<br/>第四号人设Y_：转发微博 ¡查看图片<br/></p></li><li><p><label>发布日期:8月8日</label><p><label>发布时间:00:17</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JeS0irNox?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:韩国驻新西兰外交官金某（Hongkon Kim）于2017年涉嫌三次性骚扰一位新西兰当地的男性员工（身体接触）。当地警察于同年12月着手进行调查，要求韩国驻新西兰大使馆提供馆内的监控录像、并允许进行现场调查。韩国大使馆以外交权里的“公馆不可侵犯”为由拒绝。

因此，金某在没有接受审讯的情况下，于18年2月任期满回到韩国。韩国外务省曾单独听取情况，金某称只是拍了拍身体这种程度的接触，而且同性之间的接触，并没有性意图。外务省基本上接受了他的解释，只做了停发一个月薪水的处分。金某的外交官生涯并没有受影响，而后仍担任驻菲律宾总领事这样的要职。

但新西兰方面态度十分强硬，当地警察于今年的2月下发对金某的逮捕令。

今年的7月28日，新西兰总理阿德恩与韩国总统文在寅进行电话会谈时，向文在寅提起了此事，希望韩国方面配合调查。

8月3日，韩国外务省召金某回国，表现出配合新西兰方面调查的态度。

据朝鲜日报称，光是文在寅政权下，就有14名外交人员因为性方面的问题受处分。

🔺同性间的性骚扰也绝不姑息。</label><p><label>阅读量:4.9万</label><p><label>转发:9</label><p><label>评论:7</label><p><label>点赞:63</label><p>评论内容:<br/>无红泥小火炉煮茶：这韩国男性还当新西兰是韩国了。<br/>Eric-Wong2020：然而韩国也是极端恐同的国家，这么一爆，这位外交官回国也是惨……<br/>米菲说_：总理都出面了<br/>caonet：文案真好<br/>不得不得不得不得：感觉这个叙事风格像政治事件叙事  不太像性别叙事<br/></p></li><li><p><label>发布日期:8月10日</label><p><label>发布时间:14:37</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jfguie4JG?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:波兰</label><p><label>内容:波兰右翼政府宣布将退出伊斯坦布尔协定。这是全世界首个有法律效力的国际协定，旨在打击性别暴力，包括家暴，婚内强奸，以及割礼。

2012年，波兰当时的政府签署了这一协定。2015年，这份协定作为法律在波兰正式生效。但此后，波兰右翼党派PiS两次当选主流执政党。刚刚当选的现任总统Duda支持政府对司法的控制，打压性少数群体和女权群体。他的司法部长将伊斯坦布尔协定称为“女权组织的阴谋，为同性恋意识形态的辩护”。

波兰右翼党派PiS的执政理念与天主教会高度一致，倡导保守的社会观念。对同性恋群体的打压是PiS最主要的竞选策略之一。

波兰政府的决定引起了欧盟议会的强烈不满。“把伊斯坦布尔协定作为工具，彰显自己的传统价值观，是非常可怜和可悲的。”罗马尼亚前总统说。“暴力并不是传统价值观。”比利时议员说。

负责起草这一协定的欧洲委员会强调，伊斯坦布尔协定仅涵盖针对女性的性别暴力，并不涉及同性婚姻。

尽管如此，伊斯坦布尔协定仍然在匈牙利和斯洛伐克遭到了国家议会的强烈抵制。这两个议会也毫无根据地强调，伊斯坦布尔协定与两国宪法中规定的异性婚姻形式相违背。
（来源：卫报）

▲ 暴力并不是传统价值观</label><p><label>阅读量:3.4万</label><p><label>转发:6</label><p><label>评论:4</label><p><label>点赞:41</label><p>评论内容:<br/>无红泥小火炉煮茶：天主教？男人至上的宗教吧。<br/>锌江戊：别说波兰了，如果川普继续连任美国都会出现更保守化的趋势.<br/>宁见法官不见法医：女权跟基佬捆绑是左右不讨好<br/></p></li><li><p><label>发布日期:8月11日</label><p><label>发布时间:22:29</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jft0r2A9l?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:本月11日京畿道公布对慰安妇援助机构“分享之家”的调查结果。

  “分享之家”从2015年-2019年间，通过官网向社会募集资金，为战争性暴力受害女性提供生活、养老、作证等活动的支援。同时也向许多机关提交了申请援助的文件。通过这些手段，在5年间募集得约88亿韩元。

但这些捐款大部分没有打入“分享之家”的账户，而是打入了“分享之家”法人的个人账户。实际打入“分享之家”的资金只占2.3%（2亿韩元），并且这些钱也没有直接用在受害者女性身上，而是支出在机构运营等间接方面。

捐款的大部分资金基本用作了购买土地、建筑场馆等。例如其中26亿韩元被法人用在购买土地、生活馆扩建、遗物展示馆和追悼碑建设上。

从董事会会议记录和预算书上看，剩下的资金打算用做国际人权和平中心及养老院等的兴建上。

另外，该机构的部分工作人员还涉及对战争性暴力受害女性进行言语上的侮辱暴力。

🔺战争年代她们是受害者，和平年代她们仍旧是受害者。</label><p><label>阅读量:4.2万</label><p><label>转发:12</label><p><label>点赞:41</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月12日</label><p><label>发布时间:14:36</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JfzkXbFDc?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国政府规定，符合一定条件的上市公司监理会必须满足30%的女性席位。最近，德国总理默克尔支持了一项提议，这项提议建议将这一规定的范围扩大到所有企业。但她自己的党派，保守的基督教民主联盟（CDU）内部并不同意。他们认为，决定管理层人选的条件应该是能力，而不是性别。

“当我们被经济危机和政府补贴焦头烂额的时候，这个提议只有负面影响。”CDU负责经济的负责人（女性）批评道，“现在总理想改变整个商界么，她以为女工程师和女科学家可以就这么被烘烤出炉，进入企业么。我们当然需要多样化，但拜托不是靠性别，而是靠能力。我们不是要所有企业的管理层实现理想社会。”

这一提议是德国家庭部长和法律部长（两位都是女性）提出的，并获得了默克尔的支持。她认为目前的规定范围太小，力度也不够，因为仍然有大量上市公司的管理层中连一位女性都没有。“这种状态不能是常态。”她说。
（来源：明镜）

▲ 无论最终结果如何，女性都掌握了话语权可以参与制定政策</label><p><label>阅读量:4万</label><p><label>转发:17</label><p><label>评论:14</label><p><label>点赞:207</label><p>评论内容:<br/>无猫猫狗狗都没有：在中国：我是女警察，我认为降分录取男性很合理<br/>红泥小火炉煮茶：没有对比，就没有伤害。反观天朝的动辄限男和男性优先，不是一般丢人现眼，也严重影响社会发展。<br/>唐不觉hr：真圆<br/>--门牙：赏月时间……<br/>寻找千寻之路：赏月了<br/>Fake_假神甫：外国的月亮就是圆<br/></p></li><li><p><label>发布日期:8月14日</label><p><label>发布时间:05:34</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JfODSxOfQ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:汉堡电影基金会希望能增加德国电影的多样化。基金会的会长Albers说，今后再来申请基金的项目必须满足多样化清单中的各项要求，比如防止性别刻板印象，是否考虑演员的种族多样化，是否包含弱势群体等等。另外清单中还包含工作人员招聘中的多样化，以及电影的受众是否也包括农村人口。

虽然Albers自己也承认，电影行业充满变数，一张清单并不能保证实际执行中的多样性。但他认为，这份清单的存在至少可以让项目申请人意识到多样化的需要。“我们想要达到这样的目的：我们赞助的电影应该多少反映真实社会多样性。”

但是过多考虑人员多样性，拍摄环保要求等等，会不会增加摄制组的工作量？Albers回答，应当减少的是官僚流程，而不是对多样性和可持续性的要求。他的基金会已经在减少需要提交的流程文件。
（来源：明镜）

▲ 电影中的多样化对改变社会的刻板印象有很大贡献</label><p><label>阅读量:3.1万</label><p><label>转发:5</label><p><label>点赞:27</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月17日</label><p><label>发布时间:14:56</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JgkBtjBP7?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:波兰</label><p><label>内容:8月16日周日，支持和反对LGBT的两大阵营在华沙大学附近迎来正面冲突。

反对者们高喊口号“反对性取向偏离”，认为自己受到了“侵害”。Kaja Godek作为该队伍的领袖之一，认为应该设立一项禁止性少数群体骄傲活动的法规，以此“停止同性思想的传播”。

相反，那些挥舞着彩虹旗的支持者们，高喊“我们是人”（该口号诞生于上世纪80年代末），或是“性取向不是一种选择，反对LGBT却是一种选择”。在7月份的总统选举中，执政党人大规模地宣扬着“反对LGBT”的意识形态，引起了许多国际组织的不满。

获得连任的总统杜达（Andrzej Duda）将性少数群体与新布尔什维克主义做对比。自月初以来，在众多积极分子被捕、50多个抗议者被审之后，支持者们与LGBT团体团结一致、反对波兰政府，其人数不断增加。

波兰是一个典型的天主教国家，执政党法律与正义党（PiS）的执政理念与天主教会高度一致，倡导保守的社会观念。8月10日，波兰宣布退出伊斯坦布尔协定，该协定是欧洲防止对女性施暴的条约。成千上万的波兰人（大部分是妇女）因此上街抗议，抗议者们举着横幅，上面写着“退出条约的目的就是将家暴合法化”、“PiS是妇女的地狱”。
（来源：费加罗报， 翻译：陈妙妙）

△性取向不是一种选择，反对LGBT却是一种选择</label><p><label>阅读量:2.9万</label><p><label>转发:2</label><p><label>评论:2</label><p><label>点赞:25</label><p>评论内容:<br/>无Crush-pbb：抗议者们提出条约的目的是，将家暴合法化？<br/></p></li><li><p><label>发布日期:8月19日</label><p><label>发布时间:22:33</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JgGrXAJud?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:加拿大</label><p><label>内容:本月17日，加拿大财政部长比尔·莫诺忽然对外宣布辞职，总理贾斯廷·特鲁多于18日，任命副总理克里斯蒂娅·弗里兰兼任财政部长，现年52岁的弗里兰成为加拿大首位女性财政部长。

弗里兰曾经是一名记者，于2015年当选。担任过自由党政权的外交部长、 美国与墨西哥自由贸易谈判的负责人等重要职务。今后她将作为财政部的最高领导，面对二战以来最恶劣的经济危机。

🔺临危受命。</label><p><label>阅读量:6.3万</label><p><label>转发:21</label><p><label>评论:7</label><p><label>点赞:139</label><p>评论内容:<br/>无phoebe威武：任何危机时刻，女人都会出来收拾烂摊子，然后男人再来拿走成果。<br/>乐乐妈的马甲：看来男人不行石锤<br/>红泥小火炉与茶：关键时刻，让女性上。危机过去，让男人上。<br/>Rolanthebest：女士优先：在鸡毛蒜皮和牺牲奉献的时候<br/></p></li><li><p><label>发布日期:8月20日</label><p><label>发布时间:15:57</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JgNhD1RD5?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:希腊</label><p><label>内容:今年3月，法官Sakellaropoulou成为了希腊总统。几个月任期过去，她作为希腊历史上第一位女总统，受到了各方赞扬。希腊是欧洲各国中性别最不平等的国家，尤其在女性参政指数，性别薪酬差距，家暴等方面。希腊国会中只有屈指可数的几位女性，政商两界完全被男性把持。

在希腊严重分裂的政治版图中，Sakellaropoulou奇迹般地获得了300名议员的261张选票。在她当选前，作为希腊大法官之一，她在希腊民众中知名度却并不高。她的当选被视为希腊在性别平权道路上的转折点。

她的反对者经常指出她在政界的经验不足：缺少海外关系，不了解希腊政界的内部运作方式。但她的支持者恰好认为这是她的优点：在一个不断出现危机的国家，没有人比一位“缺少政界黑箱操作经验”的大法官更适合当总统的了。

Sakellaropoulou的政见偏向进步社会自由主义，在她长达40年的法官生涯中长期支持少数和弱势群体，提倡环保。即使希腊社会受强大而保守的东正教会影响，她仍公开支持同性婚姻，反对性别歧视的法律条文，强制希腊公立学校为难民子女提供教育。

她本人也并不主流。她是离异的单亲母亲，和伴侣同居。这在受传统家庭观念影响的希腊政界不可想象。不同于其他希腊政客，她在社交媒体上贴出的内容往往是度假，撸猫，以及家庭聚会。

“她现在很受希腊民众欢迎，因为她代表进步，包容和多样化的自由主义价值观，她提醒了我们，应该为什么而感到自豪。”一位法律和经济学教授评价说。
（来源：明镜）

▲ 欧洲性别平等排名垫底的国家都选出女总统了！</label><p><label>阅读量:2.8万</label><p><label>转发:21</label><p><label>评论:7</label><p><label>点赞:88</label><p>评论内容:<br/>无MAGGIE297：慕了，每天都有又大又圆的月亮<br/>想哪嘎250：好棒！<br/>女quan：太棒了<br/>24601X：我来看月亮<br/>youf8：太棒辣！！<br/>冬日可爱夏日甜：厉害👍🏻希望有更多女性参政掌握话语权<br/></p></li><li><p><label>发布日期:8月21日</label><p><label>发布时间:21:39</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JgYX2kJUE?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:中南美</label><p><label>内容:中南美1800万家务劳动者因为新型肺炎陷入贫困

承受着被感染风险的家务劳动者们、因被解雇而失去收入的女性们

外出禁令颁布的3月24日以前，家务劳动者们每天乘坐公交车去高级公寓劳动。但是现在，为了减少感染风险，雇主会安排Uber出租车。现在巴西全境的感染人数为66000人，死者超过4500人。到达工作的家庭后，Almeida会换掉自己身上的所有衣服，因为上面有附着病毒的可能性。

Almeida回到自己家的时间改为了下一周的周五。雇主说想要继续工作的话，就得平时都待在雇主家里。Almeida每个月收入2000雷亚尔，作为全家唯一得收入来源，她等于别无选择。

“我有收入，所以暂时还没事。但是一旦失去的话，我不知道该怎么活下去。”43岁的Almeida这样说。

拉丁美洲的许多国家，都因为这次的肺炎肆虐而导致大量的家务劳动者生活发生天翻地覆变化，原本她们就在世界上尤其不平等的社会艰难的生活着。据国际劳动机关调查显示，2016年拉丁美洲和加勒比海域约有1800万家务劳动者，其中93%为女性，另外有将近80%是不在政府规制保障之下的非正式条件下工作。

外出禁令颁布之后，原本就处于不安定的处境的家务劳动者们面临更加危险的状况。许多人被迫承担着感染风险继续工作，另外还有人没有拿到工资就被解雇。

为了生存而工作

外出禁令颁布之前，Almeida在高级住宅区的公寓做清扫工作。在有3间卧室、4间浴室的雇主家里一天工作9小时。现在变为住家工作，每天的工作时间变得没有限制。雇主全家都在家，Almeida需要清理垃圾、一天做很多顿饭、帮忙照料孩子、以及不分时间的做其他所有琐碎的事情。

巴西现在是拉美国家中感染肺炎死亡人数最多的国家，家政工、做饭的人、照料孩子的人们继续在巴西的家庭中工作着。为了保护家庭的安全，圣保罗州的家务劳动者雇用主工会在网页上发布6条推荐事项。例如、让家务劳动者到雇主家后换衣服。如果家务劳动者有感染症状，让家务劳动者立刻归家等。但是，劝家务劳动者留在自己家不外出的文章却没有。

没有带薪休假和政府保障的状况下，承担家务劳动的女性们的处境全凭雇主的想法决定。里约热内卢的第一位死者、全巴西的第五名死者就是在国内最高级的住宅区Lebron地区工作了数十年的一位63岁的女性家务劳动者。这位家务劳动者的雇主从意大利回来之后，身体出现问题，在等待新型肺炎的检测结果期间，雇主隐瞒情况让家务劳动者继续前来工作。之后雇主康复。

住在里约热内卢的教师兼女演员的Larissa．Franca看到57岁的母亲和75岁的祖母在肺炎肆虐的外出禁令期间仍继续工作的身影，在网络上发起了“Lives of Our Mothers”（为了我们的母亲们的生存）的宣传活动。Franca和有亲人是家务劳动者的人们协力，要求给母亲们带薪休假，以及给失业者和捐赠者之间架起联系的桥梁。

Franca说：“劳动者们正在害怕是不是因为自己做错了什么而失去工作。我发起这个活动，是为了让劳动者们的发声不被非难指责。”

Paraisopolis地区的Regance．Santos也发起为失业的家务劳动者们募集资金的活动“Adopt a Day-Maid”。给因肺炎肆虐而失业的女性们提供3个月的食物、卫生用品、每月300雷亚尔（约合人民币394元）。活动发起3星期就有1000人左右申请。

Santos说：这些女性大半是承担家计的单亲妈妈，她们为了生存下去必须得到工资。”

多亏了这些活动，使许多人免于陷入饥饿的状况。需要抚养7个孩子的单亲母亲Dourad原本在高级公寓做每周三天的清扫工作，但在肺炎肆虐期间被雇主解雇，失去了每个月1000雷亚尔的收入，导致支付不起每个月500雷亚尔的房租。现在通过地方的捐款，可以让孩子吃上饭，但仍买不起肉和牛奶之类。最令她担心的是五岁的小儿子，家里唯一的窗户因为改造工程而被堵上之后，小儿子因为发霉的味道而呼吸情况恶化。为生存而竭尽全力的人们，因为新型肺炎的流行而陷入更穷困的境地。

“太痛苦了，神明啊，请你取走我的生命。这样的痛苦持续下去，被夺走生命的人反而会更轻松。”Dourad这样祈祷，但她还是说：“即使这样，我也相信这样的日子会结束的吧，情况一定会好起来的。”

🔺 为生存而竭尽全力的人们，因为新型肺炎的流行而陷入更穷困的境地。

</label><p><label>阅读量:3.1万</label><p><label>转发:6</label><p><label>评论:4</label><p><label>点赞:18</label><p>评论内容:<br/>无阿蒙H_M：好难过<br/>芝士饼干警长：支持你为女性发声。但任何消息希望您能去验证一下真实性，并且客观的分析一下原因再发。不然和女拳没区别<br/>开心傻抱：@你家楼下保安队长<br/></p></li><li><p><label>发布日期:8月24日</label><p><label>发布时间:13:30</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jho1RwP5m?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:孟买街头出现了女性人形的人行道红绿灯。当地政府已经替换了超过一百个红绿灯上的男性人形，换成了女性。这是孟买建设行人友好街道的一项措施。”这个变化反应了我们对性别平权和女性赋权的支持。“负责人说。

人权专家认为，虽然这是很小的行动，但这个行动意义重大。在印度的许多城市，公共场合中的女性比例非常小。”这一代的年轻女孩将和女性人形的红绿灯一起长大。对她们来说，这表示女性有权进入公共场所。“

”这种象征符号的存在会慢慢改变印度的刻板印象：一个在大街上行走的人总是男人。“一位社会学家说。

孟买已经在地铁上开启了”女性专用车厢“，并在印度有”对女性最安全的城市“的名声。这个国家曾在2018年被评为全世界最不安全的国家。

德里去年宣布公共交通对女性免费，以增加女性的活动范围。还有省份为女孩提供免费自行车，使她们能更安全地往返学校。
（来源：卫报）

▲ 女性有权进入公共场所</label><p><label>阅读量:4.3万</label><p><label>转发:23</label><p><label>评论:12</label><p><label>点赞:232</label><p>评论内容:<br/>无红泥小火炉煮茶：印度卫生巾都是免税的，天朝还在继续收税。人家都在努力向前，我们这里的国蝻还在拿人家比烂。<br/>小桃无赖已撩人：我妈说以前她们有卫生用品补助的。<br/>summeeeeeer_air：我没想到有一天能赏到印度的月<br/>Chantelledd：所以好多国男是怎么好意思说出“中国女性地位比其他国家高多了”的？？真的以为由上而下的“计划女权”是多好的女权吗？？<br/>宇未清源：“对她们来说，这表示女性有权进入公共场所”这话看着真心酸<br/>志焄尼：现在连印度都在做出改变了，哎<br/>paroxetine___：这个真的很棒！<br/></p></li><li><p><label>发布日期:8月25日</label><p><label>发布时间:21:00</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JhAp4rdvs?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:神奈川相模原北警察署于25日以杀人未遂的嫌疑逮捕了22岁的田嶋貴弘。

25日下午2点55分左右，警察接到嫌疑人田嶋貴弘的报警电话称：“我勒了我女友的脖子。”警察赶到相模原市绿区下九沢的一间公寓内，发现一名22岁的女性倒在地上，嫌疑人田嶋貴弘也在场。该受害女性被送医，并无生命危险。

嫌疑人田嶋貴弘供述称，两人因为分手的话而起了纠纷，他虽然用手掐了受害者的脖子，但并没有想杀死她。警察现正在调查此案。

🔺比起祝福七夕快乐，更希望每个人在亲密关系里不要遭遇暴力。</label><p><label>阅读量:6.7万</label><p><label>转发:48</label><p><label>评论:10</label><p><label>点赞:146</label><p>评论内容:<br/>无就业性别歧视监察大队：国外针对家暴建立了专门的女警处置制度，我们也应该学习起来//@都说了人家是人类领袖嘛:日本家暴管理的真的挺好的。之前我和男朋友非扰民时段吵架，邻居以为我被家暴报警，来了10个左右警察，有一个女警径直进来把我单独隔离和谈话，说如果有伤势她想看一下。最后教育我男朋友不要对女性那么大声嚷...<br/>都说了人家是人类领袖嘛：日本家暴管理的真的挺好的。之前我和男朋友非扰民时段在家里卧室吵架，被邻居听了到以为我被家暴报警，之后陆陆续续来了10个左右警察，其中有一个女警径直进来把我单独隔离和我单独谈话问我发生了什么，并说如果有伤势她想看一下什么的。最后临走教育我男朋友不要对女性那么大声嚷...<br/>糖醋又又：杀人就是杀人，杀人未遂就是杀人未遂，使用暴力就暴力，别整天“感情纠纷”“家庭内部矛盾”<br/>吃土少女陈咩咩：换等国就是家务事，警察都懒得上门<br/></p></li><li><p><label>发布日期:8月26日</label><p><label>发布时间:16:49</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JhIbIlIVl?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:俄罗斯</label><p><label>内容:由于新冠，有超过1000名代孕婴儿滞留俄罗斯。代孕母亲通常在生产后的几天内将婴儿交付给客户，但由于新冠封锁国界，有些代孕母亲已经照料了婴儿近半年时间。一位5月生产的孕母说，她害怕与婴儿分别的时刻：”你会觉得你把自己的孩子送人了。“

“这些婴儿越长越大了，他们需要父母。”俄罗斯的人权专家Kirkora说。目前世界上仅有有限的几个国家和地区允许商业代孕，包括俄罗斯，乌克兰，格鲁吉亚，以及美国的个别州。几个月以前，由于新冠而滞留乌克兰的代孕婴儿已经引起了国际重视。

James和Ling，一对住在上海的英国-中国夫妻，正等着他们的女儿降生：他们在莫斯科的孕母刚刚住进了医院。但他们无法按时入境俄罗斯。他们收集了女儿的医疗报告，新冠相关报道，以及他们为拿到俄罗斯签证而进行的艰难的外交交涉，打算女儿长大后作为她的历史提供给她。

约有180个中国家庭的代孕婴儿目前滞留在俄罗斯。他们靠一个150人的微信群交流信息。其他代孕客户来自新加坡，法国，菲律宾，阿根廷和澳大利亚，Kirkora说。中国客户一般付给中介约6万英镑代孕费用，而孕母的报酬低至1万1千5百英镑。

除了新冠的影响，最近对4名医生和4名代孕公司员工的人口贩卖指控也给俄罗斯代孕产业带来了变数。案件涉及一名新生婴儿突发病症死亡案例，以及被发现的2个中国护工看护下的5名婴儿。

由于惧怕负连带责任，现在俄罗斯的医生都不愿意为孕母提供医疗服务，翻译人员也拒绝服务不能入境的代孕客户。”这世界疯了，但承担后果的却是最弱小的婴儿。“一家代孕公司经理说。
（来源：卫报）

▲ 代孕合法化的前提，是对相关法律和伦理的充分讨论</label><p><label>阅读量:3.1万</label><p><label>转发:22</label><p><label>评论:15</label><p><label>点赞:277</label><p>评论内容:<br/>无山前灯火又黄昏：买卖人口的生意，人只是商品，商品都有损耗。<br/>FireLatte：贩卖人口，确实是贩卖人口。不能生就领养吧，你那点基因真没啥好传承的。<br/>rakujitu：我支持全面禁止代孕<br/>s萧亚轩的快乐：开放代孕的俄罗斯的人权专家说婴儿需要父母，就很讽刺！代孕被开放的时候你把孕妇和婴儿的人权放在何处了！<br/>丁丑_女：哦，全面反对任何形式的代孕果然是有道理的，在代孕行业里，每一个婴儿不是鲜活的生命，只是一件商品🙃<br/>零落_98：原来俄罗斯能商业代孕啊  为啥老说乌克兰<br/></p></li><li><p><label>发布日期:8月28日</label><p><label>发布时间:16:05</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Ji0KZobsX?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:新冠疫情使学术界缓慢前进的多样化进程受到了很大阻碍。有研究人员说，新冠使学术界的多样化倒退了30年。

在致自然期刊的一封联名信中，19位来自世界各地的学者提出了新冠对弱势群体不成比例的冲击，包括女性，少数族裔，以及贫困家庭。

来自英国的Jackson作为北半球仅有的个位数的黑人地球科学家之一，担心在新冠的冲击下，各个研究所更有借口放弃招聘和升职中的多样化目标，“他们会说，现在不是采取进步行动的时机。他们更不会专注多样化，而一些族裔受到的冲击会非常大。”

美国的少数族裔科学家也正在面临困境。一位女化学家说，她周围理工科的少数族裔博士生，博士后以及年轻学者都在经历经费缩减，工作中断。她说，虽然目前的情况是所有群体都受到了影响，但少数族裔学者更有可能面对家人或朋友的健康问题，因为美国的数据表明，非州和拉丁裔感染新冠的几率是白人的三倍。“在公共医疗资源分配以及教育资源分配中存在的长期不平等，现在都被新冠疫情暴露了出来。”

巴西一项对超三千名学者的研究报告表明，77%的单身白人男性学者表示他们在新冠期间发表论文的进度没有受影响，而这一数字在已育黑人女性学者中仅为47%。83%的单身白人男性学者表示毫无压力在截止日期前完成工作，而在已育白人女性学者中为79%，已育黑人女性学者中为68%。“数据表明，新冠期间有两个群体受到了最大影响：已育白人女性学者，以及所有黑人女性学者（无论是否已育）。”这份报告的作者说。

奥地利的一位女环境学家指出，女性学者在新冠期间承担了工作和家庭中大部分与学术无关的工作。在工作中她们普遍承担更多指导和服务性工作，这些工作对于学术社区不可或缺，却并不在升职时受到承认。而在新冠中这一情况变得更为普遍。“当我的男同事在专心撰写论文时，我却要做大量的网课和学术社区工作。”她说。她也试图赶论文进度，却发现她的女同事们在新冠期间普遍没有时间。

对网上两个最大的开源论文上传平台arXiv和bioRxiv分析报告量化了新冠对女性学者的影响。在3月和4月，物理学论文中以男性为第一作者的数量与去年同时期相比增加了6.4%，而以男性为第一作者的论文数量同比仅增长了2.7%。对于新冠本身的研究论文中，仅有三分之一的作者是女性。

澳大利亚国家科学院的一份报告表明，在3-4月期间失去工作的男性学者占4.8%，而女性学者占6.3%。并且女性有更大可能被作为短期合同工。
（来源：自然）

▲ 不要让30年的平权努力化为乌有</label><p><label>阅读量:2.2万</label><p><label>转发:4</label><p><label>评论:1</label><p><label>点赞:18</label><p>评论内容:<br/>无__峋XUN__：没孩子可能真的还能轻松些… 我学姐有两个孩子，学校也不开学，她时不时半夜十二点回邮件…<br/></p></li><li><p><label>发布日期:8月31日</label><p><label>发布时间:23:48</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jiw480LuL?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:东京武藏野市逮捕了一名涉嫌侵入她人住宅和猥亵未遂的男子。据警方称，嫌疑人土手佑太（25岁）在上个月29日，尾随一名女学生到家门口，女学生之后出来倒垃圾，因为垃圾回收点距离家只有十五米左右，所以没有锁门，嫌疑人趁机潜入女学生家中，藏进壁橱里，后因露出了身体被女学生发现。
嫌疑人在被审讯时承认了罪行称：“因为发现了喜欢的类型的女孩，所以尾随在后，在她家门外的死角里等待。”

🔺喜欢你，所以要伤害你。</label><p><label>阅读量:3.3万</label><p><label>转发:8</label><p><label>评论:5</label><p><label>点赞:46</label><p>评论内容:<br/>无丽名小姐：不过是打着喜欢的幌子来实施犯罪罢了<br/>-雪桃甘露-：所以那些明星的私生饭找到脱罪理由了？<br/>宁丨君悦：怎么回事<br/></p></li></ol></body></html>