<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202009微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2020年09月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:9月3日</label><p><label>发布时间:00:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JiP66fTKQ?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:在乘坐出租车时，因触摸女司机的胸等，糸岛市的普通上班族楢崎政人（48岁）涉嫌强制猥亵被逮捕。

据警察称，嫌疑人楢崎政人于本月2日下午1点半后，在乘坐出租车回家的两小时里，涉嫌从后面伸手触摸女司机的上半身，做出猥亵行为。

女司机一边抵抗一边继续开车，将出租车开进了糸岛市警察署报警。

嫌疑人楢崎政人否定嫌疑称：“虽然被告知了被逮捕的原因，但老实说我并不记得（自己做过猥亵行为）。”

🔺一系列的女性遭遇猥亵的新闻，并不意味着女性不适合独居、不适合开出租车……而是男性应该反思，怎么你们才能不犯罪、不伤害别人。</label><p><label>阅读量:3.8万</label><p><label>转发:10</label><p><label>评论:2</label><p><label>点赞:72</label><p>评论内容:<br/>无三十三块二毛八：海外之声这个环节很棒！<br/>北斗仙尊_：被逮捕，月亮圆<br/></p></li><li><p><label>发布日期:9月9日</label><p><label>发布时间:01:52</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JjKiIDbFR?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:自民党总裁选举在8日发布公告，有意愿成为新总裁的代理总干事长稻田朋美 （61岁）和元总务相野田圣子（60岁）都没能成为候选人。建立65年来，自民党只有在2008年的总裁选举里，小池百合子一位女性候选人。

7号发布公告的立宪民主党等联合新党的代表选举里，也没有女性候选人。即使是比自民党更开放的在野党里，女性党首也只有旧社会党的土井たか子（14年去世）和旧民进党的蓮舫参议院议员（52岁）两例而已。

日本国会的女性议员现约占14%，在世界的193个国家中排名第166位，18年虽然推出了《政治领域男女共同参画推进法》，但女性参政比列并没有多大变化。

🔺别让平等只成为一句落不到实处的口号。</label><p><label>阅读量:6.8万</label><p><label>转发:2</label><p><label>评论:6</label><p><label>点赞:30</label><p>评论内容:<br/>无安纳芋和内脏锅：日本感觉社会文化就这样了吧 企业每次说自己女性福利做得有多好基本都在说能让女性做到家庭工作两立 不知道什么脑回路<br/>QQ群女儿国：为什么没有女党首？通过婚姻制度给女人套上枷锁，美名其曰“贤内助”，再立个“贞节牌坊”！<br/>土豆夹来夹去会臭：儒家三兄弟，都懂<br/>不知名的幻想家：日本的女性歧视比这里还严重<br/>我就是馋你肾子：唉<br/></p></li><li><p><label>发布日期:9月9日</label><p><label>发布时间:12:46</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JjOzWcZQw?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:五年前Sarah作为一名美国女子青年足球队教练拜访了非洲的一些同事。作为给非洲队员的礼物，她带了一小包运动胸罩。让她意想不到的是，她的礼物大受欢迎，甚至受到了纳米比亚女子国家队的追捧。她意识到：这里很多女孩从来没听说过运动胸罩。

“很多发达国家的女性会说：‘运动员需要运动胸罩，多么显而易见的事情！’”她说，“但我作为一个职业运动员和教练，也用了这么长时间才发现她们的需求。”

“运动胸罩项目”就这么成立了。成立初期，这个草根组织主要负责支持运动员，为她们提供运动胸罩。“如果我们直接捐赠运动器械，这些东西都会优先被分给男性。”Sarah说，“但运动胸罩不一样：它一定会到女孩们的手里。”

五年过去，如今的“运动胸罩项目”已经成长为一个负责收集和分配上千运动胸罩的公益组织。有4000件运动胸罩成功支持了20多个国家的女性运动员和体育爱好者。

“这并不像提供运动装备那么简单，”Sarah说，“我们是在支持女性参与体育的基本权利。在公益活动中我们总是强调：女孩应该参与体育活动，因为这对健康有利，或者有利于她们留在学校，或者可以锻炼她们的领导力。但这是不对的——我们从不问男孩们参与运动有什么收益，而默认他们就是喜欢。”

对Sarah来说，“运动胸罩项目”不仅暴露了女性进入体育界的门槛，也暴露了体育界决策层的女性缺失，使得体育界无法进行从上到下的结构性变革。

“我曾经在一个少年俱乐部工作。这个俱乐部有超过三分之一的运动员是女孩，但六个经理中只有我一个女性。”Sarah回忆，“购买适合女孩身材的装备，以及在急救包里增加女性用品，这么简单的事情都得不到实施，因为你是整间屋子里唯一的声音。“

”在管理层中缺乏话语权，就会造成这种情况：运动胸罩或者月经棉这种女孩们的日常，突然变成了‘特殊需求’而遭到无视。”Sarah说，“我想提供的不仅是运动装备。我要常态化女性参与体育的各方各面。”
（来源：卫报）

▲ 争取话语权，才能促进结构性变革</label><p><label>阅读量:3.3万</label><p><label>转发:39</label><p><label>评论:2</label><p><label>点赞:154</label><p>评论内容:<br/>无控可可：在等国，就算捐胸罩也会被男的拿去用的<br/>z远游：我不是运动员也爱穿运动胸罩，真的很方便！@女性体育<br/></p></li><li><p><label>发布日期:9月10日</label><p><label>发布时间:21:45</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jk1xnEkrU?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:钱不会性别歧视，但投资顾问会有性别歧视。

据美国经济媒体Bloomberg报道，香港的学术研究表明，在男女能承担相同风险的情况下，经济顾问更容易让女性去投资不确定的项目。

香港科技大学的研究者称：“这是因为经济顾问们觉得女性更容易哄骗，即使给她们的是很一般的建议也没关系。”

经济顾问们认为女性比男性掌握的金融知识少，即使给她们很糟的建议，她们也不会察觉，只要推荐给她们中意的产品，让她们愿意购买就可以。

这种态度不仅会造成客户的损失，也可能会让经济顾问得到意料之外的坏结果。

据美国的调查称，富有的女性投资家比男性投资家解雇经济顾问的可能性高。

香港这次的调查一共雇用了匿名调查员32人，男女各半，去找经济顾问进行咨询。调查员各自随机分配了以下3个条件中的一个——风险容许程度高还是低，消费热情高还是低，希望投资的是国内还是海外。

除了这些限定的条件外，怎样和经济顾问说明自己的要求也进行了统一，减少性别以外其他因素的干扰。

结果是，女性的三分之一以上（37%）被推荐进行个别股票、复合型保险商品、不动产投资信托等非分散投资。而男性被推荐这种风险投资战略的只有14%。

另外，比起男性，女性更容易被推荐国内投资而不是国际投资。

🔺还有多少看不见的性别歧视？</label><p><label>阅读量:5.4万</label><p><label>转发:50</label><p><label>评论:3</label><p><label>点赞:89</label><p>评论内容:<br/>无Taikkkkk：好了 生意来了 大蓝海<br/>张温柔超温油：这也太恐怖了。。。。呕<br/></p></li><li><p><label>发布日期:9月11日</label><p><label>发布时间:13:14</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jk7CtzFRg?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国所有有10岁以下幼儿的母亲里，五分之二面临儿童托管困难。由于疫情和经济危机而减少的托管场所，将导致几十年来增加劳动力的努力化为乌有。

“女性劳动者正承担着这场危机的绝大部分后果——不仅是在抗击疫情的前线，也在家中。”英国工会联盟秘书长说，“如果我们再不处理儿童托管的问题，女性将被迫退出劳动力市场。”

一份调查表明，英国目前有41%有10岁以下幼儿的职业母亲找不到能够覆盖她们工作时间的托管场所。她们中近一半表示她们失去了朋友和家庭的托管帮助，35%说她们找不到孩子放学后的托管机会，28%失去了早间托管服务，28%失去了一切托管服务。

调查还显示出职业母亲承担的过多压力：30%的工作母亲说，她们必须经常在早上8点以前或晚上8点以后工作，以平衡工作和育儿。六分之一的母亲担心这种安排会影响她们的晋升机会。

虽然这份调查表明父母双方都有幼儿托管的问题，但近一半母亲表示她们必须在居家办公的同时照顾孩子，而这一数字在父亲中仅有29%。

英国工会联盟呼吁政府为没有幼儿托管的家庭延长补助计划，并呼吁公司为职业父母提供更灵活的工作时间。

幼儿托管行业也正在积极游说政府，他们担心如果没有政府干预，几千家托管机构将面临倒闭。
（来源：卫报）

▲ 女性劳动者正承担着这场危机的绝大部分后果——不仅是在抗击疫情的前线，也在家中</label><p><label>阅读量:2.6万</label><p><label>转发:8</label><p><label>评论:1</label><p><label>点赞:27</label><p>评论内容:<br/>无鲍毓明啥时候判刑我啥时候改名：孩子永远只有母亲在操心🙃<br/></p></li><li><p><label>发布日期:9月14日</label><p><label>发布时间:23:52</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JkE4YCq7o?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:巴西</label><p><label>内容:巴西女性冲浪高手Maya Gabeira（33岁）于今年的2月11日挑战了约73.5英尺（22.4米）高的大浪，在本月被吉尼斯世界纪录认定刷新了世界纪录。

过去的世界纪录是Maya Gabeira在2018年征服的68英尺大浪。

Maya Gabeira17岁开始冲浪，曾在2013年在海中昏迷，幸亏得到同伴救助，没有发生意外。在康复之后，她又立刻开始了冲浪运动。

🔺世界上是不是又少了一项不适合女性的运动？</label><p><label>阅读量:5.3万</label><p><label>转发:7</label><p><label>评论:3</label><p><label>点赞:109</label><p>评论内容:<br/>无SHARE小小哥：她前年在Nazare冲完巨浪之后的采访视频超级inspiring 看哭<br/>红泥小火炉与茶：天朝：女人不适合冲浪，不适合潜水……<br/></p></li><li><p><label>发布日期:9月15日</label><p><label>发布时间:15:24</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JkKbd96yW?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:索马里</label><p><label>内容:索马里的童婚问题一直非常严重。一项报告表明，由于疫情和经济危机，索马里童婚的年龄正在降低。有些女孩在10岁时就被迫嫁人。

Salat是15岁时和表兄结婚的。当她向父亲抗议时，父亲让她选择“是被祝福还是被诅咒”。“根本没有选择，”她说，“我是被迫结婚的。”

她来自索马里中南部，在结婚前梦想当一名医生。结婚后她必须放弃一切教育机会。三年后，她带着两个孩子离了婚。她的丈夫用从女孩家里得到的钱买烟草，却任凭她的孩子们挨饿。她用了5个月时间才说服她的父母允许她离婚。现在她和父母住在一起，但她的父亲经济困难，已经难以支持他自己的10个孩子和两个妻子。

根据政府最近的一项报告，索马里有34%的女性在结婚时是未成年人。其中16%结婚时年龄小于15岁。

父母为女孩安排童婚的理由之一是嫁妆，所以在经济危机中，童婚变得更加普遍。但索马里社会中一直倡导童婚，一句谚语说，“女孩不结婚就该死”。

在索马里，童婚并不违法。虽然索马里在2014年签署了国际协议，承诺2020年以前结束童婚，但在今年8月，索马里政府提议了一项法律，允许结婚年龄降至性成熟年龄，最低可至10岁。另外这项法律还允许性犯罪施暴者与受害者结婚，父母同意即为合法。目前这项法律正在讨论中。

Salat目前靠在街边售卖茶叶糊口。她每天都要面对一个单身母亲受到的全社会的恶意。“我要为我的孩子们创造更好的未来，让他们以后再也不用像我一样生活。”她说。
（来源：卫报）

▲ 在落后的地区，女性也是最大的受害者</label><p><label>阅读量:2.8万</label><p><label>转发:4</label><p><label>评论:3</label><p><label>点赞:49</label><p>评论内容:<br/>无泽溪木业：世界最大的邪教<br/>红雨Hongy：应该有人去打拳。<br/>北斗仙尊_：不停的吃女人<br/></p></li><li><p><label>发布日期:9月17日</label><p><label>发布时间:17:11</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jl3Jw0r1B?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国军队自2000年起才开始允许招收女兵。20年后的今天，德国现任女国防部长Kramp-Karrenbauer提出，将改变带有男性特征的军衔称谓，使军队对女性军官更友好。

德语中的性别问题由来已久。在德军军衔中，有直接带有“男性”字样的称谓，比如德语中的“陆军上尉（Hauptmann）”直译为“男指挥官”。当女性也开始担任上尉一职时，军队中仍然称她们为“男指挥官女士”。

在2000年以前，德国军队不允许女性入伍。2000年，一位高级电工Tanja Kreil将德国军队告上了欧洲法院，理由是她虽然技术过硬，但由于是女性而被拒绝了在军队的工作机会。她胜诉后，德国政府不得不修改了这条“禁止女性入伍”的法律。

在今天的德国军队中，女性约占12%。Eva Hoegl，负责军队事务的一位德国女国会议员认为，军队中至少应有30%的女性，但“女性士兵目前在很多地方都得不到同样的尊重。”她说。

一位女德军中尉表示并不同意军衔的改变。她认为性别平等不应该只停留在称谓的改变，而是保证女性在军队中能够得到与男性相同的权利。
（来源：卫报）

▲ 女国防部长，女国会议员，女军官和女电工们，推动了职业性别平权</label><p><label>阅读量:2.9万</label><p><label>转发:19</label><p><label>评论:4</label><p><label>点赞:99</label><p>评论内容:<br/>无是nee_蝶呀：不只我一个人关注到了Kreil竟然胜诉了吧<br/>Kingmilla：女子本强，姐妹们加油<br/>珀斯亚：👏果然啊 想要获得平等地位与权利 只有自己行动 实践才行！想依靠别人根本是镜中月水中花啊<br/></p></li><li><p><label>发布日期:9月18日</label><p><label>发布时间:21:16</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JleLAAhQW?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:尼日利亚</label><p><label>内容:在建校45 年之后，Calabar大学终于迎来了第一位女性副校长，教育学院的Florence Obi教授。Obi教授将接替Zana Akpagu教授的职位，后者的任期于11月30日结束。
9月11日，在UNICAL酒店举行的第11届副校长选举大会上，Obi从13位候选人当中胜出，并由第12届校委会宣布成为新一任副校长。
在领取就职信之后的采访当中，Obi表示这是一场自主公平的竞争，她同时承诺，会在今后管理过程中体现更多的包容性。
在选举结束后，担任委员会主席、理事兼副监督的Nkechi Nwaogu也表示，所有操作都是透明，自主以及公正的，此外她指出，Obi的出现是女性的胜利。
“我们已向校委保证了整个过程的透明性、开放性及其公平公正，我们遵循了联邦教育局关于如何进行任命面谈的指导方针，并斟酌了许多必须考量的参数。”
Nkechi Nwaogu也督促Obi在即将离任的副校长的工作基础上推进一个可持续的发展思路。

（来源：卫报，翻译：Xiao）</label><p><label>阅读量:3.8万</label><p><label>转发:2</label><p><label>点赞:26</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月21日</label><p><label>发布时间:18:20</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JlFTE3OPY?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:哈佛大学的一项调查显示，女性CEO在签合同时普遍对于赔偿金额和条款有更高的要求。这表明女性更多考虑被辞退的情况。当公司运营情况不佳，或最高管理层没有其他女性时，这种倾向更为明显。

对于身居公司最高决策层，或作为国家政治首领的女性来说，她们经常要面对的不是“玻璃天花板”，而是“玻璃悬崖”。这一概念是英国的两位教授在对100家英国股指公司的最高决策层招聘策略进行了研究后提出的，专指在公司或国家发生危机或失败可能性最高时，女性比男性更容易获得最高管理层或政治委任的现象。

在这个概念提出后不久，一些社会实验也证实了这一结论。2006年对法学生的一项调查显示，他们更倾向于将高风险案例交给女性律师。2010年在英国政治学本科生中的一项调查也显示，当竞选成功率更大时，他们倾向于委任男性候选人参选；而当候选席位被描述为“很难取胜”时，他们更倾向于委任女性候选人。

在去年的英国议会选举中，保守党也将大量女性候选人安排竞选不可能赢得的地区（O网页链接）。

波士顿大学的心理学教授说，公司更倾向于给女性“玻璃悬崖”类型的职位，因为他们认为女性是“可牺牲的”，和“更好的替罪羊”。如果女性成功，公司可以扭亏为盈；如果女性失败，公司仍然可以在以“性别平等”标榜自己的同时，堂而皇之地回到委任男性CEO的传统中去。

最初提出这一概念的两位教授说，女性更可能接受这类岗位，因为她们缺乏其他的上升通道，同时也缺乏高质量的内部风险信息。
（来源：哈佛商业评论，维基）

▲遇到风险时一些人顶在前面，风险结束后另一些人出来邀功</label><p><label>阅读量:2.7万</label><p><label>转发:25</label><p><label>评论:2</label><p><label>点赞:68</label><p>评论内容:<br/>无反乌托邦的少数派：“遇到风险时一些人顶在前面，风险结束后另一些人出来邀功”<br/></p></li><li><p><label>发布日期:9月23日</label><p><label>发布时间:00:39</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JlRNYse6R?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:中国</label><p><label>内容:中国的抗疫电视剧因对女性的刻画存在性别歧视而被谴责

中国的电视台正在播放以曾在全国传染的新冠肺炎为题材的电视剧，该剧因轻视在传染重灾区与肺炎战斗的女性们的作用，在社交媒体上被谴责性别歧视。

中国国营的中央电视台（CCTV）在黄金时段播出的新电视连续剧《最美逆行者》于18日播出了第一集，但因对抗击新冠肺炎的女性们的刻画方式引起了广泛批评。

被认为有问题的场景之一是关于新冠肺炎开始流行的地区武汉的巴士司机的情节。将参与运送物资志愿活动的报名司机都安排成男性，又安排女性司机以家里有事为由不想参加。

在中国版Twitter—微博上，用户们引用了官方媒体称赞女性司机和志愿者在实际行动方面贡献的新闻，证明了在武汉封城期间，女性们在物资供给和医疗活动中扮演着重要角色。

“在这次的与传染的斗争中，女性们做出了巨大的贡献……可疫情蔓延还没完全结束，他们已经开始了中伤（女性们）。”这条评论获得了1万5000个人支持。

也有用户这样评论：“这部电视剧无视了抗击新冠肺炎的女性巴士司机们的贡献。在电影和电视剧中，应该纠正这类隐含的性别歧视”。

在社交媒体上，出现了呼吁抵制该剧的话题，虽然周末这个话题被删除了，但是同样带了剧名的话题再次被创建，到21日下午为止阅读量已经超过22亿次。

据官方统计和报道，在武汉市实际抗疫过程中，在最前线工作的医疗人员大半是女性。另外，根据4月卫生部的发言称，湖北省派往武汉的护士共计2万8600人，其中女性占了90%以上。

人民日报（People's Daily）也在3月曾报道，派往湖北省的4万名医疗从业者中，有三分之二是女性。

此外，国营英语广播CGTN 4月还播出了以开车送餐给医疗工作者的女厨师为题材的特集节目。

21日，在大型电影评论网站“豆瓣（Douban）”上，受到谴责的新电视连续剧的部分评分无法阅览，评论栏全部都被审查。

新闻来源：雅虎日本
原文链接：O中国のコロナドラマ、女性の描き方「性差別」...

🔺这是海外之声第一次发其他国家关于中国的新闻报道，想听听大家的意见，对海外报道的中国女性议题相关新闻有没有兴趣？</label><p><label>阅读量:4.1万</label><p><label>转发:45</label><p><label>评论:26</label><p><label>点赞:505</label><p>评论内容:<br/>无田园男权每日互搏术：我说实话，真的是给境外势力递扎zf的刀子外面报道是“中国网民极力反对中国zf制作的充满性别歧视、无视抹黑女性的片子”。一个信息，人民是好的，第二个信息，zf真的有问题就这还不处理央视和导演编剧，太神奇了这哪抹黑人民啊，这哪是抹黑女性啊，这都是抹黑zf了<br/>海苔仙贝贝：封得住国内舆论，堵得住外人的嘴吗？咱们医护人员不分男女的在海外支援，赢得了国际社会尊重，到头来还是自己人给他们抹黑，丢不丢脸？<br/>油尖旺金猫玲：自己递的🔪<br/>陈陈十九：非常有兴趣，想知道国外舆论能不能反推国内进步，还是依旧没脸没皮<br/>游客01号：丫还特地提了是国营的<br/>漠漠是一种柄：海外不能404<br/>零荷lh：有兴趣👍<br/></p></li><li><p><label>发布日期:9月23日</label><p><label>发布时间:15:18</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JlXyLxwhS?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:墨西哥</label><p><label>内容:反侵害，反杀害——墨西哥女权的“黑群”抗议

身穿黑衣、戴着黑色面罩的四名女性进入位于墨西哥城中心的国家人权委员会大楼。九月初，这些年轻的女权主义者们占据了这个建筑，来抚慰并支持性虐待、性仇杀和强迫失踪的受害者的亲属们。他们的行动很快引起了反响：人们不惧疫情风险，抗议权威机构对不断加重的性暴力事件无所作为。

一名自称为“黑群”的成员说，“国家人权委员会大楼现在是受害者们的庇护所。” 以安全为由，她拒绝透露姓名。国家人权委员会是一个独立的机构，日常工作是接收违反人权问题的投诉。现如今，它被贴满了要求正义审判的标语。在这个每天都有十名以上妇女被杀害的国家里，“我们不会忘记，也不会原谅！”（其中一张标语）

男性被禁止入内。“只有黑群的激进行为才能让无所作为的权威机构听见我们的呼声。”没有戴面罩的Imelda Orozco Martinez说。与这位四十多岁、面露疲惫的女性一起的，还有十多位受害者母亲和五十多位女权主义者。Imelda指着一张照片叹息道：“这，是我的女儿。”她23岁的女儿Dalia在2018年被丈夫杀害，丈夫至今仍逍遥法外。

2019年，共有3825名墨西哥女性被杀害，但仅有976起被定性为“杀害女性”。疫情期间，这样的惨案仍在不断地出现。

黑群（Black Bloc）是一种抗议游行活动中使用的战术，其特征是每个人都穿着黑色服装，使用围巾、墨镜、滑雪面罩、带衬料的摩托车头盔或其他隐瞒和保护面部的物品。如此着装使参与者之间难以区分，从而用来隐藏游行者的身份，阻碍当局的刑事起诉。同时它也可以用来保护面部和眼睛，防止执法者常用的诸如辣椒水喷雾剂等物造成的伤害和眩晕。该战术让团体呈现为一个庞大统一的群体，并且促进团结。黑群的参与者往往是与无政府主义相关的人士。

黑群有时会被媒体误解成一种单一的会员制组织，但事实上它只是一个偶尔会被使用的战术，人们在不同的时间，也可以采用其他的抗议战术。
（来源：世界报，维基，翻译：陈妙妙）

△ 反对针对女性的暴力</label><p><label>阅读量:2.2万</label><p><label>转发:8</label><p><label>评论:6</label><p><label>点赞:54</label><p>评论内容:<br/>无jiunhg1：中国性别比这么发展下去，迟早的后尘<br/>橙子睡不着觉：这个蛮好的<br/>QQ群女儿国：严惩暴力男！<br/>没错我就是玻璃心傻比：在她们那边平和已经解决不了事情了<br/>正能量体温：十名中国出生性别比世界倒数第一。屠杀。<br/></p></li><li><p><label>发布日期:9月24日</label><p><label>发布时间:15:22</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jm712ETxO?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国家庭部发表的一份新的家庭报告显示，德国女性在生活的方方面面仍然得不到与男性同等的权利。德国的性别收入差异在21%，家庭中的女性比男性伴侣平均每天多近1个半小时的无偿劳动，包括家务和照护工作。

前西德各州的情况比前东德要严重很多。在性别收入差异一项，西德各州超过了20%，而东德仅有7%。养老收入差异在西德各州达到了53%（由于女性一生中的工作期短，收入低，所以养老金比男性低53%），而在东德仅有28%的差异。在无偿劳动时间上，西德有超57%的差异（女性比男性伴侣花在无偿家务和照护工作上的时间长57%），而东德仅有37%。

报告指出，这种区域差异来源于东西德二战后至90年代的文化差异：西德一直奉行传统家庭模式，而东德则很早开始了“家庭双收入”和“幼儿托管社会化”的模式，为母亲尽快恢复工作提供了便利。

在今天的德国，家庭收入分工的最常见模式是，女性做兼职或不提供养老金的“迷你工作”补贴家用，同时负担绝大多数无偿家务和照护工作。在家庭中的第一个孩子出生以前，男女双方都全职工作的家庭占71%。但在第一个孩子出生后，这一比例陡降至15%。只要家中有小孩，55%的母亲会选择兼职，另有17%的母亲会选择放弃工作。

报告提出了相应的改进建议，包括对家庭免税条款的修改，鼓励男女双方有一致的工作时长。

明镜的报道下面出现了很多反对的读者留言。有人认为，选择“清闲”的家务工作避免出门上班，是女性自己的选择，而她们住在丈夫辛苦赚钱买来的房子里，退休后享受丈夫的养老金，现在却在女权主义者的教唆下，不仅不承认她们在婚姻中得到的利益，还要抱怨自己的利益不够多。他们认为，男性才是政府家庭政策中被歧视的一方。还有人认为，这是政府进一步蚕食私人空间，通过税改压榨中产家庭收入的手段。
（来源：明镜）

▲ 无论在哪个国家，平权进程都充满障碍</label><p><label>阅读量:3.9万</label><p><label>转发:33</label><p><label>评论:3</label><p><label>点赞:87</label><p>评论内容:<br/>无BeeCharmerr：德国是女总理尚且如此平权进程充满阻碍<br/>噗哈哈去海边：男性或者说既得利益者真是哪个地方都一样不要脸。搞不清因果关系。生什么孩子结什么婚啊。<br/>Momentumweak：@_withWinnie 这才是平权<br/></p></li><li><p><label>发布日期:9月28日</label><p><label>发布时间:15:47</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/JmIT44ASy?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:去年，美国国家科学院（NAS）以84%的绝对多数通过了一项新规，性侵和性骚扰者将被开除。但这项新规已通过16个月，却从未被启用：既没有受害者实名投诉，也没有施暴者被开除。

这并不等于NAS内部不存在性侵或性骚扰者。比如天文学家Marcy，以及基因学家Ayala，他们由于性骚扰在2015年和2018年分别辞职。

“我们还知道几个NAS的成员，都有实际存在的侵害他人的证据。”NAS的主席Marcia McNutt说。“当新规通过时，我们以为会被调查申请淹没。但实际上情况正相反。”她说。

在过去几年间，其他有名的研究机构也通过了类似的规定。2018年，美国科学促进会匿名投票通过了将性骚扰者除名的规定。另一些学术机构也通过了免除性骚扰者会员身份的规定。

在NAS的新规下，任何人都可以向科学院投诉涉及会员的性侵和性骚扰。程序启动后，科学院负责人将调查证据，组织调查委员会获取双方证词，允许双方回应，并向科学院建议解决方案。

但由于NAS没有足够资源进行官方调查，这项新规规定，受害者发起的投诉必须基于其他已经调查过的记录，比如大学性骚扰报告或对侵害者的辞退声明。

这项新规是在平权运动的大背景下，于2019年6月发布的。在此之前，科学会没有任何开除会员的流程。甚至在1997年，会员Gajdusek由于猥亵儿童而被判刑时，科学会也没有开除他。他直到死亡一直是科学院会员。

科学院会员,天体物理学家Urry认为，之所以尚未有受害者向科学院提出投诉，是因为科学院并没有充分沟通这一新规。“我一直以为，这项规定还没有开始实施。”她说。但科学院发言人Bill Kearney说，去年曾有媒体报道这一新规，科学院也将规定传达给了会员。

一些人质疑科学院，既然要求投诉必须有证据确凿的调查报告，为什么科学院领导人不能主动发起辞退程序。NAS主席说，由于她在辞退委员会中的中立身份，她本人不能作为投诉的发起人，但其他会员确有这项权利。

而受害者则认为，科学院这项新规实际要求受害者额外付出，在辛苦获取了足够证据和官方报告后，还要主动参与这个新的投诉流程。“我已经牺牲得足够多，也已经做得足够多了，”参与揭露Ayala性骚扰的环境学家Treseder说，“我们努力使事实被公开了，现在所有人都有相关证据。我对科学院非常失望，对科学院所有没提出投诉的会员感到失望。”
（来源：自然）

▲ 不要让防止性侵害的规定停留在纸上</label><p><label>阅读量:1.9万</label><p><label>转发:8</label><p><label>点赞:28</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月30日</label><p><label>发布时间:16:15</label><p><label>微博链接:</label><a href="https://weibo.com/5327831786/Jn1VqxuCP?from=page_1005055327831786_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:在新冠肆虐的美国，堪萨斯大学的研究人员并没有中断他们的研究，他们还获得了很大的资金支持。如此判断，他们的研究方向与研究新冠病毒以及治疗方法相比，一定更紧迫。他们最近在《性别研究期刊》上公布的一项研究结果，是关于使用人工智能和人脸识别技术，判断一个女人是否在对你调情。

这项研究的结论是，当女性面对一个男性，轻微转头并低头，给他一个眼神并浅笑时，她最有可能在调情。记者对比找到了25年前戴安娜王妃接受采访的视频，在视频中，她有一系列报告中指出的明显“调情”表情，而她当时正在讲述她深受暴食症困扰，多年遭受皇室的PUA操纵，媒体骚扰和丈夫出轨的惨痛经历。

记者认为，这项研究根本不是在研究女性的表情。这项研究面向的是男性受众，研究他们在对女性外表做出评价后，认为这些女性怎么评价他们。记者表示，这种对女性的“研究”本质仍然是服务男性的——就像男性学者“研究”最“有效”的胸罩设计，或者最“佳”的女装裤面料弹性。

记者最后建议：最简单有效的判断一个女人是否对你感兴趣的方式，是等着她自己告诉你。当然前提是，男士们都能尊重女性的内在，聆听她们的话语，而不是死盯着她们的脸看。
（来源：卫报）

▲ 把女性作为“研究客体”，而服务男性的所谓“研究”，并不是技术的进步</label><p><label>阅读量:2.2万</label><p><label>转发:5</label><p><label>点赞:23</label><p>评论内容:<br/>无</p></li></ol></body></html>