<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202205微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年05月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:5月16日</label><p><label>发布时间:20:59</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Ltjim6jhl?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:德国中部的哥廷根市将允许女性不穿着上衣使用室内及室外的游泳池，该措施于5月1日至8月末之间试行，仅限于周末。

该项措施实施的契机是去年一位跨性别男性裸露上身使用泳池被拒绝，因而引起了争论。

该市希望通过允许女性不穿着上衣使用游泳池，来促进有关娱乐设施中性别平等的讨论。这里所存在的问题是，男性光着上身也没问题，但为什么女性不行呢？为什么女性的身体经常被作为性对象来看待呢？

另外，这次的措施也引发了关于“限定的平等”的讨论。女性可以不穿上衣游泳的时间是几个月，而且仅限于周末。男性则可以在任何时间裸露着上身去游泳，去公园，去做日光浴。

据AFP报道，虽然有居民批评这种限制，但当局表示，为了防止对学校平时的游泳课造成影响，有必要设限。</label><p><label>来源:雅虎日本</label><p><label>翻译:小安</label><p><label>阅读量:1.2万</label><p><label>转发:2</label><p><label>评论:8</label><p><label>点赞:96</label><p>评论内容:<br/>就业性别歧视煎茶队：之前的海外之声@煎茶翻译组<br/>一串字母老师：赏月（准备来评论矫枉过正的别评论我，你连枉都没矫过来，就别操心人家有没有过正了）<br/>巧克力慕斯奶盖雪顶咖啡：矫枉过正了<br/>曼代宁：而且女人的胸一直被男权文化的少女少妇av代表，形象搞得太......非人了。去过北方澡堂会意识到一点：不是只有十八的美女有胸，八十的老太太也有胸。<br/>蒲公英终究会秃：我也蛮疑惑，为什么女性裸露上身被认为是羞耻的，男性则不是？因为胸部吗？明明很多男性胸比女生还大……<br/>JQZL-：<br/>HannieBae：@hopeless1929<br/></p></li><li><p><label>发布日期:5月17日</label><p><label>发布时间:21:44</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Ltt1joIC2?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:加拿大</label><p><label>内容:新的薪酬平等法案意味着许多女性有权获得加薪

如果你是为联邦监管组织工作的女性员工，渥太华新的薪酬平等法可能会在未来几年为你带来薪酬增长。但劳工顾问和律师表示，确保雇主遵守最后期限并履行其义务，部分取决于工会和工人自己。联邦薪酬平等立法于2021年8月生效，紧随安大略省和魁北克省的类似法律，要求拥有10名或以上雇员且受联邦监管的公共和私营雇主制定计划，在2024年9月前，解决基于薪酬不平等的性别歧视问题。

虽然加拿大只有不到100万名私营部门雇员（或不到6%的私营部门劳动力）为受联邦监管的雇主工作，但渥太华的薪酬平等立法可能会导致对在这些行业的女性薪酬水平进行全面调整，如银行、运输、电信、邮政和快递服务等行业。

该立法旨在提高“粉红领工作”的薪酬——即传统上由女性从事的职业，其报酬低于主要由男性承担的同等价值的工作。这可能是在金融行业等行业，在这些行业中，几个工作类别传统上由女性担任，或者在卡车运输和铁路等男性主导的行业中，女性仍然在某些类别中占主导地位，例如行政和人力资源角色。

雇主的任务是查看通常由女性担任的工作类别（例如警察调度员）的薪酬与为同一组织带来相似价值的男性主导职业（例如特种警察、另一执法中的民事角色）。然后，组织必须弥合他们发现的差异，将女性主导的职业的薪酬与用于比较的男性主导的职业的薪酬保持一致。</label><p><label>来源:The Globe and Mail</label><p><label>翻译:paper</label><p><label>阅读量:5119</label><p><label>转发:3</label><p><label>点赞:17</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:5月19日</label><p><label>发布时间:23:00</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LtMn1xmV3?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:美国女足在一项里程碑式的协议下实现了同工同酬

美国足球管理机构与国家男子和女子球队达成了里程碑式的集体谈判协议，确保双方同工同酬。美国足协(US Soccer Federation)周三表示，协议内容包括球员基本工资和绩效工资相同，世界杯表现奖金平等，以及商业合作和门票销售的收入分成。这份劳工协议结束了美国足球(US Soccer)与卫冕女足世界杯(women’s World Cup)冠军球队之间长达数年的纠纷。该协议还规定了儿童保育福利、标准化的旅行条件、球场质量和安全的工作环境。

美国女足国家队成员、女足运动员协会主席贝基·绍尔布伦(Becky Sauerbrunn)表示，该协议将“为美国和海外女足的持续发展奠定基础”。

这些劳动协议均持续到2028年底，结束了长达六年多的同工同酬斗争，该斗争始于2016年3月球队成员提起的联邦民权申诉，指控工资歧视，指控最终升级为2019年国家女子足球队成员对美国足球队提起的诉讼。

在此期间，尽管女足的工资更低，但是凭着女足队员第四次赢得世界杯，她们2015年的收入比男足队员多出2000万美元。反观美国男子足球队，不仅未能获得2018年世界杯的参赛资格，也从未赢得过世界杯冠军，却拿着比女足更高的工资。

美国女足与其管理机构之间的斗争在美国吸引了广泛的公众支持，包括来自希拉里•克林顿(Hillary Clinton)等政治人物的支持，并成为2019年世界杯决赛体育场内的战斗口号。随着竞争的加剧，包括耐克和Visa在内的美国足球蓝筹赞助商加大了针对女足的营销和财务支持。

提起诉讼的女子国家队成员，包括足球明星Sauerbrunn、Alex Morgan、Megan Rapinoe、Carli Lloyd等，这项诉讼在今年2月达成了2400万美元的和解协议，但协议的条款取决于与联合会达成的一项更广泛的新劳工协议。

美国足球表示，这两份新的劳资协议是国际足联内部首次将世界杯男足和女足奖金平分，两支球队将跻身全球薪酬最高的国家足球队之列，不过具体的薪酬标准尚未披露。美国足球主席辛迪·帕洛·科恩说:“这些新协议将带领我们进入一个共同发展和合作的振奋人心的新阶段，我们将继续我们的使命，成为美国最杰出的体育项目。”</label><p><label>来源:Financial Times</label><p><label>翻译:Karen</label><p><label>阅读量:1.1万</label><p><label>转发:8</label><p><label>评论:4</label><p><label>点赞:75</label><p>评论内容:<br/>rinKikaWa：希望中国女足也能得到她们该有的待遇<br/>Hong豆Bai玉Qing黎：加油<br/>麻麻最爱的小福泥是玲娜贝儿：加油<br/>一只没有感情的猫猫虫：@一只果子有丝分裂成一堆果子 @杜兰特小号_ 好棒！<br/></p></li><li><p><label>发布日期:5月20日</label><p><label>发布时间:22:28</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LtVAri2kI?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:土耳其</label><p><label>内容:哈德良神庙更名为维比亚·萨宾娜和哈德良神庙：性别平等闯入考古界

MeToo后关于性别平等的浪潮并没有遗忘考古遗址，哈德良神庙更名为“维比亚·萨宾娜和哈德良神庙”，女性的名字放在两千年前的名字之前。

“更正”是在图拉真的孙子和哈德良的妻子维比亚·萨宾娜的雕像抵达神庙之际决定的，雕像伴随着一个无疑很有趣的故事：尽管经历了许多冒险，但今天到达时仍然完好无损。它将在罗马商会机构的历史大厅展出一个月，然后返回其在阿德里亚纳的位置。“让我们给维比亚她应得的，女性在历史上的作用”是商会的口号。

商会会长洛伦佐·塔利亚万蒂（Lorenzo Tagliavanti）说：“今天维比亚·萨宾娜（Vibia Sabina）回到了她的家中，这是一个起源于两千年前的新事，当时一位来自古罗马的重要女性为她丈夫的统治做出了贡献。这在今天也传达了一个信息：各个历史时期的女性都发挥了重要作用，重新发现她意味着赋予这个世界力量。通过这次展览，我们商会对构成古代和当代罗马最非凡古迹之一的建筑，进行的改进工作又迈出了一步。”

保护文化遗产的罗伯托·里卡尔迪（Roberto Riccardi）也加入了“女权主义者”的行列。“通过添加她的名字来重命名哈德良神庙与找回被盗的雕像一样重要，”他向Corriere解释道。“几个世纪以来，女性在历史上的角色都被掩盖了，被剥夺了，我希望其它文化机构也能采取类似的举措，让她们重新焕发活力。”</label><p><label>来源:Primato等</label><p><label>翻译:paper</label><p><label>阅读量:1.2万</label><p><label>转发:8</label><p><label>点赞:37</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:5月23日</label><p><label>发布时间:19:04</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lumx8fZIe?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:东京一医学院操纵考试，13名女性起诉获得赔偿

东京地方法院5月18日判决东京一所医学院向13名女性支付约805万日元（约合42万人民币，下同）的赔偿金，因为该校操纵入学考试以招录男性候选人。

法院裁定这些女性因顺天堂大学的性别歧视而遭受困扰，向每人赔偿300,000日元至900,000日元（约合1.57万-4.70万）。原告此前共要求赔偿5400万日元（约合281万）。

主审法官Makiko Kamoto批评，该大学不公平对待的行为是“不合理和歧视性的”，称私立大学也有义务遵守宪法第14条的规定，该条规定禁止基于性别的歧视。法院还责令顺天堂大学为原告每次入学考试支付30万日元，以补偿考试和交通费等费用。

校方辩称，因为女生宿舍的容量，其录取标准是“合理的”。但法院驳斥了这一说法，反驳说即使宿舍的容量扩大，该校录取的女性人数也没有增加。

根据裁决，13名原告于2011年至2018年期间在该校参加入学考试，但未被录取。诉讼过程中发现，如果校方没有操纵考试，有两个人会通过第一次考试。该大学后来录取了48名女性考生，但如果没有操纵考试，她们本应在2017年和2018年之前被录取。

2018年，在东京医科大学首次被曝光存在类似操纵行为后，日本文部科学省进行的一项全国性调查发现，九所医学院操纵入学考试，以偏向男性申请人和校友亲属。

在日本消费者组织代表未被录取的候选人提起的另一项诉讼中，法院去年9月裁定顺天堂大学有义务退还她们的考试费用。1197 名申请人已要求退还，不包括上述案件中的13名原告。</label><p><label>来源:共同社</label><p><label>翻译:paper</label><p><label>阅读量:6231</label><p><label>转发:7</label><p><label>评论:1</label><p><label>点赞:36</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:5月28日</label><p><label>发布时间:00:38</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lv0qYngrK?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:女裁判将首次在卡塔尔主持男子世界杯

今年的男子世界杯将首次由女性担任裁判。

法国的Stephanie Frappart，卢旺达的Salima Mukansanga和日本的Yoshimi Yamashita被选为卡塔尔世界杯的负责人。

国际足联裁判委员会主席皮耶路易吉·科里纳(Pierluigi Collina)表示:“一如既往，我们采用的标准是质量第一，选出了代表了全球最高水平的裁判。”

“通过这种方式，我们明确地强调，对我们来说，最关键的是质量，而不是性别。

“我希望在未来的日子里，选拔优秀的女性比赛官员参加重要的男子比赛将被视为一种正常的事情，而不再是耸人听闻的事情。”</label><p><label>来源:BBC</label><p><label>翻译:XIAO</label><p><label>阅读量:2.4万</label><p><label>转发:10</label><p><label>评论:6</label><p><label>点赞:84</label><p>评论内容:<br/>酒糯姬：这是个比男裁判付出了更多努力更优秀的裁判<br/>热门微博：恭喜你的博文进入推荐流曝光~持续沿着垂直领域方向创作，获取更多流量，详情见O微博KOL<br/>呆滞的暖橘橘：外面的月亮<br/>修藏易易：<br/></p></li><li><p><label>发布日期:5月30日</label><p><label>发布时间:18:37</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LvqlBzgcU?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:100多位英国演员签署公开信，呼吁荧幕更好地展现45岁以上的女性

英国“为年龄而行动”(AYAC)发起了一封公开信，呼吁荧幕更好地展现45岁以上的女性，以挑战该国娱乐界“根深蒂固”的年龄歧视。超过100名英国演员在这封信上签了名，包括艾伦·卡明、大卫·田纳特、朱丽叶·史蒂文森和理查德·格兰特。

公开信呼吁“平等承诺”，以确保女性在英国的政治、文化和娱乐平台，如电影、电视、政治辩论和新闻内容中拥有平等的代表权。

“今天炙手可热的年轻女演员，明天就是失业的中年女演员，”信的开头是这样的，然后我听到了一些关于年纪大的女性身影缺失的可怕数据。信中写道:“去年，英国电影学院奖(BAFTA)电视类最佳女主角的评选中，连一个38岁以上的单身女性都找不到。”所有女性提名者的年龄都在38岁以下，而男性类别中有两名45岁以上的男性。

AYAC的一项研究发现，在英国电视学院奖(英国最负盛名的娱乐奖项)过去20年里，最佳电视女演员提名者的平均年龄从52岁下降到32岁。与此同时，电视剧男主角的平均年龄从48岁上升到了45岁——相比之下，下降幅度很小。“(这)意味着男性可以在他们玩的年龄里继续舒适地工作，而女性却不能，”信中写道。

从事戏剧、喜剧和剧情片创作的作家们一再告诉AYAC，主角的年龄“通常会被委员、制片人和制作公司拉低，尤其是爱情片女主角的年龄。”AYAC的另一项调查数据显示，尽管近一半的观众能说出20多名中年男主角的名字，但只有9%的观众能说出20多名中年女主角的名字。

“针对女性的年龄歧视是一个根深蒂固的行业主题，它过时、有害，忽视了数以百万计的观众，他们喜欢看到45岁以上的女性讲述我们的生活故事，”信中写道。“由于男性电影人重视女性的年轻和美丽，年轻女性电影人也加入进来，似乎有无数个关于妈妈的问题。我们不需要另一个没有幽默感的大龄母亲，或者根深蒂固的偏执，比如无法挽回的恐同症，或者她女儿心理健康问题的明显“原因”。重男轻女的“圣洁的父亲”和母系的污名化的“可怕的母亲”是一个厌倦和无聊的厌女比喻;似乎是为了提供冲突，与所有代表性不足和代表性狭窄的领域一样，这些冲突需要得到限制。”

公开信最后为广播、制作公司以及新闻和时事事务提出了8条建议。

其中包括确保戏剧和喜剧的编剧和演员在节目制作和委托方面的年龄和性别均等，确保基于年龄以及种族和民族、性别、LGBTQ+、残疾的一系列代表，在政治小组和讨论中，45岁以上的女性与男性和年轻女性的年龄和性别均等，对45岁以上女性的娱乐新闻也有同等的报道。

“一个只有中年男性和年轻女性的小组是过时的，不具有代表性，”信中写道。“这不是对艺术自由的攻击。这凸显出，过多地排除年长女性是通过艺术选择的外衣实现的。”</label><p><label>来源:Women's Agenda</label><p><label>翻译:Karen</label><p><label>阅读量:1.2万</label><p><label>转发:16</label><p><label>点赞:65</label><p>评论内容:<br/>无</p></li></ol></body></html>