<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202206微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年06月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:6月2日</label><p><label>发布时间:22:02</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LvTYo8qxc?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:澳大利亚将迎来有史以来最多元化的内阁。总理安东尼·艾博年新政府任命的 30 名部长中，近一半是女性。在 23 个核心内阁职位中，女性也占据了创纪录的 10 个席位。

尽管没有突破 50/50 大关以实现性别平衡——正如加拿大、美国、新西兰、法国、西班牙和卢旺达等其他国家所做的那样——艾博年的内阁已经比之前的内阁更加多样化。

尽管如此，男性仍将担任工党政府中一些最高级的领导职位，包括上下两院的四个领导职位中的三个。在反对党中，工党此前曾吹嘘过一个性别平衡的影子内阁。虽然加入下议院工党核心小组的大多数新议员都是女性，但工党看到一些最引人注目的女性在上周的选举中失去了席位。

艾博年在今晚的新闻发布会上说，这次核心内阁任命十名女性将是“澳大利亚内阁中女性人数最多的一次”。他补充说，内阁部长中，有13名女性。同时有19名女性被任命为前座议员。

“这是一支令人兴奋的球队，”他说。“这是一个人才济济的团队，他们绝对致力于在政府的部长和助理部长中有所作为。”“女性在核心内阁、内阁部长和前座议员中的代表人数在所有三个类别中均创纪录。”

艾博年新政府核心内阁的十名女性的记录比莫里森政府的前内阁（也曾创造了记录）大幅上升，女性占 30.4%。这标志着与过去九年的急剧转变，包括在雅培政府期间，他的内阁中只有一名女性。</label><p><label>来源:Women's Agenda</label><p><label>翻译:Karen</label><p><label>阅读量:2.5万</label><p><label>转发:17</label><p><label>评论:9</label><p><label>点赞:113</label><p>评论内容:<br/>献有骟报：我们这……一张官方拍的参加活动图，女的基本看不见，然后图被夹了???<br/>勤劳的小蜜糖：和男人谈平等真的很难，他们不会放手的，除非把他们灭了<br/>你知道我不知道你知道不知道：真心羡慕<br/>腾腾熔熔p2：没男人有担当能力了<br/>西嘎憨八嘎：@月圆的老公 月亮好圆<br/>豆沙和小尾巴__：赏月了<br/>MonChLi：@庚_Dershy<br/></p></li><li><p><label>发布日期:6月6日</label><p><label>发布时间:17:47</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lwu0V281E?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:据报道，6月3日星期五在新德里东北部的新西兰布尔地区，一名九岁的女孩被邻居强奸。

警方表示在周五上午11点15分接到了报警。

一位高级警官称，受害者由警方带到JPC医院接受体检。检查报告证实了强奸，随后根据印度刑法典 (Indian Penal Code) 的相关条款以及儿童性犯罪保护法案 (POCSCO) 的第6条款登记了该起案件。

警方称，初步调查显示一名46岁的男子有作案嫌疑，该男子在距离受害者家非常近的小工厂上班。受害者认识这名男子，该男子趁受害者周五在路上玩耍时，将其引诱并在工厂里实施了强奸。

警方表示，受害者从小就有精神健康问题。

嫌疑人已被逮捕，名叫Mohammad Shajid，是比哈尔市贝古萨来地区人。后续调查还在进行中。</label><p><label>来源:The Economic Times</label><p><label>翻译:塔塔</label><p><label>阅读量:8837</label><p><label>评论:2</label><p><label>点赞:18</label><p>评论内容:<br/>南造东珍：能被报导出来也算好事<br/>罗俏俏：<br/></p></li><li><p><label>发布日期:6月7日</label><p><label>发布时间:18:24</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LwDGq4vsK?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:闯入法网决赛的18岁小将可可·高芙就枪支暴力发声

美国网球球星可可·高芙成为了21年来最年轻的法国网球公开赛决赛选手。她利用全球社交媒体发声反对美国枪支暴力问题。

18岁的高芙在上周五的半决赛中直落两盘，击败玛蒂娜·特雷维桑，成为继莎拉波娃以来闯入大满贯决赛最年轻的选手。莎拉波娃在2004年赢得温网冠军时年仅17岁。

在获得半决赛胜利之后，高芙并没有沉浸在个人成功里，而是公开谈论美国枪支暴力问题以及对年轻人造成的伤害。

“我觉得我现在的心态很轻松，”高芙说，“是的，这是大满贯决赛，但是同时世界上还发生着很多事情，尤其是在美国，很多事情正在发生，我不会为了一场网球比赛感到压力。”

高芙谈到枪支暴力如何影响了她和朋友们，以及为什么需要一场国家层面的变革。

“对我来说，算是离家很近了，我有几个朋友就是帕克兰枪击案的经历者。”她提到2018年发生在佛罗里达帕克兰的大型校园枪击案。

“我记得像亲身经历一样观看那次事件，看到朋友们经历那场灾难。幸运的是他们得以逃脱。我只是觉得这太疯狂了，那件事发生的时候我可能十三四岁，然而现在没有任何改观。”

高芙还利用在聚光灯下的机会在摄像机镜头上写道：和平，停止枪支暴力。</label><p><label>来源:Women‘s Agenda</label><p><label>翻译:塔塔</label><p><label>阅读量:1.3万</label><p><label>转发:3</label><p><label>点赞:26</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月8日</label><p><label>发布时间:17:54</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LwMUNePat?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:起步较慢，但新南威尔士州的女骑警数量已超过男骑警

新南威尔士州的骑警历史是全世界最悠久的，然而直至1982年，该骑警队伍中才加入了第一位女性。

尽管起步较晚，然而这个1825年成立的骑警队现在以女性为主，有25名女骑警和7名男骑警。

同许多行业一样，尽管女性渴望参与，但新南威尔士州的女警起步很慢。

1915年第一次宣布招聘两名女骑警时，有将近500人报名，然而最终只有两位留下来。

这两位女警没有警服，在签署免责协议后警局对她们的安全不负任何责任。

1941年，由于战时人力短缺，警局再次开放了招聘，超过500名女性应聘，但仅六名成功应征，女警总人数上升至14。

直到1961年之前，女警结婚后都不能继续留在警队。直到1979年，枪支才成为所有女警的标准配备。

但从80年代开始，女性人数慢慢增加。1982年第一位女性加入骑警时，当时只有370名女警官。1983年增至720名，1989年增至1293名，占整个警队的10%。

分队中服役时间最长之一的警官Melinda Duncan中士称，从她1996年加入以来，发生了很多变化。

她说：“我刚来的时候警队里男人多多了，男女比例差不多对半，现在女警占到百分之80，这是个巨大的变化。”

她表示，这得益于鼓励女性进入男性主导行业的政策。

“警队本身对女性敞开大门了，因此很多女性就能加入进来。”

“她们慢慢意识到在警局工作的好处。”

如今，在允许女性应征仅57年后，新南威尔士州警局中已有超过35%女性。

然而要达到50%女警的平等目标，还有很长的路要走。</label><p><label>来源:ABC NEWS</label><p><label>翻译:塔塔</label><p><label>阅读量:2万</label><p><label>转发:16</label><p><label>评论:4</label><p><label>点赞:83</label><p>评论内容:<br/>一只没有感情的猫猫虫：之前在house住的时候有警察来过几次，每次都是一男一女标配，女警真的好飒！路上遇到的施工队伍里也会有女性<br/>zealot100：@Linden林登<br/></p></li><li><p><label>发布日期:6月9日</label><p><label>发布时间:19:56</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LwX8AzpRx?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:新冠流行造成女性就业率大幅下降至9%

孟买印度经济监测中心（CMIE）的最新数据显示，印度处于法定工作年龄的人口有9亿，其中超过半数不愿工作。2017年至2022年，印度总劳动参与率从46%下降至40%，其中仅9%的女性符合就业条件。2019年新冠流行前，印度女性就业率为26%，2021年这一数据为19%。

印度女性占全国总人口的48%，但对GDP的贡献仅为17%，约为全球平均水平的一半。大多数女性从事的都是“痛苦的家庭无偿劳动”。而中国女性就业率达到40%，如果印度能够缩小男女就业差距，其经济将增长1/3。

莫迪政府2015年开始实施Beti运动，宗旨是“拯救我们的女儿，教育我们的女儿”，意在提高出生性别比，和女性受教育程度。去年，印度还修改了婚姻法案，将女性法定结婚年龄从18岁提高至21岁，与男性一致。但由于印度2/3人口都在相对落后保守的农村地区，这些措施阻碍重重，收效甚微。此外，新冠以来早婚甚至童婚的现象大量增加，有些父母因为担心女儿将来找不到工作无法生存，便催促她们尽早结婚。</label><p><label>来源:转发 无内容</label><p><label>翻译:1.6万</label><p><label>阅读量:7</label><p><label>转发:1</label><p><label>评论:42</label><p><label>点赞:Hong豆Bai玉Qing黎：来了
</label></li><li><p><label>发布日期:6月13日</label><p><label>发布时间:21:59</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LxzEJwEGV?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:欧盟</label><p><label>内容:欧盟推动制定2026年董事会女性的配额的新规则

欧盟内部的谈判人员确认了欧盟有史以来首次在公司董事会中设置女性配额，目的是确保4.5亿人拥有性别平等的席位。这项具有“里程碑意义”的法律规定，到2026年年中，欧盟所有27个成员国的上市公司女性非执行董事比例将达到40%，或者女性占执行董事和非执行董事比例之和达到33%。

该法案在十年前首次被审议，后来被搁置。但随着德国和法国的支持力度加大(这两个国家最近都实施了各自独立的性别配额)，该计划在得到成员国同意之前再次获得了支持。欧洲议会首席谈判代表、荷兰社会主义者劳拉·沃尔特斯告诉路透社:“我们终于可以把睡美人吻醒了。”

目前，在欧盟内部，公司董事会的代表人数差异很大。例如，在爱沙尼亚，只有9%的非执行董事席位由女性担任，而在法国，这一比例超过45%。继法国之后，意大利、荷兰、瑞典、比利时和德国等国的女性董事比例在36%至38%之间，但与匈牙利和塞浦路斯等小国相比有所落后。

欧盟机构欧洲性别平等研究所(EIGE)表示，事实证明，配额制在改善董事会平衡方面最为有效。然而，由于没有针对不愿或迟迟不愿遵守的国家制定惩罚措施，该政策能否奏效仍有待观察。

欧盟委员会(European Commission)主席乌苏拉•冯•德莱恩(Ursula von der Leyen)表示:“在欧盟委员会提出这一指令10年后，现在是我们打破玻璃天花板的时候了。有很多女性有资格担任高级职位:她们应该能够得到这些职位。”</label><p><label>来源:Women's Agenda</label><p><label>翻译:Karen</label><p><label>阅读量:10.7万</label><p><label>转发:141</label><p><label>评论:47</label><p><label>点赞:416</label><p>评论内容:<br/>放飞自我且不被发现：别人的女性在争取权利，我们还在为了能好好活着<br/>煎茶媛er：推动董事会性别配额应对结构性不平等<br/>殿前无灯：赏月了赏月了，看看现在世界上真正可持续发展的先进文明国家是怎么做的。其实只是把“妇女能顶半边天”“解放一半生产力”落到了实处，仅此而已。<br/>定西草籽：女性在想要完全平等的社会地位好难呀，吾辈更当努力<br/>YoungShan：为什么要用公权力干涉公司做法。当女性自己都觉得女性是不如男性，需要特殊照顾的时候，那么如何让社会认可“需要特殊照顾”的群体。<br/>手结骟缘：赏月<br/>可可鱼仔aki：吗的，大晚上赏月@pawnshopbluess @一龙家的炸子鸡<br/></p></li><li><p><label>发布日期:6月14日</label><p><label>发布时间:21:43</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LxIYGDPxL?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:美国足球联盟为基层女性足球投资 500 万美元，以提高女性参与度和代表性。

美国足球联盟AFL（American Football league ）周日宣布，他们将在三年内投资 500 万美元，为 2022 年妇女和女孩行动计划的第一阶段提供资金，该计划旨在推动妇女和女孩在社区足球从比赛到教练、裁判和管理各个方面的参与和代表性。

该计划在这一阶段的主要目标包括在每个Auskick中心提供只针对女孩的服务，在所有学校课程和比赛中提供9岁以下的全女孩比赛，以及男女各占一半的比赛。此外，该计划还将为女性教练提供更好的机会，并将女性教练的比例从8%提高到18%。此外，该计划还将关注更好的设施、更多的赠款、更多女性在俱乐部和联赛级别担任领导角色。

AFL女子足球总经理尼科尔·利文斯通说，这是促进女性足球在各层次上取得进步的重要一步。她说:“从社区足球的角度来看，我们现在有60万妇女和女孩参加了我们的比赛，重要的是我们继续加强从NAB AFL Auskick到青少年和高级社区足球的参与，在所有级别的环境中都是同等安全和包容的。”“这就是我们致力于这些行动的原因，以确保我们的渴望成为现实。我们希望通过球员、教练、裁判和管理人员来全面推动女子足球的发展。”

AFL执行总经理Rob Auld说，AFL的首要任务是继续在我们比赛的每个环节和各个级别为女性创造和支持更多的机会，以确保每个人在运动中都有积极的体验。他说:“这些行动阐明了我们致力于从参与的角度实现的目标，以支持AFL在2030年前推动各级社区足球平等参与和代表权的愿望。”

“我们也看到了对有才华的女性教练和裁判员进行识别和投资的好处，我们将继续扩大发挥她们潜力的途径和机会。”</label><p><label>来源:Star Weekly</label><p><label>翻译:Karen</label><p><label>阅读量:4.9万</label><p><label>转发:20</label><p><label>评论:3</label><p><label>点赞:57</label><p>评论内容:<br/>煎茶媛er：支付宝都知道捐运动币，#每天多走一步，助力乡村女孩足球梦#<br/>childofthealmighty：好圆！月亮好圆！！<br/></p></li><li><p><label>发布日期:6月15日</label><p><label>发布时间:17:56</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LxQV3EfCE?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:北安普敦郡警方开始首要打击针对女性的暴力犯罪

在莎拉·埃弗拉德 (Sarah Everard) 被谋杀后，警队提出“优先战略”来打击针对女性的暴力犯罪。北安普敦郡警局表示，莎拉在2021年被一名在职警官谋杀，这催化了这项本就“呼之欲出”的变革，同时揭露了女性遭受暴力的非正常比例。这些暴力包括家庭暴力、强奸、性骚扰、所谓的荣誉暴力以及其它骚扰。

警队表示，这项新战略合乎国家打击针对女性暴力犯罪的政策。

该战略包括三个主要目标：追捕凶犯，增强公众对警务工作的信任和信心，以及协同创造安全的环境。

副警长西蒙·布拉齐利 (Simon Blatchly) 在战略纲领文件里提到：“我们希望所有在北安普敦郡生活、工作、活动、学习的女性不仅仅能保证安全，更要感到安全，无论是在公共场所，在家，还是在网上。”

除了暴力虐待，女性也更容易遭受不当接触、骚扰言行、厌女言行、不当信息以及违背意愿的肢体接触。

北安普敦郡警方表示，尽管这些行为并非都符合刑事定罪的门槛，但可能是进一步犯罪的前兆，这些都加剧了女性的不安全感。

探长尼基·迪克斯 (Nickie Deeks) 是消除针对妇女暴力犯罪的负责人，她补充说警队希望“确保尽可能多的定罪”。

尼基表示，警方会与刑事司法部门密切合作，增加强奸和严重性侵案件的开庭数量，同时把更多的家暴施暴者绳之以法。

警队透露说，全郡平均每周有超过11名男性因暴力侵害女性而受到定罪。“仅仅在过去的12个月里，我们已经把615名凶犯绳之以法，随后还会有更多凶犯受到制裁。”

作为其战略的一部分，尤其是发生了莎拉在伦敦被绑架杀害这起案件后，警方表示会“斩草除根”。

警方表示：“对侵害和厌女行为零容忍。工作环境必须要对所有性别都保持尊重和包容。”</label><p><label>来源:BBC</label><p><label>翻译:塔塔</label><p><label>阅读量:8.1万</label><p><label>转发:113</label><p><label>评论:3</label><p><label>点赞:263</label><p>评论内容:<br/>一条女人的路：有些地方连口号都不敢喊呢<br/>R·free：文明国家用行动野蛮国家只会喊口号<br/></p></li><li><p><label>发布日期:6月17日</label><p><label>发布时间:18:33</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lya0S2tgQ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:“妇女领导地方协会”致力帮助更多女性在2024年地方选举中“出现在选票上”

在之前的全国选举中，获得职位的女性人数创下新高，莉西亚·希斯 (Lidia Heath) 希望这能对地方选举产生影响。

希斯女士及其组织是“妇女领导地方协会”的成员，该协会由维多利亚州政府创立，旨在帮助女性竞选公共职位。

协会在2022年将对60名女性给予支持，帮助她们参加2024年的当地政府选举。明年还将继续提供60个名额。

该计划主要针对30个地方议会区，这些议会区在2020年十月的地方政府选举中显示出较低的妇女代表比例。

希斯女士说，协会的目的在于确保多种多样的经验可以进入议会。“那些做生意的人，那些住在孩子很多的社区的人，那些提供养老服务的人，那些用过Centrelink的人。” “这些不同的声音意味着，这些人做出的决定可以让社区变得对每个人更有益。”

希斯女士表示，协会工作的一大主要内容是让女性意识到，她们中的多数人已经具备了应对挑战的绝大多数技能。

“我们要想改变现状，就要主动出击。”

(来源：ABC News；翻译：塔塔)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:5.7万</label><p><label>转发:42</label><p><label>评论:3</label><p><label>点赞:120</label><p>评论内容:<br/>煎茶媛er：“这些不同的声音意味着，这些人做出的决定可以让社区变得对每个人更有益。”<br/>定西草籽：月亮好圆<br/>孑1-1孓：看到海外的积极的新闻也会开心<br/></p></li><li><p><label>发布日期:6月20日</label><p><label>发布时间:19:03</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LyCuHeSJr?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:新南威尔士宣布将投入4000万澳元用于帮助女性度过绝经期

新南威尔士的女性可以在绝经期得到系统性的专门医疗服务，这在全澳大利亚是首例。

新南威尔士州政府承诺在2022-23年度预算中，投入超过4000万澳元来帮助女性在需要时获得针对性支持，并且改变绝经期的污名化情况。

州政府将在全州设立4个新的服务中心和16个绝经期整体服务站。

目前，五分之一的女性都受到严重或长期的绝经期综合征困扰，但很少有人可以接受针对性的医疗服务。

女性绝经期的常见症包括潮热、睡眠障碍、疲劳、盗汗、脱发、肌肉关节疼痛以及情绪变化。多数女性的绝经期发生在45到60岁之间，标志着育龄期的结束。

新南威尔士州的妇女部长布朗妮·泰勒 (Bronnie Taylor) 说：“女性通常在绝经期和围绝经期都在默默忍受着非常痛苦的症状。”

“我希望她们知道自己不用再强行保持冷静，我们可以一同打破禁忌！”

“每年，这四个新的服务中心和16个服务站会服务于大约5500名女性，包括给不能面诊的女性提供线上咨询服务。这些服务会给遭受严重绝经期综合征困扰的女性提供专家建议，向她们强调随之而来的健康风险，例如骨折、中风和心脏病风险。”

州政府将投入300,000澳元资金，用于全州范围内有关绝经期和围绝经期综合征的科普宣传活动，以及对全科医师和企业雇主的教育普及。

大洋洲绝经期协会主席凯伦·玛格蕾丝医生 (Dr Karen Magraith) 说，至少有75%的女性会出现绝经期综合征，其中一些会严重到影响正常工作生活。

玛格蕾丝医生在一次讲话中提到：“绝经期引起雌性激素水平快速下降，其一大后果就是增加了骨质疏松症的风险——这在绝经期通常不为人所知，甚至在女性发生骨折后才能诊断出来。”

玛格蕾丝医生说，由于文化禁忌，几代人的绝经期知识都非常有限。

“前几代女性都理所应当地默默承受，但今天的女性希望能获取相关信息和治疗方案。”

(来源：Women’s Agenda；翻译：塔塔)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9.6万</label><p><label>转发:159</label><p><label>评论:8</label><p><label>点赞:351</label><p>评论内容:<br/>煎茶媛er：了解绝经期，去除污名化。<br/>小鱼子--123：好像知道怎么提前预防和治疗，想给父母一点帮助解决问题<br/>喵喵喵不吃小鱼：我妈妈也开始潮热，膝盖也开始老化，一直默默忍受着，也变得常常很没有安全感，在此之前我还没意识到她在变老，很心疼她但不知道能做什么，我对此了解的太少了<br/>爱莲条纹说：由于文化禁忌，几代人的绝经知识都非常有限。<br/>铁头今天也睡到十二小时：嘶。。我确实很想了解这个<br/>InGMajor：我妈妈就是这一年多时不时有潮热症状。有一次很严重，下午难受得盖了四五层被子还是冷，晚上又变得全身发热。<br/>laoniang223322：太可以了<br/></p></li><li><p><label>发布日期:6月22日</label><p><label>发布时间:22:52</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LyWQPeYTu?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本女性只有在得到伴侣允许的情况下才能服用堕胎药

日本预计将在今年晚些时候批准堕胎药，但是需要“配偶同意”才能获得该药的处方。

英国一家专注于女性性健康和生殖健康的制药公司 Linepharma International 于 2021 年 12 月提出了批准其堕胎药的申请。该药物结合了米非司酮和米索前列醇两种药物，目前正在其他 70 多个国家使用。

根据日本 1948 年的产妇保护法，手术流产的女性必须要经过伴侣的书面同意。厚生劳动省高级官员桥本康弘本月早些时候对议会委员会表示，即使流产是通过口服药物进行的，也必须征得伴侣的同意。

日本的活动人士要求当局改变这一规定，活动人士认为它侵犯了女性的生殖权利。日本安全堕胎行动的创始成员冢原久美说，当女性被迫被配偶强迫分娩时，堕胎必须获得伴侣的书面同意这一规定可能会带来恶果。据《卫报》报道，冢原说：“对于女性来说，被迫怀孕是一种暴力，一种折磨。”

社民党议员福岛瑞穗则对避孕药的潜在价格表示担忧，担心它可能比其他国家更贵。福岛在议会听证会上说：“服用避孕药需要得到配偶的批准很奇怪。” “日本还生活在中世纪吗？”

许多活动人士认为，日本未能批准已经在 70 多个国家上市的堕胎药，这表明该国缺乏对女性健康的重视。虽然口服避孕药花了大概40年时间终于在日本获批了，但与此同时，治疗勃起功能障碍的药物伟哥仅用了 6 个月就能获批。</label><p><label>来源:雅虎</label><p><label>翻译:Karen</label><p><label>阅读量:2.4万</label><p><label>转发:25</label><p><label>评论:8</label><p><label>点赞:134</label><p>评论内容:<br/>阿隐想暴富：中日韩三国手拉手<br/>就地躺平看月亮：希望日本女人支棱起来 远离男人<br/>天气很好hangout：日本女性不找男人，就不用有怀孕风险<br/>千迁趣歌：其实就是国策，变相催生🤰男人有什么不愿意的啊<br/>我们的征途是星辰大海_Hit：真的是想尽办法让女人重新成为男人的私有财产<br/></p></li><li><p><label>发布日期:6月23日</label><p><label>发布时间:21:07</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lz5AnkKFM?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:世界</label><p><label>内容:根据昆士兰大学的一项新研究，由女性领导的国家2020年因新冠带来的死亡，比男性领导的国家少40%。

这项发现是一项大型研究的一部分，该研究着眼于领导力等特征对一个国家的 COVID-19 感染率和死亡率的影响。该研究表明，在女性领导、法律体系的力量和公众对政府的信任几项表现好的国家，感染率和死亡率有显著降低。

昆士兰大学的这些最新发现与之前对 34 个发达国家的研究一致，该研究发现女性领导人领导的国家会有更好的 COVID-19 控制结果。据联合国统计，目前有 26 名女性在 24 个国家担任国家元首和/或政府首脑。新西兰总理杰辛达·阿德恩、冰岛总理卡特琳·雅各布斯多蒂尔、丹麦首相梅特·弗雷德里克森，都是在疫情期间因迅速行动而登上头条新闻的著名领导人。

昆士兰大学商学院副教授 Kelvin Tan 认为，由女性领导的国家死于新冠肺炎的人数减少，是由于这些领导人“……采取了快速果断的行动，更广泛地看待对社会的影响，并更容易接受创新思维。”“我们发现女性领导人往往会迅速果断地采取行动，并且更不愿冒生命损失，这在疫情的预防和结果中起着至关重要的作用，”Tan博士说。</label><p><label>来源:昆士兰大学</label><p><label>翻译:Karen</label><p><label>阅读量:2.7万</label><p><label>转发:61</label><p><label>评论:6</label><p><label>点赞:268</label><p>评论内容:<br/>定西草籽：哇重视女性的力量可以让世界更美好<br/>姜美朋：女人当政可以有力对冲自由主义，不知道能不能对冲官僚垄断分数线歧视➕录取标准歧视➕职场天花板➕提前退休层层铁幕导致咱一直没机会知道<br/>节约用水陈富贵：女性是天生的领导者！<br/>这个那个吃的喝的免费白拿不要钱：中国呢<br/>再熬就要中风了：@奥斯陆幻想曲 哇哦<br/></p></li><li><p><label>发布日期:6月24日</label><p><label>发布时间:23:51</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Lzg5w5YxE?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:谷歌将支付 1.18 亿美元，解决一项涉及美国数千名女性员工的同工同酬诉讼。诉讼中女性员工称她们的薪酬低于他们的男性同事。

Ellis v Google LLC 一案的和解涵盖了自 2013 年 9 月以来加州 236 个工作岗位的大约 15,500 名女性。独立专家将评估这家科技巨头的“雇佣均衡”做法和薪酬公平。这项工作将在未来三年内由外部结算监督员监督进行。

这场长达五年的法律纠纷集中在，谷歌未能平等地向担任基本相似角色的男性和女性支付同等的报酬。四位主要索赔人包括，在谷歌工作了四年的软件工程师Kelly Ellis；10 多年来担任过众多技术领导职务的 Holly Pease；担任过两年半的各种销售和运营职务的 Kelli Wisuri；学前班和婴幼儿教师，曾在 Google 的现场托儿所工作了四年的 Heidi Lamar 。

最初的诉讼指出，Lamar的时薪为 18.51 美元，而资历和经验较少的男性同行时薪却为 21 美元。谷歌去年被指控支付给女性员工的年薪比从事同样工作的男性员工少 17,000 美元。索赔人最初要求赔偿 6 亿美元。

目前，法院尚未批准最终和解。如果获得批准，第三方管理员将根据客观公式向索赔涵盖的每个人分配和解金额。Pease说：“作为一名在科技行业度过了整个职业生涯的女性，我乐观地认为，谷歌同意采取的作为该和解的一部分的行动将确保女性获得更多平等。“谷歌自成立以来，一直引领着科技行业。他们还有机会带头确保女性在科技领域的包容和平等。”

Altshuler Berzon 的律师 Jim Finberg 表示：“谷歌长期以来一直是技术领导者。我们很高兴在这份和解协议中，谷歌还确认了其成为确保所有员工薪酬公平和平等就业机会的领导者的承诺。”

谷歌的一位发言人告诉美国商业新闻网站 Insider：“虽然我们坚信我们的政策和做法是公平的，但经过近五年的诉讼，双方同意在没有任何承认或调查结果的情况下解决此事，每个人的最大利益，我们很高兴达成这项协议。“我们致力于公平、平等地支付、雇用和平衡所有员工，在过去的九年里，我们进行了严格的薪酬公平分析，以确保工资、奖金和股权奖励是公平的。”</label><p><label>来源:Personnel Today</label><p><label>翻译:Karen</label><p><label>阅读量:1.3万</label><p><label>转发:4</label><p><label>点赞:44</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:6月27日</label><p><label>发布时间:21:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LzHzygf90?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容:数据显示，澳大利亚只有不到 50% 的女性从事全职工作

工作场所性别平等机构 (WGEA，Workplace Gender Equality Act) 披露的新数据显示，在女性生命的每个年龄阶段，超过一半的女性没有从事全职有偿工作。

结果，性别薪酬差距将继续扩大，且女性错过了领导角色，因为高薪管理职位几乎完全提供给全职员工。WGEA 2021 数据基于其年度雇主普查期间来自拥有 100 名以上雇员的非公共部门雇主的性别平等报告数据。

研究发现，在所有年龄组中，超过 90% 的管理人员为全职工作，55 岁以上的男性从事管理工作的可能性是女性的两倍。男性和女性的工作模式差异从 35 岁开始出现，彼时大多数男性从事全职工作，而大多数女性从事兼职或临时工作。对于在同一年龄升任管理职位的女性，其中三分之二的女性处于较低级别的管理职位。

研究还发现，男性在每一代人中的收入都高于女性，其中 55 至 64 岁年龄段的差异最大，男性的收入比女性高 31.9%，即平均每年高出 40,000 美元。在 55 岁及以上担任高级管理人员和 CEO 的女性继续面临巨大的薪酬差距，每年的收入比男性高级管理人员和 CEO 同行少约 93,000 美元。</label><p><label>来源:Women's Agenda</label><p><label>翻译:Karen</label><p><label>阅读量:1.3万</label><p><label>转发:7</label><p><label>评论:2</label><p><label>点赞:35</label><p>评论内容:<br/>定西草籽：加油，女性！<br/>星玉彩珠：难过<br/></p></li><li><p><label>发布日期:6月30日</label><p><label>发布时间:20:10</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LA9d4wF19?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:“一切才刚刚开始”：希拉里·克林顿警告说，最高法院推翻罗伊诉韦德案关于堕胎权的裁决，会带来女性的死亡

希拉里·克林顿警告称，罗诉韦德案被推翻后“女人会死”，并表示其他权利也将很快受到威胁。希拉里在BBC晨间节目中对盖尔金说，她对最高法院撤销宪法堕胎权的决定并不感到惊讶，因为这是政治保守派 50 年竞选活动的结果。

她说：“我并不感到惊讶，因为我认为这就是让法庭上挤满多年来一直反对妇女对自己的身体做出决定的宪法权利的法官的目标。”“但现在它已经发生了，我想每个人都明白，这不一定是我们会看到的这个法院为扭转包括堕胎权在内的公民权利，以及同性恋权利、妇女权利所做的唯一举动。”希拉里说，她希望罗诉韦德案的判决能够“唤醒很多美国人”。

希拉里说，投票推翻罗诉韦德案的最高法院大法官是“为此目的而选择的”，并指出这是长期限制堕胎权运动的结果。希拉里提到了大法官克拉伦斯·托马斯(Clarence Thomas)，他曾提出，最高法院可能很快会挑战其他权利，比如避孕权和同性婚姻权。</label><p><label>来源:Women's Agenda</label><p><label>翻译:Karen</label><p><label>阅读量:7.5万</label><p><label>转发:41</label><p><label>评论:4</label><p><label>点赞:213</label><p>评论内容:<br/>煎茶媛er：一切才刚刚开始，在争取权利的路上，我们没有休息的时间！<br/></p></li></ol></body></html>