<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202207微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年07月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:7月1日</label><p><label>发布时间:16:58</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LAhnhBm0B?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:东南亚</label><p><label>内容:科技行业中的女性：风投如何帮助缩小东南亚的性别差距

据波士顿咨询集团称，近年来风险投资在女性主导的初创公司投入了更多资金，但女性在科技领导层中的代表性仍然不足。女性几乎占美国劳动力的一半 (47%)，但她们在科技领域的领导职位中所占比例不到三分之一 (28%)。

全球科技公司仍遭受严重的性别失衡，咨询公司埃森哲和非政府组织“Girls Who Code”的一项研究表明，现在该行业的女性比例低于1984年。科技行业在争取性别平等方面仍面临重大挑战，法新社报道称一些公司存在性别歧视和有毒文化。

放眼东南亚，该地区在科技领域的性别代表性已经开始强劲，甚至超过了英国和美国等一些成熟的西方市场。波士顿咨询集团和新加坡信息通信媒体发展局于2020年10月发布的一项研究显示，女性占东南亚科技行业劳动力的32%，超过了28%的全球平均水平。除了更加强调多样性和包容性之外，有些人甚至设立了以女性为重点的基金，以支持和投资女性主导的创业公司，其中一些是出于声誉压力。

总部位于新加坡的Vertex Ventures Southeast Asia and India公司的执行合伙人 Joo Hock Chua表示，我们的投资团队是多元化的——拥有广泛的专业和个人背景，并且女性代表比例很高（50%）,我们不会为性别多样性设定内部投资基准。我们认为，对于我们资助的有能力的女性企业家来说，我们投资她们不是因为我们试图达到特定的配额，而是因为她们和男性同行一样优秀。除了女性企业家，这家拥有10亿美元管理资产(AUM)的风险投资公司还要求其投资组合公司报告其业务中女性劳动力的百分比，并提醒他们重视性别多样性。

另一家风险投资公司Gobi Partners已与总部位于印度尼西亚的风险投资公司Ozora Yatrapaktaja合作，于4月在印度尼西亚为女性初创企业启动了1000万美元的种子基金，该公司注意到新冠疫情大流行对女性的影响，并决定加紧支持女性科技企业家。Quest Ventures公司表示一直支持女性企业家，超过36%的Quest投资组合公司由女性创始人领导。

在给女性科技企业家和创始人的建议方面，Gobi的Ng提醒女企业家拥有强大和支持性网络的重要性。她说“对于女企业家，我们建议您始终投入时间建立强大且支持性的导师和同行网络，这可以帮助培育您的业务并建立一个与您有共同愿景的多元化团队。”Quest Ventures的Ng对女性科技企业家的建议直截了当：“承担风险并保持自信，女企业家应该有信心，敢于冒险，即使她们在一个由异性主导的领域里打球。”</label><p><label>来源:TechNode Global</label><p><label>翻译:paper</label><p><label>阅读量:39.7万</label><p><label>转发:185</label><p><label>评论:6</label><p><label>点赞:425</label><p>评论内容:<br/>煎茶媛er：东南亚科技行业女性从业者比例达32%，超过全球平均水平，同时也超过了英美等成熟市场。<br/>蜜桃乌龙Ali：左下2像神仙姐姐和苏芒的综合版<br/>蜜桃乌龙Ali：左下角这个像倪妮和容祖儿的综合版<br/>薇仔飞行日記：@想日布加拉提吗<br/>yzisweet：@你别脸红了o<br/>yzisweet：@你别脸红了o<br/></p></li><li><p><label>发布日期:7月4日</label><p><label>发布时间:17:24</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LAJPuedlW?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:梅根·拉皮诺（Megan Rapinoe）：总统奖是对我所坚持之事的认可

梅根·拉皮诺将被授予总统自由勋章，她是第一位获得该奖项的足球运动员和第六位女运动员。该奖项旨在表彰“对美国的繁荣、价值观或安全、世界和平或其他重要的社会、公共或私人事业作出的模范贡献的人”。

拉皮诺赢得了两届世界杯，同时还获得了2019年的金球奖。她不仅在球场上脱颖而出，在场外也是如此，作为LGBT权利、种族平等和同工同酬运动的活动家，她同样优秀。

“我知道这是我的使命或道路”她说，“我正是我应该在的地方。每当你像那样走在你的真理中，每当你出现在正确的事情上时，我认为好事就会发生。“

周四（7月7日）在白宫，拜登总统将为她和其他15名获奖者颁奖。</label><p><label>来源:洛杉矶时报</label><p><label>翻译:paper</label><p><label>阅读量:6.5万</label><p><label>转发:23</label><p><label>评论:1</label><p><label>点赞:76</label><p>评论内容:<br/>完全恒温恒湿：@艾伦的重巡洋舰 金球奖得主<br/></p></li><li><p><label>发布日期:7月5日</label><p><label>发布时间:11:01</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LAQKqbo4q?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:津巴布韦</label><p><label>内容:应当效仿津巴布韦空军一样执行性别平等政策

上周五，在圭鲁的Josiah Tungamirai空军基地举行的第1/2021号基础军官课程和第1/2021号预备军官课程的结业活动中，津巴布韦空军（AFZ）司令Elson Moyo表示，我们致力于维护妇女在国家公共领域的性别平等。他说，AFZ尽一切努力确保空军在促进和实施性别平等方面处于各部门的领先地位，上述52名毕业生中有17名女性，占33%，其余为男性。

上月末，在Zanu-PF妇女联盟第七届全国会议上，姆南加古瓦总统向党代表发表讲话，督促社会停下来思考妇女在津巴布韦独立中发挥的重要作用，以及她们在塑造现代国家方面中的作用。

姆南加古瓦总统领导的第二共和国已经要求在地方政府中为妇女设立30%的配额，这一配额政策本应在明年举行选举时到期，现在又延长了2个任期。总统表示：津巴布韦妇女必须成为自己命运的关键建筑师和建设者，并且确实是我们国家一砖一瓦的建设者。

除了赋予妇女权力之外，该国还推动所有人平等的参与国家发展，包括以前被边缘化的社区。上周，来自北马塔贝莱兰省桑族的20名青年，其中包括11名男性和9名女性，成为津巴布韦监狱和惩教署（ZPCS）的第一批毕业生。

总统表示，将大量女性纳入ZPCS招聘、培训和发展的计划，表明政府致力于实现国家性别政策、非洲联盟（AU）2063年议程和联合国可持续发展目标之五性别平等。</label><p><label>来源:Zimpapers</label><p><label>翻译:paper</label><p><label>阅读量:6.8万</label><p><label>转发:26</label><p><label>评论:1</label><p><label>点赞:113</label><p>评论内容:<br/>定西草籽：连津巴委布都敢正视女性力量，我们什么时候可以有这种公平<br/></p></li><li><p><label>发布日期:7月6日</label><p><label>发布时间:16:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LB2scClib?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:Avabai Wadia：成为印度计划生育先驱的律师

1933年，一名穿着纱丽的少年登上了国际头条新闻。19岁的Avabai Wadia成为锡兰（现为斯里兰卡）第一位通过英国律师考试的女性。她的成功鼓励锡兰政府允许女性在该国学习法律。

这已经不是Wadia唯一一次推动政府出台女性权利政策了。她将律师的智慧与致力于提升女性的社会地位结合在一起，到2005年她去世时，已成为计划生育运动中受全球尊敬的人物。

瓦迪亚于1913年出生在科伦坡一个进步的帕西人家庭。获得律师资格后，她不顾无处不在的“男性偏见”，在伦敦和科伦坡两地工作。

* 计划生育在印度为何成为女性的负担？

第二次世界大战期间，Wadia搬到了孟买并沉浸在社会工作中，但发现自己真正的使命是计划生育。

Wadia在自传《光是我们的》(The Light is Ours)中写道:“似乎是我毕生的工作向我展示了自己，而不是我有意识地去寻找它。”“我不认为不从事法律事业是一种浪费，因为法律是我所从事的一切工作的支柱。”

Wadia于20世纪40年代末开始计划生育工作，而这在世界上大部分地区都是一个禁忌话题。除了激起宗教保守派的反对，计划生育还与种族主义和优生学有着丑陋的联系。

“当我第一次听到‘避孕’这个词的时候，我很反感，”Wadia说。但孟买的一名女医生对她的影响很深，她说，印度女性“在怀孕和哺乳之间摇摆，直到死亡让悲惨的故事终止”。

尽管受到社会排斥的威胁，Wadia还是投身其中。1949年，她帮助建立了印度计划生育协会(FPAI)，并领导了该组织34年。

FPAI的工作范围从推广避孕方法到提供生育服务——后者给了Wadia“一种真正的满足感”，因为她经历过流产而且没有孩子。印度政府在1951-52年成为世界上第一个正式推行计划生育政策的国家，这在很大程度上要归功于Wadia的努力。

在Wadia的领导下，FPAI采取了一种分散的、以社区为基础的方法，与来自印度一些最贫困地区的城市贫困人口和村民合作。</label><p><label>来源:BBC NEWS</label><p><label>翻译:晴晴子</label><p><label>阅读量:1万</label><p><label>转发:3</label><p><label>评论:1</label><p><label>点赞:15</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月7日</label><p><label>发布时间:17:20</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LBc5q7rZB?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:Macy Gray和Better Midler因被指控发表恐垮言论而遭到强烈反对。

Gray最为人熟知的是她1999年的热门歌曲《I Try》，周一在福克斯国家频道播出的《Piers Morgan Uncensored》中露面时，她似乎预料到了这种反弹。

“尽管大家都会恨我，但作为一个女人我还是要说，仅仅改变了你的身体部位，并不能让你成为一个女人，抱歉，”Gray在摩根提出跨性别运动员在体育运动中的问题后说。

“好吧，你是这么认为的吗?”摩根回应。

“我知道这是事实，”Gray回答。

“做一个小女孩是一本完整的史诗书，你明白吗？不能只因你想成为一个女人就拥有这些，”她告诉摩根。后来又补充说，“一个人只是表达了不赞成，就被贴上恐变性者的标签，这是不应该的。”

Midler周一在推特上写道:“全世界的女性！我们被剥夺了对身体、对生命、甚至对名字的权利！”

“他们不再叫我们‘女人’了，他们称我们为’分娩者’或’月经来潮者’，甚至’有阴道的人’。”她在推特上写道。“别让他们把你抹去！”地球上的每个人都亏欠于你！”

她们受到的评论都不太乐观。

作家Arielle Tschinkel在推特上写道:“像梅西·格雷(macy gray)和贝特·米德尔(bette midler)这样的terf(一个将跨性别女性的权利排除在女权倡导之外的女权主义者)如此不顾一切地坚持‘女性特质’是什么?”“老实说，无论我们的经历有多么不同，跨性别女性的存在都不会让我更不像个女人，这在本质上是荒谬的。”</label><p><label>来源:CNN</label><p><label>翻译:晴晴子</label><p><label>阅读量:2.1万</label><p><label>转发:18</label><p><label>评论:1</label><p><label>点赞:80</label><p>评论内容:<br/>骟罢甘休2003：正常人又因为说了正常话，被自由人攻击了。女性特质是xx，不是裙子、长发和化妆，跨人遵循男权定下的性别刻板印象来定义女性<br/></p></li><li><p><label>发布日期:7月8日</label><p><label>发布时间:13:19</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LBjVSFRMY?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:转发 无内容</label><p><label>来源:6.8万</label><p><label>翻译:24</label><p><label>阅读量:5</label><p><label>转发:92</label><p><label>评论:天气很好hangout：男人太多了，哪儿都乱
喝布蕾脆脆奶芙多少糖自己定：亚洲女人不好过 扑面窒息
每天都嘎嘎大笑：🙏🙏🙏
</label></li><li><p><label>发布日期:7月11日</label><p><label>发布时间:18:26</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LBOe1wP3y?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:陪产假是指在孩子出生后给予父亲的假期。法国的陪产假制度于20年前建立。自2021年7月1日起，新任父亲有权享受28天假期，比以往多14天。

"陪产假能让我在孩子刚出世不久的日子里看着他（她），这已经让我觉得很开心了，更重要的是我还能帮助我的伴侣。"

"我们没法生孩子，所以在这个时期能够带孩子是非常好的。陪产假的目的是加强父亲的作用以及他与婴儿的联系。”

"我认为，（孩子出生后）我们便有了更多愿景，有了家庭价值观，所以我们想更多地参与，和孩子们一起比以前更多地参与。"

给予男性陪产假也允许父母双方分担责任。"母亲刚生完孩子，一般都比较累。所以有父亲在身边是再好不过了。“

在法国，大约有70%的父亲们在休陪产假。"在性别平等的背景下，如果关于孩子，父亲也有一定的权利，也有休假方面的可能性，这就很好。“

(翻译：陈妙妙 来源：francetvinfo.fr)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9074</label><p><label>转发:6</label><p><label>点赞:38</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月12日</label><p><label>发布时间:17:57</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LBXsMB3kL?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:南亚</label><p><label>内容:高温加剧，南亚农民面临威胁，女性首当其冲。

尼泊尔的一群农民坐在乡村学校的操场里，分享着对于未来的担忧。她们谈到多变的雨水——干旱和洪水越来越常见，大雨前常常是难以忍受的高温。

四月、五月和六月的极端高温天气让人们难以工作，庄稼枯死，家畜生病。

坐在操场里的年轻农民都是女性，许多人身着红色纱丽。其中少数几个男性都是年长者，年轻男性早已不在这里居住。随着庄稼歉收，男人们开始从事海外工作，把文件手续和护照交给雇工们，由这些人组织大家到邻近城市或遥远的外国去谋生。

以高温为首的气候变化加剧了南亚农民的糟糕处境，越来越多的女性被迫留下来，在难捱的高温下设法耕种。

根据印度气象部门的数据，2021年是印度自1901年以来第五大高温年，并打破了最热十年的记录。2022年，该地区三月直至六月的持续性高温创下记录，印度的最高气温高达47摄氏度，而巴基斯坦达到51摄氏度。

根据研究人员预测，即使在最理想的情况下，全世界采取最积极的手段应对气候变暖，全球气温相比前工业时代将升高1.5摄氏度，南亚地区将面临更频繁的致命高温。实际上，一些地区的气温已经超出了人类生产活动的承受范围，极大地威胁到人类生存。

印度、尼泊尔、孟加拉的调查结果显示，这些变化对性别问题的影响尤为令人担忧。

随着气温升高，越来越多的女性会从事农业工作，尤其是受教育程度低的女性。之前的一项调查表明，由于缺乏其它机会，更多贫困女性会从事农业工作。男人们可以到外地工作，而女性则遵从传统留守家中照顾老人孩子，谋生方式非常有限。

由于农村人普遍依赖农业，而农业工作又需要暴露在户外，因此妇女面临着热射带来的极高健康风险。比起城市地区，乡村地区更难接触到空调、卫生资源以及其它对抗高温危害的工具。

(来源：The Conversation；翻译：塔塔)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9340</label><p><label>转发:7</label><p><label>点赞:27</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月13日</label><p><label>发布时间:17:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LC6KLolWX?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:顶级英国运动员表示，由于安全威胁不得不改变训练方式。

杰出马拉松选手夏洛特·普度 (Charlotte Purdue) 表示，出于安全担忧，现在天黑时她会选择在跑步机而不是在室外跑步。

这位30岁的运动员保持着英国青年组10,000米的长跑记录，她在谈及莎拉·埃夫拉德 (Sarah Everard) 的谋杀案时提到，自己之前也面临类似的恐惧，夜间训练时，她的父亲会开车陪伴。

继三月份伦敦南部营销主管埃夫拉德女士被绑架、强奸、杀害以后，普度的话再一次警醒人们应当采取更多措施保障女性在外的人身安全。

杀害埃夫拉德女士的凶手，前警官韦恩·卡森斯 (Wayne Cousins) 在上周三被判终身监禁。此事引发了进一步讨论，不仅在于对保证女性安全我们还能做些什么，更在于警方所做的是否足够。

另一位受害者的父亲尼克·戈萨德 (Nick Gazzard) 表示，要保证女性安全，需要实现“文化转变”。

尼克的女儿霍莉·戈萨德 (Hollie Gazzard) 于2014年在格洛斯特郡一家理发店工作时，被前男友连刺数刀最终身亡。

尼克在采访中表示：“为了防止这种事情再次发生，我们的文化需要一个转变。很多女性在夜间不敢出门，因为她们不知道会发生什么事。

“打击针对女性的暴力应该成为政府的首要任务。希望这能成为国会的讨论主题。我们需要采取措施防止这类事情再发生，我们要让街道对于女性来说更加安全。

“对女性说‘你们得改变自己，你们得保护好自己’是不对的。要改变的是社会的其它部分，而我们每个人都有责任。”

(来源：Sky News；翻译：塔塔)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9656</label><p><label>转发:4</label><p><label>评论:2</label><p><label>点赞:47</label><p>评论内容:<br/>温putain：唉<br/>莉莉丝木兰：前警官<br/></p></li><li><p><label>发布日期:7月14日</label><p><label>发布时间:18:57</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LCgIajZSc?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:在英国，四分之一的女性无力负担经期用品。为此，有些人减少饮食开销，有些人使用厕纸，有些人则因此旷课。

根据水援助组织 (WaterAid) 的调查，将近83%的受访者表示，由于出现生存成本危机，日用品开销愈发难以承受，这些问题亟待解决。

大约2000名14至50岁有月经期的女性及其它非传统性别接受了调查，其中近三分之一 (32%) 的受访者表示对未来经期用品开销表示担忧。

四分之一 (26%) 的受访者冒着健康风险延长了经期用品的使用时间——其中五分之一的人无奈使用厕纸和海绵这样的替代品。

学龄女生受到的影响是最严重的，其中五分之二 (41%) 的人表示担心增加父母或者监护人的经济压力，五分之一的女孩 (20%) 因为无力负担经期用品而旷课旷工。

一位受访的学生说，便宜的经期用品能增进精神健康，因为“不用再绞尽脑汁省钱”。

另一项由英国国际计划组织 (Plan International UK) 发起的调查显示，女孩和年轻女性因为无力负担经期用品而使用替代品——包括厕纸、袜子、报纸和布料。

英国国际计划的负责人罗斯·卡德维尔 (Rose Caldwell) 说：“我们正面临不确定的未来，许多家庭将面临艰难的经济抉择，越来越多的年轻女性将难以负担生活用品。经期用品是必需品，不是奢侈品，相应的政策也应该跟上。”

(来源：Sky News；翻译：塔塔)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9403</label><p><label>转发:6</label><p><label>评论:3</label><p><label>点赞:54</label><p>评论内容:<br/>我打人可疼可疼了：英国这么穷？？？？<br/>怪罪清醒：作为生理必需品价格本身就贵的离谱，套用破产姐妹台词：男人如果来月经，棉条会像烟花一样从花车上洒下来<br/></p></li><li><p><label>发布日期:7月18日</label><p><label>发布时间:13:42</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LCQmhpfwd?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:推翻罗伊诉韦德案可能导致，包括同性婚姻和避孕等具有里程碑意义的裁决变得岌岌可危。

在最高法院做出推翻罗伊诉韦德案的决定之后，法官之间就已经引发了一场关于推翻罗伊是否会使同性婚姻和避孕等此类先例处于危险之中的辩论。

塞缪尔·阿利托大法官的多数意见试图将其在周五的堕胎案中的裁决与其他裁决隔离开来，但克拉伦斯·托马斯大法官单独写信明确呼吁重新审视其他裁决。

“在未来的案件中，我们应该重新考虑本法院的所有实质性正当程序先例，包括 Griswold（康涅狄格州的一项禁止使用避孕药具的旧法律）、Lawrence（德克萨斯州一项将同性之间自愿发生的性行为定为犯罪的法律） 和 Obergefell（2015年裁决各州不能将同性婚姻定为非法的案件），”托马斯大法官写道，他指的是关于避孕、同性性行为和同性婚姻的裁决。

“罗案承认了一项基本的隐私权，它是我们认为理所当然的更多权利的基础，”“包括使用节育的权利，已婚夫妇在卧室的隐私，与你爱的人结婚的权利。”拜登周五在法院驳回具有里程碑意义的罗诉韦德案数小时后，在白宫表态反对。

拜登还提到了托马斯的建议 ，“他明确呼吁重新考虑婚姻平等的权利，和夫妻选择避孕的权利，这是法院现在带我们走的一条极端而危险的道路。”</label><p><label>来源:CNN、NPR</label><p><label>翻译:Karen</label><p><label>阅读量:9587</label><p><label>转发:4</label><p><label>评论:1</label><p><label>点赞:13</label><p>评论内容:<br/>aalassigh：克拉伦斯是什么畸形生物 前半生一路靠着福利靠着政治正确才爬到今天的位置<br/></p></li><li><p><label>发布日期:7月19日</label><p><label>发布时间:14:14</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LCZZPBiPb?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:尼日利亚</label><p><label>内容:在激烈的尼日利亚选举中，更多女性尝试取得政治席位。

在尼日利亚立法初选的早晨，玛莎·阿格巴醒来时充满信心。她希望成为第一个在众议院代表她所在选区的女性，并花了几个月的时间向从基层妇女协会到地方酋长的每个人进行拉票。她知道这将是一场艰苦的比赛，但她希望这是一场公平的比赛。

在喧闹的活动开始几分钟后，当她与其他代表闲聊时，一个男人对她做手势并开始大喊大叫。“去结婚，去打理你丈夫的房子吧！”她记得那个男人大喊大叫，而旁观者则笑着呼应。20 多岁的阿格巴女士尝试不去理会这些评论。“这不是我第一次被告知去结婚并为男性离开政治，”她说。最终，阿格巴女士没有能获得党内提名。

但除了个人失败之外，她的失利也是困扰尼日利亚政坛数十年的趋势的一部分：女性很少在政治圆桌上获得一席之地。除1999 年标志着尼日利亚从军政府向民主过渡的民意调查外，今年是总统选举中首次没有女性参选。今年，两个主要政党的提名人中，女性不到 10%。

尽管如此，竞选公职的女性人数仍在增加——阿格巴女士是大约 700 名希望获得 其所在政党APC 门票的女性之一，该党官员称，这一数字是上一次竞选的两倍多。总的来说，从少数统治精英中挑选出来的少数富豪已经统治了数十年。但随着新一代的崛起，女性正在推动推翻阻碍了任何非男性、非富有或不参与政治精英的人参政的，长期根深蒂固的障碍。

今天的尼日利亚仍然拥有令人印象深刻的女性企业家和艺术家阶层，但女性政治代表数量却在全球排名倒数。109名参议员中只有7名是女性，众议院360名议员中只有11名是女性。今年3月，一项试图为女性保留一定数量政治职位的法案在初审阶段就遭到了否决。

因为获得党内提名本身取决于是否能赢得高层人士的青睐，阿格巴女士解释说，“让更多女性进入政治领域将意味着在做出决定时会有更多女性参与其中。”但来自高层的观点往往令人沮丧——尼日利亚总统穆罕默杜·布哈里 (Muhammadu Buhari) 在上任初期就曾因为说他的妻子属于“我家的厨房、客厅和其他房间”而受到批评。

尽管如此，尽管形势对她不利，但阿格巴说她和她的同龄人无意退出未来的竞选。

“有一群清楚现状的女性将进入政界，她们准备打破任何阻止她们的障碍，”阿格巴女士说。 “这个让女性退让的系统不可能永远存在。”</label><p><label>来源:基督科学箴言报</label><p><label>翻译:Karen</label><p><label>阅读量:1.2万</label><p><label>转发:12</label><p><label>评论:2</label><p><label>点赞:63</label><p>评论内容:<br/>飍1飍：在非洲这样的思想真的很了不起<br/>你知道我不知道你知道不知道：看得人热泪盈眶<br/></p></li><li><p><label>发布日期:7月20日</label><p><label>发布时间:17:48</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LDaP69YBe?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:津巴布韦</label><p><label>内容:津巴布韦妇女缝制卫生带以帮助女孩们正常上学

津巴布韦农村的一个社区团体正在制作可重复使用的卫生带，以减少女孩们因为来月经而逃学。当创始人Gladys Mukaratirwa 意识到当地女孩每个月都因为买不起一次性卫生用品而缺课时，津巴布韦穆塔萨区的 Chiedza 社区福利组织开启了缝制布制卫生带的行动。

“如果你计算每月两到五天，每年大约有45天的上学时间被浪费了，所以我们意识到女孩们需要有可持续的卫生用品来源，”Mukaratirwa说。

该组织由女性志愿者经营，将其制作的卫生带出售给津巴布韦各地的个人和慈善机构，然后分发给女学生和弱势妇女。</label><p><label>来源:路透社</label><p><label>翻译:Karen</label><p><label>阅读量:1万</label><p><label>转发:9</label><p><label>点赞:36</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月27日</label><p><label>发布时间:22:19</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LEgAzpj8z?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:南凯斯蒂文：废除“主席（chairman）”头衔的提议被拒

在议会会议上，以性别中立的词汇取代“主席（chairman）”头衔的计划被斥为“做白日梦”。
（先小科普一下，英文中的很多职业头衔都是以“man”为后缀的，比如policeman，fireman，businessman等等，过分强调性别，具有一定歧视意味，目前已被多所大学归类为性别歧视词汇）

南凯斯蒂文区议会进行了投票，反对将主席（chairman）头衔改为“主持人/负责人”，有批评称这相当于“警界用语”。
然而，出席了理事会全体会议的工党和独立党成员表示，这一举动将促进平等化。
批评人士表示，目前主席（chairman）这一头衔赋予了该职位相应的权力。
作为反对者，议员Helen Crawford表示：“我不喜欢‘主持人/负责人’这一称呼，这听起来像我要成为一名头戴手帕的法官”。
与此同时，议员Ben Green补充道：“我们必须停止这种无稽之谈，我们应该用花在上面的一半的时间来谈谈未来的工作”。
然而，其他议员认为，主席（chairman）这一头衔自然对男性更有利。
议员Louise Clark在会议上发言道：“我们默认的词汇不应该是chairman，我的母亲、女儿和我都是自信的女性，我们家庭的女性都很强大。这一头衔的设定思路应该是更通用更广泛的，而不是仅仅由男性来设定”。
赞成Clark女士的议员Ashley Baxter表示，“所有将之称之为无稽之谈的言论才是真正的无稽之谈，具有这些观点的人都是害怕改变的人，并且他们习惯于阻止通向平等的进步”。</label><p><label>来源:BBC</label><p><label>翻译:XIAO</label><p><label>阅读量:6</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月28日</label><p><label>发布时间:13:32</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LEmzmpAyW?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:上周，加州一名法官批准了一项涉及《英雄联盟》开发商拳头游戏（Riot Games）性别歧视案的和解方案。根据Axios的报道，该公司将向2018年提起诉讼的1000多名女性赔偿共1亿美元。

2018年，一篇报道揭露了拳头游戏公司在薪酬和晋升方面存在性别歧视、性骚扰、报复那些敢于直言的人，以及在公司的加州办公室培育“男性优先”的文化。同年，一群女性员工发起了集体诉讼。

在此期间，拳头游戏采取了许多面向公众的措施来修复声誉，包括聘请首席多元化官、聘请独立顾问来审计公司文化、暂时暂停首席运营官斯科特•盖尔布的职务。2019年拳头游戏提出1000万美元和解方案，但加州公平就业和住房部(DFEH)对此进行了干预。经过调查该部门发现，员工可能有权获得4亿美元以上的补贴，相比之下，1000万美元的补贴显得微不足道。

现在达成的这1亿美元的和解可能不是DFEH在2020年指出的4亿美元，但它仍然是一个具有里程碑意义的法律案件，对广泛的游戏行业有着深远的影响;不过令人遗憾的是，该行业的骚扰和歧视非常猖獗，这种规模的和解相当地罕见。</label><p><label>来源:GameDaily.biz</label><p><label>翻译:Karen</label><p><label>阅读量:2</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:7月29日</label><p><label>发布时间:15:10</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LEwDHBuwu?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:德国</label><p><label>内容:难民之子成为德国首位黑人女性内阁大臣

一位从小生长在德国难民区，一直担心自己和家人被驱逐出境的女性，成为了这个国家首位黑人女性内阁大臣。
Aminata Touré，来自马里，父母因国家战乱来到德国，并在同年生下了她。
29岁的她将利用目前的政治职位来处里根深蒂固的种族主义问题，她说，这个问题以及德国不断加深的社会不平等问题是很普遍的。“作为一名黑人女性，被低估，被赋予刻板印象都是最基本的操作，无论在我担任这个职务之前还是之后”，这段陈述出自于她成为内阁大臣之后的第一个采访。
她还表示，她的出现被视为对德国黑人群体的鼓舞，而德国政治舞台鲜有黑人榜样。
她回忆起一次竞选活动中，一个四岁的黑人小姑娘朝她挥手，“小姑娘的妈妈告诉我她见到我的时候，整个人惊呆了，不敢相信有一位黑人女性出现在电视上。我给了她一个大大的拥抱，差点哭出来，我突然意识到，我成为公众人物后对那个小姑娘意味着什么”。
Touré表示，被赋予这样的任务是一种“绝对的特权”，涵盖了不少于六个领域的责任：社会、青年、家庭、老年公民、融合和平等。“对于这些主题，我有200%的热情”。</label><p><label>来源:卫报</label><p><label>翻译:XIAO</label><p><label>阅读量:18</label><p>评论内容:<br/>无</p></li></ol></body></html>