<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202208微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年08月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:8月2日</label><p><label>发布时间:15:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LF8BmkGOI?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:伊朗</label><p><label>内容:两名女性以及一名前童养媳在同一天被处以死刑

伊朗当局在上周三以杀死丈夫为由将三名女性处以死刑。据伊朗人权组织消息，仅仅上一周就有32人被处理死刑，这三名女性就在其中。
有一位曾经是童养媳的女性，因为杀死在她15那年和她结婚的人而被判处死刑。
据悉，当局大量地增加了死刑的使用，和去年相比，目前处死的人数已经是去年的两倍。
人权组织报告称，伊朗处死的女性比其他国家多得多，其中，大部分女性被认为杀死了她们的丈夫。
上周三，伊朗人权组织表示，前童养媳Soheila Abadi在被判处杀夫的罪名之后，在监狱被处以绞刑，她15岁嫁给了这个男人，并结婚十年。
据报道，判决的法院称，谋杀动机是“家庭纠纷”。另外两名被处决的女性也是被判处了杀夫的罪名。
有活动家称，这类的案子大部分都涉及对家暴的指控，但是伊朗法庭几乎未重视过这个原因。
被处刑的详细数据不可得，因为死刑执行的时候，伊朗当局不会对每一个案件进行公示。来自两个人权组织的四月份的调研显示，去年仅有16.5%的处刑是被官方正式公布的。

（图一：2020年，伦敦的抗议者举办抗议活动，对伊朗死刑的使用进行谴责；
图二：图片来自伊朗人权组织，条形图中，蓝色表示2021年官方公布的死刑数量，紫色表示非官方统计的死刑数量）</label><p><label>来源:BBC</label><p><label>翻译:XIAO</label><p><label>阅读量:5335</label><p><label>转发:8</label><p><label>评论:5</label><p><label>点赞:48</label><p>评论内容:<br/>缪尚咖啡馆的Evelyn：魔鬼在人间<br/>猫娘娘：邪恶国家<br/>是月入百万的王女士：@喜欢双倍虾饺<br/>闭上你的茶壶嘴：中国丈夫莎妻，有结婚证，8-10年。女人：死刑。要是我，反正都死刑，我就不介意多带几个人走<br/>她们的武术俱乐部：伊朗，此前看过一部《被投石处死的索拉雅》，主题并不直接相关，但足够触目惊心。艺术真实和现实真实间，到底谁更残酷一些？<br/></p></li><li><p><label>发布日期:8月3日</label><p><label>发布时间:12:24</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LFgGwdiQY?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:南非</label><p><label>内容:南非女子和男子足球队将实行同工同酬

由于南非女子足球队在非洲女子世界杯取得了前所未有的成绩，拉开了了南非女子男子国家足球队同工同酬的序幕。
“这将写入国家法律，男性球员和女性球员将获得同等的报酬，我们将以政府的名义实现这一点。”周二在约翰内斯堡举行的女子足球队的欢迎仪式上，南非体育部长Nathi Mthethwa表示。
南非女子足球队在打败摩洛哥之后，不仅第一次获得了非洲冠军，同时获得了一系列洲级大奖，其中包括年度女子教练奖和年度女子团队奖。
Mthethwa表示，女子队的这一次成功是政府对于女性运动支持的一个证明。
在南非足协最初承诺的基础上，团队成员将获得额外的334000美元的奖励。
“在政府和塞拉利昂足球达成一致之后，塞拉利昂成为了第一个男女同工同酬的非洲国家。”南非足协主席Danny Jordaan说道。
在2020年九月，塞拉利昂政府和塞拉利昂足球协会共同宣布，男女足球队将获得同样的报酬，鼓励更多西非国家的女性参与到这项比赛中来。
Jordaan表示，他期望国内其他运动的规范也将效仿南非足球协会，在收入和奖金方面，解决性别不平等的问题。
不论过去或是现在，女性运动员都为实现同工同酬激烈地斗争过，著名的例子有，美国女子国家队与联邦政府的为期六年的斗争，此外，挪威金球奖得主Ada Hergerberg，因为和联邦政府关于女子足球队待遇的争执而退出了国家队。</label><p><label>来源:CGTN</label><p><label>翻译:XIAO</label><p><label>阅读量:9</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月5日</label><p><label>发布时间:23:08</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/LFDL7b3bg?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:尽管阿富汗的原教旨主义穆斯林领导人在接管政权前做出了模糊的保证，但记者拉米塔·纳瓦伊(Ramita Navai)发现，酷刑、殴打、反复监禁、强迫婚姻的案例在阿富汗普遍存在，而且并没有任何女性可以寻求补偿的刑事司法体系。

塔利班对所有女性施加了一种类似中世纪的压迫制度，尤其是对那些与前政府有关的女性实施报复行动。（报复行动的目标是在塔利班官员所谓“占领”下在军队、警察或法律系统中服役的男女。）

曾经为妇女辩护的律师网络现在互相帮助彼此躲藏或逃跑。因“不道德”和“腐败”行为而被塔利班逮捕的女性——例如，进行没有男性家庭成员的旅行——一次被判入狱数月，没有听证会，也没有保存任何记录。泰瑟枪似乎是伊斯兰教学的首选工具。

面对记者的指控，塔利班高层却表示，这些指控“毫无根据”；关于强迫婚姻，塔利班政治家比拉勒·卡里米说，“我们绝不允许我们的人民犯下这种不雅行为。”</label><p><label>来源:华尔街日报</label><p><label>翻译:Karen</label><p><label>阅读量:5</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月8日</label><p><label>发布时间:21:19</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M07RLam83?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:欧洲</label><p><label>内容:在上个月在蒙扎六小时耐力赛中，33 岁的比利时车手莎拉·博维（Sarah Bovy）作为第一位在国际汽联世界耐力锦标赛 (WEC) 比赛中获得杆位的女性，在赛车运动史上写下了她的名字。

这支车队排名第二，成为第一支登上 WEC 领奖台的女性车队，并在上周末的斯帕 24 小时耐力赛中再次驾驶法拉利 488 GT3 EVO 以三圈的优势赢得金杯组别。这是比利时赛事 98 年历史上第一次有女性 GT3 车队获得组别冠军，而Bovy车队、丹麦的Michelle Gatting、瑞士赛车手 Rahel Frey和法国的Doriane Pin也分别在他们的级别上领跑GT世界挑战赛。

当莎拉·博维和她的队友被告知他们将在本赛季穿着粉红色西装和一辆粉红色制服的赛车比赛时，她有些怀疑，但铁娘子（Iron Dames）在赛道上的成功迅速消除了任何疑虑。

回忆起那些关于制服的季前讨论，博维告诉路透社，“我们当时就想'如果要穿全粉色，那我们必须做出点成绩'，“否则，我们只会被视为那些试图通过用一辆色彩缤纷的汽车和经常打全女性阵容牌来吸引注意力的女孩。“......现在，我们在本赛季已经很成功了，我非常高兴我们选择了这种颜色。”

铁娘子（Iron Dames）是赛车手黛博拉·梅耶尔（Deborah Mayer）于2019年创立的一个项目，旨在支持女性参与赛车运动。梅耶尔同时也是国际汽联女性赛车运动委员会的主席。
铁娘子项目旨在支持积极参与赛车运动的女性并为其提供支援。各种锦标赛中的铁娘子团队经理都是女性，其中的机械师和营销人员也有很大比例的女性。博维希望这次比赛中的成功能带来一些积极的影响——不仅表明女性可以与男性竞争，而且还鼓励更多女性参与到所有领域。

“我希望这个项目还能鼓励其他女性和潜在赞助商看到女性赢得比赛实际上是可能的，”她说。来自赛场和社交媒体的证据都表明，越来越多的年轻女孩想要参与赛车运动。</label><p><label>来源:路透社</label><p><label>翻译:Karen</label><p><label>阅读量:8</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月9日</label><p><label>发布时间:17:58</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M0fYO2Jq8?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:Joni Mitchell 用她的电吉他证明了年长女性音乐人可以是超级朋克的。

标志性人物琼尼米歇尔（Joni Mitchell） 最近在 2022 年纽波特民俗节上的惊喜表演引发了全世界的爱与尊重。这是她自 2015 年患脑动脉瘤无法走路和说话以来的首次音乐表演。

米歇尔创作了大量倡导社会变革的作品。作为一名坚定的活动家，她反对环境退化、战争、LGBTQI+ 歧视，最近，她从 Spotify 中删除了她的音乐目录，以抗议反疫苗宣传。

凭借吉他独奏的旋律，现在她将自己从民间英雄重新定位为朋克挑衅者，无视一切老年女性“应该”“被允许”的行为方式。

通过掌控公共空间，并采用流行音乐实践中最传统的男性化表达方式，她直接挑战了许多人对性别规范的期望，尤其是冲击了人们对老年女性的外貌和声音的刻板印象。

并不是每个人都能在舞台上变老。对女性和性别多样化的音乐家施加的一些最持久的社会限制与年龄有关。特别是对老年女性的持续期望是被动的、安静的并且只出现在幕后。他们很少被要求或期望像男性同行那样“占用空间”。
尽管男性会通过年轻时的尝试阶段进而成为音乐传奇，但女性和性别多样化的人却会遇到令人厌倦的障碍。

不仅是年龄的障碍，在承认电吉他的技巧方面，女性也长期处于一种被边缘化的状态。电吉他一直是摇滚和朋克流派的重要组成部分。这些流派——以及定义它们的乐器——在不知不觉中变得与性别之间存在共生关系。尤其是电吉他独奏与大男子主义联系在一起：快速、响亮、专业、勇敢。

如果你想想象一个没有女性的世界，请在 Google 上搜索“有史以来最好的吉他独奏”。

不过《纽约时报》最近的一篇文章暗示，情况已经开始发生变化。 《泰晤士报》援引 Taja Cheek 和 Adrianne Lenker 等吉他手的话说，吉他独奏已经从一种男子气概行为转变为一种脆弱的展示，一种共时的连接。</label><p><label>来源:Women's Agenda</label><p><label>翻译:Karen</label><p><label>阅读量:9138</label><p><label>转发:4</label><p><label>点赞:44</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月15日</label><p><label>发布时间:16:22</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M19UO5weP?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:国家需要女儿，家庭想要儿子，“平衡”的方法在哪里？

当 Satyajit Jadeja 的妻子去年 12 月分娩时，这对夫妇知道他们拥有一对双胞胎，尽管他们的性别未知。当 Jadeja 先生的妻子生下两个健康的女婴时，全家人都很高兴，但他却说，“如果是一女一男，那将是最理想的选择。”

“并不是我们有偏见，” Jadeja 先生很快澄清道。“但是当你想到未来时，（生一个男孩）是必不可少的，因为女孩结婚后会去（另一个家庭）。”他说，儿子才是年迈父母的支持系统。

对儿子的普遍偏好导致印度成为世界上性别比例最不平衡的国家之一，每 100 名女性对应有108 名男性。联合国人口基金估计，印度每年因性别选择，导致女性少出生近40万。印度政府在1994年曾试图通过将揭示胎儿性别定为非法来结束性别选择性堕胎，但这种堕胎仍然存在，现在在该国基本上不受监管的体外受精诊所蓬勃发展，因为这种方式可以保证生出儿子。
“我们应该去除我们的父权制、我们的歧视性制度和文化，”二十多年来一直致力于阻止性别选择的活动家 Varsha Deshpande 说到。

为平衡出生人口性别，除了禁止选择性堕胎外，印度政府在过去几十年中还推出了许多计划，包括承诺向有女孩的家庭提供现金奖励。但专家表示，这些措施在很大程度上也未能提高性别比例，这个现实打破了贫穷是导致堕女婴的主要动机的普遍解释。此外，试管婴儿的性别选择趋势也挑战了这一解释——受过教育和相对富裕的家庭也会选择儿子而不是女儿。

活动人士说，实际上，重男轻女是父权制社会规范和法律的产物，这完全可以使即使是受过最多教育或具有平等意识的夫妇也希望生男孩。
直到最近，女儿们都还没有平等的财产继承权。当一名妇女被强奸时，她的整个家庭都背负着耻辱，而男性施暴者则经常逍遥法外。研究表明，尽管已被取缔，但嫁妆在整个印度仍然很普遍，即使女性结婚，长老们也会祈祷她会“生下八个儿子”。Deshpande女士说，在以上情况发生变化之前，没有任何法律能阻止家庭对“生儿子”的渴望。

▲隔壁邻居，一模一样的情况……</label><p><label>来源:基督科学箴言报</label><p><label>翻译:Karen</label><p><label>阅读量:3</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:8月15日</label><p><label>发布时间:16:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M1a0Dperp?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:国家需要女儿，家庭想要儿子，“平衡”的方法在哪里？</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:7862</label><p><label>转发:3</label><p><label>点赞:8</label><p>评论内容:<br/>无</p></li></ol></body></html>