<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202209微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年09月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:9月2日</label><p><label>发布时间:22:31</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M3W1JCSpJ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:女权捍卫者玛丽·罗伊（Mary Roy）去世

她曾经进行了长达四年的法律斗争，为了确保属于基督教社区的女性享有平等的继承权。周四早上在科塔亚姆去世的 89 岁的玛丽·罗伊不仅仅是一名女权活动家，她还是一名院士，性别平等的拥护者。玛丽在科塔亚姆建立了科珀斯克里斯蒂学校，该学校后来更名为帕利库丹学校。

玛丽·罗伊出生在叙利亚的一个基督徒家庭，在父亲去世后被要求搬离乌蒂的家时，她意识到基督徒妇女生活中的危险。

她的父亲 PV Isaac 是一名昆虫学家。玛丽·罗伊出生于 1933 年，在德里接受教育，并在钦奈的玛丽皇后学院完成了大学学业。她在加尔各答工作时结婚。由于婚姻问题，她回到了她父亲在乌蒂的家。与哥哥的财产纠纷迫使她诉诸法庭。

1986 年 2 月 24 日，玛丽在一场旷日持久的法律诉讼中赢得了她父亲财产的继承权。根据 1916 年 Travancore 叙利亚基督教继承法和 1921 年科钦继承法，如果父亲在遗嘱中没有为她指定份额，则女性无权继承家庭财产的份额。她可能只得到儿子股份价值的四分之一或 5,000 卢比，以较少者为准。寡妇回娘家后，可享有祖产，直至去世或再婚。由于玛丽的父亲没有留下遗嘱，她来到法庭争取继承权。

“我的战斗不是为了一点财产，而是为了确保这个国家的女性享有宪法保障的权利，”玛丽·罗伊在赢得继承权案后说。</label><p><label>来源:印度快报</label><p><label>翻译:Karen</label><p><label>阅读量:7</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月13日</label><p><label>发布时间:16:37</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M5zphkm5G?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:全球</label><p><label>内容:联合国报告显示，实现完全的性别平等还需要几个世纪的时间

COVID-19 大流行及其后果、暴力冲突、气候变化以及对女性性和生殖健康及权利的伤害等全球挑战，正在进一步加剧性别差异。

联合国妇女署和联合国经济和社会事务部 (UN DESA) 《可持续发展目标的进展：2022 年性别概况》（Progress on the Sustainable Development Goals: The gender snapshot 2022 ）报告强调，按照目前的进展速度，到2030年将无法实现可持续发展目标 5——实现性别平等。

联合国妇女署执行主任西马·巴豪斯 (Sima Bahous) 说：“随着我们接近 2030 年的一半，这标志着我们来到了妇女权利和性别平等的转折点。……数据显示，全球危机在收入、安全、教育和健康方面使他们的生活变得更糟，这是不可否认的。我们如果不迅速扭转这一趋势，随着时间的拉长，我们所有人付出的代价将会越大。”

“层出不穷的全球危机正在危及可持续发展目标的实现，世界上最脆弱的人口群体受到不成比例的影响，尤其是妇女和女孩。”联合国经社部负责政策协调和机构间事务的助理秘书长玛丽亚-弗朗西斯卡·斯帕托利萨诺说。

报告估计，按照目前的进展速度，缩小法律保护方面的差距并消除歧视性法律需要长达 286 年的时间，女性在工作场所的权力和领导职位上获得同等数量的代表需要140年，实现在国家议会中的平等代表权至少要40年。如果到2030年实现消除童婚，进展速度必须比过去十年快17倍，来自最贫困农村家庭和受冲突影响地区的女孩预计将遭受最大损失。

报告还指出，减贫出现令人担忧的逆转，物价上涨可能会加剧这一趋势。到 2022 年底，大约 3.83 亿妇女和女孩将生活在极端贫困中（每天不到 1.90 美元），而男性和男孩则为 3.68 亿。在世界大部分地区，更多的人将没有足够的收入来满足食物、衣服和适当的住所等基本需求。如果目前的趋势继续下去，到2030年，在撒哈拉以南的非洲，将有更多的妇女和女孩生活在极端贫困中。

报告中强调的其他事实和数据包括：

2020年，能够提供6720亿小时的额外无偿托儿服务的学校和学前班关停。假设护理工作中的性别差异与大流行之前相同，女性将承担其中的5120亿小时。

在全球范围内，女性在2020年因大流行而损失了约 8000 亿美元的收入，尽管有所反弹，但预计2022年她们在劳动力市场的参与率将低于大流行前（2022年为50.8%， 2019 年为 51.8%）。

现在被迫流离失所的妇女和女孩比以往任何时候都多：到2021年底，大约有4400万妇女和女孩流离失所。

现在全球超过 12 亿的育龄妇女和女童（15-49 岁）生活在对安全堕胎有一定限制的国家和地区。

报告还指出，虽然仅靠普及女童教育还不够，但教育将显着改善这种前景。每多上一年学，女孩成年后的收入最多可提高 20%，从而进一步影响减贫、改善孕产妇健康、降低儿童死亡率、加强艾滋病毒预防和减少对妇女的暴力行为。该报告表明，在性别平等议程上的合作、伙伴关系和投资，包括通过增加全球资助，对于纠正这一进程并使性别平等重回正轨至关重要。

▲报告原文参考：O网页链接</label><p><label>来源:联合国妇女署</label><p><label>翻译:Karen</label><p><label>阅读量:1.2万</label><p><label>转发:14</label><p><label>评论:1</label><p><label>点赞:39</label><p>评论内容:<br/>先来她一个哒不刘：转发微博<br/></p></li><li><p><label>发布日期:9月14日</label><p><label>发布时间:17:49</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M5Jj4h0zx?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:印度穆斯林妇女在“三重塔拉克”这一即时离婚风俗被禁后陷入困境

2017 年，印度最高法院取缔了伊斯兰教的“三重塔拉克”（triple talaq）做法，该做法允许穆斯林男子在几分钟内只需说三遍“talaq”（离婚）就可以与妻子离婚。虽然当时的女权活动人士为这一裁决表示乐观，但五年过去了，许多穆斯林妇女表示，这项裁决让她们陷入了困境。

人权组织 Bharatiya Muslim Mahila Andolan 的联合创始人 Zakia Soman 表示，2017 年 8 月对“三重塔拉克”的取缔以及紧接着2019年又进一步将这种做法定为非法的过程对穆斯林妇女产生了混杂的影响。Soman女士说：“她们的丈夫很幸福地再婚并生了孩子，而这些妇女继续独自生活。”

Afreen Rehman 起初对最高法院的判决感到高兴，因为该判决使她丈夫几个月前提出的单方面即时离婚在法律上无效。但出乎意料的是，事情对她来说并没有太大变化，因为她的丈夫拒绝带她回去。

与此同时，男性抛弃妻子的案例似乎有所增加。根据法律，犯错的丈夫可能会被判入狱长达三年，但缺乏意识导致许多穆斯林男人可以几乎没有任何责任地抛弃他们的妻子。Jameela Nishat 说，在立即离婚习俗被定为刑事犯罪后，越来越多的穆斯林男人抛弃了他们的妻子。“发生这种情况是因为男性不想给女性提供赡养费，”Nishat 女士说。 “这很痛苦。法律无法帮助改善状况。”

观察人士说，寻求“khula”（一种由女性发起的离婚形式）的女性人数也显著增加。由于“khula”是应女方要求获得批准的，因此男方不能为寻求立即离婚负责。尽管没有跨国综合数据显示即时triple talaq 和 khula 的破裂，但印度媒体发现，近几个月来，许多伊斯兰仲裁中心 （Darul Qazas）的女性寻求 khula 的人数显著增加。

它标志着穆斯林女性的意识增强和坚决抵制，但这种做法也经常被男性利用。</label><p><label>来源:BBC</label><p><label>翻译:Karen</label><p><label>阅读量:8548</label><p><label>评论:1</label><p><label>点赞:19</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:9月15日</label><p><label>发布时间:21:48</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M5Uiv9VaB?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本年轻人结婚意愿降到历史最低水平，想要生育孩子的数量也降到历史新低。

日本政府的国家人口与社会保障研究所每五年进行一次关于婚姻和生育态度的调查。最近的研究结果刚刚发布，与上一次调查相比，对这两项“家庭组建”活动的热情已经降温。

调查收集了 7,862 名18至34岁单身男女的回答。当被问及他们对结婚的想法时，17.3% 的男性和 14.6% 的女性回答说：“我没有结婚的打算,”比上次民意调查增加了 5.3% 和 6.6%。另一方面，81.4% 的男性和 84.3% 的女性表示“我将来要结婚”，这两个数字都是自 1982 年首次进行调查以来的最低数字。

当受访者被问及婚后要孩子的问题时，最显著的变化出现了。55%的男性和36.6%的女性认为“如果你结婚了，你就应该生孩子”，与五年前相比，男性下降了约 20%，女性下降了约 30%。即使是那些想要孩子的人也想要更少的孩子。当被问及他们希望有多少孩子时，男性的平均值为 1.82，低于上次研究的 1.91，女性的平均值为 1.79，低于上一次研究的 2.02，标志着调查历史上首次将平均期望后代人数降至 2 人以下。</label><p><label>来源:SoraNews24</label><p><label>翻译:Karen</label><p><label>阅读量:1.1万</label><p><label>转发:2</label><p><label>评论:6</label><p><label>点赞:31</label><p>评论内容:<br/>Hong豆Bai玉Qing黎：最后一段的表述是否有误，男性的平均值。1.91低于1.82？<br/>先来她一个哒不刘：<br/></p></li><li><p><label>发布日期:9月23日</label><p><label>发布时间:14:16</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/M74KY2vgf?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:沙特</label><p><label>内容:沙特博士生、女权倡导者因推特发言被判34年监禁

根据法庭文件，沙特一法院判处一名博士生34年监禁，罪名是传播“谣言”并转发异见人士的推文，这一判决在全球范围引发谴责。

活动人士和律师认为，即使以沙特的司法标准来看，对萨尔玛·阿尔·谢哈布 (Salma al-Shehab) 的判决也是令人震惊的。阿尔·谢哈布是两个孩子的母亲，也是英国利兹大学的研究员。

沙特王国至今未承认这一裁决，尽管沙特王储穆罕默德本萨勒曼 (Mohammed bin Salman) 在这个极端保守的伊si兰国家赋予了女性开车的权利及其它自由，但仍在镇压异见人士。

据总部位于华盛顿的人权组织自由倡议 (Freedom Initiative) 称，阿尔·谢哈布于2021年1月15日在一次家庭度假中被拘留，正值其计划返回英国的前几天。

美联社获得的法律文件显示，阿尔·谢哈布告诉法官，在其案件提交法庭之前，她已经被单独监禁了超过285天。

自由倡议组织将谢哈布描述为沙特阿拉伯什叶派穆si林少数民族的一员，长期以来，该民族对逊尼派统治下存在的系统性歧视心怀不满。

“沙特阿拉伯向全世界吹嘘，声称正在改善妇女的权利，进行法律改革。但毫无疑问，这一令人发指的判决只会让情况变得更糟，”该组织的沙特案件负责人贝瑟尼·阿尔·海达里 (Bethany al-Haidari) 说。

主要人权监督机构——国际特赦组织 (Amnesty International) 在星期四抨击此次对谢哈布的审判是“极其不公平的”，其判决是“残忍和非法的”。

自2017年上台以来，穆罕默德王子一直在致力于通过大规模的旅游项目，使沙特的经济多样化，使之摆脱对石油的依赖。最近，他计划在沙漠中建造世界上最长的建筑，绵延100多英里。尽管如此，穆罕默德也因逮捕那些不守规矩的人而遭受批判，这些人中不仅有持不同政见者和活动家，还有王子和商人。

根据一份官方指控书，法官指控阿尔·谢哈布“扰乱公共秩序”及“破坏社会结构”——这些指控完全基于其社交媒体活动。法院指控阿尔·谢哈布在推特上关注并转发异见者的账号，并“散布谣言”。

根据沙特反恐和网络犯罪法，特别刑事法庭做出了异于常规的严厉判决，判处此人34年有期徒刑，并处34年旅行禁令。这一决定于本月初裁决，当时阿尔·谢哈布对监禁6年的初审判决提出了上诉。

阿尔·谢哈布在上诉中说道，严厉的判决相当于“毁灭我，毁灭我的家庭，我的未来，还有我孩子的未来”。 谢哈布有两个年幼的儿子，一个4岁，一个6岁。谢哈布告诉法官，她不理解，为何仅仅“出于好奇和旁观的角度”，由一个粉丝不足2000人的个人账户转发推文，就构成了恐怖主义。

(来源：US News；翻译：塔塔)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.4万</label><p><label>转发:10</label><p><label>评论:12</label><p><label>点赞:69</label><p>评论内容:<br/>三月云烟起：令人发指<br/>6547465-a：这个地方不婚犯法吗，不生犯法吗<br/>酷酷捏捏好喝到咩噗茶：@孤独的咕噜咩 哈人<br/></p></li></ol></body></html>