<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202211微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年11月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:11月1日</label><p><label>发布时间:11:29</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/McZkCc9gQ?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:加拿大、新西兰</label><p><label>内容:加拿大和新西兰呼吁联合国妇女权利委员会驱逐伊朗

10 月 31 日——根据所有政党的一致决定，加拿大议会成为世界上第一个要求将伊朗从联合国最高妇女权利机构中除名的立法机构。

该议案由保守党副领袖梅丽莎·兰茨曼（Melissa Lantsman）提出，“我相信大家会一致同意以下动议：鉴于马萨·阿米尼死于伊朗道德警察之手，伊朗随后对妇女权利、公民自由和基本自由的镇压，以及长期以来的严重人权问题伊朗政府对妇女施以虐待和暴力行为，众议院宣布支持将伊朗从联合国妇女地位委员会中除名。”

在此之前新西兰总理杰辛达·阿德恩（Jacinda Ardern）也发出了类似呼吁，她宣布将无限期暂停新西兰与伊朗的人权对话。

阿德恩在周一的新闻发布会上呼吁“对于一个继续如此残酷地侵犯妇女权利的国家来说，加入一个致力于促进性别平等和增强妇女权能的全球机构是不可持续的。”

新西兰外交部长 纳纳亚•马胡塔（Nanaia Mahuta）表示“最近的事件继续表明伊朗在人权问题上的立场正在恶化，而非改善，”马胡塔说 “新西兰对伊朗当局在上个月阿米尼去世后使用武力应对和平示威感到震惊。”

(来源：UNWatch、Women's Agenda；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:3</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:11月1日</label><p><label>发布时间:21:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Md3j1ErRl?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:无文本内容</label><p><label>内容:无文本内容</label><p><label>来源:无文本内容</label><p><label>翻译:无文本内容</label><p><label>阅读量:1.2万</label><p><label>转发:4</label><p><label>点赞:41</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:11月2日</label><p><label>发布时间:15:53</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Mdau9aye0?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:根据密歇根州立大学的一项研究，当美联储官员为女性而非男性时，美国人对其提出的美联储利率的声明信任度更低。

从 2000 年到 2015 年，女性仅占全球中央银行董事会席位的 11%。此前的研究表明，其中一个关键原因是，决定这些席位的立法者对女性在优先对抗通胀方面不太信任，而男性则被视为货币政策的“鹰派”。

为了更好地了解性别如何影响公众对央行行长的反应，实验团队在 2022 年 1 月进行了一项调查实验，他们将易于理解的当代美联储声明摘要，平均分配给大约 11,000 名美国人，男性和女性之间平均分配。

研究团队将发出声明的人随机归为——克利夫兰联储总裁洛雷塔·梅斯特（女），或芝加哥分行的负责人查尔斯·埃文斯（男）。为了测试突出资历是否可以最大限度地减少任何性别偏见，研究者还调整了他们的头衔，随机将男性或女性美联储官员称为“联邦储备银行行长和博士”经济学家”或简称为“美联储经济学家”。因为研究表明，在专业环境中突出资历的方式可以起到减少性别歧视的作用。

最终，研究团队在男性调查者中发现了对女性央行行长存在偏见的有力证据。当被询问对美联储的信心时，性别偏见最为显着。例如，53% 的男性受访者表示，当埃文斯 (Evans) 被引用为消息来源时，他们对中央银行充满信心——拥有美联储的完整头衔——相比之下，只有 43% 的男性受访者对具有类似资质的梅斯特表示同样的看法。同样，32% 的人表示，当标记为埃文斯的声明实际上来自梅斯特时，他们对经济持乐观态度，这一比例是梅斯特的两倍。

此外，男性受访者记住官员性别的能力存在偏差。在调查结束时，只有 60% 的人准确回忆起了女性官员的性别，而 97% 的人准确回忆起了男性的性别。而女性受访者的结果显示，她们在这个过程中很少或没有性别偏见——尽管女性在得知两人头衔时对梅斯特表现出更大的信心。

(来源：The Conversation；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1万</label><p><label>转发:7</label><p><label>评论:1</label><p><label>点赞:41</label><p>评论内容:<br/>OliviaCarey：诸如此类的歧视有很多，每个人都应该时时刻刻反省自己，检查自己的内心，在如今的社会中没有人能够完全跳出这样的歧视中。<br/></p></li><li><p><label>发布日期:11月4日</label><p><label>发布时间:21:29</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MdvxFxo0o?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:美国</label><p><label>内容:又有多少女性会继续被法律噤声？两位人权律师在新书中探讨了这个问题。

又有多少女性会继续被法律噤声？这也是大律师詹妮弗·罗宾逊（Jennifer Robinson）和吉田凯娜（Keina Yoshida）两位人权律师在她们的法律职业生涯中一直在问自己的问题。尽管以#MeToo 运动的方式分享她们的故事的女性有所增加，法院依然在压制女性的声音并不断加剧妇女和女孩都经历过的暴力和创伤。她们想要尽力让女性的声音被听到。

“在改变发生之前，还有多少女性需要被强奸？在改变发生之前，还有多少女性会因诽谤而被起诉？在我们相信她之前，还有多少女人需要指控一个男人虐待或骚扰她？在媒体机构披露有关这个人的故事之前，还有多少女性要提出指控？”

之前，一个让他们深感不公平的案件让罗宾逊和吉田两人站到了一起。这起案件也恰好是她们书的开场。

一名英国妇女向警方出示前夫用力地抓住她时在她喉咙上留下的红色标记。后来，该女子在脸书上写信给该男子的新伴侣，试图警告新伴侣他的暴力史，并使用了“他试图勒死我”等字眼。“然后他以诽谤罪起诉了她，”罗宾逊说。 “因为男人的新伴侣和一些女人的家人朋友看到了这个帖子。即使她有警方的证据，这个男人也赢了。”

本案法官裁定，勒杀的定义是指有人故意杀人，而法官认定该男子的意图只是让该女子保持沉默，而不是杀死她。“我们都对此感到非常愤怒。我们决定共同努力，试图干预此案，但最高法院没有听到我们的意见，”罗宾逊说。

“所以，真的，这本书就是从那里来的。”

德普和赫德的美国庭审案件揭示了另一个事实——目前法律的适用和解释方式符合男性的最佳利益，同时限制了女性的言论自由权。

书中表达的一个非常有力的标语是需要“释放她的言论”，这意味着女性需要能够在公共平台上谈论她们的性别暴力经历，她们的生活经历需要更好地反映在法律中 。

罗宾逊说：“当查看隐私案件或诽谤案件时，法院认为要做到，女性的言论自由权与男性的隐私权或保护自己名誉的权利的平衡。”

“但是在全球普遍存在针对女性的暴力行为的情况下，人们过分强调了男性的隐私和声誉。”

(来源：Women's Agenda；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.1万</label><p><label>转发:9</label><p><label>评论:1</label><p><label>点赞:53</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:11月10日</label><p><label>发布时间:22:29</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Meqva7X9o?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:墨西哥</label><p><label>内容:检察官被指控掩盖女子谋杀案

墨西哥反腐官员正在调查位于中部Morelos州的总检察长办公室，此前，该办公室被控企图掩盖一名年轻女子Ariadna López的谋杀案。

上周，27岁的López的尸体在Morelos的一条高速公路上被发现。总检察长办公室表示，她是在醉酒时窒息而死。

但在墨西哥城进行的第二次尸检得出的结论是，她死于多处创伤。

墨西哥城市长表示，Morelos总检察长办公室“想要隐瞒这起谋杀案，大概是因为与假定的凶手有关联”。在一份声明中，Morelos总检察长办公室“断然”否认了这些指控，称它们缺乏“任何依据”。

Ariadna López失踪之后，她的尸体的发现使人们再次关注到墨西哥的妇女谋杀案和政府官员的处理方式。

近年来，墨西哥的女性谋杀案件激增，“女性谋杀”是指因性别而被杀害的妇女或女孩。2021年，墨西哥全国登记的杀害女性案件达到创纪录的1004起。

【Ariadna López遭遇了什么?】

这名27岁的女子住在墨西哥城，10月30日在墨西哥城的时尚社区Condesa与朋友见面后失踪。两天后，几名骑行者在邻近的Morelos州的一条高速公路上发现了她的尸体。

Morelos州检察官办公室对她的尸体进行了尸检。在新闻发布会上，Morelos州检察官Uriel Carmona表示，其死因是“严重酒精中毒”导致“支气管吸入异物”，即她在严重醉酒时被自己的呕吐物噎住。他补充说，“我们没有发现暴力迹象，从技术上和法医学上来说，验尸结果都不符合谋杀女性案的特征”。

但应家属的要求，墨西哥城总检察长办公室进行了第二次尸检，结果与上述发现相矛盾。第二次尸检的结论是，她的尸体上有击打的痕迹，死亡原因是多重暴力的创伤。

墨西哥城市长Claudia Sheinbaum在周一的新闻发布会上公布了这项新研究结果。她还播放了一名男子在停车场抬着一具尸体的闭路电视录像，她说那是Ariadna López。Sheinbaum女士补充说，视频中的男子已经向警方自首。她还指责Morelos总检察长办公室“企图掩盖一起女性谋杀案”。

在Sheinbaum召开新闻发布会后不久，Morelos州腐败调查办公室表示，已对Morelos州总检察长办公室员工“可能犯下的罪行”展开调查。

（下图为Ariadna López的尸体被发现后，墨西哥城的女性们走上街头抗议）</label><p><label>来源:XIAO</label><p><label>翻译:BBC</label><p><label>阅读量:8560</label><p><label>转发:6</label><p><label>点赞:18</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:11月17日</label><p><label>发布时间:14:47</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MfrsOm2ym?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:纽约</label><p><label>内容:根据周四公布的一份政府报告，在疫情爆发的第二年，美国家庭出生人数略有增加，升至几十年来的最高水平。

美国疾病控制与预防中心的报告显示，在2021年的近400万名新生儿中，有近5.2万名是在家里出生的。从2019年到2020年，这一数字增长了22%，比2020年增长了约12%。

尽管西班牙裔妇女在家中分娩的情况比其他族裔妇女要少得多，但在不同种族和种族中都出现了增长。

该报告的第一作者伊丽莎白·格雷戈里(Elizabeth Gregory)表示，增加的原因尚不清楚，但它们发生在COVID-19发病率很高、疫苗要么无法获得或没有广泛使用的时候。其他报告显示，在大流行早期，许多人避免去医院和看医生。

其他可能的原因是:女性没有医疗保险，或者住得离医院很远，不能及时赶到医院。此前的研究表明，大约四分之一的家庭分娩是计划外的。

达拉斯的杰德·戈德博尔特(Jade Godbolt)于2021年在一家分娩中心生下了她的第二个孩子，部分原因是为了避免COVID-19的住院风险，并体验更自然的环境。这次经历非常顺利，她和丈夫选择在家里生产他们的第三个儿子，上个月刚出生。他们一直在与助产士合作，但分娩过程太快，孩子在她出生之前就出生了。

31岁的戈德博尔特是一名进行美容和生活方式分享的自媒体从业者。她表示，居家生产没有并发症，她和她的儿子都很好。

她说:“我相信我的身体可以做它应该做的事情，我想在家里舒服地做这件事。”

其他数据显示，自2004年前后以来，在家分娩和其他住院分娩的数量一直在上升，当时的数字接近3.6万。与此同时，非医院分娩中心的数量也在增加。

美国妇产科医生学会指出，虽然在家分娩通常比在医院分娩所需的医疗程序更少，但风险更大。它建议在某些情况下不要在家分娩，包括多胞胎和之前通过剖宫产分娩的妇女。

该组织产科实践委员会前主席、马萨诸塞州总医院(Massachusetts General Hospital)妇产科主任杰弗里·埃克尔(Jeffrey Ecker)博士说:“医院和经过认证的分娩中心是最安全的分娩地点，因为尽管与分娩有关的严重并发症很罕见，但它一旦发生则可能是灾难性的。”</label><p><label>来源:AP</label><p><label>翻译:晴晴子</label><p><label>阅读量:7221</label><p><label>转发:1</label><p><label>点赞:8</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:11月21日</label><p><label>发布时间:22:04</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Mg629AQIs?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:伊朗</label><p><label>内容:伊朗女篮公布未佩戴头巾的照片

Mahsa Amini 之死激起了伊朗各地的抗议活动。女性期待通过抗议带来革命。在最近的一次活动中，伊朗女篮在社交媒体上发布了一张没有戴头巾的照片，这张照片的标题是标语，上面写着——“女性生活自由”。

发布该团队照片的伊朗记者 Masih Alinejad 在推特上写道：“又一次文化地震。伊朗女子篮球队取下头巾并在 Instagram 上发布了她们的照片，以抗议性别种族隔离制度。他们发布了带有标语的照片以表达妇女生活自由。”

伊朗严格的头巾规定限制了女性对自己机构的权利。因此，成千上万的伊朗人走上街头挑战伊斯兰政权。此后，歌手、演员、记者和运动员以各种形式通过他们的作品抗议。但许多人甚至在摘下头巾后还为摘下头巾这一举动而道歉，他们是被迫道歉还是出于自愿尚不清楚。

近日，伊朗弓箭手Parida Ghasemi在伊朗首都德黑兰举行的颁奖典礼上摘下头巾以示抗议。在一段广为流传的视频中，可以听到人们为 Ghasemi 的行为鼓掌。

后来在 Instagram 的视频中，弓箭手说头巾因风而脱落，这并不是抗议的迹象。

伊朗登山者 Elnaz Rekabi 没有戴头巾参加比赛并获得掌声。后来也表示是她无意为之，并为此道歉。

(翻译：San 来源：she the people.tv )</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:2.2万</label><p><label>转发:28</label><p><label>评论:8</label><p><label>点赞:166</label><p>评论内容:<br/>--OneManArmy--：美欧喷新疆的时候，你发声了么<br/></p></li><li><p><label>发布日期:11月22日</label><p><label>发布时间:22:39</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MgfH4jLJ1?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:英国</label><p><label>内容:英国一名妇女在生育歧视案件中胜诉并获得60000英镑赔偿

一名来自英格兰西约克郡的妇女在没有律师的情况下将其雇主告上法庭并获胜，获得了 60,000 英镑的赔偿。

38 岁的唐娜·帕特森 (Donna Patterson) 在她休完产假重返工作岗位后，受到了连锁超市莫里森 (Morrisons) 的歧视。她在接受 BBC Radio 4 的 Woman's Hour 采访时表示，有几起事件导致她提出索赔。

公司在她透露自己怀孕后取消了她成为糖果采购员的工作机会。该公司还希望她从事全职工作，尽管她只签订了兼职工作合同，并希望在她休完产假回来之后再支付工资。

帕特森在进入就业法庭之前未能成功地进行内部投诉。在得知请律师的情况下每小时至少花费 300 英镑后，她决定独自为自己辩护。

唐娜·帕特森 与竞选团体 Pregnant Then Screwed 合作，通过阅读类似案件并了解法庭进行程序，为她的法庭做准备。帕特森将法庭的准备工作描述为“艰苦”，并补充说她感到“常常不知所措并质疑自己”。

帕特森说，“当你处在这种行为经常发生的环境中时，你最终会质疑自己，是你反应过度还是小题大做了，但这一切并非是我们的错。”

她补充到，如果莫里森下一步将上诉，她会坚持再次代表自己，独自辩护，与之抗争到底。

(翻译：SAN 来源：she the people )</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.2万</label><p><label>转发:10</label><p><label>评论:1</label><p><label>点赞:49</label><p>评论内容:<br/>心触摸到的温柔：加油！<br/></p></li></ol></body></html>