<!DOCTYPE html><html><head><meta charset="utf-8" /><title>202212微博爬虫数据</title><link rel="stylesheet" type="text/css" href="../../index.css" /></head><body class='xls-list'><h2>2022年12月海外之声微博爬虫数据</h2><ol><li><p><label>发布日期:2022-12-1</label><p><label>发布时间:16:35</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MhA9VEM64?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:卡塔尔</label><p><label>内容:男足世界杯史上首个全女性裁判队伍将在周四亮相。

在卡塔尔多哈，世界上最受欢迎的运动中，女性的另一个里程碑式时刻将于周四到来（北京时间12月2日周五3点）——届时男子世界杯历史上第一支全女性裁判队将在德国和哥斯达黎加之间的关键比赛中首次亮相。

国际足联周三宣布，首席裁判斯蒂芬妮·弗拉帕尔(Stéphanie Frappart)将率领巴西助理裁判诺伊萨·巴克（ Neuza Back ）和墨西哥助理裁判凯伦·迪亚兹（Karen Diaz）一起参加这场比赛。

在推特上，许多球迷称赞国际足联将这些裁判纳入其中的决定，因为这为女性在体育界提供了更好的代表。“这一次，我要为国际足联做的一件事鼓掌:WC比赛中出现了第一位女裁判!有人写道。“这太晚了，这还不够，不应该掩盖女性在足球领域(作为运动员和足球管理机构)受到歧视的程度，但这一进步本身是积极和有力的。”

弗拉帕尔也是首位负责欧冠比赛的女性，她于2020年首次在欧洲顶级俱乐部比赛中亮相，自2019年以来还担任法甲比赛的裁判。法帕特曾被提名参加2020年欧洲杯，但没有被选为主裁判。另外还有两名女裁判也出现在世界杯的阵容中，她们是——卢旺达的萨利玛·穆坎桑加(Salima Mukansanga)和日本的山下芳美(yoshii Yamashita)。

“我们出现在这里是因为我们就应该在这里。”穆坎桑加在世界杯开始前在多哈告诉记者。

(来源：SBS News、Independent；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:2.2万</label><p><label>转发:32</label><p><label>评论:3</label><p><label>点赞:119</label><p>评论内容:<br/>一日一骟：她们就应该在<br/>你知道我不知道你知道不知道：比赛就在今晚哎<br/></p></li><li><p><label>发布日期:2022-12-2</label><p><label>发布时间:20:31</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MhL804mPn?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:墨西哥</label><p><label>内容:资源缺乏加剧了墨西哥性别犯罪的有罪不罚

研究组织 Impunidad Cero在一份报告中表示，在过去六年中，43% 的杀害女性案件最终被定罪，同时指出只有少数案件被作为针对女性的谋杀（femicide——因为妇女或女孩的性别而被杀害，这种犯罪行为会面临更严厉的刑罚）进行调查。

在今年前九个月当局记录的 5,600 多起妇女和女童遇害事件中，一半被认定为过失杀人，38% 被认定为谋杀。该报告发现，无论男女，谋杀定罪率仅为 7%。根据该组织和联合国的数据，墨西哥是拉丁美洲谋杀率最高的地区之一，也是全球谋杀率最高的地区。

Impunidad Cero 的数据分析师蒙塞拉特·洛佩兹 (Monserrat Lopez) 告诉记者，军事化趋势正在排挤负责调查针对女性的谋杀的民间机构。胡安·安东尼奥·勒克莱尔克（Juan Antonio Le Clercq ）在普埃布拉美洲大学 (UDLAP) 研究有罪不罚问题，他表示，州司法办公室的预算平均每年人均仅为 14.29 比索（0.75 美元）——这加剧了处理犯罪报告的公职人员的短缺。“我不知道应该由谁来调查这些罪行，”他在介绍这份报告的新闻发布会上说。

上周，被害妇女和女童的父母在墨西哥城游行要求伸张正义，许多人表示他们的案件没有得到充分调查或拖延多年。Impunidad Cero 在其报告中称，墨西哥各州去年平均每 10 万人约有 10 名检察官，13 名警方调查员和 7 名专家。勒克莱尔克说，墨西哥每 10万人只有 4 名法官，按照目前的增长率需要 98 年才能赶上欧洲每 10万人 23 名法官的水平。

他补充说，尽管墨西哥州的调查能力较弱，但其监禁人数是全国平均水平的两倍——因为许多被拘留者无力聘请律师。Impunidad Cero 建议机构合作制定更好的规程和能力来调查性别暴力，并制定犯人重新融入社会的措施以防止其再次犯罪。

(来源：路透社；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9328</label><p><label>转发:6</label><p><label>点赞:22</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2022-12-5</label><p><label>发布时间:18:03</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Micrt9rgD?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:印度</label><p><label>内容:逊尼派领导人反对给予妇女平等财产权的承诺

逊尼派领袖纳萨尔法伊兹库达塔伊(Nasar Faizi Koodathayi)于上周五发表了一项有争议的言论，涉及向库丹巴什里(Kudumbashree)志愿者许下的一项承诺，该承诺称女性成员应该对父亲的财产拥有平等权利。

伊兹(Faizi)为萨马萨喀拉拉邦贾姆-伊亚图尔·库特巴委员会(Samastha Kerala ham - iyyathul Qutba Committee)秘书长、逊尼派尤贾纳·桑汉姆(Yujana Sangham)国务秘书法，他表示，这一承诺侵犯了穆斯林的基本权利，因为宪法允许每种宗教的成员在结婚、离婚、财产权和葬礼仪式方面遵守属人法。法伊兹认为，这一誓言违反了古兰经中男性可以得到女性两倍份额的规定。

他在脸书上发帖称，喀拉拉邦政府为农村发展部发起的性别运动设想了各种方案。他写道:“该项目中的许多内容值得称赞，但也有侵犯基本宗教权利的成分。”有争议的部分是分发给该邦格拉玛村务委员会和库丹巴什传教团的通告的一部分。通告要求会员在性别资源会议上宣誓，“我们将为男性和女性提供平等的财产权利。”

法伊兹说:“伊斯兰教曾允许妇女拥有财产权，但当时她们不被允许分享任何东西。但是，(伊斯兰教中)妇女可以得到男子从父亲继承的财产的一半的规定不能被解释为不公正。”他说，男性成员承担了全部的照顾家庭的责任，但女性不需要花费她的份额去持家。“那些批评这项规定的人忘记了男性的额外负担。以性别中立的名义违反宪法和宗教基本原则的企图肯定会招致抗议。”

PS：库丹巴什里(Kudumbashree)的通告还要求成员承诺，他们将不歧视地庆祝男性和女性孩子的出生，并在教育和就业方面提供平等的机会。

(来源：印度快报；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.2万</label><p><label>转发:3</label><p><label>评论:3</label><p><label>点赞:24</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2022-12-6</label><p><label>发布时间:16:09</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Mil7Je6ku?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:女权主义者抗议席卷韩国的反女权主义浪潮

韩国的女权主义者周日在全国范围内举行反对基于性别的暴力的抗议活动，这是自大流行以来首次在几个主要城市同时举行抗议活动。这是对席卷韩国的反女权主义浪潮的回应，引发了一场紧张的性别战争。在韩国，围绕女性权利的讨论是禁忌，韩国男性声称他们现在成为了性别歧视的受害者。

疫情使得大多数公众集会被迫中止，但随着今年限制的放松，更多的女权主义者重返街头。
10 月，来自全国各地的数千人涌入首尔，抗议总统废除性别平等和家庭部的计划。 包括韩国妇女联合会在内的公民、劳工和社会团体联手呼吁政府促进妇女权利。周日（12月4日），女权组织 Haeil（韩语为“海啸”）领导了首尔、光州和釜山等城市的抗议活动。

韩国的女权运动在过去五年取得了长足进步，创造了亚洲最成功的#MeToo 运动之一。 该运动罢免了被指控性行为不端的主要公众人物，包括韩国第二大城市釜山市市长。

但现在有些人认为事情已经发展得太过分了。
尹锡月在今年早些时候赢得了总统大选，他的竞选纲领是指责女权主义者对男性的贬抑，并吸引那些觉得自己必须在韩国日益增长的经济不安全感和萎缩的就业市场中首当其冲的年轻男性。本来旨在增加女性经济机会和缩小性别收入差距的政策，加剧了年轻男性对女性的怨恨。

反女权主义者在社交媒体(sns)和网络社区传播“韩国女权主义者是激进的男性憎恨者”的观点。一个拥有50多万订阅用户的YouTube频道视频，将女权主义者视为宣扬女性沙文主义的“精神病”激进分子。

尹锡月最近几个月继续推进他的反女权主义议程，并且坚称他将贯彻他的竞选计划，废除性别平等和家庭部。该部门成立于2001年，旨在为遭受性暴力和家庭暴力的女孩提供资源，并确保政策不存在性别歧视。他指责该部门的官员将男性视为“潜在的性犯罪者”，加剧了性别不平等。

(来源：NPR；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:2万</label><p><label>转发:51</label><p><label>评论:5</label><p><label>点赞:125</label><p>评论内容:<br/>Hong豆Bai玉Qing黎：来了<br/></p></li><li><p><label>发布日期:2022-12-13</label><p><label>发布时间:15:27</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MjoQfcJr7?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:在政治领域，性别平等的进展似乎遇到了一个新的“玻璃天花板”。

法国性别平等高级理事会（HCE）于12月12日星期一向政府提交了一份新的报告，以期启动政治领域的性别平等“第二阶段”。

这个隶属于法国总理府的咨询机构说，尽管在过去20年中，性别平等取得了重大进步，但这一进程正在 “耗尽”。报告作者说：“我们不能指望社会能自然地变好，因为一切存在着权力的地方，都充斥着性别歧视和男权主义。”

作者们呼吁制定“新的具有约束力的法律或监管规定”。比如，在省级选举中：选区的数量减半，而每个选区都要选出一对男女候选人，以此实现国民议会中女性占比50%的目标，而非现在的37.6%。

而面对男部长处理政府事务，而女部长只处理社会问题这样的情况，HCE建议，要根据各部委的财政拨款确定女性官员的配额，确保至少有40%的国家预算委托给女部长。

同时，对不遵守候选人提名义务的政党的经济制裁应增加五倍，因为一些政党目前 “宁愿规避规则，支付罚款，也不尊重平等”。

最后，他们认为，《宪法》应赋予公共当局 “确保 ”政治上的性别平等的责任，而不仅仅是 “促进 ”性别平等。自1999年以来，《宪法》就是这么规定的。</label><p><label>来源:陈妙妙</label><p><label>翻译:1.4万</label><p><label>阅读量:14</label><p><label>转发:1</label><p><label>评论:44</label><p><label>点赞:七号轻食：还有一个词叫玻璃悬崖
</label></li><li><p><label>发布日期:2022-12-13</label><p><label>发布时间:15:31</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MjoRGnDAu?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:法国</label><p><label>内容:转发 无内容</label><p><label>来源:1.6万</label><p><label>翻译:23</label><p><label>转发:47</label><p><label>评论:无</label></li><li><p><label>发布日期:2022-12-14</label><p><label>发布时间:23:45</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MjBwCsz2r?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:秘鲁</label><p><label>内容:由于前任总统卡斯蒂略仍被拘留，秘鲁新总统提前选举的可能性消除，

(CNN)8日，秘鲁新总统迪娜·博鲁阿尔特于任职第一天排除了提前选举的可能性。此前，前任总统佩德罗·卡斯蒂略被戏剧性地罢免和逮捕。

7日，博鲁阿尔特成为秘鲁首位女总统。前任总统卡斯蒂略在当天早些时候试图解散国会，并呼吁在对他进行第三次弹劾投票之前提前举行选举。

秘鲁议员称此举为政变，130名国会议员中的大多数人周三投票弹劾卡斯蒂略。据埃及总检察长说，这位前总统后来因涉嫌叛乱罪被捕。

CNN已经联系了卡斯蒂略的辩护团队，请他们对这些指控发表评论。

秘鲁最高法院星期四在网上举行听证会，审查了检察官的逮捕请求。在听证会上，卡斯蒂略的辩护律师否认了叛乱和阴谋反对总统的指控。

检察官马尔科Huamán还表示，公共部门认为卡斯蒂略有潜逃风险，称这位前总统周三被捕时正与家人一起前往墨西哥大使馆。

卡斯蒂略的辩护律师否认了这些指控，并驳斥了卡斯蒂略试图逃离美国的说法。

法院已下令初步拘留卡斯蒂略7天，据总检察长办公室称，卡斯蒂略目前被警方拘留。

自周三发生一系列动荡事件以来，要求提前举行选举的呼声在各政党和分析人士中越来越高，这是解决秘鲁政治功能失调的一种方式。秘鲁在不到五年的时间里已经更换了六位总统。但博鲁阿尔特表示，她需要一些时间。

她说：“我知道有些人说要提前举行选举，这在民主上是值得尊敬的。我相信在这种情况下，总统需要对国家必须做的事情重新进行定位，”博鲁阿尔特周四告诉记者，她稍后将“寻找更好地重新定位国家目的地的替代方案”。

她的优势可能并不一定能缓解秘鲁有毒和痛苦的政治格局，因为博鲁阿尔特需要获得跨党派的支持才能执政。

周三，在她作为总统的首次演讲中，博鲁阿尔特呼吁“政治休战，建立一个全国团结的政府”，并表示她将在该国总检察长办公室和审计长办公室的支持下打击腐败。

“我的首要任务是打击各种形式的腐败。”“我厌恶地看到媒体和司法机构如何报道抢劫所有秘鲁人钱财的可耻行为，这种毒瘤必须被根除。”</label><p><label>来源:CNN</label><p><label>翻译:晴晴子</label><p><label>阅读量:1万</label><p><label>点赞:21</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2022-12-21</label><p><label>发布时间:22:04</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MkERd7iNn?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:塔利班禁止阿富汗女性接受大学教育

塔利班政府暂停了阿富汗所有女学生的大学教育。阿富汗高等教育部发言人周二向CNN证实了这一消息。教育部发表的一封信称，这一决定是在内阁会议上做出的，该命令将立即生效。

今年3月，女孩们被禁止返回中学接受教育，此前塔利班在2021年8月塔利班掌权后，招收女生的学校在开学几小时后就被勒令关闭。美国国务院发言人内德·普莱斯表示，3月份对女孩关闭中学影响重大，“阿富汗一半人口将很快无法接受小学以上的教育。”

尽管塔利班最初承诺对妇女和少数民族的权利采取更温和的规定，但塔利班却广泛实施了对伊斯兰教法或伊斯兰教法的严格解释。包括禁止女孩进入初中和高中接受教育，限制女性从事大部分工作，并规定她们在公共场合从头到脚都必须用衣服遮盖。女性也被禁止进入公园和健身房。

这项大学禁令是在阿富汗女孩们被允许参加高中毕业考试几周后发布的，尽管自去年塔利班接管该国以来，她们一直被禁止进入教室。

“我无法实现我的梦想，和我的希望。一切都在我眼前消失，对此我无能为力，”楠格哈尔大学新闻与传播专业三年级学生说。由于害怕遭到报复，她不愿透露姓名。

“做女孩子有罪吗？如果是这样的话，我希望我不是女孩，”她补充道。“我父亲对我有一个梦想，他希望自己的女儿将来会成为一名有才华的记者。这个梦想现在被摧毁了。那么，请你告诉我，一个人在这种情况下会有什么感觉？”

尽管如此，她补充说，她还留有最后一线希望。

“上帝保佑，我会以无论何种方式继续我的学业。我会开始在线学习。而且，如果这种方式还是难以满足我继续接受教育的需求的话，我将不得不离开这个国家去往别的国家，”她说。

(来源：CNN、美联社；翻译：Karen）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.8万</label><p><label>转发:32</label><p><label>评论:10</label><p><label>点赞:63</label><p>评论内容:<br/>小呆落凡尘：希望各国能接收阿富汗女性难民<br/>养生大师_：真的很难相信已经2022年了<br/>安拉之刃：为什么阿富汗反而没有反男性的女权？<br/>专码短小快：这个国家只存在男性就好了<br/>蒲公英终究会飞：天啊……<br/>你知道我不知道你知道不知道：“做女孩子有罪吗？”<br/></p></li><li><p><label>发布日期:2022-12-22</label><p><label>发布时间:22:41</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MkOwDaxJR?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:日本</label><p><label>内容:日本拟议的生育法歧视女同性恋和单身女性

本月日本议会可能提交的《特定辅助生殖技术法案》中，禁止医生向未婚女性提供辅助生育服务，即禁止为单身女性和女同性恋伴侣人工授精和体外受精。若此法案通过，将合法化对单身女性和同性恋女性的歧视。

日本并不允许同性伴侣结婚。11月东京法院的判例禁止同性婚姻，理由是日本宪法中婚姻定义为“两性”之间的婚姻。但2021年3月札幌法院判定“禁止同性婚姻”禁令违宪，因为禁止同性婚姻是“没有合理依据的歧视性对待”。

迄今为止日本尚未明确禁止女同性恋或单身女性获得生育服务。日本一对用捐赠的精子生下孩子的女性伴侣接受采访时说“如果这项法律在两年前就存在，我们将不能拥有我们的小儿子。我们希望所有妇女都有获得同等医疗服务的权利。禁令不仅不能阻止人们对生育的追求，反而会将获得后代的过程推入灰色地带，这使获得精子的过程更加危险。这不仅仅是LGBT人群面对的问题，同样也是对女性们的健康和安全有着重大影响的问题。”

日本立法机构应该修改该法案，以确保所有女性，无论其婚姻状况、性取向、性别认同或性别表达如何，都能平等地获得生育相关的医疗服务。立法机构应禁止未来的政策阻碍单身女性、女同性恋、双性恋和性少数群体伴侣获得生殖治疗，同时应该通过立法保证LGBT父母的合法身份，即明确承认非妊娠的女同性恋母亲的合法身份。</label><p><label>来源:转发 无内容</label><p><label>翻译:3.1万</label><p><label>阅读量:16</label><p><label>转发:78</label><p><label>评论:46</label><p><label>点赞:Paris1832：日本好样的，东亚三国绝不能让女拳掀起风浪
酒精游泳：那不更好 生育率将会如↑所愿
可是我真的想回家啊：大家一起灭亡生育率共创新低
攀云慕月：亚洲是什么人类洼地吗
老冰棍突击队：上海新事业编只招50个男性
</label></li><li><p><label>发布日期:2022-12-23</label><p><label>发布时间:23:28</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MkYg896Xb?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:阿富汗</label><p><label>内容:被禁止上学的阿富汗女孩担心着自己的未来

去年（2021年）8月，塔利班重新掌权以来，阿富汗女高中生一直返回学校，他们最初承诺保障妇女权利，但掌权后塔利班逐渐对扩大了对妇女自由的限制。数百万阿富汗妇女被强行限制在家编制地毯或做家务，或者被迫整天在农场工作。如果没有教育，这一代女孩将没有任何权利，未来一片黑暗。

塔利班还禁止六年级及以上的女孩上学，这些不能上学的女孩已经从学生变成了童工。但周一塔利班当局却要这些一年多不被允许上学的女孩们参加高中毕业考试。

图 1 Asiya曾经拿着书和笔，现在拿着扫帚，她认为扫帚是绝望的象征
图 2 16岁的 Nazaneen每天要花12个小时编织地毯来养家糊口
图 3 13岁的Mahnor每天需要喂养家畜，她的四个哥哥都染上毒瘾，父亲患有眼部疾病
图 4 16岁的Zainab被关在家中洗碗和喂鸡。
她说禁止上学让她感觉被绑住手脚，她不能成为自己就想成为的人
图 5 Nasima想念她一年多未见的同学们。
经济形势恶化，15岁的她只能取水帮助父亲灌溉种植物。（塔利班掌权以来，九成以上阿富汗人陷入贫困。国际制裁和塔利班外交孤立使得局势进一步恶化）
图 6 Saima为社区烤面包为生，被迫辍学的她面临着提前结婚的危险
图 7 SPogmai的梦想是成为一名校长，但现在只能在家庭农场照顾牲畜。
她的父母都是老师，但母亲失去工作，父亲几个月都没发工资
图 8 16岁的Lima靠种植蔬菜养家糊口，她担心缺乏教育的这一代女孩将面临黑暗未来
她说：我已经离开学校13个月了，我为还在教室里上课的孩子们感到高兴，但也为社区里不能上学的女孩子们感到难过。我们也想要上学的机会。

(来源：ALJAZEERA；翻译：村长）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:5.9万</label><p><label>转发:101</label><p><label>评论:16</label><p><label>点赞:165</label><p>评论内容:<br/>没有春夏：对于中东女人来说，应润尽润<br/>可丽赢：该死的塔利班<br/>皮皮阿仔：拿着美国的钱，躲在中国，谴责着阿富汗 这是一门好生意<br/>曦嘻猫：愤怒<br/>每天都在奮鬥的牛牛：只待全民觉醒的一天，别无它法。外人的指责，辱骂，建议都是枉然。或许让事态更糟。阿经不起再乱再战了。<br/></p></li><li><p><label>发布日期:2022-12-26</label><p><label>发布时间:19:29</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MloZ0t0XW?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:也门</label><p><label>内容:胡塞武装力量限制女性权利

持续多年的战争使得也门陷入严重的人道主义危机。从积极的角度看，也门许多妇女的行动比以前更加自由，这也是恶劣的人道主义状况带来的必然结果：妇女们必须做出比之前更多的社会贡献，她们中的许多人以前所未有的方式走遍了整个国家。

但随着控制了包括首都在内的也门西南部，受伊朗支持的胡塞武装执行女性出行必须由男性亲属陪同的监护制度。Lamia的父亲是一名退休公务员，身体较差且经济拮据，并不能陪着他的女儿一起出行。即使自身条件允许，胡塞武装要求无论是出差还是旅游每次出行或出国必须得到他们的许可，并有人陪同。

这是一个“昂贵而复杂”制度。Umm自2014年以来一直和丈夫生活在国外。上次回家探亲后，租车公司告诉她今后往返国际机场所在地区时，必须有一名男性监护人陪同，Umm的家人正试图寻找新的解决办法。一年多来，胡塞武装基于各种性别隔离要求越来越多地限制女性的出行自由。男性陪护人员必须被核实身份，在实际操作的核实过程可能耗费数小时，并同时对男性也可能造成困扰。

这些制度是为了将女性当做“不成熟的人”来对待。现实中的男性家庭成员都要工作，根本没有时间陪同女性出行。这些制度剥夺了宪法赋予女性自由活动的天然权利，又赋予了男性对女性更多的权利。同时阻碍了女性接受教育，促进了性别暴力事件的增加。

胡塞武装认为这项制度正在审查中，目的是为了保护女性，打击人口贩卖，而不是对女性施加任意限制。考虑到许多女性在战争中遭受的“专制”，成为剥削和滥用权利的受害者，特别是在胡塞武装没有控制的地区。

不稳定的社会环境确实对也门女性出行造成威胁，但她们和其家人们都知道危险存在，并且采取了适当的安全措施，限制女性自由和发展并不能以此为理由。

(来源：Made for mind；翻译：村长）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.3万</label><p><label>转发:9</label><p><label>评论:2</label><p><label>点赞:24</label><p>评论内容:<br/>想要的话不论去哪里都可以：转发微博<br/>桓温火烧朱雀航：毁灭吧<br/></p></li><li><p><label>发布日期:2022-12-28</label><p><label>发布时间:00:50</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MlAvJh8mM?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:中东地区</label><p><label>内容:海湾地区的女权：有进步，但仍需努力——阿拉伯、沙特、卡塔尔的女权运动在2022年的成就与展望

2022年卡塔尔举行了举世闻名的世界杯，世界各地的女球迷们都在为自己喜爱的球队欢呼。但也是在卡塔尔及周边的阿联酋和沙特一直将女性视为二等公民并一直维持针对女性的专制监护制度，限制未婚女性权利。

在2018年后沙特阿拉伯允许女性驾车，在此后一年半时间内，将近18万女性获得驾照。同时沙特女性们可以自己申请护照或者与朋友去电影院，不用其男性监护人（父亲、丈夫、兄弟或儿子）同意。但女性其他的权利还是掌握在男性监护人手上，她们如果不服从这些男性监护人，那么这些监护人有权将她们永远关在所谓的“护理院”

今年沙特阿拉伯的两个判例值得放在一起对比观察：一名男子口头性骚扰女性，被判处八个月监禁并罚款5000里亚尔（9260人民币）；两人因转发人权相关文章被分别判处34年和45年有期徒刑。沙特女性们想要的是无所畏惧地生活和自己应有的权利，但过去四年女权运动的结果似乎与初衷相去甚远。

阿联酋被世界经济论坛的全球性别差距报告列为阿拉伯世界的第一名，而人权观察在《2022年世界人权报告》中指出阿联酋男性可以单方面与女性离婚，女性则要通过法院才行。此外政府机构签发出生证时要求提供结婚证、只有阿联酋男性的子女自然获得阿联酋公民身份，阿联酋女性和外国父亲所生的孩子则不能、男性监护人同样对女性有着随心所欲的“监护权”，女性的自由任掌握在其男性监护人手上。
卡塔尔同样有着男性对女性的监护制度，女性结婚或找工作都必须取得男性监护人的同意。

与周边的海湾国家相比，卡塔尔有着较多的女学生和女职工。卡塔尔女性也可以选择戴或不戴头巾，她们对于邻国伊朗的抗议活动很不感冒（"quite reluctant"）。

(来源：DW；翻译：村长）</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:9922</label><p><label>转发:9</label><p><label>点赞:28</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2022-12-30</label><p><label>发布时间:01:18</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/MlTxSdZD1?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:澳大利亚</label><p><label>内容: 49人死亡：又一个女性被暴力杀害的悲伤而可怕的一年

澳大利亚今年因暴力致死的妇女人数为49人，超过2021年的43人。 这一统计数据来自 Destroy The Joint ，该组织仔细研究今年已知的女性死亡人数，并公布了这些数据，并将防控针对女性的暴力行为更坚定地提上了媒体和国家议程。

据记录，12月有9名妇女死于暴力。 周三， Destroy The Joint 证实又有两名女性死亡，包括31岁的教师兼女子足球总监丹妮尔·芬莱·琼斯，她被朋友们发现在新南威尔士州克兰布鲁克的一间公寓里身受重伤。研究人员还证实了另一名37岁女性的死亡，她是紧急服务人员在进行福利检查时在悉尼的一个单位发现的。

往年的数据显示，家庭暴力在圣诞节和新年期间激增。这段时间可能与额外的情感和经济压力有关，以及酬酒和赌博的增加。对于家庭暴力的幸存者来说，学校和工作场所是安全的空间，但在这段时间里，学校和工作场所都关闭了。

与此同时，新南威尔士州发布了关于家庭和家庭暴力的年度报告，揭示了更多可怕的数字。根据周三发布的数据，在截至2022年6月的12个月里，仅新南威尔士州就发生了31775起与家庭暴力有关的袭击事件，还发现在截至2021年12月的5年里，该州发生了137起与家庭暴力有关的谋杀事件。

令人不安的是，尽管该年度报告显示，自2011—2021以来，根据统计数据提出了122项建议，但只有五分之二的建议得到了实施。

我们有针对妇女的暴力行为的数据,我们至少知道了部分死亡人数（可能更高），我们也有关于数万起家庭暴力事件的报告,我们还有大量的专家和倡导者，他们知道需要做什么，也知道正在提出并经常被政府接受的关键建议。但正如新南威尔士州以及联邦层面多年来所发生的那样，这些建议继续被忽视。就暴力而言，很难看出2023年与2022年、2021年、2019年等有什么不同。如果有什么不同的话，考虑到上升趋势，情况可能会更糟。

每当 Destroy The Joint 记录下另一名女性死于暴力时，他们就会在 Facebook 页面上更新这张图片，以清楚地显示年度数字。12个月前，49名妇女继续与家人和朋友见面，继续实现自己的抱负，继续从事自己的工作，继续考虑自己的未来，直到2022年，她们才毫无意义地成为暴力侵害妇女行为的牺牲品。

(来源：women＇s agenda 翻译：SAN)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:1.3万</label><p><label>转发:10</label><p><label>点赞:44</label><p>评论内容:<br/>无</p></li><li><p><label>发布日期:2022-12-30</label><p><label>发布时间:20:36</label><p><label>微博链接:</label><a href="https://weibo.com/7722146918/Mm182bxIj?from=page_1005057722146918_profile&wvr=6&mod=weibotime">原微博链接</a></p><p><label>国家:韩国</label><p><label>内容:女性家族部公布报告：每10名女性中就有4人有性暴力受害经历

韩国女性家族部29日在官网首次公布了《2022年女性暴力统计》，该统计综合了152种统计数据，包括女性暴力的发生、犯罪者的处分、对受害者的支援等。

调查显示，38.6%的女性和13.4%的男性一生至少经历过一次性暴力。

从性暴力种类来看，受害女性中遭受包括性骚扰、强奸未遂、强奸在内的身体性暴力伤害的比例为18.5%。

除此之外，性器官暴露22.9%，淫秽电话等10.4%，非法拍摄0.5%，非法拍摄物传播0.2%等。

而男性方面，淫秽电话等占10.5%，性器官暴露占1.9%，没有暴行和威胁的性骚扰占1.2%。同时，男性没有发生强奸未遂、强奸、传播非法拍摄物的受害经历。

以2021年为准，经历过“女性暴力”的女性占34.9%，其中包括对外貌进行性比喻或评价的行为。

从类型来看，情绪暴力最多，占21.4%，其次是性暴力（18.8%）、身体暴力（14.2%）、控制（4.8%）、经济暴力（2.2%）等。

以2021年为准，过去3年，7.9%的女性在工作场所受到性骚扰，2.9%的男性受到性骚扰。

从年龄段来看，20岁以下的受害经历率为5.3%，高于其他年龄段，从级别来看，普通职的受害经历率（5.2%）高于管理职（4.1%）。

此次统计还包括对犯罪分子的处分，截至2021年，全部性暴力犯罪的起诉率为49.2%，嫌疑人中只有一半左右被检察官起诉。

以儿童青少年为对象的性交易犯罪起诉率为55.6%，高于整体犯罪起诉率。

根据2019年韩国实施的《防止女性暴力基本法》，女性家族部有义务每3年公布一次女性暴力统计，此次为3年来首次汇总并公布了司法部、大检察厅、警察厅等相关机构的统计数据。

(来源：SBS 翻译：SAN)</label><p><label>来源:无</label><p><label>翻译:无</label><p><label>阅读量:4.5万</label><p><label>转发:32</label><p><label>评论:3</label><p><label>点赞:46</label><p>评论内容:<br/>西兰花花过南海：女性的无论坏的还是好的经历，可以不被忽视，被更多的统计和数据化。被分析，被使用。事实的揭露，让我们不能掩耳盗铃，直面问题。这是一个很好的开始。希望日后会有更多的官方数据，也别让这些数据被忽略。<br/>源众家庭与社区发展服务中心：希望有更多的数据能让我们直观现状，只有知道现状我们才能更精准地行动。<br/></p></li></ol></body></html>