.summary section{
    width: 50%;
    margin: 0 auto;
}

.xls-list {
    padding: 20px 100px;
    margin: 0;
}

ol {
    padding-left: 20px;
}

ol li {
    border-top: 1px solid #ccc;
}

ol li p label{
    margin-right: 10px;
}

ol li p b {
    margin-left: 10px;
    margin-right: 50px;
}

a {
    color: #5b9bc9;
    text-decoration: none;
}

a:hover {
    color: #40c99f;
}